<a href="https://colab.research.google.com/github/gapalyt/project1/blob/main/%EC%A0%84%EA%B8%B0%EC%B0%A8_%EA%B0%80%EA%B2%A9(2019%EB%85%84_~_2022%EB%85%84).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 전기차 2019년

In [ ]:
import requests
from bs4 import BeautifulSoup

url = "https://brunch.co.kr/@cmin4411/420"

res = requests.get(url)
page = res.content

soup = BeautifulSoup(page, 'html.parser')
soup

<!DOCTYPE html>

<html lang="ko" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>2019년 상반기 국내 전기차 시장</title>
<meta charset="utf-8"/>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
<meta content="2019년 상반기 국내 전기차 시장" name="title"/>
<meta content="always" name="referrer"/>
<meta name="secureToken" value="OGjzwh6ppNBnB+dxQhDlvpVOB9abmCp5CMxm/eE2RdqWX4eEsZ43ZTQpKT04cun1"/>
<meta content="max-image-preview:large" name="robots"/>
<meta content="코나 일렉트릭, 쏘울 부스터 EV, 니로 EV, 아이오닉 일렉트릭 | 2019년 전기차 판매량   국토교통부 자료에 따르면 전기차 등록현황이  2014년 2,946대, 2016년 15,389대로 1만대 를 돌파했으며,  2019년 5월말 기준 68,930대로 집계되었습니다. 작년 한 해 동안 가장 많이 판매된 전기차를 살펴보면  현대자동차 코나 일렉트릭이 총 11,171대가  판매되었는데요. 그리고 2019년 1월부터 5월말" name="description"/>
<meta content="매일 기록하는 프리랜서 마케터 흑설탕" property="article:author"/>
<meta content="매일 기록하는 프리랜서 마케터 흑설탕" name="og:article:author"/>
<meta content="매일 기록하는 프리랜서 마케터 흑설탕" name="byl"/>
<meta content="article" property="og:type"/>
<meta content="brunch" property="og:site_name"/>
<meta content="2019년 상반기 국내 전기차 시장" property="og:title"/>
<meta content="코나 일렉트릭, 쏘울 부스터 EV, 니로 EV, 아이오닉 일렉트릭 | 2019년 전기차 판매량   국토교통부 자료에 따르면 전기차 등록현황이  2014년 2,946대, 2016년 15,389대로 1만대 를 돌파했으며,  2019년 5월말 기준 68,930대로 집계되었습니다. 작년 한 해 동안 가장 많이 판매된 전기차를 살펴보면  현대자동차 코나 일렉트릭이 총 11,171대가  판매되었는데요. 그리고 2019년 1월부터 5월말" property="og:description"/>
<meta content="//img1.daumcdn.net/thumb/R1280x0/?fname=http://t1.daumcdn.net/brunch/service/user/1U9m/image/KaBraRGNt-RtjIDCiw7p3aU9fbc.jpg" property="og:image"/>
<meta content="https://brunch.co.kr/@cmin4411/420" property="og:url"/>
<meta content="summary" name="twitter:card"/>
<meta content="brunch" name="twitter:app:name:iphone"/>
<meta content="1001388574" name="twitter:app:id:iphone"/>
<meta content="brunchapp://open" name="twitter:app:url:iphone"/>
<meta content="https://img1.daumcdn.net/thumb/S500x500/?fname=http://t1.daumcdn.net/brunch/service/user/1U9m/image/KaBraRGNt-RtjIDCiw7p3aU9fbc.jpg" name="twitter:image"/>
<meta content="2019년 상반기 국내 전기차 시장" name="twitter:title"/>
<meta content="코나 일렉트릭, 쏘울 부스터 EV, 니로 EV, 아이오닉 일렉트릭 | 2019년 전기차 판매량   국토교통부 자료에 따르면 전기차 등록현황이  2014년 2,946대, 2016년 15,389대로 1만대 를 돌파했으며,  2019년 5월말 기준 68,930대로 집계되었습니다. 작년 한 해 동안 가장 많이 판매된 전기차를 살펴보면  현대자동차 코나 일렉트릭이 총 11,171대가  판매되었는데요. 그리고 2019년 1월부터 5월말" name="twitter:description"/>
<meta content="313683402170826" property="fb:app_id"/>
<link href="//t1.daumcdn.net/brunch/static/icon/favicon/favicon64_150520.ico" rel="SHORTCUT ICON"/>
<link href="//t1.daumcdn.net/brunch/static/icon/ios/icon152.png" rel="apple-touch-icon-precomposed" sizes="180x180"/>
<link href="//t1.daumcdn.net/brunch/static/icon/ios/icon152.png" rel="apple-touch-icon-precomposed" sizes="152x152"/>
<link href="//t1.daumcdn.net/brunch/static/icon/ios/icon120.png" rel="apple-touch-icon-precomposed" sizes="120x120"/>
<meta content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width,initial-scale=1, viewport-fit=cover" name="viewport"/>
<link href="//t1.daumcdn.net/brunch/static/prod/202301041348/production/B.min.css" rel="stylesheet" type="text/css"/>
<link href="//t1.daumcdn.net/brunch/static/prod/202301041348/production/B.Message.min.css" rel="stylesheet" type="text/css"/>
<link href="//t1.daumcdn.net/brunch/static/prod/202301041348/production/B.Font.min.css" rel="stylesheet" type="text/css"/>
<script src="//t1.daumcdn.net/brunch/static/libraries/js/jquery.min-2.1.1.js" type="text/javascript"></script>
<script src="//t1.daumcdn.net/brunch/static/libraries/js/jquery.cookie.min-1.4.1.js" type="text/javascript"></script>
<script src="//t1.daumcdn.net/brunch/static/libraries/js/jquery.xdomainrequest.min-1.0.4.js" type="text/javascript"></script>
<script src="//t1.daumcdn.net/brunch/static/libraries/js/handlebars.runtime.min-v3.0.0.js" type="text/javascript"></script>
<script src="//t1.daumcdn.net/brunch/static/libraries/js/userAgent.min-1.0.14.js" type="text/javascript"></script>
<script src="//t1.daumcdn.net/brunch/static/libraries/js/sentry.min.5.27.4.js?v=20221124" type="text/javascript"></script>
<script src="//t1.daumcdn.net/brunch/static/libraries/js/clipboard.min.js" type="text/javascript"></script>
<script src="//t1.daumcdn.net/brunch/static/libraries/js/jquery.word-break-keep-all.min-1.3.0.js" type="text/javascript"></script>
<script src="//t1.daumcdn.net/tiara/js/v1/tiara.min.js" type="text/javascript"></script>
<script>
    window.Guard = {
        hasError:  false,
        excuteFunctionArray: [],
        loadedJsHistory: [],

        /*
            kebana에 프론트 로그 발생 오류를 기록 한다.
         */
        fetchLog: function(message, extraJson) {
            if (!window.fetch && !fetch) {
                return '';
            }
            var csrfToken = document.querySelector('meta[name=secureToken]').attributes['value'].value;

            fetch('https://api.brunch.co.kr/v1/front-log', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRF-TOKEN': csrfToken
                },
                credentials: 'include',
                body : JSON.stringify({
                    message: message,
                    extras: extraJson
                })
            })
        },

        /*
            js파일의 tenth2 fetch 결과를 Matrix에 기록.
         */
        checkTenth2JsStatus: function (jsFileName) {
            var phase = '/';
                            phase = '/production/'
                        var jsUrl = '//t1.daumcdn.net/brunch/static/prod/202301041348' + phase + jsFileName;

            if (!window.fetch && !fetch) {
                return '';
            }

            fetch(jsUrl).then(function(response) {
                Sentry.setTag('InitFail', 'FailLoadTenth2js');
                Sentry.captureMessage('[BRUNCH] InitFail - Tenth2', {
                    extra: {
                        extra: {
                            status: response.status,
                            url: response.url,
                            statusText: response.statusText,
                        },
                    },
                });
            }).catch(function(error) {
                Sentry.captureMessage('[BRUNCH] InitFail - Tenth2', {
                    extra: {
                        extra: {
                            url: jsUrl,
                        },
                    },
                });
            });
        },

        dynamicAppendJsLibraryTags: function(jsFileNameArray) {
          for(var i=0; i<jsFileNameArray.length; i++) {
              this.dynamicAppendJsLibraryTag(jsFileNameArray[i]);
          }
        },

        dynamicAppendJsLibraryTag: function(jsFileName) {
            this.createScriptTag('/static/libraries/js/', jsFileName);
        },

        /**
         * 자바스크립트 동적 생성 함수
         * @param {String} jsPath - 자바스크립트 파일 경로
         * @param {String} jsFileName - 자바스크립트 파일 이름
         * @param {Function} onLoadCallback - 스크립트 onLoad 이후 실행될 함수
         */
        createScriptTag: function(jsPath, jsFileName, onLoadCallback) {
            this.loadedJsHistory.push(jsFileName);
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = jsPath + jsFileName;
            if (onLoadCallback) {
                script.onload = function() {
                    onLoadCallback();
                }
            }
            script.async = false;
            this.removeScriptTag(jsFileName);
            document.getElementsByTagName('head')[0].appendChild(script);
        },

        /**
         * dom 내에 존재하는 대상 스크립트를 찾아서 제거 하는 함수
         * @param {String} targetSrc
         */
        removeScriptTag: function(targetSrc) {
            for (var i=0; i<document.scripts.length; i++) {

                if (document.scripts[i].src.indexOf(targetSrc) > -1) {
                    document.scripts[i].remove();
                }
            }
        },

        /**
         * 함수를 실행하고, 그 실행 내역을 Array에 저장
         * @param {Function} func - 실행될 함수
         */
        executeAndSaveFunction: function(func) {
            try {
                this.excuteFunctionArray.push(func);
                func();
            } catch(e) {
                if(!this.hasError) {
                    this.fetchLog('script error occur', {});
                }
                this.hasError = true;
            }
        },

        /**
         * 글뷰 페이지를 복구 하기 위한 함수
         * 1. libraries 태그 복원
         * 2. 글뷰 통합 번들 파일 추가
         * @param {boolean} isPc
         */
        restoreArticlePage: function({ isPc }) {
            var scripts = [
                "sentry.min.5.27.4.js",
                "jquery.min-2.1.1.js",
                "jquery.cookie.min-1.4.1.js",
                "handlebars.runtime.min-v3.0.0.js",
                "userAgent.min-1.0.14.js",
                "jquery.word-break-keep-all.min-1.3.0.js"
            ];
            this.dynamicAppendJsLibraryTags(scripts);

            if (isPc) {
                this.createScriptTag('/static/production/js/', 'brunch.article.pc.min.js', this.doExcuteFunctionArray.bind(this));
            } else {
                this.createScriptTag('/static/production/js/', 'brunch.article.mobile.min.js', this.doExcuteFunctionArray.bind(this));
            }
        },

        /**
         * article 페이지 복구 여부에 대한 기록 함수
         * PC .wrap_body_frame 존재 유무
         * Mobile #articleMain display 속성 확인 (not none)
         * @param isPc
         */
        loggedIsArticleRestored: function({ isPc }) {
            setTimeout(function() {
                var isRestored = false;

                if (isPc) {
                    isRestored = document.querySelector('.wrap_body_frame') !== null
                } else {
                    isRestored = window.getComputedStyle(document.querySelector('#articleMain')).display !== 'none';
                }

                var fetchMsg = 'restorePageFail';

                if (isRestored) {
                    fetchMsg = 'restorePage';
                }

                this.fetchLog(fetchMsg, {
                    isPc: isPc
                })
            }.bind(this), 1000)
        },

        doExcuteFunctionArray: function() {
            if (this.excuteFunctionArray.length > 0) {
                for (var i = 0; i < this.excuteFunctionArray.length; i++) {
                    var func = this.excuteFunctionArray[i];

                    if (func && typeof func === 'function') {
                        try {
                            func();
                        } catch(e) {
                            this.fetchLog('failRestorePage', {
                                error: e,
                            })
                        }
                    }
                }
            }
        }
    };
</script>
<script type="text/javascript">
    window._platform = "unknown";

    function sentryInit() {
        Sentry.init({
            dsn: 'https://7092d1f177184e73a6cda1ee2d14ecc4@aem-collector.daumkakao.io/3057',
            release: '202301041348',
            environment: 'prod',
                    });
        Sentry.setTag("ua.platform", window._platform);
            }

    Guard.executeAndSaveFunction(sentryInit);
</script>
<script>
    if (typeof jQuery === 'undefined') {
        var scripts = [
            "sentry.min.5.27.4.js",
            "jquery.min-2.1.1.js",
            "jquery.cookie.min-1.4.1.js",
            "handlebars.runtime.min-v3.0.0.js",
            "userAgent.min-1.0.14.js",
            "jquery.word-break-keep-all.min-1.3.0.js"
        ]
        Guard.dynamicAppendJsLibraryTags(scripts);
        Guard.fetchLog('libraries init', {});
    }
</script> <link href="//t1.daumcdn.net/brunch/static/prod/202301041348/production/B.Article.min.css" rel="stylesheet" type="text/css"/>
<!--[if lt ie 9]>
    <link rel="stylesheet" type="text/css" href="//t1.daumcdn.net/brunch/static/prod/202301041348/css/B.Article.Ie9lt.css"/>
    <![endif]-->
<meta content="https://brunch.co.kr/@@1U9m/420" property="dg:plink">
<meta content="https://brunch.co.kr/@@1U9m/420" name="plink">
<meta content="https://brunch.co.kr/@@1U9m/420" property="article:mobile_url">
<meta content="https://brunch.co.kr/@@1U9m/420" property="article:pc_url">
<meta content="https://brunch.co.kr" property="article:mobile_service_home">
<meta content="https://brunch.co.kr" property="article:pc_service_home">
<meta content="https://brunch.co.kr/@@1U9m/420" property="article:mobile_view_url">
<meta content="https://brunch.co.kr/@@1U9m/420" property="article:pc_view_url">
<meta content="https://brunch.co.kr/@@1U9m/420" property="article:talk_channel_view_url">
<meta content="1U9m_420" property="article:txid">
<meta content="2019-07-24T21:02+0900" property="article:published_time">
<meta content="2019-07-24T21:02+0900" property="og:regDate">
<meta content="매일 기록하는 프리랜서 마케터 흑설탕" name="article:media_name">
<meta content="브런치" name="article:service_name">
<meta content='{"site_info":{"name":"브런치","image":"https://t1.daumcdn.net/brunch/static/img/help/mw/ico_brunch_kakaostory_richscrap70x70.png","url":"https://brunch.co.kr"},"header":{"category_title":"자동차산업에대하여","subtitle":"코나 일렉트릭, 쏘울 부스터 EV, 니로 EV, 아이오닉 일렉트릭","title":"2019년 상반기 국내 전기차 시장","date":"2019.07.24"},"author":{"name":"매일 기록하는 프리랜서 마케터 흑설탕","image":"http://t1.daumcdn.net/brunch/service/user/1U9m/image/FJBqMKSGZGRDxJudJ9YIs_ZztbE.jpg","url":"https://brunch.co.kr/@cmin4411"},"cards":[{"type":"text","body":{"content":"2019년 전기차 판매량 ","image":""}},{"type":"text","body":{"content":" ","image":""}},{"type":"text","body":{"content":"국토교통부 자료에 따르면 전기차 등록현황이","image":""}},{"type":"text","body":{"content":"\u0026nbsp;2014년 2,946대, 2016년 15,389대로 1만대 를 돌파했으며, ","image":""}},{"type":"text","body":{"content":"2019년 5월말 기준 68,930대로 집계되었습니다.","image":""}},{"type":"text","body":{"content":"작년 한 해 동안 가장 많이 판매된 전기차를 살펴보면","image":""}},{"type":"text","body":{"content":" 현대자동차 코나 일렉트릭이 총 11,171대가 ","image":""}},{"type":"text","body":{"content":"판매되었는데요. 그리고 2019년 1월부터 5월말까지","image":""}},{"type":"text","body":{"content":" 5,771대가 판매되어  올해도 높은 판매량을 ","image":""}},{"type":"text","body":{"content":"기록할 것으로 예상됩니다.","image":""}}]}' property="ks:richscrap"/>
</meta></meta></meta></meta></meta></meta></meta></meta></meta></meta></meta></meta></meta></meta></head>
<body>
<tiara-page data-tiara-author="" data-tiara-author_id="@@1U9m" data-tiara-category="매일 기록하는 프리랜서 마케터 흑설탕" data-tiara-category_id="cmin4411" data-tiara-id="420" data-tiara-image="http://t1.daumcdn.net/brunch/service/user/1U9m/image/KaBraRGNt-RtjIDCiw7p3aU9fbc.jpg" data-tiara-name="2019년 상반기 국내 전기차 시장" data-tiara-series="자동차산업에대하여" data-tiara-series_id="43715" data-tiara-tags="전기차,자동차" data-tiara-type="publish" t-action-kind="ViewContent" t-name="글뷰 &gt; 페이지뷰" t-page="articleview" t-section="article">
</tiara-page>
<tiara-usage t-target=".wrap_body.finish_txt"></tiara-usage>
<tiara-area t-name="cover" t-target=".wrap_cover.cover_type_text"></tiara-area>
<tiara-area t-name="body" t-target=".wrap_body.finish_txt"></tiara-area>
<tiara-area t-name="brunchbook_article" t-target=".wrap_body_info"></tiara-area>
<tiara-area t-name="profile" t-target=".wrap_author"></tiara-area>
<tiara-area t-name="recommended_article" t-target=".wrap_related_article"></tiara-area>
<tiara-area t-name="banner" t-target=".wrap_article_footer_banner"></tiara-area>
<input id="articleShareUrl" type="hidden" value="https://brunch.co.kr/@cmin4411/420"/>
<input id="articleShareTitle" type="hidden" value="2019년 상반기 국내 전기차 시장"/>
<input id="articleShareContentSummary" type="hidden" value="2019년 전기차 판매량   국토교통부 자료에 따르면 전기차 등록현황이  2014년 2,946대, 2016년 15,389대로 1만대 를 돌파했으며,  2019년 5월말 기준 68,930대로 집계되었습니다. 작년 한 해 동안 가장 많이 판매된 전기차를 살펴보면  현대자동차 코나 일렉트릭이 총 11,171대가  판매되었는데요. 그리고 2019년 1월부터 5월말"/>
<input id="articleShareImageUrl" type="hidden" value="http://t1.daumcdn.net/brunch/service/user/1U9m/image/KaBraRGNt-RtjIDCiw7p3aU9fbc.jpg"/>
<div class="service_header article #post_toolbar" data-tiara-layer="gnb">
<div class="progress-container">
<div class="progress-bar" id="progressBar" style="width: 0%;"></div>
</div>
<div class="wrap_inner ">
<div class="f_l">
<button class="f_l text_hide btn_menu img_ico #sidebar " id="btnServiceMenu" type="button">메뉴</button>
<h1 class="f_l">
<a class="logo_service text_hide" href="/" title="brunch">brunch</a>
</h1>
</div>
<div class="wrap_cover_type">
<span class="txt_article">매거진</span>
<a class="link_type #post_toolbar#p_magazine_title " href="/magazine/carstory">
<span class="tit_type">자동차산업에대하여</span>
</a>
</div>
<div class="f_r">
<div class="wrap_action_article">
<button class="f_r img_ico text_hide ico_action #more" id="btnToggleArticleMoreAction" type="button">실행</button>
<div class="more_action_wrap f_r ">
<button class="reportArticle f_l more_action text_hide img_ico img_ico_single ico_report requireLogin #report">신고</button>
</div>
<div class="default_action_wrap f_r">
<a class="default_action headerLikeBtn img_ico_wrap #likeit" href="#likeit" onclick="return B.ArticleLike.like(this)">
<span class="f_l text_hide img_ico img_ico_with_text ico_likeit_like #like">라이킷</span>
<span class="f_l text_like_count text_default text_with_img_ico ico_likeit_like #like">2</span>
</a>
<a class="default_action img_ico_wrap comment #comment" href="#comments">
<span class="f_l text_hide img_ico img_ico_with_text ico_comment">댓글</span>
<span class="f_l text_comment_count text_default text_with_img_ico"></span>
</a>
<span class="wrapButtonSocialShare f_l default_action img_ico_wrap #share">
<span class="f_l text_hide img_ico img_ico_with_text ico_share" style="cursor:pointer">공유</span>
<span class="wrap_share_gnb wrap_share_common">
</span>
</span>
</div>
</div>
</div>
</div>
</div>
<div id="wrapSideMenu">
<main>
<button class="btn_close_side_menu img_side_menu ico_close f_r text_hide" id="btnCloseSideMenu" type="button">닫기</button>
<div class="wrap_side_profile logout">
<div class="logo_service"></div>
<p class="slogan">You can make anything<br/>by writing</p>
<p class="slogan_writer">- C.S.Lewis -</p>
<a class="#side_request btn_apply_author article" data-tiara-action-name="메뉴 &gt; 시작하기 버튼 클릭" data-tiara-layer="login" href="#" id="brunchSigninButton"><button class="btn_request">브런치 시작하기</button></a>
</div>
<div class="wrap_side_service_menu">
<ul>
<li>
<a class="menu_word4 #side_brunch" data-tiara-action-name="메뉴 &gt; 브런치 홈 버튼 클릭" data-tiara-layer="top" href="/"><span class="bar_left"></span>브런치 홈<span class="bar_right"></span></a>
</li>
<li>
<a class="menu_word5 #side_now brunchNowLink" data-tiara-action-name="메뉴 &gt; 브런치 나우 버튼 클릭" data-tiara-layer="now" href="/now"><span class="bar_left"></span>브런치 나우<span class="bar_right"></span></a>
</li>
<li>
<a class="menu_word5 #side_publish brunchPublishLink" data-tiara-action-name="메뉴 &gt; 브런치 책방 버튼 클릭" data-tiara-layer="bookshop" href="/publish"><span class="bar_left"></span>브런치 책방<span class="bar_right"></span></a>
</li>
</ul>
<div class="wrap_side_setting wrap_find_user">
<div class="menu_side_banner" style="padding-bottom: 40px;">
<a class="#side_project" data-tiara-action-name="메뉴 &gt; 작가 지원 프로젝트 버튼 클릭" data-tiara-layer="projectlist" href="/special/list">
<img alt="프로젝트 리스트 바로가기" src="//i1.daumcdn.net/thumb/R336x0/?fname=http://t1.daumcdn.net/brunch/static/img/help/pc/top/side_banner_20171219.png" style="width:168px"/>
</a>
</div> <a class="find_user" data-tiara-action-name="메뉴 &gt; 계정 찾기 버튼 클릭" data-tiara-layer="find_accounts" href="/signin/find_account">계정을 잊어버리셨나요?</a>
</div>
</div>
</main>
</div>
<div class="service_contents article_contents #post_view">
<input id="articleProfileId" type="hidden" value="cmin4411"/>
<input id="articleUserId" type="hidden" value="1U9m"/>
<input id="articleNo" type="hidden" value="420"/>
<input id="articleStatus" type="hidden" value="publish"/>

In [ ]:
import re

n_2019 = str(soup.select('.text_caption'))
n_2019 = re.sub('<.+?>', '', n_2019, 0).strip() # 속성&태그 제거

na_2019 = n_2019.split(',')

n1_2019 = na_2019[0]
n2_2019 = na_2019[1]
n3_2019 = na_2019[2]
n4_2019 = na_2019[3]
n5_2019 = na_2019[4]

name1_2019 = n1_2019, n2_2019, n3_2019, n4_2019, n5_2019

In [ ]:
korean = re.compile('[\u3131-\u3163\uac00-\ud7a3]+')

re_p1_2019 = soup.select_one('h4:nth-of-type(19) > span > b').text
re_p2_2019 = soup.select_one('h4:nth-of-type(33) > span > b').text
re_p3_2019 = soup.select_one('h4:nth-of-type(47) > span > b').text
re_p4_2019 = soup.select_one('h4:nth-of-type(58) > b').text
re_p5_2019 = soup.select_one('h4:nth-of-type(72) > span > b').text

p1_2019 = re.sub(korean, '', re_p1_2019) # 한글 제거
p2_2019 = re.sub(korean, '', re_p2_2019) 
p3_2019 = re.sub(korean, '', re_p3_2019) 
p4_2019 = re.sub(korean, '', re_p4_2019) 
p5_2019 = re.sub(korean, '', re_p5_2019) 

p2_2019 = re.sub("[a-zA-Z]", "", p2_2019) # 영어 제거
p3_2019 = re.sub("[a-zA-Z]", "", p3_2019) 
p5_2019 = re.sub("[a-zA-Z]", "", p5_2019) 

p1_2019 = re.sub(',', '', p1_2019) # , 제거
p2_2019 = re.sub(',', '', p2_2019) 
p3_2019 = re.sub(',', '', p3_2019)
p4_2019 = re.sub(',', '', p4_2019)
p5_2019 = re.sub(',', '', p5_2019)

p5_2019 = re.sub(r"[.]", "", p5_2019) # . 제거
p5_2019 = p5_2019[1:] # 맨 앞 문자 제거

p1_2019 = p1_2019.strip() # 양쪽 공백 제거
p2_2019 = p2_2019.strip() 
p3_2019 = p3_2019.strip() 
p4_2019 = p4_2019.strip() 
p5_2019 = p5_2019.strip() 

price1_2019 = p1_2019, p2_2019, p3_2019, p4_2019, p5_2019

In [ ]:
b1_2019 = '현대'
b2_2019 = '기아'
b3_2019 = '기아'
b4_2019 = '현대'
b5_2019 = '르노'

brand1_2019 = b1_2019, b2_2019, b3_2019, b4_2019, b5_2019

In [ ]:
url = 'https://www.evrunning.com/5'

res = requests.get(url)
page = res.content

soup = BeautifulSoup(page, 'html.parser')
soup

<!DOCTYPE html>

<html class="" lang="ko">
<head>
<!-- BusinessLicenseInfo - START -->
<link href="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/plugin/BusinessLicenseInfo/style.css" rel="stylesheet" type="text/css"/>
<script>function switchFold(entryId) {
    var businessLayer = document.getElementById("businessInfoLayer_" + entryId);

    if (businessLayer) {
        if (businessLayer.className.indexOf("unfold_license") > 0) {
            businessLayer.className = "business_license_layer";
        } else {
            businessLayer.className = "business_license_layer unfold_license";
        }
    }
}
</script>
<!-- BusinessLicenseInfo - END -->
<!-- DaumShow - START -->
<style type="text/css">#daumSearchBox {
    height: 21px;
    background-image: url(//i1.daumcdn.net/imgsrc.search/search_all/show/tistory/plugin/bg_search2_2.gif);
    margin: 5px auto;
    padding: 0;
}

#daumSearchBox input {
    background: none;
    margin: 0;
    padding: 0;
    border: 0;
}

#daumSearchBox #daumLogo {
    width: 34px;
    height: 21px;
    float: left;
    margin-right: 5px;
    background-image: url(//i1.daumcdn.net/img-media/tistory/img/bg_search1_2_2010ci.gif);
}

#daumSearchBox #show_q {
    background-color: transparent;
    border: none;
    font: 12px Gulim, Sans-serif;
    color: #555;
    margin-top: 4px;
    margin-right: 15px;
    float: left;
}

#daumSearchBox #show_btn {
    background-image: url(//i1.daumcdn.net/imgsrc.search/search_all/show/tistory/plugin/bt_search_2.gif);
    width: 37px;
    height: 21px;
    float: left;
    margin: 0;
    cursor: pointer;
    text-indent: -1000em;
}
</style>
<!-- DaumShow - END -->
<!-- GoogleAnalytics - START -->
<script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-150832449-1"></script>
<script>window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config','UA-150832449-1');</script>
<!-- GoogleAnalytics - END -->
<!-- PreventCopyContents - START -->
<meta content="no" http-equiv="imagetoolbar"/>
<!-- PreventCopyContents - END -->
<!-- System - START -->
<!-- System - END -->
<!-- TistoryProfileLayer - START -->
<link href="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/plugin/TistoryProfileLayer/style.css" rel="stylesheet" type="text/css"/>
<script src="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/plugin/TistoryProfileLayer/script.js" type="text/javascript"></script>
<!-- TistoryProfileLayer - END -->
<meta content="IE=Edge" http-equiv="X-UA-Compatible"/>
<meta content="telephone=no" name="format-detection"/>
<script crossorigin="anonymous" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" src="//t1.daumcdn.net/tistory_admin/lib/jquery/jquery-3.5.1.min.js"></script>
<script defer="" src="//t1.daumcdn.net/tistory_admin/lib/lightbox/js/lightbox-v2.10.0.min.js"></script>
<script src="//t1.daumcdn.net/tiara/js/v1/tiara.min.js" type="text/javascript"></script><meta content="always" name="referrer">
<meta content="ca-host-pub-9691043933427338" name="google-adsense-platform-account">
<meta content="tistory.com" name="google-adsense-platform-domain"/>
<meta content="안녕하세요.전달세(전기로 달리는 세상)입니다. 전기차의 수요는 국내는 물론 세계적으로 늘어나고 있고 다양한 차종의 출시와 함께 그 인기가 나날이 높아지고 있습니다.그리하여 이번에는 국내 전기차 순위에 대해 알려드리고자 합니다. 실질적으로 전기차의 생명은 배터리라고 해도 과언이 아니며, 이에 따라 주행거리가 가장 중요한 역할을 한다고 볼 수 있는데요. 그리하여 한국자동차산업협회에 등록된 차량의 대수에 순위를 적용하고, 주행거리도 같이 비교해 보겠습니다. 국내 승용 전기차 등록 대수 순위(2019. 7월 말 기준)※ 자료: 한국자동차산업협회 1. 코나 EV(이미지:현대자동차) 국내 승용 전기차 가운데 처음으로 등록 대수 2만대를 넘긴 모델이 나왔습니다.2019년 9월 14일 한국자동차산업협회 기준으로 7월 .." name="description"/>
<meta content="article" property="og:type"/>
<meta content="https://www.evrunning.com/5" property="og:url"/>
<meta content="미스터트롯2투표" property="og.article.author"/>
<meta content="미스터트롯2 투표하기" property="og:site_name"/>
<meta content="한눈에 보는 2019년 국내 전기차 순위(주행거리 포함)" property="og:title"/>
<meta content="미스터트롯2투표" name="by"/>
<meta content="안녕하세요.전달세(전기로 달리는 세상)입니다. 전기차의 수요는 국내는 물론 세계적으로 늘어나고 있고 다양한 차종의 출시와 함께 그 인기가 나날이 높아지고 있습니다.그리하여 이번에는 국내 전기차 순위에 대해 알려드리고자 합니다. 실질적으로 전기차의 생명은 배터리라고 해도 과언이 아니며, 이에 따라 주행거리가 가장 중요한 역할을 한다고 볼 수 있는데요. 그리하여 한국자동차산업협회에 등록된 차량의 대수에 순위를 적용하고, 주행거리도 같이 비교해 보겠습니다. 국내 승용 전기차 등록 대수 순위(2019. 7월 말 기준)※ 자료: 한국자동차산업협회 1. 코나 EV(이미지:현대자동차) 국내 승용 전기차 가운데 처음으로 등록 대수 2만대를 넘긴 모델이 나왔습니다.2019년 9월 14일 한국자동차산업협회 기준으로 7월 .." property="og:description"/>
<meta content="https://img1.daumcdn.net/thumb/R800x0/?scode=mtistory2&amp;fname=https%3A%2F%2Ft1.daumcdn.net%2Fcfile%2Ftistory%2F99A3B0355DA79D8116" property="og:image"/>
<meta content="'자동차'" property="article:section"/>
<meta content="summary_large_image" name="twitter:card"/>
<meta content="@TISTORY" name="twitter:site"/>
<meta content="한눈에 보는 2019년 국내 전기차 순위(주행거리 포함)" name="twitter:title"/>
<meta content="안녕하세요.전달세(전기로 달리는 세상)입니다. 전기차의 수요는 국내는 물론 세계적으로 늘어나고 있고 다양한 차종의 출시와 함께 그 인기가 나날이 높아지고 있습니다.그리하여 이번에는 국내 전기차 순위에 대해 알려드리고자 합니다. 실질적으로 전기차의 생명은 배터리라고 해도 과언이 아니며, 이에 따라 주행거리가 가장 중요한 역할을 한다고 볼 수 있는데요. 그리하여 한국자동차산업협회에 등록된 차량의 대수에 순위를 적용하고, 주행거리도 같이 비교해 보겠습니다. 국내 승용 전기차 등록 대수 순위(2019. 7월 말 기준)※ 자료: 한국자동차산업협회 1. 코나 EV(이미지:현대자동차) 국내 승용 전기차 가운데 처음으로 등록 대수 2만대를 넘긴 모델이 나왔습니다.2019년 9월 14일 한국자동차산업협회 기준으로 7월 .." name="twitter:description"/>
<meta content="https://img1.daumcdn.net/thumb/R800x0/?scode=mtistory2&amp;fname=https%3A%2F%2Ft1.daumcdn.net%2Fcfile%2Ftistory%2F99A3B0355DA79D8116" property="twitter:image"/>
<meta content="https://www.evrunning.com/5" property="dg:plink"/>
<meta name="plink"/>
<meta content="한눈에 보는 2019년 국내 전기차 순위(주행거리 포함)" name="title"/>
<meta content="미스터트롯2 투표하기" name="article:media_name"/>
<meta content="https://www.evrunning.com/m/5" property="article:mobile_url"/>
<meta content="https://www.evrunning.com/5" property="article:pc_url"/>
<meta content="https://elec-running.tistory.com/m/5" property="article:mobile_view_url"/>
<meta content="https://elec-running.tistory.com/5" property="article:pc_view_url"/>
<meta content="https://www.evrunning.com/m/5" property="article:talk_channel_view_url"/>
<meta content="https://www.tistory.com" property="article:pc_service_home"/>
<meta content="https://www.tistory.com/m" property="article:mobile_service_home"/>
<meta content="3338007_5" property="article:txid"/>
<meta content="2019-10-17T11:30:00+09:00" property="article:published_time"/>
<meta content="20191017080828" property="og:regDate"/>
<meta content="2019-11-12T10:47:55+09:00" property="article:modified_time"/>
<link href="https://t1.daumcdn.net/tistory_admin/lib/lightbox/css/lightbox.min.css" rel="stylesheet" type="text/css"/>
<link href="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/style/font.css" rel="stylesheet" type="text/css"/>
<link href="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/style/content.css" rel="stylesheet" type="text/css"/>
<link href="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/style/uselessPMargin.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript">(function() {
    var tjQuery = jQuery.noConflict(true);
    window.tjQuery = tjQuery;
    window.orgjQuery = window.jQuery; window.jQuery = tjQuery;
    window.jQuery = window.orgjQuery; delete window.orgjQuery;
})()</script>
<script src="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/script/base.js" type="text/javascript"></script>
<script type="text/javascript">if (!window.T) { window.T = {} }
window.T.config = {"TOP_SSL_URL":"https://www.tistory.com","PREVIEW":false,"ROLE":"guest","PREV_PAGE":"","NEXT_PAGE":"","BLOG":{"id":3338007,"name":"elec-running","title":"미스터트롯2 투표하기","isDormancy":false},"NEED_COMMENT_LOGIN":true,"COMMENT_LOGIN_CONFIRM_MESSAGE":"이 블로그는 로그인한 사용자에게만 댓글 작성을 허용했습니다. 지금 로그인하시겠습니까?","LOGIN_URL":"https://www.tistory.com/auth/login/?redirectUrl=https%3A%2F%2Fwww.evrunning.com%2F5","DEFAULT_URL":"https://www.evrunning.com","USER":{"name":null,"homepage":null},"SUBSCRIPTION":{"status":"none","isConnected":false,"isPending":false,"isWait":false,"isProcessing":false,"isNone":true},"IS_LOGIN":false,"HAS_BLOG":false,"TOP_URL":"http://www.tistory.com","JOIN_URL":"https://www.tistory.com/member/join","ROLE_GROUP":"visitor"};
window.appInfo = {"domain":"tistory.com","topUrl":"https://www.tistory.com","loginUrl":"https://www.tistory.com/auth/login","logoutUrl":"https://www.tistory.com/auth/logout"};
window.initData = {};

window.TistoryBlog = {
    basePath: "",
    url: "https://www.evrunning.com",
    tistoryUrl: "https://elec-running.tistory.com",
    manageUrl: "https://elec-running.tistory.com/manage",
    token: "VQFC9iMRdZtgQRikATjCbZYW6eEWVqCRJQ2lk6t+JeCtoXlq5O56HFKDhxudAeJx"
};
var servicePath = "";
var blogURL = "";</script>
<script src="//developers.kakao.com/sdk/js/kakao.min.js" type="text/javascript"></script>
<!--아고다-->
<meta name="agd-partner-manual-verification"/>
<!--아고다 끝-->
<!--java top-->
<!--<script src="./images/ad221.js?v=1"></script>-->
<!--java top end-->
<!-- 네이버 웹마스터 도구 시작-->
<meta content="3170952d65c2e39aa15e524eda3ceedd6967b2fb" name="naver-site-verification"/>
<!-- 네이버 웹마스터 도구 끝-->
<!-- 구글 서치콘솔 등록 시작-->
<meta content="lz3W5uqGtGgE54nhQWtSHjXSGAhhaZPB38qOuRH7ASY" name="google-site-verification"/>
<!-- 구글 서치콘솔 등록 끝 -->
<!-- 빙 웹마스터 등록-->
<meta content="FC2DACA61C867947F684B7CB49649B25" name="msvalidate.01"/>
<!-- 빙 웹마스터 등록 끝-->
<script type="text/javascript">
var url1 = 'elec-running.tistory.com';
var url2 = 'www.evrunning.com';
var online = document.URL;
if(online.match(url1)) document.location.href = online.replace(url1, url2);

</script>
<title>한눈에 보는 2019년 국내 전기차 순위(주행거리 포함) :: 미스터트롯2 투표하기</title>
<meta content="한눈에 보는 2019년 국내 전기차 순위(주행거리 포함) :: 미스터트롯2 투표하기" name="title"/>
<meta content="미스터트롯2 투표하기 투표방법 투표 오디션 지원기간 참가자 모집 우승상금 출연진 패널 가수 우승상금 지원기간 미스터트롯2 문자투표 결승전 다시보기 3주차 4주차 5주차 6주차 7주차 8주차" name="description"/>
<meta charset="utf-8"/>
<meta content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0" name="viewport"/>
<meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible"/>
<link href="https://elec-running.tistory.com/rss" rel="alternate" title="미스터트롯2 투표하기" type="application/rss+xml"/>
<link href="https://www.evrunning.com/favicon.ico" rel="shortcut icon"/>
<link href="https://tistory1.daumcdn.net/tistory/3338007/skin/style.css?_version_=1672764253" rel="stylesheet"/>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet"/>
<!--[if IE 7]>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome-ie7.min.css">
<![endif]-->
<link href="https://tistory1.daumcdn.net/tistory/3338007/skin/images/jquery.mCustomScrollbar.min.css?_version_=1672764253" rel="stylesheet"/>
<script>
//추가 단축키
var key = new Array();
key['w'] = "/admin/entry/post/";
key['e'] = "/admin/skin/edit/";
key['r'] = "/admin/plugin/refererUrlLog/";
key['h'] = "/";

function getKey(keyStroke) {
	if ((event.srcElement.tagName != 'INPUT') && (event.srcElement.tagName != 'TEXTAREA')){
		isNetscape=(document.layers);
		eventChooser = (isNetscape) ? keyStroke.which : event.keyCode;
		which = String.fromCharCode(eventChooser).toLowerCase();
		for (var i in key)
			if (which == i) window.location = key[i];
	}
}
document.onkeypress = getKey;
</script>
<link href="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/style/dialog.css" rel="stylesheet" type="text/css">
<link href="//t1.daumcdn.net/tistory_admin/www/style/top/font.css" rel="stylesheet" type="text/css">
<link href="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/style/postBtn.css" rel="stylesheet" type="text/css"/>
<link href="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/style/tistory.css" rel="stylesheet" type="text/css"/>
<link href="https://www.evrunning.com/5" rel="canonical"/>
<!-- BEGIN STRUCTURED_DATA -->
<script type="application/ld+json">
    {"@context":"http://schema.org","@type":"BlogPosting","mainEntityOfPage":{"@id":"https://www.evrunning.com/5","name":null},"url":"https://www.evrunning.com/5","headline":"한눈에 보는 2019년 국내 전기차 순위(주행거리 포함)","description":"안녕하세요.전달세(전기로 달리는 세상)입니다. 전기차의 수요는 국내는 물론 세계적으로 늘어나고 있고 다양한 차종의 출시와 함께 그 인기가 나날이 높아지고 있습니다.그리하여 이번에는 국내 전기차 순위에 대해 알려드리고자 합니다. 실질적으로 전기차의 생명은 배터리라고 해도 과언이 아니며, 이에 따라 주행거리가 가장 중요한 역할을 한다고 볼 수 있는데요. 그리하여 한국자동차산업협회에 등록된 차량의 대수에 순위를 적용하고, 주행거리도 같이 비교해 보겠습니다. 국내 승용 전기차 등록 대수 순위(2019. 7월 말 기준)※ 자료: 한국자동차산업협회 1. 코나 EV(이미지:현대자동차) 국내 승용 전기차 가운데 처음으로 등록 대수 2만대를 넘긴 모델이 나왔습니다.2019년 9월 14일 한국자동차산업협회 기준으로 7월 ..","author":{"@type":"Person","name":"미스터트롯2투표","logo":null},"image":{"@type":"ImageObject","url":"https://img1.daumcdn.net/thumb/R800x0/?scode=mtistory2&fname=https%3A%2F%2Ft1.daumcdn.net%2Fcfile%2Ftistory%2F99A3B0355DA79D8116","width":"800px","height":"800px"},"datePublished":"20191017T11:30:00","dateModified":"20191112T10:47:55","publisher":{"@type":"Organization","name":"TISTORY","logo":{"@type":"ImageObject","url":"https://t1.daumcdn.net/tistory_admin/static/images/openGraph/opengraph.png","width":"800px","height":"800px"}}}
</script>
<!-- END STRUCTURED_DATA -->
<script src="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/script/common.js" type="text/javascript"></script>
</link></link></meta></meta></head>
<!-- 로딩시작 -->
<div id="loadOverwrapper"><div class="loader"></div></div>
<!-- 로딩 끝 -->
<body id="tt-body-page">
<div id="wrap">
<!--<div id="sidebar">-->
<div class="blank"></div>
<!--<h1><a href="https://www.evrunning.com/">미스터트롯2 투표하기</a></h1>-->
<div class="blank"></div>
</div>
<div id="content">
<div id="content-inner">
<div id="head">
<h2><a href="/5">한눈에 보는 2019년 국내 전기차 순위(주행거리 포함)</a></h2>
<div class="date">
<script>
let today = new Date();
let minutes = today.getMinutes();
document.write(today.toLocaleDateString() + '<br>');
</script>
</div>
</div>
<div class="entry" id="body">
<div class="tag_label">
<span><a href="/tag/%EA%B5%AD%EB%82%B4%20%EB%B0%B0%ED%84%B0%EB%A6%AC%20%EC%97%85%EC%B2%B4%20%EC%88%9C%EC%9C%84" rel="tag">국내 배터리 업체 순위</a>, <a href="/tag/%EA%B5%AD%EB%82%B4%20%EC%A0%84%EA%B8%B0%EC%B0%A8" rel="tag">국내 전기차</a>, <a href="/tag/%EA%B5%AD%EB%82%B4%20%EC%A0%84%EA%B8%B0%EC%B0%A8%20%EA%B0%80%EA%B2%A9" rel="tag">국내 전기차 가격</a>, <a href="/tag/%EA%B5%AD%EB%82%B4%20%EC%A0%84%EA%B8%B0%EC%B0%A8%20%EC%B6%94%EC%B2%9C" rel="tag">국내 전기차 추천</a>, <a href="/tag/%EB%B0%B0%ED%84%B0%EB%A6%AC%20%ED%9A%8C%EC%82%AC%20%EC%88%9C%EC%9C%84" rel="tag">배터리 회사 순위</a>, <a href="/tag/%EC%A0%84%EA%B8%B0%EC%9E%90%EB%8F%99%EC%B0%A8" rel="tag">전기자동차</a>, <a href="/tag/%EC%A0%84%EA%B8%B0%EC%B0%A8" rel="tag">전기차</a>, <a href="/tag/%EC%A0%84%EA%B8%B0%EC%B0%A8%20%EA%B0%80%EA%B2%A9" rel="tag">전기차 가격</a>, <a href="/tag/%EC%A0%84%EA%B8%B0%EC%B0%A8%20%EA%B0%80%EC%84%B1%EB%B9%84" rel="tag">전기차 가성비</a>, <a href="/tag/%EC%A0%84%EA%B8%B0%EC%B0%A8%20%EB%B0%B0%ED%84%B0%EB%A6%AC%20%EC%88%9C%EC%9C%84" rel="tag">전기차 배터리 순위</a>, <a href="/tag/%EC%A0%84%EA%B8%B0%EC%B0%A8%20%EC%88%9C%EC%9C%84" rel="tag">전기차 순위</a>, <a href="/tag/%EC%A0%84%EA%B8%B0%EC%B0%A8%20%EC%A3%BC%ED%96%89%EA%B1%B0%EB%A6%AC" rel="tag">전기차 주행거리</a>, <a href="/tag/%EC%A0%84%EA%B8%B0%EC%B0%A8%20%EC%A3%BC%ED%96%89%EA%B1%B0%EB%A6%AC%20%EC%88%9C%EC%9C%84" rel="tag">전기차 주행거리 순위</a>, <a href="/tag/%EC%A0%84%EA%B8%B0%EC%B0%A8%20%EC%B6%94%EC%B2%9C" rel="tag">전기차 추천</a>, <a href="/tag/%EC%A0%84%EA%B8%B0%EC%B0%A8%20%EC%B6%94%EC%B2%9C%20%EA%B0%80%EA%B2%A9" rel="tag">전기차 추천 가격</a>, <a href="/tag/%EC%A0%84%EA%B8%B0%EC%B0%A8%20%EC%B6%94%EC%B2%9C%20%EC%88%9C%EC%9C%84" rel="tag">전기차 추천 순위</a>, <a href="/tag/%EC%A0%84%EA%B8%B0%EC%B0%A8%20%ED%8C%90%EB%A7%A4" rel="tag">전기차 판매</a>, <a href="/tag/%EC%A0%84%EA%B8%B0%EC%B0%A8%20%ED%8C%90%EB%A7%A4%20%EC%88%9C%EC%9C%84" rel="tag">전기차 판매 순위</a></span>
<div class="clear"></div>
</div>
<div class="article">
<!--상단-->
<!--<center><script> samBak_250(); </script></center>-->
<!-- GoogleAdsenseForResponsive - START -->
<div class="tt_adsense_top" style="margin-bottom:30px;"><script async="" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" data-ad-client="ca-pub-8886620339515893" data-ad-format="auto" data-ad-slot="7681039507" data-full-width-responsive="true" style="display:block"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script></div>
<!-- GoogleAdsenseForResponsive - END -->
<!-- System - START -->
<!-- System - END -->
<div class="tt_article_useless_p_margin contents_style"><p>안녕하세요.</p><p>전달세(전기로 달리는 세상)입니다. </p><p><br/></p><p>전기차의 수요는 국내는 물론 세계적으로 늘어나고 있고 다양한 차종의 출시와 함께 그 인기가 나날이 높아지고 있습니다.</p><p>그리하여 이번에는 국내 전기차 순위에 대해 알려드리고자 합니다. </p><p><br/></p><p>실질적으로 전기차의 생명은 배터리라고 해도 과언이 아니며, 이에 따라 주행거리가 가장 중요한 역할을 한다고 볼 수 있는데요. 그리하여 한국자동차산업협회에 등록된 차량의 대수에 순위를 적용하고, 주행거리도 같이 비교해 보겠습니다.</p><div><br/></div><div><p style="text-align: center; clear: none; float: none;"><span class="imageblock" style="display: inline-block; width: 625px;  height: auto; max-width: 100%;"><img filemime="image/jpeg" filename="01 두번째 포스팅.jpg" height="625" src="https://t1.daumcdn.net/cfile/tistory/99A3B0355DA79D8116" srcset="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&amp;fname=https%3A%2F%2Ft1.daumcdn.net%2Fcfile%2Ftistory%2F99A3B0355DA79D8116" style="" width="625"/></span></p><p><br/></p></div><h3>국내 승용 전기차 등록 대수 순위(2019. 7월 말 기준)</h3><p>※ 자료: 한국자동차산업협회</p><p style="text-align: center; clear: none; float: none;"><span class="imageblock" style="display: inline-block; width: 728px;  height: auto; max-width: 100%;"><img filemime="image/jpeg" filename="주행거리 표.jpg" height="604" src="https://t1.daumcdn.net/cfile/tistory/999E2D415DA79D3915" srcset="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&amp;fname=https%3A%2F%2Ft1.daumcdn.net%2Fcfile%2Ftistory%2F999E2D415DA79D3915" style="" width="728"/></span></p><p><br/></p><h3>1. 코나 EV</h3><p style="text-align: center; clear: none; float: none;"><span class="imageblock" style="display: inline-block; width: 728px;  height: auto; max-width: 100%;"><img filemime="image/jpeg" filename="코나.jpg" height="384" src="https://t1.daumcdn.net/cfile/tistory/99E8AC425DA7A1CF1A" srcset="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&amp;fname=https%3A%2F%2Ft1.daumcdn.net%2Fcfile%2Ftistory%2F99E8AC425DA7A1CF1A" style="" width="728"/></span></p><p>(이미지:현대자동차)</p><p><br/></p><p>국내 승용 전기차 가운데 처음으로 등록 대수 2만대를 넘긴 모델이 나왔습니다.</p><p>2019년 9월 14일 한국자동차산업협회 기준으로 7월 말 현대차 코나 EV의 국내 등록 대수는 2만215대로 집계되었습니다.</p><p>코나 일렉트릭은 2018년 5월에 304대 출고를 시작으로 1년여 만에 2만대 등록을 넘기는 신기록을 세웠습니다.</p><div><div class="jb-box jb-box-teal">

In [ ]:
n1s_2019 = soup.select_one('h3:nth-of-type(2)').text
n2s_2019 = soup.select_one('h3:nth-of-type(5)').text
n3s_2019 = soup.select_one('h3:nth-of-type(6)').text

n1s_2019 = re.sub('<.+?>', '', n1s_2019, 0).strip() # 속성&태그 제거
n2s_2019 = re.sub('<.+?>', '', n2s_2019, 0).strip() # 속성&태그 제거
n3s_2019 = re.sub('<.+?>', '', n3s_2019, 0).strip() # 속성&태그 제거

n1s_2019 = re.sub(r"[0-9]", "", n1s_2019) # 숫자 제거
n2s_2019 = re.sub(r"[0-9]", "", n2s_2019) # 숫자 제거
n3s_2019 = re.sub(r"[0-9]", "", n3s_2019) # 숫자 제거

n1s_2019 = re.sub(r"[.]", "", n1s_2019) # . 제거
n2s_2019 = re.sub(r"[.]", "", n2s_2019) # . 제거
n3s_2019 = re.sub(r"[.]", "", n3s_2019) # . 제거

name2_2019 = n1s_2019, n2s_2019, n3s_2019

In [ ]:
korean = re.compile('[\u3131-\u3163\uac00-\ud7a3]+')

re_p1s_2019 = soup.select_one('p:nth-of-type(24)').text
re_p2s_2019 = soup.select_one('p:nth-of-type(66)').text
re_p3s_2019 = soup.select_one('p:nth-of-type(80)').text

p1s_2019 = re.sub(korean, '', re_p1s_2019) # 한글 제거
p2s_2019 = re.sub(korean, '', re_p2s_2019) 
p3s_2019 = re.sub(korean, '', re_p3s_2019) 

p1s_2019 = re.sub(',', '', p1s_2019) # , 제거
p2s_2019 = re.sub(',', '', p2s_2019) 
p3s_2019 = re.sub(',', '', p3s_2019) 

p3s_2019 = p3s_2019[:5] # 뒷문자 제거

p1s_2019 = p1s_2019.strip() # 양쪽 공백 제거
p2s_2019 = p2s_2019.lstrip() # 왼쪽 공백 제거
p3s_2019 = p3s_2019.lstrip()

price2_2019 = p1s_2019, p2s_2019, p3s_2019

In [ ]:
b1s_2019 = '현대'
b2s_2019 = '쉐보레'
b3s_2019 = '기아'

brand2_2019 = b1s_2019, b2s_2019, b3s_2019

In [ ]:
url = "https://motorlog.tistory.com/87"

res = requests.get(url)
page = res.content

soup = BeautifulSoup(page, 'html.parser')
soup

<!DOCTYPE html>

<html class="" lang="ko">
<head>
<!-- BusinessLicenseInfo - START -->
<link href="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/plugin/BusinessLicenseInfo/style.css" rel="stylesheet" type="text/css"/>
<script>function switchFold(entryId) {
    var businessLayer = document.getElementById("businessInfoLayer_" + entryId);

    if (businessLayer) {
        if (businessLayer.className.indexOf("unfold_license") > 0) {
            businessLayer.className = "business_license_layer";
        } else {
            businessLayer.className = "business_license_layer unfold_license";
        }
    }
}
</script>
<!-- BusinessLicenseInfo - END -->
<!-- DaumShow - START -->
<style type="text/css">#daumSearchBox {
    height: 21px;
    background-image: url(//i1.daumcdn.net/imgsrc.search/search_all/show/tistory/plugin/bg_search2_2.gif);
    margin: 5px auto;
    padding: 0;
}

#daumSearchBox input {
    background: none;
    margin: 0;
    padding: 0;
    border: 0;
}

#daumSearchBox #daumLogo {
    width: 34px;
    height: 21px;
    float: left;
    margin-right: 5px;
    background-image: url(//i1.daumcdn.net/img-media/tistory/img/bg_search1_2_2010ci.gif);
}

#daumSearchBox #show_q {
    background-color: transparent;
    border: none;
    font: 12px Gulim, Sans-serif;
    color: #555;
    margin-top: 4px;
    margin-right: 15px;
    float: left;
}

#daumSearchBox #show_btn {
    background-image: url(//i1.daumcdn.net/imgsrc.search/search_all/show/tistory/plugin/bt_search_2.gif);
    width: 37px;
    height: 21px;
    float: left;
    margin: 0;
    cursor: pointer;
    text-indent: -1000em;
}
</style>
<!-- DaumShow - END -->
<!-- System - START -->
<!-- System - END -->
<!-- TistoryProfileLayer - START -->
<link href="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/plugin/TistoryProfileLayer/style.css" rel="stylesheet" type="text/css"/>
<script src="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/plugin/TistoryProfileLayer/script.js" type="text/javascript"></script>
<!-- TistoryProfileLayer - END -->
<meta content="IE=Edge" http-equiv="X-UA-Compatible"/>
<meta content="telephone=no" name="format-detection"/>
<script crossorigin="anonymous" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" src="//t1.daumcdn.net/tistory_admin/lib/jquery/jquery-3.5.1.min.js"></script>
<script defer="" src="//t1.daumcdn.net/tistory_admin/lib/lightbox/js/lightbox-v2.10.0.min.js"></script>
<script src="//t1.daumcdn.net/tiara/js/v1/tiara.min.js" type="text/javascript"></script><meta content="always" name="referrer">
<meta content="ca-host-pub-9691043933427338" name="google-adsense-platform-account">
<meta content="tistory.com" name="google-adsense-platform-domain"/>
<meta content="2019 재규어 순수 전기차 i페이스 성능 가격 리뷰 재규어의 첫 번째 순수 전기차 i페이스가 공개가 되었는데요. 기존의 플랫폼에서 벗어나 전기차 전용 맞춤형 플랫폼을 사용하여 제작되었다고 해요. 차량의 크기는 전장 4682mm, 전폭 2139mm, 전고 1565mm, 휠베이스 2990mm의 크기를 가지고 있는데요. 이는 재규어 E페이스보다는 길지만, F페이스보다는 조금 짧은 크기로 중간에 있다고 보시면 되겠네요. 재규어 i페이스의 디자인을 간단하게 살펴보면, F페이스와 비슷한 느낌을 주고 있어요. 후드 라인을 훤히 드러내고 숄더 라인을 추어올려서 자신감이 넘치고 카리스마 있는 모습을 보여주고 있어요. 전체적으로 미래지향적이고 곡선을 사용한 세련미 넘치는 디자인이 매력적이네요. 2019 재규어 i페이스의.." name="description"/>
<meta content="article" property="og:type"/>
<meta content="https://motorlog.tistory.com/87" property="og:url"/>
<meta content="YUPPIE" property="og.article.author"/>
<meta content="모터로그" property="og:site_name"/>
<meta content="2019 재규어 순수 전기차 i페이스 성능 가격 리뷰" property="og:title"/>
<meta content="YUPPIE" name="by"/>
<meta content="2019 재규어 순수 전기차 i페이스 성능 가격 리뷰 재규어의 첫 번째 순수 전기차 i페이스가 공개가 되었는데요. 기존의 플랫폼에서 벗어나 전기차 전용 맞춤형 플랫폼을 사용하여 제작되었다고 해요. 차량의 크기는 전장 4682mm, 전폭 2139mm, 전고 1565mm, 휠베이스 2990mm의 크기를 가지고 있는데요. 이는 재규어 E페이스보다는 길지만, F페이스보다는 조금 짧은 크기로 중간에 있다고 보시면 되겠네요. 재규어 i페이스의 디자인을 간단하게 살펴보면, F페이스와 비슷한 느낌을 주고 있어요. 후드 라인을 훤히 드러내고 숄더 라인을 추어올려서 자신감이 넘치고 카리스마 있는 모습을 보여주고 있어요. 전체적으로 미래지향적이고 곡선을 사용한 세련미 넘치는 디자인이 매력적이네요. 2019 재규어 i페이스의.." property="og:description"/>
<meta content="https://img1.daumcdn.net/thumb/R800x0/?scode=mtistory2&amp;fname=https%3A%2F%2Ft1.daumcdn.net%2Fcfile%2Ftistory%2F995F7A3E5AA950220F" property="og:image"/>
<meta content="'자동차'" property="article:section"/>
<meta content="summary_large_image" name="twitter:card"/>
<meta content="@TISTORY" name="twitter:site"/>
<meta content="2019 재규어 순수 전기차 i페이스 성능 가격 리뷰" name="twitter:title"/>
<meta content="2019 재규어 순수 전기차 i페이스 성능 가격 리뷰 재규어의 첫 번째 순수 전기차 i페이스가 공개가 되었는데요. 기존의 플랫폼에서 벗어나 전기차 전용 맞춤형 플랫폼을 사용하여 제작되었다고 해요. 차량의 크기는 전장 4682mm, 전폭 2139mm, 전고 1565mm, 휠베이스 2990mm의 크기를 가지고 있는데요. 이는 재규어 E페이스보다는 길지만, F페이스보다는 조금 짧은 크기로 중간에 있다고 보시면 되겠네요. 재규어 i페이스의 디자인을 간단하게 살펴보면, F페이스와 비슷한 느낌을 주고 있어요. 후드 라인을 훤히 드러내고 숄더 라인을 추어올려서 자신감이 넘치고 카리스마 있는 모습을 보여주고 있어요. 전체적으로 미래지향적이고 곡선을 사용한 세련미 넘치는 디자인이 매력적이네요. 2019 재규어 i페이스의.." name="twitter:description"/>
<meta content="https://img1.daumcdn.net/thumb/R800x0/?scode=mtistory2&amp;fname=https%3A%2F%2Ft1.daumcdn.net%2Fcfile%2Ftistory%2F995F7A3E5AA950220F" property="twitter:image"/>
<meta content="https://motorlog.tistory.com/87" property="dg:plink"/>
<meta name="plink"/>
<meta content="2019 재규어 순수 전기차 i페이스 성능 가격 리뷰" name="title"/>
<meta content="모터로그" name="article:media_name"/>
<meta content="https://motorlog.tistory.com/m/87" property="article:mobile_url"/>
<meta content="https://motorlog.tistory.com/87" property="article:pc_url"/>
<meta content="https://motorlog.tistory.com/m/87" property="article:mobile_view_url"/>
<meta content="https://motorlog.tistory.com/87" property="article:pc_view_url"/>
<meta content="https://motorlog.tistory.com/m/87" property="article:talk_channel_view_url"/>
<meta content="https://www.tistory.com" property="article:pc_service_home"/>
<meta content="https://www.tistory.com/m" property="article:mobile_service_home"/>
<meta content="2850452_87" property="article:txid"/>
<meta content="2018-03-16T00:30:00+09:00" property="article:published_time"/>
<meta content="20180314114138" property="og:regDate"/>
<meta content="2018-03-16T00:30:36+09:00" property="article:modified_time"/>
<link href="https://t1.daumcdn.net/tistory_admin/lib/lightbox/css/lightbox.min.css" rel="stylesheet" type="text/css"/>
<link href="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/style/font.css" rel="stylesheet" type="text/css"/>
<link href="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/style/content.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript">(function() {
    var tjQuery = jQuery.noConflict(true);
    window.tjQuery = tjQuery;
    window.orgjQuery = window.jQuery; window.jQuery = tjQuery;
    window.jQuery = window.orgjQuery; delete window.orgjQuery;
})()</script>
<script src="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/script/base.js" type="text/javascript"></script>
<script type="text/javascript">if (!window.T) { window.T = {} }
window.T.config = {"TOP_SSL_URL":"https://www.tistory.com","PREVIEW":false,"ROLE":"guest","PREV_PAGE":"","NEXT_PAGE":"","BLOG":{"id":2850452,"name":"motorlog","title":"모터로그","isDormancy":false},"NEED_COMMENT_LOGIN":true,"COMMENT_LOGIN_CONFIRM_MESSAGE":"이 블로그는 로그인한 사용자에게만 댓글 작성을 허용했습니다. 지금 로그인하시겠습니까?","LOGIN_URL":"https://www.tistory.com/auth/login/?redirectUrl=https%3A%2F%2Fmotorlog.tistory.com%2F87","DEFAULT_URL":"https://motorlog.tistory.com","USER":{"name":null,"homepage":null},"SUBSCRIPTION":{"status":"none","isConnected":false,"isPending":false,"isWait":false,"isProcessing":false,"isNone":true},"IS_LOGIN":false,"HAS_BLOG":false,"TOP_URL":"http://www.tistory.com","JOIN_URL":"https://www.tistory.com/member/join","ROLE_GROUP":"visitor"};
window.appInfo = {"domain":"tistory.com","topUrl":"https://www.tistory.com","loginUrl":"https://www.tistory.com/auth/login","logoutUrl":"https://www.tistory.com/auth/logout"};
window.initData = {};

window.TistoryBlog = {
    basePath: "",
    url: "https://motorlog.tistory.com",
    tistoryUrl: "https://motorlog.tistory.com",
    manageUrl: "https://motorlog.tistory.com/manage",
    token: "dqLEK2I1GX1jgP+GA64TK2zfCg3VQQPcrSfSZTHDw84j+pL1y6BsYoukPh3UgZj2"
};
var servicePath = "";
var blogURL = "";</script>
<script src="//developers.kakao.com/sdk/js/kakao.min.js" type="text/javascript"></script>
<title>2019 재규어 순수 전기차 i페이스 성능 가격 리뷰 :: 모터로그</title>
<meta content="2019 재규어 순수 전기차 i페이스 성능 가격 리뷰 :: 모터로그" name="title"/>
<meta charset="utf-8"/>
<meta content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0" name="viewport"/>
<meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible"/>
<link href="https://motorlog.tistory.com/rss" rel="alternate" title="모터로그" type="application/rss+xml"/>
<link href="https://motorlog.tistory.com/favicon.ico" rel="shortcut icon"/>
<link href="https://tistory1.daumcdn.net/tistory/0/Square/style.css" rel="stylesheet"/>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet"/>
<!--[if IE 7]>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome-ie7.min.css">
<![endif]-->
<link href="https://tistory1.daumcdn.net/tistory/0/Square/images/jquery.mCustomScrollbar.min.css" rel="stylesheet"/>
<script>
//추가 단축키
var key = new Array();
key['w'] = "/admin/entry/post/";
key['e'] = "/admin/skin/edit/";
key['r'] = "/admin/plugin/refererUrlLog/";
key['h'] = "/";

function getKey(keyStroke) {
	if ((event.srcElement.tagName != 'INPUT') && (event.srcElement.tagName != 'TEXTAREA')){
		isNetscape=(document.layers);
		eventChooser = (isNetscape) ? keyStroke.which : event.keyCode;
		which = String.fromCharCode(eventChooser).toLowerCase();
		for (var i in key)
			if (which == i) window.location = key[i];
	}
}
document.onkeypress = getKey;
</script>
<style type="text/css">.another_category {
    border: 1px solid #E5E5E5;
    padding: 10px 10px 5px;
    margin: 10px 0;
    clear: both;
}

.another_category h4 {
    font-size: 12px !important;
    margin: 0 !important;
    border-bottom: 1px solid #E5E5E5 !important;
    padding: 2px 0 6px !important;
}

.another_category h4 a {
    font-weight: bold !important;
}

.another_category table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100% !important;
    margin-top: 10px !important;
}

* html .another_category table {
    width: auto !important;
}

*:first-child + html .another_category table {
    width: auto !important;
}

.another_category th, .another_category td {
    padding: 0 0 4px !important;
}

.another_category th {
    text-align: left;
    font-size: 12px !important;
    font-weight: normal;
    word-break: break-all;
    overflow: hidden;
    line-height: 1.5;
}

.another_category td {
    text-align: right;
    width: 80px;
    font-size: 11px;
}

.another_category th a {
    font-weight: normal;
    text-decoration: none;
    border: none !important;
}

.another_category th a.current {
    font-weight: bold;
    text-decoration: none !important;
    border-bottom: 1px solid !important;
}

.another_category th span {
    font-weight: normal;
    text-decoration: none;
    font: 10px Tahoma, Sans-serif;
    border: none !important;
}

.another_category_color_gray, .another_category_color_gray h4 {
    border-color: #E5E5E5 !important;
}

.another_category_color_gray * {
    color: #909090 !important;
}

.another_category_color_gray th a.current {
    border-color: #909090 !important;
}

.another_category_color_gray h4, .another_category_color_gray h4 a {
    color: #737373 !important;
}

.another_category_color_red, .another_category_color_red h4 {
    border-color: #F6D4D3 !important;
}

.another_category_color_red * {
    color: #E86869 !important;
}

.another_category_color_red th a.current {
    border-color: #E86869 !important;
}

.another_category_color_red h4, .another_category_color_red h4 a {
    color: #ED0908 !important;
}

.another_category_color_green, .another_category_color_green h4 {
    border-color: #CCE7C8 !important;
}

.another_category_color_green * {
    color: #64C05B !important;
}

.another_category_color_green th a.current {
    border-color: #64C05B !important;
}

.another_category_color_green h4, .another_category_color_green h4 a {
    color: #3EA731 !important;
}

.another_category_color_blue, .another_category_color_blue h4 {
    border-color: #C8DAF2 !important;
}

.another_category_color_blue * {
    color: #477FD6 !important;
}

.another_category_color_blue th a.current {
    border-color: #477FD6 !important;
}

.another_category_color_blue h4, .another_category_color_blue h4 a {
    color: #1960CA !important;
}

.another_category_color_violet, .another_category_color_violet h4 {
    border-color: #E1CEEC !important;
}

.another_category_color_violet * {
    color: #9D64C5 !important;
}

.another_category_color_violet th a.current {
    border-color: #9D64C5 !important;
}

.another_category_color_violet h4, .another_category_color_violet h4 a {
    color: #7E2CB5 !important;
}
</style>
<link href="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/style/dialog.css" rel="stylesheet" type="text/css">
<link href="//t1.daumcdn.net/tistory_admin/www/style/top/font.css" rel="stylesheet" type="text/css">
<link href="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/style/postBtn.css" rel="stylesheet" type="text/css"/>
<link href="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/style/tistory.css" rel="stylesheet" type="text/css"/>
<link href="https://motorlog.tistory.com/87" rel="canonical"/>
<!-- BEGIN STRUCTURED_DATA -->
<script type="application/ld+json">
    {"@context":"http://schema.org","@type":"BlogPosting","mainEntityOfPage":{"@id":"https://motorlog.tistory.com/87","name":null},"url":"https://motorlog.tistory.com/87","headline":"2019 재규어 순수 전기차 i페이스 성능 가격 리뷰","description":"2019 재규어 순수 전기차 i페이스 성능 가격 리뷰 재규어의 첫 번째 순수 전기차 i페이스가 공개가 되었는데요. 기존의 플랫폼에서 벗어나 전기차 전용 맞춤형 플랫폼을 사용하여 제작되었다고 해요. 차량의 크기는 전장 4682mm, 전폭 2139mm, 전고 1565mm, 휠베이스 2990mm의 크기를 가지고 있는데요. 이는 재규어 E페이스보다는 길지만, F페이스보다는 조금 짧은 크기로 중간에 있다고 보시면 되겠네요. 재규어 i페이스의 디자인을 간단하게 살펴보면, F페이스와 비슷한 느낌을 주고 있어요. 후드 라인을 훤히 드러내고 숄더 라인을 추어올려서 자신감이 넘치고 카리스마 있는 모습을 보여주고 있어요. 전체적으로 미래지향적이고 곡선을 사용한 세련미 넘치는 디자인이 매력적이네요. 2019 재규어 i페이스의..","author":{"@type":"Person","name":"YUPPIE","logo":null},"image":{"@type":"ImageObject","url":"https://img1.daumcdn.net/thumb/R800x0/?scode=mtistory2&fname=https%3A%2F%2Ft1.daumcdn.net%2Fcfile%2Ftistory%2F995F7A3E5AA950220F","width":"800px","height":"800px"},"datePublished":"20180316T00:30:00","dateModified":"20180316T00:30:36","publisher":{"@type":"Organization","name":"TISTORY","logo":{"@type":"ImageObject","url":"https://t1.daumcdn.net/tistory_admin/static/images/openGraph/opengraph.png","width":"800px","height":"800px"}}}
</script>
<!-- END STRUCTURED_DATA -->
<script src="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/script/common.js" type="text/javascript"></script>
</link></link></meta></meta></head>
<body id="tt-body-page">
<div id="wrap">
<div id="sidebar">
<div class="blank"></div>
<h1><a href="https://motorlog.tistory.com/">모터로그</a></h1>
<div class="widget category"> <!-- Category -->
<ul class="tt_category"><li class=""><a class="link_tit" href="/category"> 모터로그 <span class="c_cnt">(735)</span> </a>
<ul class="category_list"><li class=""><a class="link_item" href="/category/%EA%B5%AD%EC%82%B0%EC%B0%A8"> 국산차 <span class="c_cnt">(442)</span> </a></li>
<li class=""><a class="link_item" href="/category/%EC%88%98%EC%9E%85%EC%B0%A8"> 수입차 <span class="c_cnt">(209)</span> </a></li>
<li class=""><a class="link_item" href="/category/%EC%BD%98%EC%85%89%ED%8A%B8%E3%85%A3%EB%A0%8C%EB%8D%94%EB%A7%81"> 콘셉트ㅣ렌더링 <span class="c_cnt">(78)</span> </a></li>
<li class=""><a class="link_item" href="/category/%EC%9E%90%EC%9C%A0%EA%B2%8C%EC%8B%9C%ED%8C%90"> 자유게시판 <span class="c_cnt">(5)</span> </a></li>
</ul>
</li>
</ul>
</div>
<div class="widget"> <!-- Blog Menu -->
<ul></ul>
</div>
<!-- Notice -->
<div class="widget">
<ul>
</ul>
</div>
<div class="widget"> <!-- Recent Comments -->
<ul id="recentComments">
<li><a href="/736#comment13346014" title="Sp-ready〃10.05">[승인대기]</a></li><li><a href="/603#comment12122404" title="lIlIlllIllI〃2020">와 정말 요즘은 예상도가 나날이 발전하는 것 같습니다. 멋진 포스팅 잘봤⋯</a></li><li><a href="/106#comment11322225" title="YUPPIE〃2018">감사합니당^^</a></li><li><a href="/106#comment11189774" title="비회원〃2018">잘읽고 갑니다. ^^</a></li>
</ul>
</div>
<!-- Links -->
<div class="widget">
<ul>
</ul>
</div>
<!-- Counter -->
<div class="widget counter text-center">
<span class="yesterday">397</span> /
				<span class="today">18</span> /
				<span class="total">2,343,444</span>
</div>
<!-- Search -->
<div class="widget search text-center">
<label class="screen_out" for="search">블로그 내 검색</label>
<input class="search" id="search" name="search" onkeypress="if (event.keyCode == 13) { try {
    window.location.href = '/search' + '/' + looseURIEncode(document.getElementsByName('search')[0].value);
    document.getElementsByName('search')[0].value = '';
    return false;
} catch (e) {} }" placeholder="press enter to search…" type="text" value=""/>
</div>
<div class="blank"></div>
</div>
<div id="content">
<div id="content-inner">
<div id="head">
<h2><a href="/87">2019 재규어 순수 전기차 i페이스 성능 가격 리뷰</a></h2>
<div class="date">2018. 3. 16. 00:30</div>
</div>
<div class="entry" id="body">
<div class="tag_label">
<span><a href="/tag/2019%EC%9E%AC%EA%B7%9C%EC%96%B4i%ED%8E%98%EC%9D%B4%EC%8A%A4" rel="tag">2019재규어i페이스</a>, <a href="/tag/i%ED%8E%98%EC%9D%B4%EC%8A%A4" rel="tag">i페이스</a>, <a href="/tag/i%ED%8E%98%EC%9D%B4%EC%8A%A4%EA%B0%80%EA%B2%A9" rel="tag">i페이스가격</a>, <a href="/tag/%EC%9E%AC%EA%B7%9C%EC%96%B4%EC%A0%84%EA%B8%B0%EC%B0%A8" rel="tag">재규어전기차</a></span>
<div class="clear"></div>
</div>
<div class="article">
<!-- GoogleAdsenseForResponsive - START -->
<div class="tt_adsense_top" style="margin-bottom:30px;"><script async="" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 반응형 광고 최신용 -->
<ins class="adsbygoogle" data-ad-client="ca-pub-2367911796824036" data-ad-format="auto" data-ad-slot="2104073255" data-full-width-responsive="true" style="display:block"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script></div>
<!-- GoogleAdsenseForResponsive - END -->
<!-- System - START -->
<!-- System - END -->
<div class="contents_style"><div style="text-align: center;"><p><b>2019 재규어 순수 전기차 i페이스 성능 가격 리뷰</b><br/>재규어의 첫 번째 순수 전기차 i페이스가 공개가 되었는데요. 기존의 플랫폼에서 벗어나 전기차 전용 맞춤형 플랫폼을 사용하여 제작되었다고 해요.<br/></p><p style="text-align: center; clear: none; float: none;"><span class="imageblock" style="display: inline-block; width: 683px;  height: auto; max-width: 100%;"><img filemime="image/jpeg" filename="1.png" height="425" src="https://t1.daumcdn.net/cfile/tistory/99FE47395AA94FBC0F" srcset="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&amp;fname=https%3A%2F%2Ft1.daumcdn.net%2Fcfile%2Ftistory%2F99FE47395AA94FBC0F" style="max-width: 100%; height: auto;" width="683"/></span><span style="text-align: left;"></span></p><p>차량의 크기는 전장 4682mm, 전폭 2139mm, 전고 1565mm, 휠베이스 2990mm의 크기를 가지고 있는데요. 이는 재규어 E페이스보다는 길지만, F페이스보다는 조금 짧은 크기로 중간에 있다고 보시면 되겠네요. <br/></p><p></p><center>
<script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 반응형광고 -->
<ins class="adsbygoogle" data-ad-client="ca-pub-2367911796824036" data-ad-format="auto" data-ad-slot="5391304356" style="display:block"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script><p></p>

In [ ]:
n1ss_2019 = soup.select_one('p > b').text
n1ss_2019 = re.sub('2019', '', n1ss_2019) # 2019 제거
n1ss_2019 = re.sub('재규어', '', n1ss_2019)
n1ss_2019 = re.sub('순수', '', n1ss_2019)
n1ss_2019 = re.sub('전기차', '', n1ss_2019)
n1ss_2019 = re.sub('성능', '', n1ss_2019)
n1ss_2019 = re.sub('가격', '', n1ss_2019)
n1ss_2019 = re.sub('리뷰', '', n1ss_2019)
n1ss_2019 = n1ss_2019.strip() # 양쪽 공백 제거

name3_2019 = n1ss_2019

In [ ]:
korean = re.compile('[\u3131-\u3163\uac00-\ud7a3]+')

p1ss_2019 = soup.select_one(' p:nth-of-type(30)').text
p1ss_2019 = re.sub(korean, '', p1ss_2019) # 한글 제거
p1ss_2019 = re.sub('2019', '', p1ss_2019) # 2019 제거
p1ss_2019 = re.sub('i', '', p1ss_2019) 
p1ss_2019 = re.sub('6', '', p1ss_2019) 
p1ss_2019 = re.sub('3485', '', p1ss_2019) 
p1ss_2019 = re.sub(r"[.]", "", p1ss_2019)
p1ss_2019 = re.sub(',', '', p1ss_2019) 
p1ss_2019 = re.sub(' ', '', p1ss_2019) # 모든 공백 제거
p1ss_2019 = p1ss_2019[2:6]

price3_2019 = p1ss_2019

In [ ]:
import pandas as pd

data1_2019 = {'회사': brand1_2019, '이름': name1_2019, '가격': price1_2019}
data2_2019 = {'회사': brand2_2019, '이름': name2_2019, '가격': price2_2019}

df1_2019 = pd.DataFrame(data1_2019)
df2_2019 = pd.DataFrame(data2_2019)

brand3_2019 = '재규어'

data3_2019 = {'회사': brand3_2019, '이름': name3_2019, '가격': price3_2019}

df3_2019 = pd.DataFrame(data3_2019, index = ['0'])

df4_2019 = pd.concat([df1_2019, df2_2019, df3_2019], axis = 0) # 데이터프레임 합치기
df4_2019

    회사          이름           가격
0   현대    [코나 일렉트릭    4650~4850
1   기아   쏘울 부스터 EV    4630~4830
2   기아       니로 EV    4780~4980
3   현대   아이오닉 일렉트릭    4140~4440
4   르노    SM3 Z.E]    3700~3900
0   현대       코나 EV  4600 ~ 4800
1  쉐보레       볼트 EV  4600 ~ 4780
2   기아       소울 EV         4280
0  재규어        i페이스         9500

In [ ]:
df5_2019 = df4_2019['가격'].str.split('~') # 최저가와 최고가 분리
df5_2019

0      [4650, 4850]
1      [4630, 4830]
2      [4780, 4980]
3      [4140, 4440]
4      [3700, 3900]
0    [4600 ,  4800]
1    [4600 ,  4780]
2            [4280]
0            [9500]
Name: 가격, dtype: object

In [ ]:
df5_2019 = df5_2019.apply(lambda x: pd.Series(x)) # 시리즈를 데이터프레임으로 변환
df5_2019

       0      1
0   4650   4850
1   4630   4830
2   4780   4980
3   4140   4440
4   3700   3900
0  4600    4800
1  4600    4780
2   4280    NaN
0   9500    NaN

In [ ]:
df5_2019.columns = ['최저가', '최고가'] # 열 이름 모두 변경
df5_2019

     최저가    최고가
0   4650   4850
1   4630   4830
2   4780   4980
3   4140   4440
4   3700   3900
0  4600    4800
1  4600    4780
2   4280    NaN
0   9500    NaN

In [ ]:
df5_2019['최저가'] = df5_2019['최저가'].astype('float') # 문자열을 float으로 변환
df5_2019['최고가'] = df5_2019['최고가'].astype('float') # 문자열을 float으로 변환

df5_2019.dtypes # 확인

최저가    float64
최고가    float64
dtype: object

In [ ]:
df5_2019['평균 가격'] = df5_2019.mean(axis = 1)
df5_2019

      최저가     최고가   평균 가격
0  4650.0  4850.0  4750.0
1  4630.0  4830.0  4730.0
2  4780.0  4980.0  4880.0
3  4140.0  4440.0  4290.0
4  3700.0  3900.0  3800.0
0  4600.0  4800.0  4700.0
1  4600.0  4780.0  4690.0
2  4280.0     NaN  4280.0
0  9500.0     NaN  9500.0

In [ ]:
df6_2019 = pd.concat([df4_2019, df5_2019], axis = 1) # 데이터프레임 합치기
df6_2019

    회사          이름           가격     최저가     최고가   평균 가격
0   현대    [코나 일렉트릭    4650~4850  4650.0  4850.0  4750.0
1   기아   쏘울 부스터 EV    4630~4830  4630.0  4830.0  4730.0
2   기아       니로 EV    4780~4980  4780.0  4980.0  4880.0
3   현대   아이오닉 일렉트릭    4140~4440  4140.0  4440.0  4290.0
4   르노    SM3 Z.E]    3700~3900  3700.0  3900.0  3800.0
0   현대       코나 EV  4600 ~ 4800  4600.0  4800.0  4700.0
1  쉐보레       볼트 EV  4600 ~ 4780  4600.0  4780.0  4690.0
2   기아       소울 EV         4280  4280.0     NaN  4280.0
0  재규어        i페이스         9500  9500.0     NaN  9500.0

In [ ]:
df7_2019 = df6_2019.drop(['가격', '최저가', '최고가'], axis = 1) # 가격, 최저가, 최고가 제거
df7_2019

    회사          이름   평균 가격
0   현대    [코나 일렉트릭  4750.0
1   기아   쏘울 부스터 EV  4730.0
2   기아       니로 EV  4880.0
3   현대   아이오닉 일렉트릭  4290.0
4   르노    SM3 Z.E]  3800.0
0   현대       코나 EV  4700.0
1  쉐보레       볼트 EV  4690.0
2   기아       소울 EV  4280.0
0  재규어        i페이스  9500.0

In [ ]:
df7_2019.rename(columns = {'평균 가격': '가격(만 원)'}, inplace = True) # 열 이름 하나 선택해서 변경
df7_2019.loc[0, '이름'] = '코나 일렉트릭'
df7_2019.loc[4, '이름'] = 'SM3 Z.E'

df7_2019

    회사          이름  가격(만 원)
0   현대     코나 일렉트릭   4750.0
1   기아   쏘울 부스터 EV   4730.0
2   기아       니로 EV   4880.0
3   현대   아이오닉 일렉트릭   4290.0
4   르노     SM3 Z.E   3800.0
0   현대     코나 일렉트릭   4700.0
1  쉐보레       볼트 EV   4690.0
2   기아       소울 EV   4280.0
0  재규어        i페이스   9500.0

In [ ]:
df7_2019.insert(0, '연도', ['2019', '2019', '2019', '2019', '2019', '2019', '2019', '2019', '2019']) # 연도 삽입
df7_2019

     연도   회사          이름  가격(만 원)
0  2019   현대     코나 일렉트릭   4750.0
1  2019   기아   쏘울 부스터 EV   4730.0
2  2019   기아       니로 EV   4880.0
3  2019   현대   아이오닉 일렉트릭   4290.0
4  2019   르노     SM3 Z.E   3800.0
0  2019   현대     코나 일렉트릭   4700.0
1  2019  쉐보레       볼트 EV   4690.0
2  2019   기아       소울 EV   4280.0
0  2019  재규어        i페이스   9500.0

In [ ]:
df_2019 = df7_2019.reset_index(drop = True) # 인덱스 재배열
df_2019

     연도   회사          이름  가격(만 원)
0  2019   현대     코나 일렉트릭   4750.0
1  2019   기아   쏘울 부스터 EV   4730.0
2  2019   기아       니로 EV   4880.0
3  2019   현대   아이오닉 일렉트릭   4290.0
4  2019   르노     SM3 Z.E   3800.0
5  2019   현대     코나 일렉트릭   4700.0
6  2019  쉐보레       볼트 EV   4690.0
7  2019   기아       소울 EV   4280.0
8  2019  재규어        i페이스   9500.0

In [ ]:
# 전기차 2019년 전처리

df_2019.isnull() # 결측치 전체 확인

      연도     회사     이름  가격(만 원)
0  False  False  False    False
1  False  False  False    False
2  False  False  False    False
3  False  False  False    False
4  False  False  False    False
5  False  False  False    False
6  False  False  False    False
7  False  False  False    False
8  False  False  False    False

# 전기차 2020년

In [ ]:
import requests
from bs4 import BeautifulSoup

url = "https://7178.tistory.com/229"

res = requests.get(url)
page = res.content

soup = BeautifulSoup(page, 'html.parser')
soup

<!DOCTYPE doctype html>

<html class="no-js" lang="ko">
<head>
<!-- BusinessLicenseInfo - START -->
<link href="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/plugin/BusinessLicenseInfo/style.css" rel="stylesheet" type="text/css"/>
<script>function switchFold(entryId) {
    var businessLayer = document.getElementById("businessInfoLayer_" + entryId);

    if (businessLayer) {
        if (businessLayer.className.indexOf("unfold_license") > 0) {
            businessLayer.className = "business_license_layer";
        } else {
            businessLayer.className = "business_license_layer unfold_license";
        }
    }
}
</script>
<!-- BusinessLicenseInfo - END -->
<!-- DaumShow - START -->
<style type="text/css">#daumSearchBox {
    height: 21px;
    background-image: url(//i1.daumcdn.net/imgsrc.search/search_all/show/tistory/plugin/bg_search2_2.gif);
    margin: 5px auto;
    padding: 0;
}

#daumSearchBox input {
    background: none;
    margin: 0;
    padding: 0;
    border: 0;
}

#daumSearchBox #daumLogo {
    width: 34px;
    height: 21px;
    float: left;
    margin-right: 5px;
    background-image: url(//i1.daumcdn.net/img-media/tistory/img/bg_search1_2_2010ci.gif);
}

#daumSearchBox #show_q {
    background-color: transparent;
    border: none;
    font: 12px Gulim, Sans-serif;
    color: #555;
    margin-top: 4px;
    margin-right: 15px;
    float: left;
}

#daumSearchBox #show_btn {
    background-image: url(//i1.daumcdn.net/imgsrc.search/search_all/show/tistory/plugin/bt_search_2.gif);
    width: 37px;
    height: 21px;
    float: left;
    margin: 0;
    cursor: pointer;
    text-indent: -1000em;
}
</style>
<!-- DaumShow - END -->
<!-- System - START -->
<!-- System - END -->
<!-- TistoryProfileLayer - START -->
<link href="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/plugin/TistoryProfileLayer/style.css" rel="stylesheet" type="text/css"/>
<script src="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/plugin/TistoryProfileLayer/script.js" type="text/javascript"></script>
<!-- TistoryProfileLayer - END -->
<meta content="IE=Edge" http-equiv="X-UA-Compatible"/>
<meta content="telephone=no" name="format-detection"/>
<script crossorigin="anonymous" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" src="//t1.daumcdn.net/tistory_admin/lib/jquery/jquery-3.5.1.min.js"></script>
<script defer="" src="//t1.daumcdn.net/tistory_admin/lib/lightbox/js/lightbox-v2.10.0.min.js"></script>
<script src="//t1.daumcdn.net/tiara/js/v1/tiara.min.js" type="text/javascript"></script><meta content="always" name="referrer">
<meta content="ca-host-pub-9691043933427338" name="google-adsense-platform-account">
<meta content="tistory.com" name="google-adsense-platform-domain"/>
<meta content="재미삼아 현재 국내에서 판매되고 있는 국산/수입 전기차의 종류와 가격을 대략적으로 정리해보겠습니다. 종류는 브랜드 별로 정리하고 가격은 대부분 세제혜택만 적용하고 정부보조금은 적용하기 전 가격(옵션제외)입니다. 또 플러그인 하이브리드차와 수소차는 제외하고 순수 전기차만 정리했습니다. 각 브랜드 사이트 정보를 기반으로 했지만 틀린 정보도 있을 수 있으니 참고만 해주시면 좋을 것 같습니다. 1. 현대자동차 전기차 아이오닉 일렉트릭 가격 : 41,400,000원~44,400,000원 현대의 친환경 라인업인 아이오닉의 전기차 버전입니다. 현재 2020년 모델은 1회충전으로 271km의 주행이 가능합니다. 현대는 아이오닉을 장차 전기차의 새로운 브랜드로까지 키울려고 하는데요. 내년에는 주행거리가 거의 2배인 아이.." name="description"/>
<meta content="article" property="og:type"/>
<meta content="https://7178.tistory.com/229" property="og:url"/>
<meta content="이름없는풀잎처럼" property="og.article.author"/>
<meta content="다이어리" property="og:site_name"/>
<meta content="국산/수입 전기차 종류와 가격 총정리 (2020년)" property="og:title"/>
<meta content="이름없는풀잎처럼" name="by"/>
<meta content="재미삼아 현재 국내에서 판매되고 있는 국산/수입 전기차의 종류와 가격을 대략적으로 정리해보겠습니다. 종류는 브랜드 별로 정리하고 가격은 대부분 세제혜택만 적용하고 정부보조금은 적용하기 전 가격(옵션제외)입니다. 또 플러그인 하이브리드차와 수소차는 제외하고 순수 전기차만 정리했습니다. 각 브랜드 사이트 정보를 기반으로 했지만 틀린 정보도 있을 수 있으니 참고만 해주시면 좋을 것 같습니다. 1. 현대자동차 전기차 아이오닉 일렉트릭 가격 : 41,400,000원~44,400,000원 현대의 친환경 라인업인 아이오닉의 전기차 버전입니다. 현재 2020년 모델은 1회충전으로 271km의 주행이 가능합니다. 현대는 아이오닉을 장차 전기차의 새로운 브랜드로까지 키울려고 하는데요. 내년에는 주행거리가 거의 2배인 아이.." property="og:description"/>
<meta content="https://img1.daumcdn.net/thumb/R800x0/?scode=mtistory2&amp;fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FdLSG2L%2FbtqK70gEbTt%2FFn3dbGMWxvznexr7F90ty1%2Fimg.jpg" property="og:image"/>
<meta content="'자동차'" property="article:section"/>
<meta content="summary_large_image" name="twitter:card"/>
<meta content="@TISTORY" name="twitter:site"/>
<meta content="국산/수입 전기차 종류와 가격 총정리 (2020년)" name="twitter:title"/>
<meta content="재미삼아 현재 국내에서 판매되고 있는 국산/수입 전기차의 종류와 가격을 대략적으로 정리해보겠습니다. 종류는 브랜드 별로 정리하고 가격은 대부분 세제혜택만 적용하고 정부보조금은 적용하기 전 가격(옵션제외)입니다. 또 플러그인 하이브리드차와 수소차는 제외하고 순수 전기차만 정리했습니다. 각 브랜드 사이트 정보를 기반으로 했지만 틀린 정보도 있을 수 있으니 참고만 해주시면 좋을 것 같습니다. 1. 현대자동차 전기차 아이오닉 일렉트릭 가격 : 41,400,000원~44,400,000원 현대의 친환경 라인업인 아이오닉의 전기차 버전입니다. 현재 2020년 모델은 1회충전으로 271km의 주행이 가능합니다. 현대는 아이오닉을 장차 전기차의 새로운 브랜드로까지 키울려고 하는데요. 내년에는 주행거리가 거의 2배인 아이.." name="twitter:description"/>
<meta content="https://img1.daumcdn.net/thumb/R800x0/?scode=mtistory2&amp;fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FdLSG2L%2FbtqK70gEbTt%2FFn3dbGMWxvznexr7F90ty1%2Fimg.jpg" property="twitter:image"/>
<meta content="https://7178.tistory.com/229" property="dg:plink"/>
<meta name="plink"/>
<meta content="국산/수입 전기차 종류와 가격 총정리 (2020년)" name="title"/>
<meta content="다이어리" name="article:media_name"/>
<meta content="https://7178.tistory.com/m/229" property="article:mobile_url"/>
<meta content="https://7178.tistory.com/229" property="article:pc_url"/>
<meta content="https://7178.tistory.com/m/229" property="article:mobile_view_url"/>
<meta content="https://7178.tistory.com/229" property="article:pc_view_url"/>
<meta content="https://7178.tistory.com/m/229" property="article:talk_channel_view_url"/>
<meta content="https://www.tistory.com" property="article:pc_service_home"/>
<meta content="https://www.tistory.com/m" property="article:mobile_service_home"/>
<meta content="3012082_229" property="article:txid"/>
<meta content="2020-10-17T22:28:00+09:00" property="article:published_time"/>
<meta content="20201017102800" property="og:regDate"/>
<meta content="2020-10-17T22:28:00+09:00" property="article:modified_time"/>
<link href="https://t1.daumcdn.net/tistory_admin/lib/lightbox/css/lightbox.min.css" rel="stylesheet" type="text/css"/>
<link href="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/style/font.css" rel="stylesheet" type="text/css"/>
<link href="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/style/content.css" rel="stylesheet" type="text/css"/>
<link href="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/style/uselessPMargin.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript">(function() {
    var tjQuery = jQuery.noConflict(true);
    window.tjQuery = tjQuery;
    window.orgjQuery = window.jQuery; window.jQuery = tjQuery;
    window.jQuery = window.orgjQuery; delete window.orgjQuery;
})()</script>
<script src="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/script/base.js" type="text/javascript"></script>
<script type="text/javascript">if (!window.T) { window.T = {} }
window.T.config = {"TOP_SSL_URL":"https://www.tistory.com","PREVIEW":false,"ROLE":"guest","PREV_PAGE":"","NEXT_PAGE":"","BLOG":{"id":3012082,"name":"7178","title":"다이어리","isDormancy":false},"NEED_COMMENT_LOGIN":false,"COMMENT_LOGIN_CONFIRM_MESSAGE":"","LOGIN_URL":"https://www.tistory.com/auth/login/?redirectUrl=https%3A%2F%2F7178.tistory.com%2F229","DEFAULT_URL":"https://7178.tistory.com","USER":{"name":null,"homepage":null},"SUBSCRIPTION":{"status":"none","isConnected":false,"isPending":false,"isWait":false,"isProcessing":false,"isNone":true},"IS_LOGIN":false,"HAS_BLOG":false,"TOP_URL":"http://www.tistory.com","JOIN_URL":"https://www.tistory.com/member/join","ROLE_GROUP":"visitor"};
window.appInfo = {"domain":"tistory.com","topUrl":"https://www.tistory.com","loginUrl":"https://www.tistory.com/auth/login","logoutUrl":"https://www.tistory.com/auth/logout"};
window.initData = {};

window.TistoryBlog = {
    basePath: "",
    url: "https://7178.tistory.com",
    tistoryUrl: "https://7178.tistory.com",
    manageUrl: "https://7178.tistory.com/manage",
    token: "GgItfc/Xsqr1lIy6YGeQWjez6yxtpYNmR82p+vihhwCamPYSyXl9/FSFtGVfvofQ"
};
var servicePath = "";
var blogURL = "";</script>
<script src="//developers.kakao.com/sdk/js/kakao.min.js" type="text/javascript"></script>
<meta content="7937a2ed758bdfb96d8979acfb7da1287698c887" name="naver-site-verification"/>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-131744536-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-131744536-2');
</script>
<script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-2440879963532179",
          enable_page_level_ads: true
     });
</script>
<meta content="E0gIqnQdlxyLIF3j5WHI_gSfqDihjou74_SbvKrC0S8" name="google-site-verification"/>
<meta content="422e92f33639a228c3b850a19485ff587b1cc907" name="naver-site-verification"/>
<meta charset="utf-8"/>
<title>국산/수입 전기차 종류와 가격 총정리 (2020년) :: 다이어리</title>
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0" name="viewport"/>
<meta content="이름없는풀잎처럼" name="author"/>
<link href="https://7178.tistory.com/favicon.ico" rel="shortcut icon"/>
<link href="https://7178.tistory.com/rss" rel="alternate" title="다이어리" type="application/rss+xml"/>
<link href="https://tistory1.daumcdn.net/tistory/3012082/skin/images/reset.css?_version_=1605883199" rel="stylesheet"/>
<link href="https://tistory1.daumcdn.net/tistory/3012082/skin/style.css?_version_=1605883199" rel="stylesheet"/>
<!--[if gte IE 9]><!-->
<link href="https://tistory1.daumcdn.net/tistory/3012082/skin/images/fonts.css?_version_=1605883199" rel="stylesheet"/>
<!--<![endif]-->
<script src="https://tistory1.daumcdn.net/tistory/3012082/skin/images/modernizr.min.js?_version_=1605883199"></script>
<!--[if lt IE 9]>
 		<link rel="stylesheet" href="./images/old.css" >
		<script src="./images/html5shiv.min.js">
 	<![endif]-->
<style type="text/css">.another_category {
    border: 1px solid #E5E5E5;
    padding: 10px 10px 5px;
    margin: 10px 0;
    clear: both;
}

.another_category h4 {
    font-size: 12px !important;
    margin: 0 !important;
    border-bottom: 1px solid #E5E5E5 !important;
    padding: 2px 0 6px !important;
}

.another_category h4 a {
    font-weight: bold !important;
}

.another_category table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100% !important;
    margin-top: 10px !important;
}

* html .another_category table {
    width: auto !important;
}

*:first-child + html .another_category table {
    width: auto !important;
}

.another_category th, .another_category td {
    padding: 0 0 4px !important;
}

.another_category th {
    text-align: left;
    font-size: 12px !important;
    font-weight: normal;
    word-break: break-all;
    overflow: hidden;
    line-height: 1.5;
}

.another_category td {
    text-align: right;
    width: 80px;
    font-size: 11px;
}

.another_category th a {
    font-weight: normal;
    text-decoration: none;
    border: none !important;
}

.another_category th a.current {
    font-weight: bold;
    text-decoration: none !important;
    border-bottom: 1px solid !important;
}

.another_category th span {
    font-weight: normal;
    text-decoration: none;
    font: 10px Tahoma, Sans-serif;
    border: none !important;
}

.another_category_color_gray, .another_category_color_gray h4 {
    border-color: #E5E5E5 !important;
}

.another_category_color_gray * {
    color: #909090 !important;
}

.another_category_color_gray th a.current {
    border-color: #909090 !important;
}

.another_category_color_gray h4, .another_category_color_gray h4 a {
    color: #737373 !important;
}

.another_category_color_red, .another_category_color_red h4 {
    border-color: #F6D4D3 !important;
}

.another_category_color_red * {
    color: #E86869 !important;
}

.another_category_color_red th a.current {
    border-color: #E86869 !important;
}

.another_category_color_red h4, .another_category_color_red h4 a {
    color: #ED0908 !important;
}

.another_category_color_green, .another_category_color_green h4 {
    border-color: #CCE7C8 !important;
}

.another_category_color_green * {
    color: #64C05B !important;
}

.another_category_color_green th a.current {
    border-color: #64C05B !important;
}

.another_category_color_green h4, .another_category_color_green h4 a {
    color: #3EA731 !important;
}

.another_category_color_blue, .another_category_color_blue h4 {
    border-color: #C8DAF2 !important;
}

.another_category_color_blue * {
    color: #477FD6 !important;
}

.another_category_color_blue th a.current {
    border-color: #477FD6 !important;
}

.another_category_color_blue h4, .another_category_color_blue h4 a {
    color: #1960CA !important;
}

.another_category_color_violet, .another_category_color_violet h4 {
    border-color: #E1CEEC !important;
}

.another_category_color_violet * {
    color: #9D64C5 !important;
}

.another_category_color_violet th a.current {
    border-color: #9D64C5 !important;
}

.another_category_color_violet h4, .another_category_color_violet h4 a {
    color: #7E2CB5 !important;
}
</style>
<link href="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/style/dialog.css" rel="stylesheet" type="text/css">
<link href="//t1.daumcdn.net/tistory_admin/www/style/top/font.css" rel="stylesheet" type="text/css">
<link href="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/style/postBtn.css" rel="stylesheet" type="text/css">
<link href="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/style/tistory.css" rel="stylesheet" type="text/css">
<link href="https://7178.tistory.com/229" rel="canonical"/>
<!-- BEGIN STRUCTURED_DATA -->
<script type="application/ld+json">
    {"@context":"http://schema.org","@type":"BlogPosting","mainEntityOfPage":{"@id":"https://7178.tistory.com/229","name":null},"url":"https://7178.tistory.com/229","headline":"국산/수입 전기차 종류와 가격 총정리 (2020년)","description":"재미삼아 현재 국내에서 판매되고 있는 국산/수입 전기차의 종류와 가격을 대략적으로 정리해보겠습니다. 종류는 브랜드 별로 정리하고 가격은 대부분 세제혜택만 적용하고 정부보조금은 적용하기 전 가격(옵션제외)입니다. 또 플러그인 하이브리드차와 수소차는 제외하고 순수 전기차만 정리했습니다. 각 브랜드 사이트 정보를 기반으로 했지만 틀린 정보도 있을 수 있으니 참고만 해주시면 좋을 것 같습니다. 1. 현대자동차 전기차 아이오닉 일렉트릭 가격 : 41,400,000원~44,400,000원 현대의 친환경 라인업인 아이오닉의 전기차 버전입니다. 현재 2020년 모델은 1회충전으로 271km의 주행이 가능합니다. 현대는 아이오닉을 장차 전기차의 새로운 브랜드로까지 키울려고 하는데요. 내년에는 주행거리가 거의 2배인 아이..","author":{"@type":"Person","name":"이름없는풀잎처럼","logo":null},"image":{"@type":"ImageObject","url":"https://img1.daumcdn.net/thumb/R800x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FdLSG2L%2FbtqK70gEbTt%2FFn3dbGMWxvznexr7F90ty1%2Fimg.jpg","width":"800px","height":"800px"},"datePublished":"20201017T22:28:00","dateModified":"20201017T22:28:00","publisher":{"@type":"Organization","name":"TISTORY","logo":{"@type":"ImageObject","url":"https://t1.daumcdn.net/tistory_admin/static/images/openGraph/opengraph.png","width":"800px","height":"800px"}}}
</script>
<!-- END STRUCTURED_DATA -->
<script src="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/script/common.js" type="text/javascript"></script>
</link></link></link></link></meta></meta></head>
<body class="loading" id="tt-body-page">
<div class="skip-content lts-narrow">
<a accesskey="s" class="sr-only focusable" href="#content">본문으로 바로가기</a>
</div>
<div id="wrap">
<!-- site-header  { -->
<header class="nav-down clearfix" id="site-header" role="banner">
<div class="header-left">
<h1 class="brand"><a href="https://7178.tistory.com/">다이어리</a></h1>
<a aria-expanded="false" aria-haspopup="true" href="#expand-wrap" id="call-exmenu">
<div class="icon-navbar visible-xs visible-sm">
<span class="icon-bar"></span>
</div>
<div class="breadcrumb fouc hidden-xs">
<span class="sr-only">현재위치 :: </span>
<span class="bread bread-home">HOME</span>
<span class="bread bread-page">BLOG</span>
<span class="bread bread-cate">CATEGORY</span>
<span class="bread bread-search">SEARCH</span>
<span class="bread bread-archive">ARCHIVE</span>
<span class="bread bread-tag">TAGS</span>
<span class="bread bread-media">MEDIA</span>
<span class="bread bread-location">LOCATION</span>
<span class="bread bread-guest">GUESTBOOK</span>
<i class="icon icon-angle-down"></i>
</div>
</a>
<a alt="rss등록" class="rss hidden-xs" href="https://7178.tistory.com/rss"><i class="icon icon-rss"></i></a>
</div>
<div class="header-right">
<nav class="nav-wrap lts-narrow visible-md visible-lg">
<h2 class="sr-only">네비게이션</h2>
<div class="" id="tt-menu">
<ul>
<li class="t_menu_home first"><a href="/" target="">홈</a></li>
<li class="t_menu_tag"><a href="/tag" target="">태그</a></li>
<li class="t_menu_guestbook last"><a href="/guestbook" target="">방명록</a></li>
</ul>
</div>
<div class="admin-menu dropdown">
<a aria-expanded="false" aria-haspopup="true" class="lts-narrow" data-toggle="dropdown" href="#" id="call-admin">관리자 <i class="icon icon-angle-down"></i></a>
<ul aria-labelledby="call-admin" class="dropdown-menu dropdown-menu-right">
<li>
<div class="media">
<div class="media-left media-middle blogger-photo">
<img alt="블로그 이미지" src="https://t1.daumcdn.net/tistory_admin/static/manage/images/r3/default_L.png"/>
</div>
<div class="media-body">
<div class="media-heading blogger-name lts-narrow">이름없는풀잎처럼</div>
<p class="blogger-desc lts-narrow ie-dotum"></p>
<a class="link-add ie-dotum" href="https://7178.tistory.com/toolbar/popup/link/">링크추가</a>
</div>
</div>
</li>
<li class="link-blogger"><i class="icon icon-pen"></i><a href="https://7178.tistory.com/manage/entry/post" tabindex="-1">글쓰기</a></li>
<li class="link-blogger"><i class="icon icon-cog"></i> <a href="https://7178.tistory.com/manage" tabindex="-1">환경설정</a></li>
<li class="last link-blogger admin-login"><i class="icon icon-enter"></i> <a href="https://www.tistory.com/login" tabindex="-1">로그인</a></li>
<li class="last link-blogger admin-logout"><i class="icon icon-exit"></i> <a href="https://www.tistory.com/logout" tabindex="-1">로그아웃</a></li>
<li class="link-close"><a class="dropdown-close" href="#" title="닫기"><span class="close-bar inline-block"></span></a></li>
</ul>
</div>
</nav>
<a aria-expanded="false" aria-haspopup="true" href="#tt-search" id="call-search"><i aria-label="검색호출" class="icon icon-magnifier"></i></a>
</div>
</header>
<!-- } site-header -->
<!-- Main { -->
<main id="main" role="main">
<div class="clearfix" id="main-inner">
<!-- content { -->
<div id="content">
<!-- Category, Tag, Search Result { -->
<!-- } Category, Tag, Search Result -->
<!-- Taglog { -->
<!-- } Taglog -->
<!-- Local { -->
<!-- } Local -->
<!-- Media { -->
<!-- } Media -->
<!-- guest { -->
<!-- } guestbook -->
<!-- Notice { -->
<!-- } Notice -->
<!-- Protected { -->
<!-- } Protected -->
<article class="entry h-entry">
<div class="content-width">
<header class="hd">
<div class="hd-inner">
<h2 class="hd-heading lts-narrow p-name" role="heading">
<a href="/229">국산/수입 전기차 종류와 가격 총정리 (2020년)</a>
</h2>
<div class="sub-info fouc">
<span class="meta-cate">
<span class="txt">category</span>
<a class="p-category change-lv target-bread cur-cate" href="/category/%EC%98%A4%ED%86%A0%EB%8B%A4%EC%9D%B4%EC%96%B4%EB%A6%AC">오토다이어리</a>
</span>
<abbr class="timeago dt-published" title="2020. 10. 17. 22:28">2020. 10. 17. 22:28</abbr>

In [ ]:
import re

b_2020 = str(soup.select('h4[data-ke-size]'))
b_2020 = re.sub('<.+?>', '', b_2020, 0).strip() # 속성&태그 제거
b_2020 = b_2020.replace(u'\xa0', u'') # \xa0\xa0 제거
b_2020 = re.sub(r"[0-9]", "", b_2020) # 숫자 제거
b_2020 = re.sub(r"[.]", "", b_2020) # . 제거
b_2020.replace(' ', '') # 공백 제거

br_2020 = b_2020.split(',')

b1_2020 = br_2020[0]
b2_2020 = br_2020[1]
b3_2020 = br_2020[2]
b4_2020 = br_2020[3]
b5_2020 = br_2020[4]
b6_2020 = br_2020[5]
b7_2020 = br_2020[6]
b8_2020 = br_2020[7]
b9_2020 = br_2020[8]
b10_2020 = br_2020[9]

brand_2020 = b1_2020, b2_2020, b3_2020, b4_2020, b5_2020, b6_2020, b7_2020, b8_2020, b9_2020, b10_2020

In [ ]:
n_2020 = soup.select('p > b')

n_2020 = str(soup.select('p > b'))
n_2020 = re.sub('<.+?>', '', n_2020, 0).strip() # 속성&태그 제거
n_2020 = n_2020.replace(u'\xa0', u'') # \xa0\xa0 제거
n_2020 = re.sub(r"[0-9]", "", n_2020) # 숫자 제거
n_2020 = re.sub(r"[.]", "", n_2020) # . 제거
n_2020.replace(' ', '') # 공백 제거
n_2020

na_2020 = n_2020.split(',')

n1_2020 = na_2020[0]
n2_2020 = na_2020[1]
n3_2020 = na_2020[2]
n4_2020 = na_2020[3]
n5_2020 = na_2020[4]
n6_2020 = na_2020[5]
n7_2020 = na_2020[6]
n8_2020 = na_2020[7]
n9_2020 = na_2020[8]
n10_2020 = na_2020[9]
n11_2020 = na_2020[10]
n12_2020 = na_2020[11]
n13_2020 = na_2020[12]
n14_2020 = na_2020[13]
n15_2020 = na_2020[14]
n16_2020 = na_2020[15]
n17_2020 = na_2020[16]

name_2020 = n1_2020,  n2_2020,  n3_2020,  n4_2020,  n5_2020,  n6_2020,  n7_2020,  n8_2020,  n9_2020,  n10_2020,  n11_2020,  n12_2020,  n13_2020,  n14_2020,  n15_2020,  n16_2020,  n17_2020

In [ ]:
korean = re.compile('[\u3131-\u3163\uac00-\ud7a3]+')

re_p1_2020 = soup.select_one('p:nth-of-type(6)').text
re_p2_2020 = soup.select_one('p:nth-of-type(11)').text
re_p3_2020 = soup.select_one('p:nth-of-type(16)').text
re_p4_2020 = soup.select_one('p:nth-of-type(20)').text
re_p5_2020 = soup.select_one('p:nth-of-type(25)').text
re_p6_2020 = soup.select_one('p:nth-of-type(30)').text
re_p7_2020 = soup.select_one('p:nth-of-type(38)').text
re_p8_2020 = soup.select_one('p:nth-of-type(42)').text
re_p9_2020 = soup.select_one('p:nth-of-type(47)').text
re_p10_2020 = soup.select_one('p:nth-of-type(51)').text
re_p11_2020 = soup.select_one('p:nth-of-type(55)').text
re_p12_2020 = soup.select_one('p:nth-of-type(60)').text
re_p13_2020 = soup.select_one('p:nth-of-type(68)').text
re_p14_2020 = soup.select_one('p:nth-of-type(73)').text
re_p15_2020 = soup.select_one('p:nth-of-type(78)').text
re_p16_2020 = soup.select_one('p:nth-of-type(83)').text
re_p17_2020 = soup.select_one('p:nth-of-type(88)').text

p1_2020 = re.sub(korean, '', re_p1_2020) # 한글 제거
p2_2020 = re.sub(korean, '', re_p2_2020)
p3_2020 = re.sub(korean, '', re_p3_2020)
p4_2020 = re.sub(korean, '', re_p4_2020)
p5_2020 = re.sub(korean, '', re_p5_2020)
p6_2020 = re.sub(korean, '', re_p6_2020)
p7_2020 = re.sub(korean, '', re_p7_2020)
p8_2020 = re.sub(korean, '', re_p8_2020)
p9_2020 = re.sub(korean, '', re_p9_2020)
p10_2020 = re.sub(korean, '', re_p10_2020)
p11_2020 = re.sub(korean, '', re_p11_2020)
p12_2020 = re.sub(korean, '', re_p12_2020)
p13_2020 = re.sub(korean, '', re_p13_2020)
p14_2020 = re.sub(korean, '', re_p14_2020)
p15_2020 = re.sub(korean, '', re_p15_2020)
p16_2020 = re.sub(korean, '', re_p16_2020)
p17_2020 = re.sub(korean, '', re_p17_2020)

p1_2020 = re.sub(',', '', p1_2020) # , 제거
p2_2020 = re.sub(',', '', p2_2020)
p3_2020 = re.sub(',', '', p3_2020)
p4_2020 = re.sub(',', '', p4_2020)
p5_2020 = re.sub(',', '', p5_2020)
p6_2020 = re.sub(',', '', p6_2020)
p7_2020 = re.sub(',', '', p7_2020)
p8_2020 = re.sub(',', '', p8_2020)
p9_2020 = re.sub(',', '', p9_2020)
p10_2020 = re.sub(',', '', p10_2020)
p11_2020 = re.sub(',', '', p11_2020)
p12_2020 = re.sub(',', '', p12_2020)
p13_2020 = re.sub(',', '', p13_2020)
p14_2020 = re.sub(',', '', p14_2020)
p15_2020 = re.sub(',', '', p15_2020)
p16_2020 = re.sub(',', '', p16_2020)
p17_2020 = re.sub(',', '', p17_2020)

p1_2020 = re.sub(':', '', p1_2020) # : 제거
p2_2020 = re.sub(':', '', p2_2020)
p3_2020 = re.sub(':', '', p3_2020) 
p4_2020 = re.sub(':', '', p4_2020) 
p5_2020 = re.sub(':', '', p5_2020) 
p6_2020 = re.sub(':', '', p6_2020) 
p7_2020 = re.sub(':', '', p7_2020) 
p8_2020 = re.sub(':', '', p8_2020) 
p9_2020 = re.sub(':', '', p9_2020) 
p10_2020 = re.sub(':', '', p10_2020) 
p11_2020 = re.sub(':', '', p11_2020)
p12_2020 = re.sub(':', '', p12_2020) 
p13_2020 = re.sub(':', '', p13_2020) 
p14_2020 = re.sub(':', '', p14_2020)
p15_2020 = re.sub(':', '', p15_2020) 
p16_2020 = re.sub(':', '', p16_2020) 
p17_2020 = re.sub(':', '', p17_2020) 

p1_2020 = p1_2020.strip() # 양쪽 공백 제거
p2_2020 = p2_2020.strip()
p3_2020 = p3_2020.strip()
p4_2020 = p4_2020.strip()
p5_2020 = p5_2020.strip()
p6_2020 = p6_2020.strip()
p7_2020 = p7_2020.strip()
p8_2020 = p8_2020.strip()
p9_2020 = p9_2020.strip()
p10_2020 = p10_2020.strip()
p11_2020 = p11_2020.strip()
p12_2020 = p12_2020.strip()
p13_2020 = p13_2020.strip()
p14_2020 = p14_2020.strip()
p15_2020 = p15_2020.strip()
p16_2020 = p16_2020.strip()
p17_2020 = p17_2020.strip()

price_2020 = p1_2020, p2_2020, p3_2020, p4_2020, p5_2020, p6_2020, p7_2020, p8_2020, p9_2020, p10_2020, p11_2020, p12_2020, p13_2020, p14_2020, p15_2020, p16_2020, p17_2020

In [ ]:
data1_2020 = {'회사': brand_2020}

import pandas as pd

df1_2020 = pd.DataFrame(data1_2020)
df1_2020

            회사
0  [ 현대자동차 전기차
1    기아자동차 전기차
2      쉐보레 전기차
3     르노삼성 전기차
4       벤츠 전기차
5      BMW 전기차
6      아우디 전기차
7      재규어 전기차
8      포르쉐 전기차
9     테슬라 전기차]

In [ ]:
data2_2020 = {'이름': name_2020}

df2_2020 = pd.DataFrame(data2_2020)
df2_2020

                  이름
0         [아이오닉 일렉트릭
1            코나 일렉트릭
2            포터 일렉트릭
3               니로EV
4               쏘울EV
5            봉고 일렉트릭
6               볼트EV
7              SM ZE
8              르노 조에
9                EQC
10             BMW i
11      이트론 (e-tron)
12   I-PACE (아이 페이스)
13           포르쉐 타이칸
14           테슬라 모델S
15            테슬라 모델
16           테슬라 모델X

In [ ]:
data3_2020 = {'가격': price_2020}

df3_2020 = pd.DataFrame(data3_2020)
df3_2020

                       가격
0       41400000~44400000
1     46900000 ~ 48900000
2     40600000 ~ 42740000
3     49970000 ~ 52070000
4     43780000 ~ 50540000
5     40050000 ~ 42700000
6     45930000 ~ 48140000
7     37975000 ~ 40105000
8     39950000 ~ 43950000
9    95500000 ~ 100140000
10    60000000 ~ 65000000
11              114928000
12              113500000
13  143100000 ~ 229600000
14  104147000 ~ 189990000
15    54790000 ~ 74790000
16  115990000 ~ 135990000

In [ ]:
df4_2020 = pd.concat([df1_2020, df2_2020, df3_2020], axis = 1) # 데이터프레임 합치기
df4_2020

             회사                이름                     가격
0   [ 현대자동차 전기차        [아이오닉 일렉트릭      41400000~44400000
1     기아자동차 전기차           코나 일렉트릭    46900000 ~ 48900000
2       쉐보레 전기차           포터 일렉트릭    40600000 ~ 42740000
3      르노삼성 전기차              니로EV    49970000 ~ 52070000
4        벤츠 전기차              쏘울EV    43780000 ~ 50540000
5       BMW 전기차           봉고 일렉트릭    40050000 ~ 42700000
6       아우디 전기차              볼트EV    45930000 ~ 48140000
7       재규어 전기차             SM ZE    37975000 ~ 40105000
8       포르쉐 전기차             르노 조에    39950000 ~ 43950000
9      테슬라 전기차]               EQC   95500000 ~ 100140000
10          NaN             BMW i    60000000 ~ 65000000
11          NaN      이트론 (e-tron)              114928000
12          NaN   I-PACE (아이 페이스)              113500000
13          NaN           포르쉐 타이칸  143100000 ~ 229600000
14          NaN           테슬라 모델S  104147000 ~ 189990000
15          NaN            테슬라 모델    54790000 ~ 74790000
16          NaN           테슬라 모델X  115990000 ~ 135990000

In [ ]:
df4_2020.loc[[0, 1, 2], ['회사']] = '현대'
df4_2020.loc[[3, 4, 5], ['회사']] = '기아'
df4_2020.loc[6, '회사'] = '쉐보레'
df4_2020.loc[[7, 8], ['회사']] = '르노'
df4_2020.loc[9, '회사'] = '벤츠'
df4_2020.loc[10, '회사'] = 'BMW'
df4_2020.loc[11, '회사'] = '아우디'
df4_2020.loc[12, '회사'] = '재규어'
df4_2020.loc[13, '회사'] = '포르쉐'
df4_2020.loc[[14, 15, 16], ['회사']] = '테슬라'
df4_2020.loc[0, '이름'] = '아이오닉 일렉트릭'

df4_2020

     회사                이름                     가격
0    현대         아이오닉 일렉트릭      41400000~44400000
1    현대           코나 일렉트릭    46900000 ~ 48900000
2    현대           포터 일렉트릭    40600000 ~ 42740000
3    기아              니로EV    49970000 ~ 52070000
4    기아              쏘울EV    43780000 ~ 50540000
5    기아           봉고 일렉트릭    40050000 ~ 42700000
6   쉐보레              볼트EV    45930000 ~ 48140000
7    르노             SM ZE    37975000 ~ 40105000
8    르노             르노 조에    39950000 ~ 43950000
9    벤츠               EQC   95500000 ~ 100140000
10  BMW             BMW i    60000000 ~ 65000000
11  아우디      이트론 (e-tron)              114928000
12  재규어   I-PACE (아이 페이스)              113500000
13  포르쉐           포르쉐 타이칸  143100000 ~ 229600000
14  테슬라           테슬라 모델S  104147000 ~ 189990000
15  테슬라            테슬라 모델    54790000 ~ 74790000
16  테슬라           테슬라 모델X  115990000 ~ 135990000

In [ ]:
df5_2020 = df4_2020['가격'].str.split('~') # 최저가와 최고가 분리
df5_2020

0         [41400000, 44400000]
1       [46900000 ,  48900000]
2       [40600000 ,  42740000]
3       [49970000 ,  52070000]
4       [43780000 ,  50540000]
5       [40050000 ,  42700000]
6       [45930000 ,  48140000]
7       [37975000 ,  40105000]
8       [39950000 ,  43950000]
9      [95500000 ,  100140000]
10      [60000000 ,  65000000]
11                 [114928000]
12                 [113500000]
13    [143100000 ,  229600000]
14    [104147000 ,  189990000]
15      [54790000 ,  74790000]
16    [115990000 ,  135990000]
Name: 가격, dtype: object

In [ ]:
df5_2020 = df5_2020.apply(lambda x: pd.Series(x)) # 시리즈를 데이터프레임으로 변환
df5_2020

             0           1
0     41400000    44400000
1    46900000     48900000
2    40600000     42740000
3    49970000     52070000
4    43780000     50540000
5    40050000     42700000
6    45930000     48140000
7    37975000     40105000
8    39950000     43950000
9    95500000    100140000
10   60000000     65000000
11   114928000         NaN
12   113500000         NaN
13  143100000    229600000
14  104147000    189990000
15   54790000     74790000
16  115990000    135990000

In [ ]:
df5_2020.columns = ['최저가', '최고가'] # 열 이름 모두 변경
df5_2020

           최저가         최고가
0     41400000    44400000
1    46900000     48900000
2    40600000     42740000
3    49970000     52070000
4    43780000     50540000
5    40050000     42700000
6    45930000     48140000
7    37975000     40105000
8    39950000     43950000
9    95500000    100140000
10   60000000     65000000
11   114928000         NaN
12   113500000         NaN
13  143100000    229600000
14  104147000    189990000
15   54790000     74790000
16  115990000    135990000

In [ ]:
df5_2020['최저가'] = df5_2020['최저가'].astype('float') # 문자열을 float으로 변환
df5_2020['최고가'] = df5_2020['최고가'].astype('float') # 문자열을 float으로 변환

df5_2020.dtypes # 확인

최저가    float64
최고가    float64
dtype: object

In [ ]:
df5_2020['평균 가격'] = df5_2020.mean(axis = 1)
df5_2020

            최저가          최고가        평균 가격
0    41400000.0   44400000.0   42900000.0
1    46900000.0   48900000.0   47900000.0
2    40600000.0   42740000.0   41670000.0
3    49970000.0   52070000.0   51020000.0
4    43780000.0   50540000.0   47160000.0
5    40050000.0   42700000.0   41375000.0
6    45930000.0   48140000.0   47035000.0
7    37975000.0   40105000.0   39040000.0
8    39950000.0   43950000.0   41950000.0
9    95500000.0  100140000.0   97820000.0
10   60000000.0   65000000.0   62500000.0
11  114928000.0          NaN  114928000.0
12  113500000.0          NaN  113500000.0
13  143100000.0  229600000.0  186350000.0
14  104147000.0  189990000.0  147068500.0
15   54790000.0   74790000.0   64790000.0
16  115990000.0  135990000.0  125990000.0

In [ ]:
df6_2020 = pd.concat([df4_2020, df5_2020], axis = 1) # 데이터프레임 합치기
df6_2020

,회사,이름,가격,최저가,최고가,평균 가격
0,현대,아이오닉 일렉트릭,41400000~44400000,41400000.0,44400000.0,42900000.0
1,현대,코나 일렉트릭,46900000 ~ 48900000,46900000.0,48900000.0,47900000.0
2,현대,포터 일렉트릭,40600000 ~ 42740000,40600000.0,42740000.0,41670000.0
3,기아,니로EV,49970000 ~ 52070000,49970000.0,52070000.0,51020000.0
4,기아,쏘울EV,43780000 ~ 50540000,43780000.0,50540000.0,47160000.0
5,기아,봉고 일렉트릭,40050000 ~ 42700000,40050000.0,42700000.0,41375000.0
6,쉐보레,볼트EV,45930000 ~ 48140000,45930000.0,48140000.0,47035000.0
7,르노,SM ZE,37975000 ~ 40105000,37975000.0,40105000.0,39040000.0
8,르노,르노 조에,39950000 ~ 43950000,39950000.0,43950000.0,41950000.0
9,벤츠,EQC,95500000 ~ 100140000,95500000.0,100140000.0,97820000.0
10,BMW,BMW i,60000000 ~ 65000000,60000000.0,65000000.0,62500000.0
11,아우디,이트론 (e-tron),114928000,114928000.0,NaN,114928000.0
12,재규어,I-PACE (아이 페이스),113500000,113500000.0,NaN,113500000.0
13,포르쉐,포르쉐 타이칸,143100000 ~ 229600000,143100000.0,229600000.0,186350000.0
14,테슬라,테슬라 모델S,104147000 ~ 189990000,104147000.0,189990000.0,147068500.0
15,테슬라,테슬라 모델,54790000 ~ 74790000,54790000.0,74790000.0,64790000.0
16,테슬라,테슬라 모델X,115990000 ~ 135990000,115990000.0,135990000.0,125990000.0

In [ ]:
df7_2020 = df6_2020.drop(['가격', '최저가', '최고가'], axis = 1) # 가격, 최저가, 최고가 제거
df7_2020

     회사                이름        평균 가격
0    현대         아이오닉 일렉트릭   42900000.0
1    현대           코나 일렉트릭   47900000.0
2    현대           포터 일렉트릭   41670000.0
3    기아              니로EV   51020000.0
4    기아              쏘울EV   47160000.0
5    기아           봉고 일렉트릭   41375000.0
6   쉐보레              볼트EV   47035000.0
7    르노             SM ZE   39040000.0
8    르노             르노 조에   41950000.0
9    벤츠               EQC   97820000.0
10  BMW             BMW i   62500000.0
11  아우디      이트론 (e-tron)  114928000.0
12  재규어   I-PACE (아이 페이스)  113500000.0
13  포르쉐           포르쉐 타이칸  186350000.0
14  테슬라           테슬라 모델S  147068500.0
15  테슬라            테슬라 모델   64790000.0
16  테슬라           테슬라 모델X  125990000.0

In [ ]:
df7_2020.rename(columns = {'평균 가격': '가격(원)'}, inplace = True) # 열 이름 하나 선택해서 변경
df7_2020

     회사                이름        가격(원)
0    현대         아이오닉 일렉트릭   42900000.0
1    현대           코나 일렉트릭   47900000.0
2    현대           포터 일렉트릭   41670000.0
3    기아              니로EV   51020000.0
4    기아              쏘울EV   47160000.0
5    기아           봉고 일렉트릭   41375000.0
6   쉐보레              볼트EV   47035000.0
7    르노             SM ZE   39040000.0
8    르노             르노 조에   41950000.0
9    벤츠               EQC   97820000.0
10  BMW             BMW i   62500000.0
11  아우디      이트론 (e-tron)  114928000.0
12  재규어   I-PACE (아이 페이스)  113500000.0
13  포르쉐           포르쉐 타이칸  186350000.0
14  테슬라           테슬라 모델S  147068500.0
15  테슬라            테슬라 모델   64790000.0
16  테슬라           테슬라 모델X  125990000.0

In [ ]:
df7_2020.insert(0, '연도', ['2020', '2020', '2020', '2020', '2020', '2020', '2020', '2020', '2020', '2020', '2020', '2020', '2020', '2020', '2020', '2020', '2020']) # 연도 삽입
df7_2020

      연도   회사                이름        가격(원)
0   2020   현대         아이오닉 일렉트릭   42900000.0
1   2020   현대           코나 일렉트릭   47900000.0
2   2020   현대           포터 일렉트릭   41670000.0
3   2020   기아              니로EV   51020000.0
4   2020   기아              쏘울EV   47160000.0
5   2020   기아           봉고 일렉트릭   41375000.0
6   2020  쉐보레              볼트EV   47035000.0
7   2020   르노             SM ZE   39040000.0
8   2020   르노             르노 조에   41950000.0
9   2020   벤츠               EQC   97820000.0
10  2020  BMW             BMW i   62500000.0
11  2020  아우디      이트론 (e-tron)  114928000.0
12  2020  재규어   I-PACE (아이 페이스)  113500000.0
13  2020  포르쉐           포르쉐 타이칸  186350000.0
14  2020  테슬라           테슬라 모델S  147068500.0
15  2020  테슬라            테슬라 모델   64790000.0
16  2020  테슬라           테슬라 모델X  125990000.0

In [ ]:
df7_2020['가격(만 원)'] = round((df7_2020['가격(원)']) / 10000, 1) # 소수점 1자리까지 자르기

df_2020 = df7_2020.drop(['가격(원)'], axis = 1) # 가격(원) 제거

df_2020

      연도   회사                이름  가격(만 원)
0   2020   현대         아이오닉 일렉트릭   4290.0
1   2020   현대           코나 일렉트릭   4790.0
2   2020   현대           포터 일렉트릭   4167.0
3   2020   기아              니로EV   5102.0
4   2020   기아              쏘울EV   4716.0
5   2020   기아           봉고 일렉트릭   4137.5
6   2020  쉐보레              볼트EV   4703.5
7   2020   르노             SM ZE   3904.0
8   2020   르노             르노 조에   4195.0
9   2020   벤츠               EQC   9782.0
10  2020  BMW             BMW i   6250.0
11  2020  아우디      이트론 (e-tron)  11492.8
12  2020  재규어   I-PACE (아이 페이스)  11350.0
13  2020  포르쉐           포르쉐 타이칸  18635.0
14  2020  테슬라           테슬라 모델S  14706.8
15  2020  테슬라            테슬라 모델   6479.0
16  2020  테슬라           테슬라 모델X  12599.0

In [ ]:
# 전기차 2020년 전처리

df_2020.isnull() # 결측치 전체 확인

       연도     회사     이름  가격(만 원)
0   False  False  False    False
1   False  False  False    False
2   False  False  False    False
3   False  False  False    False
4   False  False  False    False
5   False  False  False    False
6   False  False  False    False
7   False  False  False    False
8   False  False  False    False
9   False  False  False    False
10  False  False  False    False
11  False  False  False    False
12  False  False  False    False
13  False  False  False    False
14  False  False  False    False
15  False  False  False    False
16  False  False  False    False

# 전기차 2021년

In [ ]:
import requests
from bs4 import BeautifulSoup

url = "https://chickendividend.tistory.com/entry/2021-%EC%A0%84%EA%B8%B0%EC%B0%A8-%EC%A2%85%EB%A5%98-%EA%B0%80%EA%B2%A9-%EC%A3%BC%ED%96%89%EA%B1%B0%EB%A6%AC-%EC%B4%9D%EC%A0%95%EB%A6%AC"

res = requests.get(url)
page = res.content

soup = BeautifulSoup(page, 'html.parser')
soup

<!DOCTYPE doctype html>

<html lang="ko">
<head>
<!-- BusinessLicenseInfo - START -->
<link href="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/plugin/BusinessLicenseInfo/style.css" rel="stylesheet" type="text/css"/>
<script>function switchFold(entryId) {
    var businessLayer = document.getElementById("businessInfoLayer_" + entryId);

    if (businessLayer) {
        if (businessLayer.className.indexOf("unfold_license") > 0) {
            businessLayer.className = "business_license_layer";
        } else {
            businessLayer.className = "business_license_layer unfold_license";
        }
    }
}
</script>
<!-- BusinessLicenseInfo - END -->
<!-- GoogleAnalytics - START -->
<script async="async" src="https://www.googletagmanager.com/gtag/js?id=G-X74TMJGBZK"></script>
<script>window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config','G-X74TMJGBZK');</script>
<!-- GoogleAnalytics - END -->
<!-- PreventCopyContents - START -->
<meta content="no" http-equiv="imagetoolbar"/>
<!-- PreventCopyContents - END -->
<!-- System - START -->
<script async="async" data-ad-client="ca-pub-4616436653868640" data-ad-host="ca-host-pub-9691043933427338" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- System - END -->
<!-- GoogleSearchConsole - START -->
<!-- BEGIN GOOGLE_SITE_VERIFICATION -->
<meta content="juMozDvunWBuLPG2D67Yzu4hDRihm9g0NDsCkR2Q0P0" name="google-site-verification"/>
<!-- END GOOGLE_SITE_VERIFICATION -->
<!-- GoogleSearchConsole - END -->
<!-- A_ShareEntryWithSNS - START -->
<link href="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/plugin/A_ShareEntryWithSNS/style.css" rel="stylesheet" type="text/css"/>
<script src="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/plugin/A_ShareEntryWithSNS/script.js" type="text/javascript"></script>
<!-- A_ShareEntryWithSNS - END -->
<!-- TistoryProfileLayer - START -->
<link href="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/plugin/TistoryProfileLayer/style.css" rel="stylesheet" type="text/css"/>
<script src="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/plugin/TistoryProfileLayer/script.js" type="text/javascript"></script>
<!-- TistoryProfileLayer - END -->
<meta content="IE=Edge" http-equiv="X-UA-Compatible"/>
<meta content="telephone=no" name="format-detection"/>
<script crossorigin="anonymous" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" src="//t1.daumcdn.net/tistory_admin/lib/jquery/jquery-3.5.1.min.js"></script>
<script defer="" src="//t1.daumcdn.net/tistory_admin/lib/lightbox/js/lightbox-v2.10.0.min.js"></script>
<script src="//t1.daumcdn.net/tiara/js/v1/tiara.min.js" type="text/javascript"></script><meta content="always" name="referrer">
<meta content="ca-host-pub-9691043933427338" name="google-adsense-platform-account">
<meta content="tistory.com" name="google-adsense-platform-domain"/>
<meta content="ca-pub-4616436653868640" name="google-adsense-account"/>
<meta content="요즘 대세인 친환경 전기차 종류, 가격, 주행거리 정보를 총정리합니다. 현대, 기아 등 국산 전기차뿐만 아니라 수입 전기차 브랜드도 정리해보겠습니다. 전기차 종류, 가격, 주행거리 전기차는 몇 년 전만 해도 길거리에서 보기 힘들었습니다. 그러나 친환경 트렌드가 전 세계적으로 퍼짐에 따라서 내연기관차는 뒷전이 되었습니다. 모든 회사가 이제 전기차 개발에 몰두하고 있는 시기입니다. 국내에서도 현대의 아이오닉 5, 기아의 EV, 어제 공개한 GV60 등 국산 전기차가 출시되고 있습니다. 해외 브랜드도 마찬가지죠. BMW, 벤츠, 아우디, 포르쉐 등 너 나할 것 없이 수입차도 전기차가 생산되고 있습니다. 이러한 전기차 시장의 리더는 테슬라이고, 덕분에 테슬라의 주가도 작년에 엄청나게 많이 올랐죠. 제가 현재 존.." name="description"/>
<meta content="article" property="og:type"/>
<meta content="https://chickendividend.tistory.com/entry/2021-%EC%A0%84%EA%B8%B0%EC%B0%A8-%EC%A2%85%EB%A5%98-%EA%B0%80%EA%B2%A9-%EC%A3%BC%ED%96%89%EA%B1%B0%EB%A6%AC-%EC%B4%9D%EC%A0%95%EB%A6%AC" property="og:url"/>
<meta content="@!!!" property="og.article.author"/>
<meta content="빅데이터로 보는 중고차 시세" property="og:site_name"/>
<meta content="2021 전기차 종류, 가격, 주행거리 총정리!" property="og:title"/>
<meta content="@!!!" name="by"/>
<meta content="요즘 대세인 친환경 전기차 종류, 가격, 주행거리 정보를 총정리합니다. 현대, 기아 등 국산 전기차뿐만 아니라 수입 전기차 브랜드도 정리해보겠습니다. 전기차 종류, 가격, 주행거리 전기차는 몇 년 전만 해도 길거리에서 보기 힘들었습니다. 그러나 친환경 트렌드가 전 세계적으로 퍼짐에 따라서 내연기관차는 뒷전이 되었습니다. 모든 회사가 이제 전기차 개발에 몰두하고 있는 시기입니다. 국내에서도 현대의 아이오닉 5, 기아의 EV, 어제 공개한 GV60 등 국산 전기차가 출시되고 있습니다. 해외 브랜드도 마찬가지죠. BMW, 벤츠, 아우디, 포르쉐 등 너 나할 것 없이 수입차도 전기차가 생산되고 있습니다. 이러한 전기차 시장의 리더는 테슬라이고, 덕분에 테슬라의 주가도 작년에 엄청나게 많이 올랐죠. 제가 현재 존.." property="og:description"/>
<meta content="https://img1.daumcdn.net/thumb/R800x0/?scode=mtistory2&amp;fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FdIlTWn%2FbtrcNlY1k09%2F0twm2Mn8BJ8y8OuiRmxz3K%2Fimg.png" property="og:image"/>
<meta content="'자동차'" property="article:section"/>
<meta content="summary_large_image" name="twitter:card"/>
<meta content="@TISTORY" name="twitter:site"/>
<meta content="2021 전기차 종류, 가격, 주행거리 총정리!" name="twitter:title"/>
<meta content="요즘 대세인 친환경 전기차 종류, 가격, 주행거리 정보를 총정리합니다. 현대, 기아 등 국산 전기차뿐만 아니라 수입 전기차 브랜드도 정리해보겠습니다. 전기차 종류, 가격, 주행거리 전기차는 몇 년 전만 해도 길거리에서 보기 힘들었습니다. 그러나 친환경 트렌드가 전 세계적으로 퍼짐에 따라서 내연기관차는 뒷전이 되었습니다. 모든 회사가 이제 전기차 개발에 몰두하고 있는 시기입니다. 국내에서도 현대의 아이오닉 5, 기아의 EV, 어제 공개한 GV60 등 국산 전기차가 출시되고 있습니다. 해외 브랜드도 마찬가지죠. BMW, 벤츠, 아우디, 포르쉐 등 너 나할 것 없이 수입차도 전기차가 생산되고 있습니다. 이러한 전기차 시장의 리더는 테슬라이고, 덕분에 테슬라의 주가도 작년에 엄청나게 많이 올랐죠. 제가 현재 존.." name="twitter:description"/>
<meta content="https://img1.daumcdn.net/thumb/R800x0/?scode=mtistory2&amp;fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FdIlTWn%2FbtrcNlY1k09%2F0twm2Mn8BJ8y8OuiRmxz3K%2Fimg.png" property="twitter:image"/>
<meta content="https://chickendividend.tistory.com/233" property="dg:plink"/>
<meta name="plink"/>
<meta content="2021 전기차 종류, 가격, 주행거리 총정리!" name="title"/>
<meta content="빅데이터로 보는 중고차 시세" name="article:media_name"/>
<meta content="https://chickendividend.tistory.com/m/entry/2021-%EC%A0%84%EA%B8%B0%EC%B0%A8-%EC%A2%85%EB%A5%98-%EA%B0%80%EA%B2%A9-%EC%A3%BC%ED%96%89%EA%B1%B0%EB%A6%AC-%EC%B4%9D%EC%A0%95%EB%A6%AC" property="article:mobile_url"/>
<meta content="https://chickendividend.tistory.com/entry/2021-%EC%A0%84%EA%B8%B0%EC%B0%A8-%EC%A2%85%EB%A5%98-%EA%B0%80%EA%B2%A9-%EC%A3%BC%ED%96%89%EA%B1%B0%EB%A6%AC-%EC%B4%9D%EC%A0%95%EB%A6%AC" property="article:pc_url"/>
<meta content="https://chickendividend.tistory.com/m/entry/2021-%EC%A0%84%EA%B8%B0%EC%B0%A8-%EC%A2%85%EB%A5%98-%EA%B0%80%EA%B2%A9-%EC%A3%BC%ED%96%89%EA%B1%B0%EB%A6%AC-%EC%B4%9D%EC%A0%95%EB%A6%AC" property="article:mobile_view_url"/>
<meta content="https://chickendividend.tistory.com/entry/2021-%EC%A0%84%EA%B8%B0%EC%B0%A8-%EC%A2%85%EB%A5%98-%EA%B0%80%EA%B2%A9-%EC%A3%BC%ED%96%89%EA%B1%B0%EB%A6%AC-%EC%B4%9D%EC%A0%95%EB%A6%AC" property="article:pc_view_url"/>
<meta content="https://chickendividend.tistory.com/m/entry/2021-%EC%A0%84%EA%B8%B0%EC%B0%A8-%EC%A2%85%EB%A5%98-%EA%B0%80%EA%B2%A9-%EC%A3%BC%ED%96%89%EA%B1%B0%EB%A6%AC-%EC%B4%9D%EC%A0%95%EB%A6%AC" property="article:talk_channel_view_url"/>
<meta content="https://www.tistory.com" property="article:pc_service_home"/>
<meta content="https://www.tistory.com/m" property="article:mobile_service_home"/>
<meta content="4348844_233" property="article:txid"/>
<meta content="2021-08-20T20:42:55+09:00" property="article:published_time"/>
<meta content="20210820084255" property="og:regDate"/>
<meta content="2021-08-20T20:42:55+09:00" property="article:modified_time"/>
<link href="https://t1.daumcdn.net/tistory_admin/lib/lightbox/css/lightbox.min.css" rel="stylesheet" type="text/css"/>
<link href="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/style/font.css" rel="stylesheet" type="text/css"/>
<link href="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/style/content.css" rel="stylesheet" type="text/css"/>
<link href="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/style/uselessPMargin.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript">(function() {
    var tjQuery = jQuery.noConflict(true);
    window.tjQuery = tjQuery;
    window.orgjQuery = window.jQuery; window.jQuery = tjQuery;
    window.jQuery = window.orgjQuery; delete window.orgjQuery;
})()</script>
<script src="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/script/base.js" type="text/javascript"></script>
<script type="text/javascript">if (!window.T) { window.T = {} }
window.T.config = {"TOP_SSL_URL":"https://www.tistory.com","PREVIEW":false,"ROLE":"guest","PREV_PAGE":"","NEXT_PAGE":"","BLOG":{"id":4348844,"name":"chickendividend","title":"빅데이터로 보는 중고차 시세","isDormancy":false},"NEED_COMMENT_LOGIN":true,"COMMENT_LOGIN_CONFIRM_MESSAGE":"이 블로그는 로그인한 사용자에게만 댓글 작성을 허용했습니다. 지금 로그인하시겠습니까?","LOGIN_URL":"https://www.tistory.com/auth/login/?redirectUrl=https%3A%2F%2Fchickendividend.tistory.com%2Fentry%2F2021-%2525EC%2525A0%252584%2525EA%2525B8%2525B0%2525EC%2525B0%2525A8-%2525EC%2525A2%252585%2525EB%2525A5%252598-%2525EA%2525B0%252580%2525EA%2525B2%2525A9-%2525EC%2525A3%2525BC%2525ED%252596%252589%2525EA%2525B1%2525B0%2525EB%2525A6%2525AC-%2525EC%2525B4%25259D%2525EC%2525A0%252595%2525EB%2525A6%2525AC","DEFAULT_URL":"https://chickendividend.tistory.com","USER":{"name":null,"homepage":null},"SUBSCRIPTION":{"status":"none","isConnected":false,"isPending":false,"isWait":false,"isProcessing":false,"isNone":true},"IS_LOGIN":false,"HAS_BLOG":false,"TOP_URL":"http://www.tistory.com","JOIN_URL":"https://www.tistory.com/member/join","ROLE_GROUP":"visitor"};
window.appInfo = {"domain":"tistory.com","topUrl":"https://www.tistory.com","loginUrl":"https://www.tistory.com/auth/login","logoutUrl":"https://www.tistory.com/auth/logout"};
window.initData = {};

window.TistoryBlog = {
    basePath: "",
    url: "https://chickendividend.tistory.com",
    tistoryUrl: "https://chickendividend.tistory.com",
    manageUrl: "https://chickendividend.tistory.com/manage",
    token: "ixEg0Fqo6UW8cFV8dH71JAvZ4f7b54rRTc+cARoyzefZquXkOvy0m0+xKWb8qbKF"
};
var servicePath = "";
var blogURL = "";</script>
<script src="//developers.kakao.com/sdk/js/kakao.min.js" type="text/javascript"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async="" src="https://www.googletagmanager.com/gtag/js?id=G-ZQFSV80MV5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ZQFSV80MV5');
</script>
<script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "6wunwxaf9w");
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-199856016-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-199856016-2');
</script>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K956GS4');</script>
<!-- End Google Tag Manager -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async="" src="https://www.googletagmanager.com/gtag/js?id=G-X74TMJGBZK"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-X74TMJGBZK');
</script>
<meta content="cae58d4219b5f0d7c46acad8f2e9cb7fecd5ee8a" name="naver-site-verification"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<script async="" data-ad-client="ca-pub-4616436653868640" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<meta charset="utf-8"/>
<meta content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" name="viewport"/>
<title>2021 전기차 종류, 가격, 주행거리 총정리!</title>
<link href="https://tistory1.daumcdn.net/tistory/4348844/skin/style.css?_version_=1631895240" rel="stylesheet"/>
<script src="//t1.daumcdn.net/tistory_admin/lib/jquery/jquery-1.12.4.min.js"></script>
<style type="text/css">

.entry-content a, .post-header h1 em, .comments h2 .count {color:#04beb8}
.comment-form .submit button:hover, .comment-form .submit button:focus {background-color:#04beb8}



</style>
<style type="text/css">.another_category {
    border: 1px solid #E5E5E5;
    padding: 10px 10px 5px;
    margin: 10px 0;
    clear: both;
}

.another_category h4 {
    font-size: 12px !important;
    margin: 0 !important;
    border-bottom: 1px solid #E5E5E5 !important;
    padding: 2px 0 6px !important;
}

.another_category h4 a {
    font-weight: bold !important;
}

.another_category table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100% !important;
    margin-top: 10px !important;
}

* html .another_category table {
    width: auto !important;
}

*:first-child + html .another_category table {
    width: auto !important;
}

.another_category th, .another_category td {
    padding: 0 0 4px !important;
}

.another_category th {
    text-align: left;
    font-size: 12px !important;
    font-weight: normal;
    word-break: break-all;
    overflow: hidden;
    line-height: 1.5;
}

.another_category td {
    text-align: right;
    width: 80px;
    font-size: 11px;
}

.another_category th a {
    font-weight: normal;
    text-decoration: none;
    border: none !important;
}

.another_category th a.current {
    font-weight: bold;
    text-decoration: none !important;
    border-bottom: 1px solid !important;
}

.another_category th span {
    font-weight: normal;
    text-decoration: none;
    font: 10px Tahoma, Sans-serif;
    border: none !important;
}

.another_category_color_gray, .another_category_color_gray h4 {
    border-color: #E5E5E5 !important;
}

.another_category_color_gray * {
    color: #909090 !important;
}

.another_category_color_gray th a.current {
    border-color: #909090 !important;
}

.another_category_color_gray h4, .another_category_color_gray h4 a {
    color: #737373 !important;
}

.another_category_color_red, .another_category_color_red h4 {
    border-color: #F6D4D3 !important;
}

.another_category_color_red * {
    color: #E86869 !important;
}

.another_category_color_red th a.current {
    border-color: #E86869 !important;
}

.another_category_color_red h4, .another_category_color_red h4 a {
    color: #ED0908 !important;
}

.another_category_color_green, .another_category_color_green h4 {
    border-color: #CCE7C8 !important;
}

.another_category_color_green * {
    color: #64C05B !important;
}

.another_category_color_green th a.current {
    border-color: #64C05B !important;
}

.another_category_color_green h4, .another_category_color_green h4 a {
    color: #3EA731 !important;
}

.another_category_color_blue, .another_category_color_blue h4 {
    border-color: #C8DAF2 !important;
}

.another_category_color_blue * {
    color: #477FD6 !important;
}

.another_category_color_blue th a.current {
    border-color: #477FD6 !important;
}

.another_category_color_blue h4, .another_category_color_blue h4 a {
    color: #1960CA !important;
}

.another_category_color_violet, .another_category_color_violet h4 {
    border-color: #E1CEEC !important;
}

.another_category_color_violet * {
    color: #9D64C5 !important;
}

.another_category_color_violet th a.current {
    border-color: #9D64C5 !important;
}

.another_category_color_violet h4, .another_category_color_violet h4 a {
    color: #7E2CB5 !important;
}
</style>
<link href="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/style/dialog.css" rel="stylesheet" type="text/css">
<link href="//t1.daumcdn.net/tistory_admin/www/style/top/font.css" rel="stylesheet" type="text/css"/>
<link href="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/style/postBtn.css" rel="stylesheet" type="text/css"/>
<link href="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/style/tistory.css" rel="stylesheet" type="text/css"/>
<link href="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/style/revenue.css" rel="stylesheet" type="text/css"/>
<link href="https://chickendividend.tistory.com/entry/2021-%EC%A0%84%EA%B8%B0%EC%B0%A8-%EC%A2%85%EB%A5%98-%EA%B0%80%EA%B2%A9-%EC%A3%BC%ED%96%89%EA%B1%B0%EB%A6%AC-%EC%B4%9D%EC%A0%95%EB%A6%AC" rel="canonical"/>
<!-- BEGIN STRUCTURED_DATA -->
<script type="application/ld+json">
    {"@context":"http://schema.org","@type":"BlogPosting","mainEntityOfPage":{"@id":"https://chickendividend.tistory.com/entry/2021-%EC%A0%84%EA%B8%B0%EC%B0%A8-%EC%A2%85%EB%A5%98-%EA%B0%80%EA%B2%A9-%EC%A3%BC%ED%96%89%EA%B1%B0%EB%A6%AC-%EC%B4%9D%EC%A0%95%EB%A6%AC","name":null},"url":"https://chickendividend.tistory.com/entry/2021-%EC%A0%84%EA%B8%B0%EC%B0%A8-%EC%A2%85%EB%A5%98-%EA%B0%80%EA%B2%A9-%EC%A3%BC%ED%96%89%EA%B1%B0%EB%A6%AC-%EC%B4%9D%EC%A0%95%EB%A6%AC","headline":"2021 전기차 종류, 가격, 주행거리 총정리!","description":"요즘 대세인 친환경 전기차 종류, 가격, 주행거리 정보를 총정리합니다. 현대, 기아 등 국산 전기차뿐만 아니라 수입 전기차 브랜드도 정리해보겠습니다. 전기차 종류, 가격, 주행거리 전기차는 몇 년 전만 해도 길거리에서 보기 힘들었습니다. 그러나 친환경 트렌드가 전 세계적으로 퍼짐에 따라서 내연기관차는 뒷전이 되었습니다. 모든 회사가 이제 전기차 개발에 몰두하고 있는 시기입니다. 국내에서도 현대의 아이오닉 5, 기아의 EV, 어제 공개한 GV60 등 국산 전기차가 출시되고 있습니다. 해외 브랜드도 마찬가지죠. BMW, 벤츠, 아우디, 포르쉐 등 너 나할 것 없이 수입차도 전기차가 생산되고 있습니다. 이러한 전기차 시장의 리더는 테슬라이고, 덕분에 테슬라의 주가도 작년에 엄청나게 많이 올랐죠. 제가 현재 존..","author":{"@type":"Person","name":"@!!!","logo":null},"image":{"@type":"ImageObject","url":"https://img1.daumcdn.net/thumb/R800x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FdIlTWn%2FbtrcNlY1k09%2F0twm2Mn8BJ8y8OuiRmxz3K%2Fimg.png","width":"800px","height":"800px"},"datePublished":"20210820T20:42:55","dateModified":"20210820T20:42:55","publisher":{"@type":"Organization","name":"TISTORY","logo":{"@type":"ImageObject","url":"https://t1.daumcdn.net/tistory_admin/static/images/openGraph/opengraph.png","width":"800px","height":"800px"}}}
</script>
<!-- END STRUCTURED_DATA -->
<script src="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/script/common.js" type="text/javascript"></script>
</link></meta></meta></head>
<body class="layout-aside-right list-type-thumbnail paging-number" id="tt-body-page">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe height="0" src="https://www.googletagmanager.com/ns.html?id=GTM-K956GS4" style="display:none;visibility:hidden" width="0"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div id="acc-nav">
<a href="#content">본문 바로가기</a>
</div>
<div id="wrap">
<header id="header">
<div class="inner">
<h1>
<a href="https://chickendividend.tistory.com/">


						빅데이터로 보는 중고차 시세

				</a>
</h1>
<div class="util">
<div class="search">
<input name="search" onkeypress="if (event.keyCode == 13) { try {
    window.location.href = '/search' + '/' + looseURIEncode(document.getElementsByName('search')[0].value);
    document.getElementsByName('search')[0].value = '';
    return false;
} catch (e) {} }" placeholder="검색내용을 입력하세요." type="text" value=""/>
<button onclick="try {

In [ ]:
tables_2021 = soup.select('table')
tables_2021

[<table border="1" data-ke-align="alignLeft" data-ke-style="style15" style="border-collapse: collapse; width: 100%; height: 570px;">
 <tbody>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"제조사"}' style="text-align: center; height: 19px;"><b>제조사</b></td>
 <td data-sheets-value='{"1":2,"2":"브랜드"}' style="text-align: center; height: 19px;"><b>브랜드</b></td>
 <td data-sheets-value='{"1":2,"2":"크기"}' style="text-align: center; height: 19px;"><b>크기</b></td>
 <td data-sheets-value='{"1":2,"2":"1회 충전 주행거리"}' style="text-align: center; height: 19px;"><b>1회 충전 주행거리</b></td>
 <td data-sheets-value='{"1":2,"2":"가격"}' style="text-align: center; height: 19px;"><b>가격</b></td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"현대"}' style="text-align: center; height: 19px;"><span style="color: #ee2323;"><b>현대</b></span></td>
 <td data-sheets-value='{"1":2,"2":"아이오닉5"}' style="text-align: center; height: 19px;">아이오닉5</td>
 <td data-sheets-value='{"1":2,"2":"중형SUV"}' style="text-align: center; height: 19px;">중형SUV</td>
 <td data-sheets-value='{"1":2,"2":"370~421km"}' style="text-align: center; height: 19px;">370~421km</td>
 <td data-sheets-value='{"1":2,"2":"4,695 ~ 5,737만 원"}' style="text-align: center; height: 19px;">4,695 ~ 5,737만 원</td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"현대"}' style="text-align: center; height: 19px;"><span style="color: #ee2323;"><b>현대</b></span></td>
 <td data-sheets-value='{"1":2,"2":"포터2 일렉트릭"}' style="text-align: center; height: 19px;">포터2 일렉트릭</td>
 <td data-sheets-value='{"1":2,"2":"1톤 트럭"}' style="text-align: center; height: 19px;">1톤 트럭</td>
 <td data-sheets-value='{"1":2,"2":"211km"}' style="text-align: center; height: 19px;">211km</td>
 <td data-sheets-value='{"1":2,"2":"4,060~4,567만 원"}' style="text-align: center; height: 19px;">4,060~4,567만 원</td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"푸조"}' style="text-align: center; height: 19px;"><span style="color: #f89009;"><b>푸조</b></span></td>
 <td data-sheets-value='{"1":3,"3":208}' style="text-align: center; height: 19px;">208</td>
 <td data-sheets-value='{"1":2,"2":"소형"}' style="text-align: center; height: 19px;">소형</td>
 <td data-sheets-value='{"1":2,"2":"244km"}' style="text-align: center; height: 19px;">244km</td>
 <td data-sheets-value='{"1":2,"2":"4,140 ~ 4,640만 원"}' style="text-align: center; height: 19px;">4,140 ~ 4,640만 원</td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"포르쉐"}' style="text-align: center; height: 19px;"><span style="color: #f3c000;"><b>포르쉐</b></span></td>
 <td data-sheets-value='{"1":2,"2":"Taycan"}' style="text-align: center; height: 19px;">Taycan</td>
 <td data-sheets-value='{"1":2,"2":"스포츠카"}' style="text-align: center; height: 19px;">스포츠카</td>
 <td data-sheets-value='{"1":2,"2":"289~431km"}' style="text-align: center; height: 19px;">289~431km</td>
 <td data-sheets-value='{"1":2,"2":"1억 2,380~2억 3,760만 원"}' style="text-align: center; height: 19px;">1억 2,380~2억 3,760만 원</td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"테슬라"}' style="text-align: center; height: 19px;"><span style="color: #009a87;"><b>테슬라</b></span></td>
 <td data-sheets-value='{"1":2,"2":"ModelS"}' style="text-align: center; height: 19px;">ModelS</td>
 <td data-sheets-value='{"1":2,"2":"준대형"}' style="text-align: center; height: 19px;">준대형</td>
 <td data-sheets-value='{"1":2,"2":"628~663km"}' style="text-align: center; height: 19px;">628~663km</td>
 <td data-sheets-value='{"1":2,"2":"1억 1,999~1억 6,999만 원"}' style="text-align: center; height: 19px;">1억 1,999~1억 6,999만 원</td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"테슬라"}' style="text-align: center; height: 19px;"><span style="color: #009a87;"><b>테슬라</b></span></td>
 <td data-sheets-value='{"1":2,"2":"Model3"}' style="text-align: center; height: 19px;">Model3</td>
 <td data-sheets-value='{"1":2,"2":"준중형"}' style="text-align: center; height: 19px;">준중형</td>
 <td data-sheets-value='{"1":2,"2":"386~499km"}' style="text-align: center; height: 19px;">386~499km</td>
 <td data-sheets-value='{"1":2,"2":"5,479 ~ 7,479만 원"}' style="text-align: center; height: 19px;">5,479 ~ 7,479만 원</td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"테슬라"}' style="text-align: center; height: 19px;"><span style="color: #009a87;"><b>테슬라</b></span></td>
 <td data-sheets-value='{"1":2,"2":"ModelY"}' style="text-align: center; height: 19px;">ModelY</td>
 <td data-sheets-value='{"1":2,"2":"중형SUV"}' style="text-align: center; height: 19px;">중형SUV</td>
 <td data-sheets-value='{"1":2,"2":"370~540km"}' style="text-align: center; height: 19px;">370~540km</td>
 <td data-sheets-value='{"1":2,"2":"5,999 ~ 7,999만 원"}' style="text-align: center; height: 19px;">5,999 ~ 7,999만 원</td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"테슬라"}' style="text-align: center; height: 19px;"><span style="color: #009a87;"><b>테슬라</b></span></td>
 <td data-sheets-value='{"1":2,"2":"ModelX"}' style="text-align: center; height: 19px;">ModelX</td>
 <td data-sheets-value='{"1":2,"2":"대형SUV"}' style="text-align: center; height: 19px;">대형SUV</td>
 <td data-sheets-value='{"1":2,"2":"547~580km"}' style="text-align: center; height: 19px;">547~580km</td>
 <td data-sheets-value='{"1":2,"2":"1억 2,999 ~ 1억 5,999만 원"}' style="text-align: center; height: 19px;">1억 2,999 ~ 1억 5,999만 원</td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"제네시스"}' style="text-align: center; height: 19px;"><span style="color: #006dd7;"><b>제네시스</b></span></td>
 <td data-sheets-value='{"1":2,"2":"GV60"}' style="text-align: center; height: 19px;">GV60</td>
 <td data-sheets-value='{"1":2,"2":"소형SUV"}' style="text-align: center; height: 19px;">소형SUV</td>
 <td data-sheets-value='{"1":2,"2":"400~500km(추정)"}' style="text-align: center; height: 19px;">400~500km(추정)</td>
 <td data-sheets-value='{"1":2,"2":"가격미정"}' style="text-align: center; height: 19px;">가격미정</td>
 </tr>
 <tr>
 <td style="text-align: center;"><span style="color: #006dd7;"><b>제네시스</b></span></td>
 <td style="text-align: center;">eG80</td>
 <td style="text-align: center;">준대형</td>
 <td style="text-align: center;">427km</td>
 <td style="text-align: center;">8,281만 원</td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"재규어"}' style="text-align: center; height: 19px;"><span style="color: #8a3db6;"><b>재규어</b></span></td>
 <td data-sheets-value='{"1":2,"2":"I-Pace"}' style="text-align: center; height: 19px;">I-Pace</td>
 <td data-sheets-value='{"1":2,"2":"중형SUV"}' style="text-align: center; height: 19px;">중형SUV</td>
 <td data-sheets-value='{"1":2,"2":"333km"}' style="text-align: center; height: 19px;">333km</td>
 <td data-sheets-value='{"1":2,"2":"1억 1,690 ~ 1억 2,950만 원"}' style="text-align: center; height: 19px;">1억 1,690 ~ 1억 2,950만 원</td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"아우디"}' style="text-align: center; height: 19px;"><span style="color: #ee2323;"><b>아우디</b></span></td>
 <td data-sheets-value='{"1":2,"2":"e-tron"}' style="text-align: center; height: 19px;">e-tron</td>
 <td data-sheets-value='{"1":2,"2":"대형SUV"}' style="text-align: center; height: 19px;">대형SUV</td>
 <td data-sheets-value='{"1":2,"2":"210~307km"}' style="text-align: center; height: 19px;">210~307km</td>
 <td data-sheets-value='{"1":2,"2":"9,806 ~ 1억 1,493만 원"}' style="text-align: center; height: 19px;">9,806 ~ 1억 1,493만 원</td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"쉐보레"}' style="text-align: center; height: 19px;"><span style="color: #f89009;"><b>쉐보레</b></span></td>
 <td data-sheets-value='{"1":2,"2":"볼트EV"}' style="text-align: center; height: 19px;">볼트EV</td>
 <td data-sheets-value='{"1":2,"2":"소형"}' style="text-align: center; height: 19px;">소형</td>
 <td data-sheets-value='{"1":2,"2":"414km"}' style="text-align: center; height: 19px;">414km</td>
 <td data-sheets-value='{"1":2,"2":"4,593 ~ 4,814만 원"}' style="text-align: center; height: 19px;">4,593 ~ 4,814만 원</td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"쉐보레"}' style="text-align: center; height: 19px;"><span style="color: #f89009;"><b>쉐보레</b></span></td>
 <td data-sheets-value='{"1":2,"2":"볼트EUV"}' style="text-align: center; height: 19px;">볼트EUV</td>
 <td data-sheets-value='{"1":2,"2":"소형SUV"}' style="text-align: center; height: 19px;">소형SUV</td>
 <td data-sheets-value='{"1":2,"2":"403km"}' style="text-align: center; height: 19px;">403km</td>
 <td data-sheets-value='{"1":2,"2":"4,490만 원"}' style="text-align: center; height: 19px;">4,490만 원</td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"볼보"}' style="text-align: center; height: 19px;"><span style="color: #f3c000;"><b>볼보</b></span></td>
 <td data-sheets-value='{"1":2,"2":"XC40Recharge"}' style="text-align: center; height: 19px;">XC40Recharge</td>
 <td data-sheets-value='{"1":2,"2":"중형SUV"}' style="text-align: center; height: 19px;">중형SUV</td>
 <td data-sheets-value='{"1":2,"2":"미정"}' style="text-align: center; height: 19px;">미정</td>
 <td data-sheets-value='{"1":2,"2":"가격미정"}' style="text-align: center; height: 19px;">가격미정</td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"벤츠"}' style="text-align: center; height: 19px;"><span style="color: #009a87;"><b>벤츠</b></span></td>
 <td data-sheets-value='{"1":2,"2":"EQC"}' style="text-align: center; height: 19px;">EQC</td>
 <td data-sheets-value='{"1":2,"2":"중형SUV"}' style="text-align: center; height: 19px;">중형SUV</td>
 <td data-sheets-value='{"1":2,"2":"309km"}' style="text-align: center; height: 19px;">309km</td>
 <td data-sheets-value='{"1":2,"2":"9,560만 원"}' style="text-align: center; height: 19px;">9,560만 원</td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"벤츠"}' style="text-align: center; height: 19px;"><span style="color: #009a87;"><b>벤츠</b></span></td>
 <td data-sheets-value='{"1":2,"2":"EQA"}' style="text-align: center; height: 19px;">EQA</td>
 <td data-sheets-value='{"1":2,"2":"소형SUV"}' style="text-align: center; height: 19px;">소형SUV</td>
 <td data-sheets-value='{"1":2,"2":"306km"}' style="text-align: center; height: 19px;">306km</td>
 <td data-sheets-value='{"1":2,"2":"5,990 ~ 6,790만 원"}' style="text-align: center; height: 19px;">5,990 ~ 6,790만 원</td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"마이브"}' style="text-align: center; height: 19px;"><span style="color: #006dd7;"><b>마이브</b></span></td>
 <td data-sheets-value='{"1":2,"2":"M1"}' style="text-align: center; height: 19px;">M1</td>
 <td data-sheets-value='{"1":2,"2":"경차"}' style="text-align: center; height: 19px;">경차</td>
 <td data-sheets-value='{"1":2,"2":"57km"}' style="text-align: center; height: 19px;">57km</td>
 <td data-sheets-value='{"1":2,"2":"1,650만 원"}' style="text-align: center; height: 19px;">1,650만 원</td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"르노"}' style="text-align: center; height: 19px;"><span style="color: #8a3db6;"><b>르노</b></span></td>
 <td data-sheets-value='{"1":2,"2":"조에"}' style="text-align: center; height: 19px;">조에</td>
 <td data-sheets-value='{"1":2,"2":"소형"}' style="text-align: center; height: 19px;">소형</td>
 <td data-sheets-value='{"1":2,"2":"309km"}' style="text-align: center; height: 19px;">309km</td>
 <td data-sheets-value='{"1":2,"2":"3,995 ~ 4,395만 원"}' style="text-align: center; height: 19px;">3,995 ~ 4,395만 원</td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"르노"}' style="text-align: center; height: 19px;"><span style="color: #8a3db6;"><b>르노</b></span></td>
 <td data-sheets-value='{"1":2,"2":"트위지"}' style="text-align: center; height: 19px;">트위지</td>
 <td data-sheets-value='{"1":2,"2":"경차"}' style="text-align: center; height: 19px;">경차</td>
 <td data-sheets-value='{"1":2,"2":"55km"}' style="text-align: center; height: 19px;">55km</td>
 <td data-sheets-value='{"1":2,"2":"1,330 ~ 1,430만 원"}' style="text-align: center; height: 19px;">1,330 ~ 1,430만 원</td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"대창모터스"}' style="text-align: center; height: 19px;"><span style="color: #ee2323;"><b>대창모터스</b></span></td>
 <td data-sheets-value='{"1":2,"2":"다니고EV밴"}' style="text-align: center; height: 19px;">다니고EV밴</td>
 <td data-sheets-value='{"1":2,"2":"픽업/밴"}' style="text-align: center; height: 19px;">픽업/밴</td>
 <td data-sheets-value='{"1":2,"2":"144km"}' style="text-align: center; height: 19px;">144km</td>
 <td data-sheets-value='{"1":2,"2":"3,600만 원"}' style="text-align: center; height: 19px;">3,600만 원</td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"대창모터스"}' style="text-align: center; height: 19px;"><span style="color: #ee2323;"><b>대창모터스</b></span></td>
 <td data-sheets-value='{"1":2,"2":"다니고Ⅲ"}' style="text-align: center; height: 19px;">다니고Ⅲ</td>
 <td data-sheets-value='{"1":2,"2":"경트럭"}' style="text-align: center; height: 19px;">경트럭</td>
 <td data-sheets-value='{"1":2,"2":"100km"}' style="text-align: center; height: 19px;">100km</td>
 <td data-sheets-value='{"1":2,"2":"1,880만 원"}' style="text-align: center; height: 19px;">1,880만 원</td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"대창모터스"}' style="text-align: center; height: 19px;"><span style="color: #ee2323;"><b>대창모터스</b></span></td>
 <td data-sheets-value='{"1":2,"2":"다니고Ⅰ"}' style="text-align: center; height: 19px;">다니고Ⅰ</td>
 <td data-sheets-value='{"1":2,"2":"경차"}' style="text-align: center; height: 19px;">경차</td>
 <td data-sheets-value='{"1":2,"2":"100km"}' style="text-align: center; height: 19px;">100km</td>
 <td data-sheets-value='{"1":2,"2":"1,490만 원"}' style="text-align: center; height: 19px;">1,490만 원</td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"기아"}' style="text-align: center; height: 19px;"><span style="color: #f89009;"><b>기아</b></span></td>
 <td data-sheets-value='{"1":2,"2":"EV6"}' style="text-align: center; height: 19px;">EV6</td>
 <td data-sheets-value='{"1":2,"2":"중형SUV"}' style="text-align: center; height: 19px;">중형SUV</td>
 <td data-sheets-value='{"1":2,"2":"370~470km"}' style="text-align: center; height: 19px;">370~470km</td>
 <td data-sheets-value='{"1":2,"2":"4,730 ~ 6,887만 원"}' style="text-align: center; height: 19px;">4,730 ~ 6,887만 원</td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"기아"}' style="text-align: center; height: 19px;"><span style="color: #f89009;"><b>기아</b></span></td>
 <td data-sheets-value='{"1":2,"2":"봉고3 EV"}' style="text-align: center; height: 19px;">봉고3 EV</td>
 <td data-sheets-value='{"1":2,"2":"1톤 트럭"}' style="text-align: center; height: 19px;">1톤 트럭</td>
 <td data-sheets-value='{"1":2,"2":"177~211km"}' style="text-align: center; height: 19px;">177~211km</td>
 <td data-sheets-value='{"1":2,"2":"4,050 ~ 4,401만 원"}' style="text-align: center; height: 19px;">4,050 ~ 4,401만 원</td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"기아"}' style="text-align: center; height: 19px;"><span style="color: #f89009;"><b>기아</b></span></td>
 <td data-sheets-value='{"1":2,"2":"니로"}' style="text-align: center; height: 19px;">니로</td>
 <td data-sheets-value='{"1":2,"2":"소형SUV"}' style="text-align: center; height: 19px;">소형SUV</td>
 <td data-sheets-value='{"1":2,"2":"246~385km"}' style="text-align: center; height: 19px;">246~385km</td>
 <td data-sheets-value='{"1":2,"2":"4,590 ~ 4,980만 원"}' style="text-align: center; height: 19px;">4,590 ~ 4,980만 원</td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"SMART EV"}' style="text-align: center; height: 19px;"><span style="color: #f3c000;"><b>SMART EV</b></span></td>
 <td data-sheets-value='{"1":2,"2":"Z"}' style="text-align: center; height: 19px;">Z</td>
 <td data-sheets-value='{"1":2,"2":"경차"}' style="text-align: center; height: 19px;">경차</td>
 <td data-sheets-value='{"1":2,"2":"150km"}' style="text-align: center; height: 19px;">150km</td>
 <td data-sheets-value='{"1":2,"2":"2,750만 원"}' style="text-align: center; height: 19px;">2,750만 원</td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"SMART EV"}' style="text-align: center; height: 19px;"><span style="color: #f3c000;"><b>SMART EV</b></span></td>
 <td data-sheets-value='{"1":2,"2":"D2P"}' style="text-align: center; height: 19px;">D2P</td>
 <td data-sheets-value='{"1":2,"2":"경차"}' style="text-align: center; height: 19px;">경차</td>
 <td data-sheets-value='{"1":2,"2":"101km"}' style="text-align: center; height: 19px;">101km</td>
 <td data-sheets-value='{"1":2,"2":"1,980만 원"}' style="text-align: center; height: 19px;">1,980만 원</td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"SMART EV"}' style="text-align: center; height: 19px;"><span style="color: #f3c000;"><b>SMART EV</b></span></td>
 <td data-sheets-value='{"1":2,"2":"D2C"}' style="text-align: center; height: 19px;">D2C</td>
 <td data-sheets-value='{"1":2,"2":"경차"}' style="text-align: center; height: 19px;">경차</td>
 <td data-sheets-value='{"1":2,"2":"101km"}' style="text-align: center; height: 19px;">101km</td>
 <td data-sheets-value='{"1":2,"2":"1,980만 원"}' style="text-align: center; height: 19px;">1,980만 원</td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"BMW"}' style="text-align: center; height: 19px;"><span style="color: #006dd7;"><b>BMW</b></span></td>
 <td data-sheets-value='{"1":2,"2":"i3"}' style="text-align: center; height: 19px;">i3</td>
 <td data-sheets-value='{"1":2,"2":"소형"}' style="text-align: center; height: 19px;">소형</td>
 <td data-sheets-value='{"1":2,"2":"248km"}' style="text-align: center; height: 19px;">248km</td>
 <td data-sheets-value='{"1":2,"2":"6,000 ~ 6,560만 원"}' style="text-align: center; height: 19px;">6,000 ~ 6,560만 원</td>
 </tr>
 </tbody>
 </table>,
 <table border="1" data-ke-align="alignLeft" data-ke-style="style3" style="border-collapse: collapse; width: 100%; height: 95px;">
 <tbody>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"제조사"}' style="height: 19px; text-align: center;"><b>제조사</b></td>
 <td data-sheets-value='{"1":2,"2":"브랜드"}' style="height: 19px; text-align: center;"><b>브랜드</b></td>
 <td data-sheets-value='{"1":2,"2":"크기"}' style="height: 19px; text-align: center;"><b>크기</b></td>
 <td data-sheets-value='{"1":2,"2":"1회 충전 주행거리"}' style="height: 19px; text-align: center;"><b>1회 충전 주행거리</b></td>
 <td data-sheets-value='{"1":2,"2":"가격"}' style="height: 19px; text-align: center;"><b>가격</b></td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"현대"}' rowspan="2" style="height: 38px; text-align: center;"><b>현대</b></td>
 <td data-sheets-value='{"1":2,"2":"아이오닉5"}' style="height: 19px; text-align: center;"><b>아이오닉5</b></td>
 <td data-sheets-value='{"1":2,"2":"중형SUV"}' style="height: 19px; text-align: center;">중형SUV</td>
 <td data-sheets-value='{"1":2,"2":"370~421km"}' style="height: 19px; text-align: center;">370~421km</td>
 <td data-sheets-value='{"1":2,"2":"4,695 ~ 5,737만 원"}' style="height: 19px; text-align: center;">4,695 ~ 5,737만 원</td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"포터2 일렉트릭"}' style="height: 19px; text-align: center;"><b>포터2 일렉트릭</b></td>
 <td data-sheets-value='{"1":2,"2":"1톤 트럭"}' style="height: 19px; text-align: center;">1톤 트럭</td>
 <td data-sheets-value='{"1":2,"2":"211km"}' style="height: 19px; text-align: center;">211km</td>
 <td data-sheets-value='{"1":2,"2":"4,060~4,567만 원"}' style="height: 19px; text-align: center;">4,060 ~ 4,567만 원</td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"제네시스"}' rowspan="2" style="height: 38px; text-align: center;"><b>제네시스</b></td>
 <td data-sheets-value='{"1":2,"2":"GV60"}' style="height: 19px; text-align: center;"><b>GV60</b></td>
 <td data-sheets-value='{"1":2,"2":"소형SUV"}' style="height: 19px; text-align: center;">소형SUV</td>

In [ ]:
import pandas as pd

table = tables_2021[0] # 원하는 표 선택
table_html = str(table) # 테이블 정보를 문자열로 변경

table_df_html = pd.read_html(table_html) # read_html로 테이블 정보 읽기
table_df_2021 = table_df_html[0] # 데이터 프레임 선택

table_df_2021

           0             1      2              3                       4
0        제조사           브랜드     크기     1회 충전 주행거리                      가격
1         현대         아이오닉5  중형SUV      370~421km        4,695 ~ 5,737만 원
2         현대      포터2 일렉트릭  1톤 트럭          211km          4,060~4,567만 원
3         푸조           208     소형          244km        4,140 ~ 4,640만 원
4        포르쉐        Taycan   스포츠카      289~431km    1억 2,380~2억 3,760만 원
5        테슬라        ModelS    준대형      628~663km    1억 1,999~1억 6,999만 원
6        테슬라        Model3    준중형      386~499km        5,479 ~ 7,479만 원
7        테슬라        ModelY  중형SUV      370~540km        5,999 ~ 7,999만 원
8        테슬라        ModelX  대형SUV      547~580km  1억 2,999 ~ 1억 5,999만 원
9       제네시스          GV60  소형SUV  400~500km(추정)                    가격미정
10      제네시스          eG80    준대형          427km                8,281만 원
11       재규어        I-Pace  중형SUV          333km  1억 1,690 ~ 1억 2,950만 원
12       아우디        e-tron  대형SUV      210~307km     9,806 ~ 1억 1,493만 원
13       쉐보레          볼트EV     소형          414km        4,593 ~ 4,814만 원
14       쉐보레         볼트EUV  소형SUV          403km                4,490만 원
15        볼보  XC40Recharge  중형SUV             미정                    가격미정
16        벤츠           EQC  중형SUV          309km                9,560만 원
17        벤츠           EQA  소형SUV          306km        5,990 ~ 6,790만 원
18       마이브            M1     경차           57km                1,650만 원
19        르노            조에     소형          309km        3,995 ~ 4,395만 원
20        르노           트위지     경차           55km        1,330 ~ 1,430만 원
21     대창모터스        다니고EV밴   픽업/밴          144km                3,600만 원
22     대창모터스          다니고Ⅲ    경트럭          100km                1,880만 원
23     대창모터스          다니고Ⅰ     경차          100km                1,490만 원
24        기아           EV6  중형SUV      370~470km        4,730 ~ 6,887만 원
25        기아        봉고3 EV  1톤 트럭      177~211km        4,050 ~ 4,401만 원
26        기아            니로  소형SUV      246~385km        4,590 ~ 4,980만 원
27  SMART EV             Z     경차          150km                2,750만 원
28  SMART EV           D2P     경차          101km                1,980만 원
29  SMART EV           D2C     경차          101km                1,980만 원
30       BMW            i3     소형          248km        6,000 ~ 6,560만 원

In [ ]:
new_table_df_2021 = table_df_2021.drop(0) # 0번 제거
new_table_2021 = new_table_df_2021.drop([3], axis = 1) # 3번 제거
new_table_2021

           0             1      2                       4
1         현대         아이오닉5  중형SUV        4,695 ~ 5,737만 원
2         현대      포터2 일렉트릭  1톤 트럭          4,060~4,567만 원
3         푸조           208     소형        4,140 ~ 4,640만 원
4        포르쉐        Taycan   스포츠카    1억 2,380~2억 3,760만 원
5        테슬라        ModelS    준대형    1억 1,999~1억 6,999만 원
6        테슬라        Model3    준중형        5,479 ~ 7,479만 원
7        테슬라        ModelY  중형SUV        5,999 ~ 7,999만 원
8        테슬라        ModelX  대형SUV  1억 2,999 ~ 1억 5,999만 원
9       제네시스          GV60  소형SUV                    가격미정
10      제네시스          eG80    준대형                8,281만 원
11       재규어        I-Pace  중형SUV  1억 1,690 ~ 1억 2,950만 원
12       아우디        e-tron  대형SUV     9,806 ~ 1억 1,493만 원
13       쉐보레          볼트EV     소형        4,593 ~ 4,814만 원
14       쉐보레         볼트EUV  소형SUV                4,490만 원
15        볼보  XC40Recharge  중형SUV                    가격미정
16        벤츠           EQC  중형SUV                9,560만 원
17        벤츠           EQA  소형SUV        5,990 ~ 6,790만 원
18       마이브            M1     경차                1,650만 원
19        르노            조에     소형        3,995 ~ 4,395만 원
20        르노           트위지     경차        1,330 ~ 1,430만 원
21     대창모터스        다니고EV밴   픽업/밴                3,600만 원
22     대창모터스          다니고Ⅲ    경트럭                1,880만 원
23     대창모터스          다니고Ⅰ     경차                1,490만 원
24        기아           EV6  중형SUV        4,730 ~ 6,887만 원
25        기아        봉고3 EV  1톤 트럭        4,050 ~ 4,401만 원
26        기아            니로  소형SUV        4,590 ~ 4,980만 원
27  SMART EV             Z     경차                2,750만 원
28  SMART EV           D2P     경차                1,980만 원
29  SMART EV           D2C     경차                1,980만 원
30       BMW            i3     소형        6,000 ~ 6,560만 원

In [ ]:
new_table_2021.columns = ['회사', '이름', '크기', '가격'] # 열 이름 모두 변경
new_table_2021

          회사            이름     크기                      가격
1         현대         아이오닉5  중형SUV        4,695 ~ 5,737만 원
2         현대      포터2 일렉트릭  1톤 트럭          4,060~4,567만 원
3         푸조           208     소형        4,140 ~ 4,640만 원
4        포르쉐        Taycan   스포츠카    1억 2,380~2억 3,760만 원
5        테슬라        ModelS    준대형    1억 1,999~1억 6,999만 원
6        테슬라        Model3    준중형        5,479 ~ 7,479만 원
7        테슬라        ModelY  중형SUV        5,999 ~ 7,999만 원
8        테슬라        ModelX  대형SUV  1억 2,999 ~ 1억 5,999만 원
9       제네시스          GV60  소형SUV                    가격미정
10      제네시스          eG80    준대형                8,281만 원
11       재규어        I-Pace  중형SUV  1억 1,690 ~ 1억 2,950만 원
12       아우디        e-tron  대형SUV     9,806 ~ 1억 1,493만 원
13       쉐보레          볼트EV     소형        4,593 ~ 4,814만 원
14       쉐보레         볼트EUV  소형SUV                4,490만 원
15        볼보  XC40Recharge  중형SUV                    가격미정
16        벤츠           EQC  중형SUV                9,560만 원
17        벤츠           EQA  소형SUV        5,990 ~ 6,790만 원
18       마이브            M1     경차                1,650만 원
19        르노            조에     소형        3,995 ~ 4,395만 원
20        르노           트위지     경차        1,330 ~ 1,430만 원
21     대창모터스        다니고EV밴   픽업/밴                3,600만 원
22     대창모터스          다니고Ⅲ    경트럭                1,880만 원
23     대창모터스          다니고Ⅰ     경차                1,490만 원
24        기아           EV6  중형SUV        4,730 ~ 6,887만 원
25        기아        봉고3 EV  1톤 트럭        4,050 ~ 4,401만 원
26        기아            니로  소형SUV        4,590 ~ 4,980만 원
27  SMART EV             Z     경차                2,750만 원
28  SMART EV           D2P     경차                1,980만 원
29  SMART EV           D2C     경차                1,980만 원
30       BMW            i3     소형        6,000 ~ 6,560만 원

In [ ]:
splits = new_table_2021['가격'].str.split('~') # 최저가와 최고가 분리
splits

1           [4,695 ,  5,737만 원]
2             [4,060, 4,567만 원]
3           [4,140 ,  4,640만 원]
4       [1억 2,380, 2억 3,760만 원]
5       [1억 1,999, 1억 6,999만 원]
6           [5,479 ,  7,479만 원]
7           [5,999 ,  7,999만 원]
8     [1억 2,999 ,  1억 5,999만 원]
9                        [가격미정]
10                   [8,281만 원]
11    [1억 1,690 ,  1억 2,950만 원]
12       [9,806 ,  1억 1,493만 원]
13          [4,593 ,  4,814만 원]
14                   [4,490만 원]
15                       [가격미정]
16                   [9,560만 원]
17          [5,990 ,  6,790만 원]
18                   [1,650만 원]
19          [3,995 ,  4,395만 원]
20          [1,330 ,  1,430만 원]
21                   [3,600만 원]
22                   [1,880만 원]
23                   [1,490만 원]
24          [4,730 ,  6,887만 원]
25          [4,050 ,  4,401만 원]
26          [4,590 ,  4,980만 원]
27                   [2,750만 원]
28                   [1,980만 원]
29                   [1,980만 원]
30          [6,000 ,  6,560만 원]
Name: 가격, dtype: object

In [ ]:
splits = splits.apply(lambda x: pd.Series(x)) # 시리즈를 데이터프레임으로 변환
splits

            0             1
1      4,695       5,737만 원
2       4,060      4,567만 원
3      4,140       4,640만 원
4    1억 2,380   2억 3,760만 원
5    1억 1,999   1억 6,999만 원
6      5,479       7,479만 원
7      5,999       7,999만 원
8   1억 2,999    1억 5,999만 원
9        가격미정           NaN
10   8,281만 원           NaN
11  1억 1,690    1억 2,950만 원
12     9,806    1억 1,493만 원
13     4,593       4,814만 원
14   4,490만 원           NaN
15       가격미정           NaN
16   9,560만 원           NaN
17     5,990       6,790만 원
18   1,650만 원           NaN
19     3,995       4,395만 원
20     1,330       1,430만 원
21   3,600만 원           NaN
22   1,880만 원           NaN
23   1,490만 원           NaN
24     4,730       6,887만 원
25     4,050       4,401만 원
26     4,590       4,980만 원
27   2,750만 원           NaN
28   1,980만 원           NaN
29   1,980만 원           NaN
30     6,000       6,560만 원

In [ ]:
splits.columns = ['최저가', '최고가'] # 열 이름 모두 변경
splits

          최저가           최고가
1      4,695       5,737만 원
2       4,060      4,567만 원
3      4,140       4,640만 원
4    1억 2,380   2억 3,760만 원
5    1억 1,999   1억 6,999만 원
6      5,479       7,479만 원
7      5,999       7,999만 원
8   1억 2,999    1억 5,999만 원
9        가격미정           NaN
10   8,281만 원           NaN
11  1억 1,690    1억 2,950만 원
12     9,806    1억 1,493만 원
13     4,593       4,814만 원
14   4,490만 원           NaN
15       가격미정           NaN
16   9,560만 원           NaN
17     5,990       6,790만 원
18   1,650만 원           NaN
19     3,995       4,395만 원
20     1,330       1,430만 원
21   3,600만 원           NaN
22   1,880만 원           NaN
23   1,490만 원           NaN
24     4,730       6,887만 원
25     4,050       4,401만 원
26     4,590       4,980만 원
27   2,750만 원           NaN
28   1,980만 원           NaN
29   1,980만 원           NaN
30     6,000       6,560만 원

In [ ]:
splits['최저가'] = splits['최저가'].str.replace(',', '') # ,제거
splits['최저가'] = splits['최저가'].str.replace('만 원', '') # 만 원제거
splits['최저가'] = splits['최저가'].str.replace('억', '') # 억 제거

splits['최고가'] = splits['최고가'].str.replace(',', '') # ,제거
splits['최고가'] = splits['최고가'].str.replace('만 원', '') # 만 원제거
splits['최고가'] = splits['최고가'].str.replace('억', '') # 억 제거

splits

        최저가      최고가
1     4695      5737
2      4060     4567
3     4140      4640
4    1 2380   2 3760
5    1 1999   1 6999
6     5479      7479
7     5999      7999
8   1 2999    1 5999
9      가격미정      NaN
10     8281      NaN
11  1 1690    1 2950
12    9806    1 1493
13    4593      4814
14     4490      NaN
15     가격미정      NaN
16     9560      NaN
17    5990      6790
18     1650      NaN
19    3995      4395
20    1330      1430
21     3600      NaN
22     1880      NaN
23     1490      NaN
24    4730      6887
25    4050      4401
26    4590      4980
27     2750      NaN
28     1980      NaN
29     1980      NaN
30    6000      6560

In [ ]:
splits['최저가'] = splits['최저가'].str.replace(' ', '') # 공백 제거
splits['최고가'] = splits['최고가'].str.replace(' ', '') # 공백 제거

splits

      최저가    최고가
1    4695   5737
2    4060   4567
3    4140   4640
4   12380  23760
5   11999  16999
6    5479   7479
7    5999   7999
8   12999  15999
9    가격미정    NaN
10   8281    NaN
11  11690  12950
12   9806  11493
13   4593   4814
14   4490    NaN
15   가격미정    NaN
16   9560    NaN
17   5990   6790
18   1650    NaN
19   3995   4395
20   1330   1430
21   3600    NaN
22   1880    NaN
23   1490    NaN
24   4730   6887
25   4050   4401
26   4590   4980
27   2750    NaN
28   1980    NaN
29   1980    NaN
30   6000   6560

In [ ]:
new_splits = splits.drop([9, 15]) # 가격미정 제거
new_splits

      최저가    최고가
1    4695   5737
2    4060   4567
3    4140   4640
4   12380  23760
5   11999  16999
6    5479   7479
7    5999   7999
8   12999  15999
10   8281    NaN
11  11690  12950
12   9806  11493
13   4593   4814
14   4490    NaN
16   9560    NaN
17   5990   6790
18   1650    NaN
19   3995   4395
20   1330   1430
21   3600    NaN
22   1880    NaN
23   1490    NaN
24   4730   6887
25   4050   4401
26   4590   4980
27   2750    NaN
28   1980    NaN
29   1980    NaN
30   6000   6560

In [ ]:
new_splits['최저가'] = new_splits['최저가'].astype('float') # 문자열을 float으로 변환
new_splits['최고가'] = new_splits['최고가'].astype('float') # 문자열을 float으로 변환

new_splits.dtypes # 확인

최저가    float64
최고가    float64
dtype: object

In [ ]:
new_splits['평균 가격'] = new_splits.mean(axis = 1)
new_splits

        최저가      최고가    평균 가격
1    4695.0   5737.0   5216.0
2    4060.0   4567.0   4313.5
3    4140.0   4640.0   4390.0
4   12380.0  23760.0  18070.0
5   11999.0  16999.0  14499.0
6    5479.0   7479.0   6479.0
7    5999.0   7999.0   6999.0
8   12999.0  15999.0  14499.0
10   8281.0      NaN   8281.0
11  11690.0  12950.0  12320.0
12   9806.0  11493.0  10649.5
13   4593.0   4814.0   4703.5
14   4490.0      NaN   4490.0
16   9560.0      NaN   9560.0
17   5990.0   6790.0   6390.0
18   1650.0      NaN   1650.0
19   3995.0   4395.0   4195.0
20   1330.0   1430.0   1380.0
21   3600.0      NaN   3600.0
22   1880.0      NaN   1880.0
23   1490.0      NaN   1490.0
24   4730.0   6887.0   5808.5
25   4050.0   4401.0   4225.5
26   4590.0   4980.0   4785.0
27   2750.0      NaN   2750.0
28   1980.0      NaN   1980.0
29   1980.0      NaN   1980.0
30   6000.0   6560.0   6280.0

In [ ]:
df1_2021 = pd.concat([new_table_2021, new_splits], axis = 1) # 데이터프레임 합치기
df1_2021

,회사,이름,크기,가격,최저가,최고가,평균 가격
1,현대,아이오닉5,중형SUV,"4,695 ~ 5,737만 원",4695.0,5737.0,5216.0
2,현대,포터2 일렉트릭,1톤 트럭,"4,060~4,567만 원",4060.0,4567.0,4313.5
3,푸조,208,소형,"4,140 ~ 4,640만 원",4140.0,4640.0,4390.0
4,포르쉐,Taycan,스포츠카,"1억 2,380~2억 3,760만 원",12380.0,23760.0,18070.0
5,테슬라,ModelS,준대형,"1억 1,999~1억 6,999만 원",11999.0,16999.0,14499.0
6,테슬라,Model3,준중형,"5,479 ~ 7,479만 원",5479.0,7479.0,6479.0
7,테슬라,ModelY,중형SUV,"5,999 ~ 7,999만 원",5999.0,7999.0,6999.0
8,테슬라,ModelX,대형SUV,"1억 2,999 ~ 1억 5,999만 원",12999.0,15999.0,14499.0
9,제네시스,GV60,소형SUV,가격미정,NaN,NaN,NaN
10,제네시스,eG80,준대형,"8,281만 원",8281.0,NaN,8281.0
11,재규어,I-Pace,중형SUV,"1억 1,690 ~ 1억 2,950만 원",11690.0,12950.0,12320.0
12,아우디,e-tron,대형SUV,"9,806 ~ 1억 1,493만 원",9806.0,11493.0,10649.5
13,쉐보레,볼트EV,소형,"4,593 ~ 4,814만 원",4593.0,4814.0,4703.5
14,쉐보레,볼트EUV,소형SUV,"4,490만 원",4490.0,NaN,4490.0
15,볼보,XC40Recharge,중형SUV,가격미정,NaN,NaN,NaN
16,벤츠,EQC,중형SUV,"9,560만 원",9560.0,NaN,9560.0
17,벤츠,EQA,소형SUV,"5,990 ~ 6,790만 원",5990.0,6790.0,6390.0
18,마이브,M1,경차,"1,650만 원",1650.0,NaN,1650.0
19,르노,조에,소형,"3,995 ~ 4,395만 원",3995.0,4395.0,4195.0
20,르노,트위지,경차,"1,330 ~ 1,430만 원",1330.0,1430.0,1380.0
21,대창모터스,다니고EV밴,픽업/밴,"3,600만 원",3600.0,NaN,3600.0
22,대창모터스,다니고Ⅲ,경트럭,"1,880만 원",1880.0,NaN,1880.0
23,대창모터스,다니고Ⅰ,경차,"1,490만 원",1490.0,NaN,1490.0
24,기아,EV6,중형SUV,"4,730 ~ 6,887만 원",4730.0,6887.0,5808.5
25,기아,봉고3 EV,1톤 트럭,"4,050 ~ 4,401만 원",4050.0,4401.0,4225.5
26,기아,니로,소형SUV,"4,590 ~ 4,980만 원",4590.0,4980.0,4785.0
27,SMART EV,Z,경차,"2,750만 원",2750.0,NaN,2750.0
28,SMART EV,D2P,경차,"1,980만 원",1980.0,NaN,1980.0
29,SMART EV,D2C,경차,"1,980만 원",1980.0,NaN,1980.0
30,BMW,i3,소형,"6,000 ~ 6,560만 원",6000.0,6560.0,6280.0

In [ ]:
df2_2021 = df1_2021.drop(['크기' ,'가격', '최저가', '최고가'], axis = 1) # 크기, 가격, 최저가, 최고가 제거
df2_2021

          회사            이름    평균 가격
1         현대         아이오닉5   5216.0
2         현대      포터2 일렉트릭   4313.5
3         푸조           208   4390.0
4        포르쉐        Taycan  18070.0
5        테슬라        ModelS  14499.0
6        테슬라        Model3   6479.0
7        테슬라        ModelY   6999.0
8        테슬라        ModelX  14499.0
9       제네시스          GV60      NaN
10      제네시스          eG80   8281.0
11       재규어        I-Pace  12320.0
12       아우디        e-tron  10649.5
13       쉐보레          볼트EV   4703.5
14       쉐보레         볼트EUV   4490.0
15        볼보  XC40Recharge      NaN
16        벤츠           EQC   9560.0
17        벤츠           EQA   6390.0
18       마이브            M1   1650.0
19        르노            조에   4195.0
20        르노           트위지   1380.0
21     대창모터스        다니고EV밴   3600.0
22     대창모터스          다니고Ⅲ   1880.0
23     대창모터스          다니고Ⅰ   1490.0
24        기아           EV6   5808.5
25        기아        봉고3 EV   4225.5
26        기아            니로   4785.0
27  SMART EV             Z   2750.0
28  SMART EV           D2P   1980.0
29  SMART EV           D2C   1980.0
30       BMW            i3   6280.0

In [ ]:
df2_2021.rename(columns = {'평균 가격': '가격(만 원)'}, inplace = True) # 열 이름 하나 선택해서 변경
df2_2021

          회사            이름  가격(만 원)
1         현대         아이오닉5   5216.0
2         현대      포터2 일렉트릭   4313.5
3         푸조           208   4390.0
4        포르쉐        Taycan  18070.0
5        테슬라        ModelS  14499.0
6        테슬라        Model3   6479.0
7        테슬라        ModelY   6999.0
8        테슬라        ModelX  14499.0
9       제네시스          GV60      NaN
10      제네시스          eG80   8281.0
11       재규어        I-Pace  12320.0
12       아우디        e-tron  10649.5
13       쉐보레          볼트EV   4703.5
14       쉐보레         볼트EUV   4490.0
15        볼보  XC40Recharge      NaN
16        벤츠           EQC   9560.0
17        벤츠           EQA   6390.0
18       마이브            M1   1650.0
19        르노            조에   4195.0
20        르노           트위지   1380.0
21     대창모터스        다니고EV밴   3600.0
22     대창모터스          다니고Ⅲ   1880.0
23     대창모터스          다니고Ⅰ   1490.0
24        기아           EV6   5808.5
25        기아        봉고3 EV   4225.5
26        기아            니로   4785.0
27  SMART EV             Z   2750.0
28  SMART EV           D2P   1980.0
29  SMART EV           D2C   1980.0
30       BMW            i3   6280.0

In [ ]:
# 전기차 2021년 전처리

df2_2021.isnull() # 결측치 전체 확인

       회사     이름  가격(만 원)
1   False  False    False
2   False  False    False
3   False  False    False
4   False  False    False
5   False  False    False
6   False  False    False
7   False  False    False
8   False  False    False
9   False  False     True
10  False  False    False
11  False  False    False
12  False  False    False
13  False  False    False
14  False  False    False
15  False  False     True
16  False  False    False
17  False  False    False
18  False  False    False
19  False  False    False
20  False  False    False
21  False  False    False
22  False  False    False
23  False  False    False
24  False  False    False
25  False  False    False
26  False  False    False
27  False  False    False
28  False  False    False
29  False  False    False
30  False  False    False

In [ ]:
df3_2021 = df2_2021.dropna() # 결측치 제거
df3_2021

          회사        이름  가격(만 원)
1         현대     아이오닉5   5216.0
2         현대  포터2 일렉트릭   4313.5
3         푸조       208   4390.0
4        포르쉐    Taycan  18070.0
5        테슬라    ModelS  14499.0
6        테슬라    Model3   6479.0
7        테슬라    ModelY   6999.0
8        테슬라    ModelX  14499.0
10      제네시스      eG80   8281.0
11       재규어    I-Pace  12320.0
12       아우디    e-tron  10649.5
13       쉐보레      볼트EV   4703.5
14       쉐보레     볼트EUV   4490.0
16        벤츠       EQC   9560.0
17        벤츠       EQA   6390.0
18       마이브        M1   1650.0
19        르노        조에   4195.0
20        르노       트위지   1380.0
21     대창모터스    다니고EV밴   3600.0
22     대창모터스      다니고Ⅲ   1880.0
23     대창모터스      다니고Ⅰ   1490.0
24        기아       EV6   5808.5
25        기아    봉고3 EV   4225.5
26        기아        니로   4785.0
27  SMART EV         Z   2750.0
28  SMART EV       D2P   1980.0
29  SMART EV       D2C   1980.0
30       BMW        i3   6280.0

In [ ]:
df_2021 = df3_2021.reset_index(drop = True) # 인덱스 재배열
df_2021

          회사        이름  가격(만 원)
0         현대     아이오닉5   5216.0
1         현대  포터2 일렉트릭   4313.5
2         푸조       208   4390.0
3        포르쉐    Taycan  18070.0
4        테슬라    ModelS  14499.0
5        테슬라    Model3   6479.0
6        테슬라    ModelY   6999.0
7        테슬라    ModelX  14499.0
8       제네시스      eG80   8281.0
9        재규어    I-Pace  12320.0
10       아우디    e-tron  10649.5
11       쉐보레      볼트EV   4703.5
12       쉐보레     볼트EUV   4490.0
13        벤츠       EQC   9560.0
14        벤츠       EQA   6390.0
15       마이브        M1   1650.0
16        르노        조에   4195.0
17        르노       트위지   1380.0
18     대창모터스    다니고EV밴   3600.0
19     대창모터스      다니고Ⅲ   1880.0
20     대창모터스      다니고Ⅰ   1490.0
21        기아       EV6   5808.5
22        기아    봉고3 EV   4225.5
23        기아        니로   4785.0
24  SMART EV         Z   2750.0
25  SMART EV       D2P   1980.0
26  SMART EV       D2C   1980.0
27       BMW        i3   6280.0

In [ ]:
df_2021.insert(0, '연도', ['2021', '2021', '2021', '2021', '2021', '2021', '2021', '2021', '2021', '2021', '2021', '2021', '2021', '2021', '2021', '2021', '2021', '2021', '2021', '2021', '2021', '2021', '2021', '2021', '2021', '2021', '2021', '2021']) # 연도 삽입
df_2021

      연도        회사        이름  가격(만 원)
0   2021        현대     아이오닉5   5216.0
1   2021        현대  포터2 일렉트릭   4313.5
2   2021        푸조       208   4390.0
3   2021       포르쉐    Taycan  18070.0
4   2021       테슬라    ModelS  14499.0
5   2021       테슬라    Model3   6479.0
6   2021       테슬라    ModelY   6999.0
7   2021       테슬라    ModelX  14499.0
8   2021      제네시스      eG80   8281.0
9   2021       재규어    I-Pace  12320.0
10  2021       아우디    e-tron  10649.5
11  2021       쉐보레      볼트EV   4703.5
12  2021       쉐보레     볼트EUV   4490.0
13  2021        벤츠       EQC   9560.0
14  2021        벤츠       EQA   6390.0
15  2021       마이브        M1   1650.0
16  2021        르노        조에   4195.0
17  2021        르노       트위지   1380.0
18  2021     대창모터스    다니고EV밴   3600.0
19  2021     대창모터스      다니고Ⅲ   1880.0
20  2021     대창모터스      다니고Ⅰ   1490.0
21  2021        기아       EV6   5808.5
22  2021        기아    봉고3 EV   4225.5
23  2021        기아        니로   4785.0
24  2021  SMART EV         Z   2750.0
25  2021  SMART EV       D2P   1980.0
26  2021  SMART EV       D2C   1980.0
27  2021       BMW        i3   6280.0

# 전기차 2022년

In [ ]:
import requests
from bs4 import BeautifulSoup

url = "https://carzip.tistory.com/entry/2022-%EC%A0%84%EA%B8%B0%EC%B0%A8-%EC%A2%85%EB%A5%98-%EA%B0%80%EA%B2%A9-%EC%B4%9D%EC%A0%95%EB%A6%AC"

res = requests.get(url)
page = res.content

soup = BeautifulSoup(page, 'html.parser')
soup

<!DOCTYPE doctype html>

<html lang="ko">
<head>
<!-- BusinessLicenseInfo - START -->
<link href="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/plugin/BusinessLicenseInfo/style.css" rel="stylesheet" type="text/css"/>
<script>function switchFold(entryId) {
    var businessLayer = document.getElementById("businessInfoLayer_" + entryId);

    if (businessLayer) {
        if (businessLayer.className.indexOf("unfold_license") > 0) {
            businessLayer.className = "business_license_layer";
        } else {
            businessLayer.className = "business_license_layer unfold_license";
        }
    }
}
</script>
<!-- BusinessLicenseInfo - END -->
<!-- GoogleAnalytics - START -->
<script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-199856016-2"></script>
<script>window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config','UA-199856016-2');</script>
<!-- GoogleAnalytics - END -->
<!-- PreventCopyContents - START -->
<meta content="no" http-equiv="imagetoolbar"/>
<!-- PreventCopyContents - END -->
<!-- System - START -->
<script async="async" data-ad-client="ca-pub-4616436653868640" data-ad-host="ca-host-pub-9691043933427338" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- System - END -->
<!-- GoogleSearchConsole - START -->
<!-- BEGIN GOOGLE_SITE_VERIFICATION -->
<meta content="_HKtHzaeFixCzeQNxfreQrD8UEMAvmn4-FFIhbFXAiE" name="google-site-verification"/>
<!-- END GOOGLE_SITE_VERIFICATION -->
<!-- GoogleSearchConsole - END -->
<!-- A_ShareEntryWithSNS - START -->
<link href="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/plugin/A_ShareEntryWithSNS/style.css" rel="stylesheet" type="text/css"/>
<script src="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/plugin/A_ShareEntryWithSNS/script.js" type="text/javascript"></script>
<!-- A_ShareEntryWithSNS - END -->
<!-- TistoryProfileLayer - START -->
<link href="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/plugin/TistoryProfileLayer/style.css" rel="stylesheet" type="text/css"/>
<script src="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/plugin/TistoryProfileLayer/script.js" type="text/javascript"></script>
<!-- TistoryProfileLayer - END -->
<meta content="IE=Edge" http-equiv="X-UA-Compatible"/>
<meta content="telephone=no" name="format-detection"/>
<script crossorigin="anonymous" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" src="//t1.daumcdn.net/tistory_admin/lib/jquery/jquery-3.5.1.min.js"></script>
<script defer="" src="//t1.daumcdn.net/tistory_admin/lib/lightbox/js/lightbox-v2.10.0.min.js"></script>
<script src="//t1.daumcdn.net/tiara/js/v1/tiara.min.js" type="text/javascript"></script><meta content="always" name="referrer">
<meta content="ca-host-pub-9691043933427338" name="google-adsense-platform-account">
<meta content="tistory.com" name="google-adsense-platform-domain"/>
<meta content="ca-pub-4616436653868640" name="google-adsense-account"/>
<meta content="2022년 기준으로 전기차 종류와 가격을 총정리합니다. 전기 세단, 전기차 SUV 등 국산차와 수입차를 통틀어서 정리해보도록 하겠습니다. 요즘은 전기차가 대세라고 할 정도로 길거리에서 전기차가 많이 보이기 시작했습니다. 점차 세계적으로 내연기관 자동차를 없애려는 분위기가 생기면서 국내에서도 다양한 전기차 인프라가 생기고 있고, 다양한 전기차 모델이 나와서 상용화되고 있습니다. 우리나라에서도 벌써 길거리에 테슬라 차량이 많이 보이고 있으며, 현대의 아이오닉 5나 기아의 ev6도 이제 길에서 흔하게 볼 수 있는 차량이 되었습니다. 이러한 부분들은 정말 시대의 흐름이라고 보이네요. 정말 다양한 전기차 종류가 있는데, 잘 모르시는 분들은 헤매실 수 있을 것 같아서 오늘은 2022년 기준으로 전기차 종류와 가격을.." name="description"/>
<meta content="article" property="og:type"/>
<meta content="https://carzip.tistory.com/entry/2022-%EC%A0%84%EA%B8%B0%EC%B0%A8-%EC%A2%85%EB%A5%98-%EA%B0%80%EA%B2%A9-%EC%B4%9D%EC%A0%95%EB%A6%AC" property="og:url"/>
<meta content="@!!!" property="og.article.author"/>
<meta content="다모아 자동차" property="og:site_name"/>
<meta content="2022 전기차 종류, 가격 총정리" property="og:title"/>
<meta content="@!!!" name="by"/>
<meta content="2022년 기준으로 전기차 종류와 가격을 총정리합니다. 전기 세단, 전기차 SUV 등 국산차와 수입차를 통틀어서 정리해보도록 하겠습니다. 요즘은 전기차가 대세라고 할 정도로 길거리에서 전기차가 많이 보이기 시작했습니다. 점차 세계적으로 내연기관 자동차를 없애려는 분위기가 생기면서 국내에서도 다양한 전기차 인프라가 생기고 있고, 다양한 전기차 모델이 나와서 상용화되고 있습니다. 우리나라에서도 벌써 길거리에 테슬라 차량이 많이 보이고 있으며, 현대의 아이오닉 5나 기아의 ev6도 이제 길에서 흔하게 볼 수 있는 차량이 되었습니다. 이러한 부분들은 정말 시대의 흐름이라고 보이네요. 정말 다양한 전기차 종류가 있는데, 잘 모르시는 분들은 헤매실 수 있을 것 같아서 오늘은 2022년 기준으로 전기차 종류와 가격을.." property="og:description"/>
<meta content="https://img1.daumcdn.net/thumb/R800x0/?scode=mtistory2&amp;fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fet6xgb%2FbtrKwja822s%2FVnztn0wWxP6dDE0FYf9rmK%2Fimg.png" property="og:image"/>
<meta content="'자동차'" property="article:section"/>
<meta content="summary_large_image" name="twitter:card"/>
<meta content="@TISTORY" name="twitter:site"/>
<meta content="2022 전기차 종류, 가격 총정리" name="twitter:title"/>
<meta content="2022년 기준으로 전기차 종류와 가격을 총정리합니다. 전기 세단, 전기차 SUV 등 국산차와 수입차를 통틀어서 정리해보도록 하겠습니다. 요즘은 전기차가 대세라고 할 정도로 길거리에서 전기차가 많이 보이기 시작했습니다. 점차 세계적으로 내연기관 자동차를 없애려는 분위기가 생기면서 국내에서도 다양한 전기차 인프라가 생기고 있고, 다양한 전기차 모델이 나와서 상용화되고 있습니다. 우리나라에서도 벌써 길거리에 테슬라 차량이 많이 보이고 있으며, 현대의 아이오닉 5나 기아의 ev6도 이제 길에서 흔하게 볼 수 있는 차량이 되었습니다. 이러한 부분들은 정말 시대의 흐름이라고 보이네요. 정말 다양한 전기차 종류가 있는데, 잘 모르시는 분들은 헤매실 수 있을 것 같아서 오늘은 2022년 기준으로 전기차 종류와 가격을.." name="twitter:description"/>
<meta content="https://img1.daumcdn.net/thumb/R800x0/?scode=mtistory2&amp;fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fet6xgb%2FbtrKwja822s%2FVnztn0wWxP6dDE0FYf9rmK%2Fimg.png" property="twitter:image"/>
<meta content="https://carzip.tistory.com/224" property="dg:plink"/>
<meta name="plink"/>
<meta content="2022 전기차 종류, 가격 총정리" name="title"/>
<meta content="다모아 자동차" name="article:media_name"/>
<meta content="https://carzip.tistory.com/m/entry/2022-%EC%A0%84%EA%B8%B0%EC%B0%A8-%EC%A2%85%EB%A5%98-%EA%B0%80%EA%B2%A9-%EC%B4%9D%EC%A0%95%EB%A6%AC" property="article:mobile_url"/>
<meta content="https://carzip.tistory.com/entry/2022-%EC%A0%84%EA%B8%B0%EC%B0%A8-%EC%A2%85%EB%A5%98-%EA%B0%80%EA%B2%A9-%EC%B4%9D%EC%A0%95%EB%A6%AC" property="article:pc_url"/>
<meta content="https://carzip.tistory.com/m/entry/2022-%EC%A0%84%EA%B8%B0%EC%B0%A8-%EC%A2%85%EB%A5%98-%EA%B0%80%EA%B2%A9-%EC%B4%9D%EC%A0%95%EB%A6%AC" property="article:mobile_view_url"/>
<meta content="https://carzip.tistory.com/entry/2022-%EC%A0%84%EA%B8%B0%EC%B0%A8-%EC%A2%85%EB%A5%98-%EA%B0%80%EA%B2%A9-%EC%B4%9D%EC%A0%95%EB%A6%AC" property="article:pc_view_url"/>
<meta content="https://carzip.tistory.com/m/entry/2022-%EC%A0%84%EA%B8%B0%EC%B0%A8-%EC%A2%85%EB%A5%98-%EA%B0%80%EA%B2%A9-%EC%B4%9D%EC%A0%95%EB%A6%AC" property="article:talk_channel_view_url"/>
<meta content="https://www.tistory.com" property="article:pc_service_home"/>
<meta content="https://www.tistory.com/m" property="article:mobile_service_home"/>
<meta content="4851450_224" property="article:txid"/>
<meta content="2022-08-25T22:04:10+09:00" property="article:published_time"/>
<meta content="20220825100410" property="og:regDate"/>
<meta content="2022-08-25T22:04:10+09:00" property="article:modified_time"/>
<link href="https://t1.daumcdn.net/tistory_admin/lib/lightbox/css/lightbox.min.css" rel="stylesheet" type="text/css"/>
<link href="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/style/font.css" rel="stylesheet" type="text/css"/>
<link href="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/style/content.css" rel="stylesheet" type="text/css"/>
<link href="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/style/uselessPMargin.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript">(function() {
    var tjQuery = jQuery.noConflict(true);
    window.tjQuery = tjQuery;
    window.orgjQuery = window.jQuery; window.jQuery = tjQuery;
    window.jQuery = window.orgjQuery; delete window.orgjQuery;
})()</script>
<script src="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/script/base.js" type="text/javascript"></script>
<script type="text/javascript">if (!window.T) { window.T = {} }
window.T.config = {"TOP_SSL_URL":"https://www.tistory.com","PREVIEW":false,"ROLE":"guest","PREV_PAGE":"","NEXT_PAGE":"","BLOG":{"id":4851450,"name":"carzip","title":"다모아 자동차","isDormancy":false},"NEED_COMMENT_LOGIN":true,"COMMENT_LOGIN_CONFIRM_MESSAGE":"이 블로그는 로그인한 사용자에게만 댓글 작성을 허용했습니다. 지금 로그인하시겠습니까?","LOGIN_URL":"https://www.tistory.com/auth/login/?redirectUrl=https%3A%2F%2Fcarzip.tistory.com%2Fentry%2F2022-%2525EC%2525A0%252584%2525EA%2525B8%2525B0%2525EC%2525B0%2525A8-%2525EC%2525A2%252585%2525EB%2525A5%252598-%2525EA%2525B0%252580%2525EA%2525B2%2525A9-%2525EC%2525B4%25259D%2525EC%2525A0%252595%2525EB%2525A6%2525AC","DEFAULT_URL":"https://carzip.tistory.com","USER":{"name":null,"homepage":null},"SUBSCRIPTION":{"status":"none","isConnected":false,"isPending":false,"isWait":false,"isProcessing":false,"isNone":true},"IS_LOGIN":false,"HAS_BLOG":false,"TOP_URL":"http://www.tistory.com","JOIN_URL":"https://www.tistory.com/member/join","ROLE_GROUP":"visitor"};
window.appInfo = {"domain":"tistory.com","topUrl":"https://www.tistory.com","loginUrl":"https://www.tistory.com/auth/login","logoutUrl":"https://www.tistory.com/auth/logout"};
window.initData = {};

window.TistoryBlog = {
    basePath: "",
    url: "https://carzip.tistory.com",
    tistoryUrl: "https://carzip.tistory.com",
    manageUrl: "https://carzip.tistory.com/manage",
    token: "23kOFGwt5uNSmrfe9wzjHmJSdcisJDc44Hnhot+tmyL1VEoBc0sHT23IHmCMVJMi"
};
var servicePath = "";
var blogURL = "";</script>
<script src="//developers.kakao.com/sdk/js/kakao.min.js" type="text/javascript"></script>
<script async="" crossorigin="anonymous" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4616436653868640"></script>
<meta content="f6f778c11cdef547b3214222855ae23bddb6caca" name="naver-site-verification"/>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-199856016-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-199856016-2');
</script>
<meta charset="utf-8"/>
<meta content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" name="viewport"/>
<title>2022 전기차 종류, 가격 총정리</title>
<link href="https://tistory1.daumcdn.net/tistory/4851450/skin/style.css?_version_=1644108722" rel="stylesheet"/>
<script src="//t1.daumcdn.net/tistory_admin/lib/jquery/jquery-1.12.4.min.js"></script>
<style type="text/css">

.entry-content a, .post-header h1 em, .comments h2 .count {color:#04beb8}
.comment-form .submit button:hover, .comment-form .submit button:focus {background-color:#04beb8}



</style>
<style type="text/css">.another_category {
    border: 1px solid #E5E5E5;
    padding: 10px 10px 5px;
    margin: 10px 0;
    clear: both;
}

.another_category h4 {
    font-size: 12px !important;
    margin: 0 !important;
    border-bottom: 1px solid #E5E5E5 !important;
    padding: 2px 0 6px !important;
}

.another_category h4 a {
    font-weight: bold !important;
}

.another_category table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100% !important;
    margin-top: 10px !important;
}

* html .another_category table {
    width: auto !important;
}

*:first-child + html .another_category table {
    width: auto !important;
}

.another_category th, .another_category td {
    padding: 0 0 4px !important;
}

.another_category th {
    text-align: left;
    font-size: 12px !important;
    font-weight: normal;
    word-break: break-all;
    overflow: hidden;
    line-height: 1.5;
}

.another_category td {
    text-align: right;
    width: 80px;
    font-size: 11px;
}

.another_category th a {
    font-weight: normal;
    text-decoration: none;
    border: none !important;
}

.another_category th a.current {
    font-weight: bold;
    text-decoration: none !important;
    border-bottom: 1px solid !important;
}

.another_category th span {
    font-weight: normal;
    text-decoration: none;
    font: 10px Tahoma, Sans-serif;
    border: none !important;
}

.another_category_color_gray, .another_category_color_gray h4 {
    border-color: #E5E5E5 !important;
}

.another_category_color_gray * {
    color: #909090 !important;
}

.another_category_color_gray th a.current {
    border-color: #909090 !important;
}

.another_category_color_gray h4, .another_category_color_gray h4 a {
    color: #737373 !important;
}

.another_category_color_red, .another_category_color_red h4 {
    border-color: #F6D4D3 !important;
}

.another_category_color_red * {
    color: #E86869 !important;
}

.another_category_color_red th a.current {
    border-color: #E86869 !important;
}

.another_category_color_red h4, .another_category_color_red h4 a {
    color: #ED0908 !important;
}

.another_category_color_green, .another_category_color_green h4 {
    border-color: #CCE7C8 !important;
}

.another_category_color_green * {
    color: #64C05B !important;
}

.another_category_color_green th a.current {
    border-color: #64C05B !important;
}

.another_category_color_green h4, .another_category_color_green h4 a {
    color: #3EA731 !important;
}

.another_category_color_blue, .another_category_color_blue h4 {
    border-color: #C8DAF2 !important;
}

.another_category_color_blue * {
    color: #477FD6 !important;
}

.another_category_color_blue th a.current {
    border-color: #477FD6 !important;
}

.another_category_color_blue h4, .another_category_color_blue h4 a {
    color: #1960CA !important;
}

.another_category_color_violet, .another_category_color_violet h4 {
    border-color: #E1CEEC !important;
}

.another_category_color_violet * {
    color: #9D64C5 !important;
}

.another_category_color_violet th a.current {
    border-color: #9D64C5 !important;
}

.another_category_color_violet h4, .another_category_color_violet h4 a {
    color: #7E2CB5 !important;
}
</style>
<link href="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/style/dialog.css" rel="stylesheet" type="text/css">
<link href="//t1.daumcdn.net/tistory_admin/www/style/top/font.css" rel="stylesheet" type="text/css"/>
<link href="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/style/postBtn.css" rel="stylesheet" type="text/css"/>
<link href="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/style/tistory.css" rel="stylesheet" type="text/css"/>
<link href="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/style/revenue.css" rel="stylesheet" type="text/css"/>
<link href="https://carzip.tistory.com/entry/2022-%EC%A0%84%EA%B8%B0%EC%B0%A8-%EC%A2%85%EB%A5%98-%EA%B0%80%EA%B2%A9-%EC%B4%9D%EC%A0%95%EB%A6%AC" rel="canonical"/>
<!-- BEGIN STRUCTURED_DATA -->
<script type="application/ld+json">
    {"@context":"http://schema.org","@type":"BlogPosting","mainEntityOfPage":{"@id":"https://carzip.tistory.com/entry/2022-%EC%A0%84%EA%B8%B0%EC%B0%A8-%EC%A2%85%EB%A5%98-%EA%B0%80%EA%B2%A9-%EC%B4%9D%EC%A0%95%EB%A6%AC","name":null},"url":"https://carzip.tistory.com/entry/2022-%EC%A0%84%EA%B8%B0%EC%B0%A8-%EC%A2%85%EB%A5%98-%EA%B0%80%EA%B2%A9-%EC%B4%9D%EC%A0%95%EB%A6%AC","headline":"2022 전기차 종류, 가격 총정리","description":"2022년 기준으로 전기차 종류와 가격을 총정리합니다. 전기 세단, 전기차 SUV 등 국산차와 수입차를 통틀어서 정리해보도록 하겠습니다. 요즘은 전기차가 대세라고 할 정도로 길거리에서 전기차가 많이 보이기 시작했습니다. 점차 세계적으로 내연기관 자동차를 없애려는 분위기가 생기면서 국내에서도 다양한 전기차 인프라가 생기고 있고, 다양한 전기차 모델이 나와서 상용화되고 있습니다. 우리나라에서도 벌써 길거리에 테슬라 차량이 많이 보이고 있으며, 현대의 아이오닉 5나 기아의 ev6도 이제 길에서 흔하게 볼 수 있는 차량이 되었습니다. 이러한 부분들은 정말 시대의 흐름이라고 보이네요. 정말 다양한 전기차 종류가 있는데, 잘 모르시는 분들은 헤매실 수 있을 것 같아서 오늘은 2022년 기준으로 전기차 종류와 가격을..","author":{"@type":"Person","name":"@!!!","logo":null},"image":{"@type":"ImageObject","url":"https://img1.daumcdn.net/thumb/R800x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fet6xgb%2FbtrKwja822s%2FVnztn0wWxP6dDE0FYf9rmK%2Fimg.png","width":"800px","height":"800px"},"datePublished":"20220825T22:04:10","dateModified":"20220825T22:04:10","publisher":{"@type":"Organization","name":"TISTORY","logo":{"@type":"ImageObject","url":"https://t1.daumcdn.net/tistory_admin/static/images/openGraph/opengraph.png","width":"800px","height":"800px"}}}
</script>
<!-- END STRUCTURED_DATA -->
<script src="https://tistory1.daumcdn.net/tistory_admin/userblog/userblog-526d55d84e4617d13a5d57732e696096fec562d2/static/script/common.js" type="text/javascript"></script>
</link></meta></meta></head>
<body class="layout-aside-right paging-number" id="tt-body-page">
<div id="acc-nav">
<a href="#content">본문 바로가기</a>
</div>
<div id="wrap">
<header id="header">
<div class="inner">
<h1>
<a href="https://carzip.tistory.com/">


						다모아 자동차

				</a>
</h1>
<div class="util">
<div class="search">
<input name="search" onkeypress="if (event.keyCode == 13) { try {
    window.location.href = '/search' + '/' + looseURIEncode(document.getElementsByName('search')[0].value);
    document.getElementsByName('search')[0].value = '';
    return false;
} catch (e) {} }" placeholder="검색내용을 입력하세요." type="text" value=""/>
<button onclick="try {
    window.location.href = '/search' + '/' + looseURIEncode(document.getElementsByName('search')[0].value);
    document.getElementsByName('search')[0].value = '';
    return false;
} catch (e) {}" type="submit">검색</button>
</div>
<div class="profile">
<button type="button"><img alt="블로그 이미지" src="https://t1.daumcdn.net/tistory_admin/static/manage/images/r3/default_L.png"/></button>
<nav>
<ul>
<li><a href="https://carzip.tistory.com/manage">관리</a></li>
<li><a href="https://carzip.tistory.com/manage/entry/post ">글쓰기</a></li>
<li class="login"><a href="#">로그인</a></li>
<li class="logout"><a href="#">로그아웃</a></li>
</ul>
</nav>
</div>
<button class="menu" type="button"><span>메뉴</span></button>
</div>
<nav id="gnb">
<ul>
<li class="t_menu_home first"><a href="/" target="">홈</a></li>
</ul>
</nav>
</div>
</header>
<section id="container">
<div class="content-wrap">
<article id="content">
<div class="inner">
<div class="post-cover" style="background-image:url(https://blog.kakaocdn.net/dn/et6xgb/btrKwja822s/Vnztn0wWxP6dDE0FYf9rmK/img.png)">
<div class="inner">
<span class="category">자동차 정보</span>
<h1>2022 전기차 종류, 가격 총정리</h1>
<span class="meta">
<span class="author">by @!!!</span>
<span class="date">2022. 8. 25.</span>
</span>
</div>
</div>
<div class="entry-content">
<!-- System - START -->
<div class="revenue_unit_wrap">
<div class="revenue_unit_item adsense responsive">
<div class="revenue_unit_info">반응형</div>
<script async="async" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" data-ad-client="ca-pub-4616436653868640" data-ad-format="auto" data-ad-host="ca-host-pub-9691043933427338" style="display: block;"></ins>
<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
</div>
</div>
<!-- System - END -->
<div class="tt_article_useless_p_margin contents_style"><p data-ke-size="size16"><span style="background-color: #f6e199;"><b>2022년 기준으로 전기차 종류와 가격을 총정리</b></span>합니다. 전기 세단, 전기차 SUV 등 국산차와 수입차를 통틀어서 정리해보도록 하겠습니다.</p>
<p data-ke-size="size16"> </p>
<p data-ke-size="size16">요즘은 전기차가 대세라고 할 정도로 길거리에서 전기차가 많이 보이기 시작했습니다. 점차 세계적으로 내연기관 자동차를 없애려는 분위기가 생기면서 국내에서도 다양한 전기차 인프라가 생기고 있고, 다양한 전기차 모델이 나와서 상용화되고 있습니다.</p>
<p data-ke-size="size16"> </p>

In [ ]:
tables = soup.select('table')
tables

[<table border="1" data-ke-align="alignLeft" data-ke-style="style7" style="border-collapse: collapse; width: 100%; height: 996px;">
 <tbody>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"회사"}' style="width: 13.7209%; height: 19px; text-align: center;"><b>회사</b></td>
 <td data-sheets-value='{"1":2,"2":"이름"}' style="width: 19.6512%; height: 19px; text-align: center;"><b>이름</b></td>
 <td data-sheets-value='{"1":2,"2":"크기"}' style="width: 10%; height: 19px; text-align: center;"><b>크기</b></td>
 <td data-sheets-value='{"1":2,"2":"주행거리(km)"}' style="width: 13.7209%; height: 19px; text-align: center;"><b>주행거리(km)</b></td>
 <td data-sheets-value='{"1":2,"2":"배터리 용량(kWh)"}' style="width: 17.4419%; height: 19px; text-align: center;"><b>배터리 용량(kWh)</b></td>
 <td data-sheets-value='{"1":2,"2":"price"}' style="width: 25.3488%; height: 19px; text-align: center;"><b>가격</b></td>
 </tr>
 <tr style="height: 45px;">
 <td data-sheets-value='{"1":2,"2":"현대"}' rowspan="4" style="width: 13.7209%; height: 102px; text-align: center;"><span style="color: #ee2323;"><b>현대</b></span></td>
 <td data-sheets-value='{"1":2,"2":"포터2"}' style="width: 19.6512%; height: 45px; text-align: center;">포터2</td>
 <td data-sheets-value='{"1":2,"2":"소형트럭"}' style="width: 10%; height: 45px; text-align: center;">소형트럭</td>
 <td data-sheets-value='{"1":2,"2":"177~211"}' style="width: 13.7209%; height: 45px; text-align: center;">177~211</td>
 <td style="width: 17.4419%; height: 45px; text-align: center;"> </td>
 <td data-sheets-value='{"1":2,"2":"1,659 ~ 4,759만 원"}' style="width: 25.3488%; height: 45px; text-align: center;">
 <div>
 <div>1,659 ~ 4,759만 원</div>
 </div>
 </td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"아이오닉5"}' style="width: 19.6512%; height: 19px; text-align: center;">아이오닉5</td>
 <td data-sheets-value='{"1":2,"2":"중형SUV"}' style="width: 10%; height: 19px; text-align: center;">중형SUV</td>
 <td data-sheets-value='{"1":2,"2":"319~458"}' style="width: 13.7209%; height: 19px; text-align: center;">319~458</td>
 <td data-sheets-value='{"1":2,"2":"58~77"}' style="width: 17.4419%; height: 19px; text-align: center;">58~77</td>
 <td data-sheets-value='{"1":2,"2":"4,495 ~ 6,120만 원"}' style="width: 25.3488%; height: 19px; text-align: center;">
 <div>
 <div>4,495 ~ 6,120만 원</div>
 </div>
 </td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"아이오닉 6"}' style="width: 19.6512%; height: 19px; text-align: center;">아이오닉 6</td>
 <td data-sheets-value='{"1":2,"2":"중형"}' style="width: 10%; height: 19px; text-align: center;">중형</td>
 <td data-sheets-value='{"1":2,"2":"367~524"}' style="width: 13.7209%; height: 19px; text-align: center;">367~524</td>
 <td data-sheets-value='{"1":2,"2":"53~77"}' style="width: 17.4419%; height: 19px; text-align: center;">53~77</td>
 <td data-sheets-value='{"1":2,"2":"5,200 ~ 6,369만 원"}' style="width: 25.3488%; height: 19px; text-align: center;">
 <div>
 <div>5,200 ~ 6,369만 원</div>
 </div>
 </td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"카운티"}' style="width: 19.6512%; height: 19px; text-align: center;">카운티</td>
 <td data-sheets-value='{"1":2,"2":"소형버스"}' style="width: 10%; height: 19px; text-align: center;">소형버스</td>
 <td data-sheets-value='{"1":3,"3":250}' style="width: 13.7209%; height: 19px; text-align: center;">250</td>
 <td style="width: 17.4419%; height: 19px; text-align: center;"> </td>
 <td data-sheets-value='{"1":2,"2":"6,484 ~ 2억 1,986만 원"}' style="width: 25.3488%; height: 19px; text-align: center;">
 <div>
 <div>6,484 ~ 2억 1,986만 원</div>
 </div>
 </td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"푸조"}' rowspan="2" style="width: 13.7209%; height: 38px; text-align: center;"><span style="color: #f89009;"><b>푸조</b></span></td>
 <td data-sheets-value='{"1":3,"3":2008}' style="width: 19.6512%; height: 19px; text-align: center;">2008</td>
 <td data-sheets-value='{"1":2,"2":"소형SUV"}' style="width: 10%; height: 19px; text-align: center;">소형SUV</td>
 <td data-sheets-value='{"1":2,"2":"237~260"}' style="width: 13.7209%; height: 19px; text-align: center;">237~260</td>
 <td style="width: 17.4419%; height: 19px; text-align: center;"> </td>
 <td data-sheets-value='{"1":2,"2":"3,700 ~ 5,390만 원"}' style="width: 25.3488%; height: 19px; text-align: center;">
 <div>
 <div>3,700 ~ 5,390만 원</div>
 </div>
 </td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":3,"3":208}' style="width: 19.6512%; height: 19px; text-align: center;">208</td>
 <td data-sheets-value='{"1":2,"2":"소형"}' style="width: 10%; height: 19px; text-align: center;">소형</td>
 <td data-sheets-value='{"1":2,"2":"244~280"}' style="width: 13.7209%; height: 19px; text-align: center;">244~280</td>
 <td data-sheets-value='{"1":3,"3":50}' style="width: 17.4419%; height: 19px; text-align: center;">50</td>
 <td data-sheets-value='{"1":2,"2":"4,900 ~ 5,300만 원"}' style="width: 25.3488%; height: 19px; text-align: center;">
 <div>
 <div>4,900 ~ 5,300만 원</div>
 </div>
 </td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"폴스타"}' style="width: 13.7209%; height: 19px; text-align: center;"><span style="color: #009a87;"><b>폴스타</b></span></td>
 <td data-sheets-value='{"1":2,"2":"Polestar 2"}' style="width: 19.6512%; height: 19px; text-align: center;">Polestar 2</td>
 <td data-sheets-value='{"1":2,"2":"중형"}' style="width: 10%; height: 19px; text-align: center;">중형</td>
 <td data-sheets-value='{"1":2,"2":"334~417"}' style="width: 13.7209%; height: 19px; text-align: center;">334~417</td>
 <td data-sheets-value='{"1":3,"3":78}' style="width: 17.4419%; height: 19px; text-align: center;">78</td>
 <td data-sheets-value='{"1":2,"2":"5,490 ~ 5,990만 원"}' style="width: 25.3488%; height: 19px; text-align: center;">
 <div>
 <div>5,490 ~ 5,990만 원</div>
 </div>
 </td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"포르쉐"}' style="width: 13.7209%; height: 19px; text-align: center;"><span style="color: #006dd7;"><b>포르쉐</b></span></td>
 <td data-sheets-value='{"1":2,"2":"Taycan"}' style="width: 19.6512%; height: 19px; text-align: center;">Taycan</td>
 <td data-sheets-value='{"1":2,"2":"스포츠카"}' style="width: 10%; height: 19px; text-align: center;">스포츠카</td>
 <td data-sheets-value='{"1":2,"2":"251~504"}' style="width: 13.7209%; height: 19px; text-align: center;">251~504</td>
 <td data-sheets-value='{"1":2,"2":"79~93"}' style="width: 17.4419%; height: 19px; text-align: center;">79~93</td>
 <td data-sheets-value='{"1":2,"2":"1억 2,380 ~ 2억 3,760만 원"}' style="width: 25.3488%; height: 19px; text-align: center;">
 <div>
 <div>1억 2,380 ~ 2억 3,760만 원</div>
 </div>
 </td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"테슬라"}' rowspan="4" style="width: 13.7209%; height: 76px; text-align: center;"><span style="color: #ee2323;"><b>테슬라</b></span></td>
 <td data-sheets-value='{"1":2,"2":"Model 3"}' style="width: 19.6512%; height: 19px; text-align: center;">Model 3</td>
 <td data-sheets-value='{"1":2,"2":"준중형"}' style="width: 10%; height: 19px; text-align: center;">준중형</td>
 <td data-sheets-value='{"1":2,"2":"386~499"}' style="width: 13.7209%; height: 19px; text-align: center;">386~499</td>
 <td data-sheets-value='{"1":2,"2":"50~75"}' style="width: 17.4419%; height: 19px; text-align: center;">50~75</td>
 <td data-sheets-value='{"1":2,"2":"7,034 ~ 9,418만 원"}' style="width: 25.3488%; height: 19px; text-align: center;">
 <div>
 <div>7,034 ~ 9,418만 원</div>
 </div>
 </td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"Model Y"}' style="width: 19.6512%; height: 19px; text-align: center;">Model Y</td>
 <td data-sheets-value='{"1":2,"2":"중형SUV"}' style="width: 10%; height: 19px; text-align: center;">중형SUV</td>
 <td data-sheets-value='{"1":2,"2":"370~540"}' style="width: 13.7209%; height: 19px; text-align: center;">370~540</td>
 <td data-sheets-value='{"1":3,"3":75}' style="width: 17.4419%; height: 19px; text-align: center;">75</td>
 <td data-sheets-value='{"1":2,"2":"9,665 ~ 1억 0,473만 원"}' style="width: 25.3488%; height: 19px; text-align: center;">
 <div>
 <div>9,665 ~ 1억 0,473만 원</div>
 </div>
 </td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"Model X"}' style="width: 19.6512%; height: 19px; text-align: center;">Model X</td>
 <td data-sheets-value='{"1":2,"2":"대형SUV"}' style="width: 10%; height: 19px; text-align: center;">대형SUV</td>
 <td data-sheets-value='{"1":2,"2":"547~580"}' style="width: 13.7209%; height: 19px; text-align: center;">547~580</td>
 <td data-sheets-value='{"1":3,"3":100}' style="width: 17.4419%; height: 19px; text-align: center;">100</td>
 <td data-sheets-value='{"1":2,"2":"1억 2,999 ~ 1억 6,999만 원"}' style="width: 25.3488%; height: 19px; text-align: center;">
 <div>
 <div>1억 2,999 ~ 1억 6,999만 원</div>
 </div>
 </td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"Model S"}' style="width: 19.6512%; height: 19px; text-align: center;">Model S</td>
 <td data-sheets-value='{"1":2,"2":"준대형"}' style="width: 10%; height: 19px; text-align: center;">준대형</td>
 <td data-sheets-value='{"1":2,"2":"628~663"}' style="width: 13.7209%; height: 19px; text-align: center;">628~663</td>
 <td style="width: 17.4419%; height: 19px; text-align: center;"> </td>
 <td data-sheets-value='{"1":2,"2":"1억 3,999 ~ 1억 5,999만 원"}' style="width: 25.3488%; height: 19px; text-align: center;">
 <div>
 <div>1억 3,999 ~ 1억 5,999만 원</div>
 </div>
 </td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"제네시스"}' rowspan="3" style="width: 13.7209%; height: 48px; text-align: center;"><span style="color: #f89009;"><b>제네시스</b></span></td>
 <td data-sheets-value='{"1":2,"2":"GV70"}' style="width: 19.6512%; height: 19px; text-align: center;">GV70</td>
 <td data-sheets-value='{"1":2,"2":"중형SUV"}' style="width: 10%; height: 19px; text-align: center;">중형SUV</td>
 <td data-sheets-value='{"1":3,"3":400}' style="width: 13.7209%; height: 19px; text-align: center;">400</td>
 <td style="width: 17.4419%; height: 19px; text-align: center;"> </td>
 <td data-sheets-value='{"1":2,"2":"4,904 ~ 7,332만 원"}' style="width: 25.3488%; height: 19px; text-align: center;">
 <div>
 <div>4,904 ~ 7,332만 원</div>
 </div>
 </td>
 </tr>
 <tr style="height: 10px;">
 <td data-sheets-value='{"1":2,"2":"G80"}' style="width: 19.6512%; height: 10px; text-align: center;">G80</td>
 <td data-sheets-value='{"1":2,"2":"준대형"}' style="width: 10%; height: 10px; text-align: center;">준대형</td>
 <td data-sheets-value='{"1":3,"3":427}' style="width: 13.7209%; height: 10px; text-align: center;">427</td>
 <td style="width: 17.4419%; height: 10px; text-align: center;"> </td>
 <td data-sheets-value='{"1":2,"2":"5,311 ~ 8,281만 원"}' style="width: 25.3488%; height: 10px; text-align: center;">
 <div>
 <div>5,311 ~ 8,281만 원</div>
 </div>
 </td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"GV60"}' style="width: 19.6512%; height: 19px; text-align: center;">GV60</td>
 <td data-sheets-value='{"1":2,"2":"중형SUV"}' style="width: 10%; height: 19px; text-align: center;">중형SUV</td>
 <td data-sheets-value='{"1":2,"2":"368~451"}' style="width: 13.7209%; height: 19px; text-align: center;">368~451</td>
 <td data-sheets-value='{"1":3,"3":77}' style="width: 17.4419%; height: 19px; text-align: center;">77</td>
 <td data-sheets-value='{"1":2,"2":"5,990 ~ 6,976만 원"}' style="width: 25.3488%; height: 19px; text-align: center;">
 <div>
 <div>5,990 ~ 6,976만 원</div>
 </div>
 </td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"이비온"}' style="width: 13.7209%; height: 19px; text-align: center;"><span style="color: #f3c000;"><b>이비온</b></span></td>
 <td data-sheets-value='{"1":2,"2":"E6"}' style="width: 19.6512%; height: 19px; text-align: center;">E6</td>
 <td data-sheets-value='{"1":2,"2":"소형버스"}' style="width: 10%; height: 19px; text-align: center;">소형버스</td>
 <td data-sheets-value='{"1":3,"3":160}' style="width: 13.7209%; height: 19px; text-align: center;">160</td>
 <td data-sheets-value='{"1":3,"3":60}' style="width: 17.4419%; height: 19px; text-align: center;">60</td>
 <td data-sheets-value='{"1":2,"2":"1억 2,000만 원"}' style="width: 25.3488%; height: 19px; text-align: center;">1억 2,000만 원</td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"아우디"}' rowspan="2" style="width: 13.7209%; height: 38px; text-align: center;"><span style="color: #009a87;"><b>아우디</b></span></td>
 <td data-sheets-value='{"1":2,"2":"e-tron"}' style="width: 19.6512%; height: 19px; text-align: center;">e-tron</td>
 <td data-sheets-value='{"1":2,"2":"대형SUV"}' style="width: 10%; height: 19px; text-align: center;">대형SUV</td>
 <td data-sheets-value='{"1":2,"2":"210~307"}' style="width: 13.7209%; height: 19px; text-align: center;">210~307</td>
 <td data-sheets-value='{"1":2,"2":"71~95"}' style="width: 17.4419%; height: 19px; text-align: center;">71~95</td>
 <td data-sheets-value='{"1":2,"2":"9,777 ~ 1억 4,122만 원"}' style="width: 25.3488%; height: 19px; text-align: center;">
 <div>
 <div>9,777 ~ 1억 4,122만 원</div>
 </div>
 </td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"e-tron GT"}' style="width: 19.6512%; height: 19px; text-align: center;">e-tron GT</td>
 <td data-sheets-value='{"1":2,"2":"준대형"}' style="width: 10%; height: 19px; text-align: center;">준대형</td>
 <td data-sheets-value='{"1":2,"2":"336~362"}' style="width: 13.7209%; height: 19px; text-align: center;">336~362</td>
 <td data-sheets-value='{"1":3,"3":93}' style="width: 17.4419%; height: 19px; text-align: center;">93</td>
 <td data-sheets-value='{"1":2,"2":"1억 4,332 ~ 2억 0,632만 원"}' style="width: 25.3488%; height: 19px; text-align: center;">
 <div>
 <div>1억 4,332 ~ 2억 0,632만 원</div>
 </div>
 </td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"쎄보모빌리티"}' style="width: 13.7209%; height: 19px; text-align: center;"><span style="color: #006dd7;"><b>쎄보모빌리티</b></span></td>
 <td data-sheets-value='{"1":2,"2":"CEVO-C SE"}' style="width: 19.6512%; height: 19px; text-align: center;">CEVO-C SE</td>
 <td data-sheets-value='{"1":2,"2":"경차"}' style="width: 10%; height: 19px; text-align: center;">경차</td>
 <td data-sheets-value='{"1":3,"3":69}' style="width: 13.7209%; height: 19px; text-align: center;">69</td>
 <td data-sheets-value='{"1":3,"3":10}' style="width: 17.4419%; height: 19px; text-align: center;">10</td>
 <td data-sheets-value='{"1":2,"2":"1,570만 원"}' style="width: 25.3488%; height: 19px; text-align: center;">1,570만 원</td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"쌍용"}' style="width: 13.7209%; height: 19px; text-align: center;"><span style="color: #ee2323;"><b>쌍용</b></span></td>
 <td data-sheets-value='{"1":2,"2":"코란도 이모션"}' style="width: 19.6512%; height: 19px; text-align: center;">코란도 이모션</td>
 <td data-sheets-value='{"1":2,"2":"중형SUV"}' style="width: 10%; height: 19px; text-align: center;">중형SUV</td>
 <td data-sheets-value='{"1":3,"3":307}' style="width: 13.7209%; height: 19px; text-align: center;">307</td>
 <td data-sheets-value='{"1":3,"3":61}' style="width: 17.4419%; height: 19px; text-align: center;">61</td>
 <td data-sheets-value='{"1":2,"2":"3,880 ~ 4,390만 원"}' style="width: 25.3488%; height: 19px; text-align: center;">
 <div>
 <div>3,880 ~ 4,390만 원</div>
 </div>
 </td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"쉐보레"}' rowspan="2" style="width: 13.7209%; height: 38px; text-align: center;"><span style="color: #f89009;"><b>쉐보레</b></span></td>
 <td data-sheets-value='{"1":2,"2":"볼트 EV"}' style="width: 19.6512%; height: 19px; text-align: center;">볼트 EV</td>
 <td data-sheets-value='{"1":2,"2":"소형"}' style="width: 10%; height: 19px; text-align: center;">소형</td>
 <td data-sheets-value='{"1":3,"3":414}' style="width: 13.7209%; height: 19px; text-align: center;">414</td>
 <td data-sheets-value='{"1":3,"3":66}' style="width: 17.4419%; height: 19px; text-align: center;">66</td>
 <td data-sheets-value='{"1":2,"2":"4,130 ~ 4,430만 원"}' style="width: 25.3488%; height: 19px; text-align: center;">
 <div>
 <div>4,130 ~ 4,430만 원</div>
 </div>
 </td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"볼트 EUV"}' style="width: 19.6512%; height: 19px; text-align: center;">볼트 EUV</td>
 <td data-sheets-value='{"1":2,"2":"소형SUV"}' style="width: 10%; height: 19px; text-align: center;">소형SUV</td>
 <td data-sheets-value='{"1":3,"3":403}' style="width: 13.7209%; height: 19px; text-align: center;">403</td>
 <td data-sheets-value='{"1":3,"3":66}' style="width: 17.4419%; height: 19px; text-align: center;">66</td>
 <td data-sheets-value='{"1":2,"2":"4,490 ~ 4,985만 원"}' style="width: 25.3488%; height: 19px; text-align: center;">
 <div>
 <div>4,490 ~ 4,985만 원</div>
 </div>
 </td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"볼보"}' rowspan="3" style="width: 13.7209%; height: 57px; text-align: center;"><span style="color: #009a87;"><b>볼보</b></span></td>
 <td data-sheets-value='{"1":2,"2":"XC40 Recharge"}' style="width: 19.6512%; height: 19px; text-align: center;">XC40 Recharge</td>
 <td data-sheets-value='{"1":2,"2":"중형SUV"}' style="width: 10%; height: 19px; text-align: center;">중형SUV</td>
 <td data-sheets-value='{"1":3,"3":356}' style="width: 13.7209%; height: 19px; text-align: center;">356</td>
 <td data-sheets-value='{"1":3,"3":78}' style="width: 17.4419%; height: 19px; text-align: center;">78</td>
 <td data-sheets-value='{"1":2,"2":"6,296만 원"}' style="width: 25.3488%; height: 19px; text-align: center;">6,296만 원</td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"New XC40Recharge"}' style="width: 19.6512%; height: 19px; text-align: center;">New XC40Recharge</td>
 <td data-sheets-value='{"1":2,"2":"중형SUV"}' style="width: 10%; height: 19px; text-align: center;">중형SUV</td>
 <td data-sheets-value='{"1":3,"3":337}' style="width: 13.7209%; height: 19px; text-align: center;">337</td>
 <td data-sheets-value='{"1":3,"3":78}' style="width: 17.4419%; height: 19px; text-align: center;">78</td>
 <td data-sheets-value='{"1":2,"2":"6,388만 원"}' style="width: 25.3488%; height: 19px; text-align: center;">6,388만 원</td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"C40 Recharge"}' style="width: 19.6512%; height: 19px; text-align: center;">C40 Recharge</td>
 <td data-sheets-value='{"1":2,"2":"중형SUV"}' style="width: 10%; height: 19px; text-align: center;">중형SUV</td>
 <td data-sheets-value='{"1":3,"3":356}' style="width: 13.7209%; height: 19px; text-align: center;">356</td>
 <td data-sheets-value='{"1":3,"3":78}' style="width: 17.4419%; height: 19px; text-align: center;">78</td>
 <td data-sheets-value='{"1":2,"2":"6,391만 원"}' style="width: 25.3488%; height: 19px; text-align: center;">6,391만 원</td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"벤츠"}' rowspan="4" style="width: 13.7209%; height: 67px; text-align: center;"><span style="color: #006dd7;"><b>벤츠</b></span></td>
 <td data-sheets-value='{"1":2,"2":"EQA"}' style="width: 19.6512%; height: 19px; text-align: center;">EQA</td>
 <td data-sheets-value='{"1":2,"2":"소형SUV"}' style="width: 10%; height: 19px; text-align: center;">소형SUV</td>
 <td data-sheets-value='{"1":2,"2":"303~306"}' style="width: 13.7209%; height: 19px; text-align: center;">303~306</td>
 <td data-sheets-value='{"1":3,"3":66}' style="width: 17.4419%; height: 19px; text-align: center;">66</td>
 <td data-sheets-value='{"1":2,"2":"5,990 ~ 6,790만 원"}' style="width: 25.3488%; height: 19px; text-align: center;">
 <div>
 <div>5,990 ~ 6,790만 원</div>
 </div>
 </td>
 </tr>
 <tr style="height: 19px;">
 <td data-sheets-value='{"1":2,"2":"EQB"}' style="width: 19.6512%; height: 19px; text-align: center;">EQB</td>
 <td data-sheets-value='{"1":2,"2":"소형SUV"}' style="width: 10%; height: 19px; text-align: center;">소형SUV</td>
 <td data-sheets-value='{"1":3,"3":313}' style="width: 13.7209%; height: 19px; text-align: center;">313</td>

In [ ]:
import pandas as pd

table = tables[1] # 원하는 표 선택
table_html = str(table) # 테이블 정보를 문자열로 변경

table_df_html = pd.read_html(table_html) # read_html로 테이블 정보 읽기
table_df = table_df_html[0] # 데이터 프레임 선택

table_df

         0                 1      2                       3
0       회사                이름     크기                      가격
1       현대               포터2   소형트럭        1,659 ~ 4,759만 원
2       현대             아이오닉5  중형SUV        4,495 ~ 6,120만 원
3       현대            아이오닉 6     중형        5,200 ~ 6,369만 원
4       현대               카운티   소형버스     6,484 ~ 2억 1,986만 원
5       푸조              2008  소형SUV        3,700 ~ 5,390만 원
6       푸조               208     소형        4,900 ~ 5,300만 원
7      폴스타        Polestar 2     중형        5,490 ~ 5,990만 원
8      포르쉐            Taycan   스포츠카  1억 2,380 ~ 2억 3,760만 원
9      테슬라           Model 3    준중형        7,034 ~ 9,418만 원
10     테슬라           Model Y  중형SUV     9,665 ~ 1억 0,473만 원
11     테슬라           Model X  대형SUV  1억 2,999 ~ 1억 6,999만 원
12     테슬라           Model S    준대형  1억 3,999 ~ 1억 5,999만 원
13    제네시스              GV70  중형SUV        4,904 ~ 7,332만 원
14    제네시스               G80    준대형        5,311 ~ 8,281만 원
15    제네시스              GV60  중형SUV        5,990 ~ 6,976만 원
16     이비온                E6   소형버스             1억 2,000만 원
17     아우디            e-tron  대형SUV     9,777 ~ 1억 4,122만 원
18     아우디         e-tron GT    준대형  1억 4,332 ~ 2억 0,632만 원
19  쎄보모빌리티         CEVO-C SE     경차                1,570만 원
20      쌍용           코란도 이모션  중형SUV        3,880 ~ 4,390만 원
21     쉐보레             볼트 EV     소형        4,130 ~ 4,430만 원
22     쉐보레            볼트 EUV  소형SUV        4,490 ~ 4,985만 원
23      볼보     XC40 Recharge  중형SUV                6,296만 원
24      볼보  New XC40Recharge  중형SUV                6,388만 원
25      볼보      C40 Recharge  중형SUV                6,391만 원
26      벤츠               EQA  소형SUV        5,990 ~ 6,790만 원
27      벤츠               EQB  소형SUV        7,130 ~ 7,920만 원
28      벤츠               EQC  중형SUV                9,590만 원
29      벤츠               EQS     대형  1억 3,890 ~ 1억 8,100만 원
30      미니          Electric     소형                4,890만 원
31     마이브                M1     경차                1,892만 원
32     렉서스                UX  중형SUV        4,640 ~ 5,560만 원
33     디피코               포트로    경트럭        2,068 ~ 2,316만 원
34   대창모터스              다니고Ⅲ    경트럭                1,880만 원
35   대창모터스           다니고 EV밴   픽업/밴                3,680만 원
36   대창모터스             다니고-C   소형트럭                3,980만 원
37   대창모터스             다니고-T   소형트럭                3,980만 원
38      기아              봉고 3   소형트럭        1,659 ~ 5,995만 원
39      기아                니로  소형SUV        2,660 ~ 4,910만 원
40      기아            니로 플러스  소형SUV        4,420 ~ 4,691만 원
41      기아               EV6  중형SUV        4,730 ~ 6,887만 원
42   SMART            EV D2P    경트럭                1,980만 원
43   SMART            EV D2C    경트럭                1,980만 원
44   SMART              EV Z     경차                2,750만 원
45   EVKMC            마사다 픽업    경트럭        3,699 ~ 4,600만 원
46   EVKMC             마사다 밴   픽업/밴        3,780 ~ 3,980만 원
47      DS     DS3 Crossback  소형SUV        4,330 ~ 5,790만 원
48     BMW                i3     소형                5,430만 원
49     BMW                i4     중형        6,520 ~ 8,680만 원
50     BMW               iX3  중형SUV                7,730만 원
51     BMW                iX  대형SUV  1억 2,190 ~ 1억 4,860만 원

In [ ]:
new_table_df = table_df.drop(0) # 0번 삭제
new_table_df

         0                 1      2                       3
1       현대               포터2   소형트럭        1,659 ~ 4,759만 원
2       현대             아이오닉5  중형SUV        4,495 ~ 6,120만 원
3       현대            아이오닉 6     중형        5,200 ~ 6,369만 원
4       현대               카운티   소형버스     6,484 ~ 2억 1,986만 원
5       푸조              2008  소형SUV        3,700 ~ 5,390만 원
6       푸조               208     소형        4,900 ~ 5,300만 원
7      폴스타        Polestar 2     중형        5,490 ~ 5,990만 원
8      포르쉐            Taycan   스포츠카  1억 2,380 ~ 2억 3,760만 원
9      테슬라           Model 3    준중형        7,034 ~ 9,418만 원
10     테슬라           Model Y  중형SUV     9,665 ~ 1억 0,473만 원
11     테슬라           Model X  대형SUV  1억 2,999 ~ 1억 6,999만 원
12     테슬라           Model S    준대형  1억 3,999 ~ 1억 5,999만 원
13    제네시스              GV70  중형SUV        4,904 ~ 7,332만 원
14    제네시스               G80    준대형        5,311 ~ 8,281만 원
15    제네시스              GV60  중형SUV        5,990 ~ 6,976만 원
16     이비온                E6   소형버스             1억 2,000만 원
17     아우디            e-tron  대형SUV     9,777 ~ 1억 4,122만 원
18     아우디         e-tron GT    준대형  1억 4,332 ~ 2억 0,632만 원
19  쎄보모빌리티         CEVO-C SE     경차                1,570만 원
20      쌍용           코란도 이모션  중형SUV        3,880 ~ 4,390만 원
21     쉐보레             볼트 EV     소형        4,130 ~ 4,430만 원
22     쉐보레            볼트 EUV  소형SUV        4,490 ~ 4,985만 원
23      볼보     XC40 Recharge  중형SUV                6,296만 원
24      볼보  New XC40Recharge  중형SUV                6,388만 원
25      볼보      C40 Recharge  중형SUV                6,391만 원
26      벤츠               EQA  소형SUV        5,990 ~ 6,790만 원
27      벤츠               EQB  소형SUV        7,130 ~ 7,920만 원
28      벤츠               EQC  중형SUV                9,590만 원
29      벤츠               EQS     대형  1억 3,890 ~ 1억 8,100만 원
30      미니          Electric     소형                4,890만 원
31     마이브                M1     경차                1,892만 원
32     렉서스                UX  중형SUV        4,640 ~ 5,560만 원
33     디피코               포트로    경트럭        2,068 ~ 2,316만 원
34   대창모터스              다니고Ⅲ    경트럭                1,880만 원
35   대창모터스           다니고 EV밴   픽업/밴                3,680만 원
36   대창모터스             다니고-C   소형트럭                3,980만 원
37   대창모터스             다니고-T   소형트럭                3,980만 원
38      기아              봉고 3   소형트럭        1,659 ~ 5,995만 원
39      기아                니로  소형SUV        2,660 ~ 4,910만 원
40      기아            니로 플러스  소형SUV        4,420 ~ 4,691만 원
41      기아               EV6  중형SUV        4,730 ~ 6,887만 원
42   SMART            EV D2P    경트럭                1,980만 원
43   SMART            EV D2C    경트럭                1,980만 원
44   SMART              EV Z     경차                2,750만 원
45   EVKMC            마사다 픽업    경트럭        3,699 ~ 4,600만 원
46   EVKMC             마사다 밴   픽업/밴        3,780 ~ 3,980만 원
47      DS     DS3 Crossback  소형SUV        4,330 ~ 5,790만 원
48     BMW                i3     소형                5,430만 원
49     BMW                i4     중형        6,520 ~ 8,680만 원
50     BMW               iX3  중형SUV                7,730만 원
51     BMW                iX  대형SUV  1억 2,190 ~ 1억 4,860만 원

In [ ]:
new_table_df.columns = ['회사', '이름', '크기', '가격'] # 열 이름 모두 변경
new_table_df

        회사                이름     크기                      가격
1       현대               포터2   소형트럭        1,659 ~ 4,759만 원
2       현대             아이오닉5  중형SUV        4,495 ~ 6,120만 원
3       현대            아이오닉 6     중형        5,200 ~ 6,369만 원
4       현대               카운티   소형버스     6,484 ~ 2억 1,986만 원
5       푸조              2008  소형SUV        3,700 ~ 5,390만 원
6       푸조               208     소형        4,900 ~ 5,300만 원
7      폴스타        Polestar 2     중형        5,490 ~ 5,990만 원
8      포르쉐            Taycan   스포츠카  1억 2,380 ~ 2억 3,760만 원
9      테슬라           Model 3    준중형        7,034 ~ 9,418만 원
10     테슬라           Model Y  중형SUV     9,665 ~ 1억 0,473만 원
11     테슬라           Model X  대형SUV  1억 2,999 ~ 1억 6,999만 원
12     테슬라           Model S    준대형  1억 3,999 ~ 1억 5,999만 원
13    제네시스              GV70  중형SUV        4,904 ~ 7,332만 원
14    제네시스               G80    준대형        5,311 ~ 8,281만 원
15    제네시스              GV60  중형SUV        5,990 ~ 6,976만 원
16     이비온                E6   소형버스             1억 2,000만 원
17     아우디            e-tron  대형SUV     9,777 ~ 1억 4,122만 원
18     아우디         e-tron GT    준대형  1억 4,332 ~ 2억 0,632만 원
19  쎄보모빌리티         CEVO-C SE     경차                1,570만 원
20      쌍용           코란도 이모션  중형SUV        3,880 ~ 4,390만 원
21     쉐보레             볼트 EV     소형        4,130 ~ 4,430만 원
22     쉐보레            볼트 EUV  소형SUV        4,490 ~ 4,985만 원
23      볼보     XC40 Recharge  중형SUV                6,296만 원
24      볼보  New XC40Recharge  중형SUV                6,388만 원
25      볼보      C40 Recharge  중형SUV                6,391만 원
26      벤츠               EQA  소형SUV        5,990 ~ 6,790만 원
27      벤츠               EQB  소형SUV        7,130 ~ 7,920만 원
28      벤츠               EQC  중형SUV                9,590만 원
29      벤츠               EQS     대형  1억 3,890 ~ 1억 8,100만 원
30      미니          Electric     소형                4,890만 원
31     마이브                M1     경차                1,892만 원
32     렉서스                UX  중형SUV        4,640 ~ 5,560만 원
33     디피코               포트로    경트럭        2,068 ~ 2,316만 원
34   대창모터스              다니고Ⅲ    경트럭                1,880만 원
35   대창모터스           다니고 EV밴   픽업/밴                3,680만 원
36   대창모터스             다니고-C   소형트럭                3,980만 원
37   대창모터스             다니고-T   소형트럭                3,980만 원
38      기아              봉고 3   소형트럭        1,659 ~ 5,995만 원
39      기아                니로  소형SUV        2,660 ~ 4,910만 원
40      기아            니로 플러스  소형SUV        4,420 ~ 4,691만 원
41      기아               EV6  중형SUV        4,730 ~ 6,887만 원
42   SMART            EV D2P    경트럭                1,980만 원
43   SMART            EV D2C    경트럭                1,980만 원
44   SMART              EV Z     경차                2,750만 원
45   EVKMC            마사다 픽업    경트럭        3,699 ~ 4,600만 원
46   EVKMC             마사다 밴   픽업/밴        3,780 ~ 3,980만 원
47      DS     DS3 Crossback  소형SUV        4,330 ~ 5,790만 원
48     BMW                i3     소형                5,430만 원
49     BMW                i4     중형        6,520 ~ 8,680만 원
50     BMW               iX3  중형SUV                7,730만 원
51     BMW                iX  대형SUV  1억 2,190 ~ 1억 4,860만 원

In [ ]:
split = table_df[3].str.split('~') # 최저가와 최고가가 분리
split

0                          [가격]
1           [1,659 ,  4,759만 원]
2           [4,495 ,  6,120만 원]
3           [5,200 ,  6,369만 원]
4        [6,484 ,  2억 1,986만 원]
5           [3,700 ,  5,390만 원]
6           [4,900 ,  5,300만 원]
7           [5,490 ,  5,990만 원]
8     [1억 2,380 ,  2억 3,760만 원]
9           [7,034 ,  9,418만 원]
10       [9,665 ,  1억 0,473만 원]
11    [1억 2,999 ,  1억 6,999만 원]
12    [1억 3,999 ,  1억 5,999만 원]
13          [4,904 ,  7,332만 원]
14          [5,311 ,  8,281만 원]
15          [5,990 ,  6,976만 원]
16                [1억 2,000만 원]
17       [9,777 ,  1억 4,122만 원]
18    [1억 4,332 ,  2억 0,632만 원]
19                   [1,570만 원]
20          [3,880 ,  4,390만 원]
21          [4,130 ,  4,430만 원]
22          [4,490 ,  4,985만 원]
23                   [6,296만 원]
24                   [6,388만 원]
25                   [6,391만 원]
26          [5,990 ,  6,790만 원]
27          [7,130 ,  7,920만 원]
28                   [9,590만 원]
29    [1억 3,890 ,  1억 8,100만 원]
30                   [4,890만 원]
31                   [1,892만 원]
32          [4,640 ,  5,560만 원]
33          [2,068 ,  2,316만 원]
34                   [1,880만 원]
35                   [3,680만 원]
36                   [3,980만 원]
37                   [3,980만 원]
38          [1,659 ,  5,995만 원]
39          [2,660 ,  4,910만 원]
40          [4,420 ,  4,691만 원]
41          [4,730 ,  6,887만 원]
42                   [1,980만 원]
43                   [1,980만 원]
44                   [2,750만 원]
45          [3,699 ,  4,600만 원]
46          [3,780 ,  3,980만 원]
47          [4,330 ,  5,790만 원]
48                   [5,430만 원]
49          [6,520 ,  8,680만 원]
50                   [7,730만 원]
51    [1억 2,190 ,  1억 4,860만 원]
Name: 3, dtype: object

In [ ]:
split = split.apply(lambda x: pd.Series(x)) # 시리즈를 데이터프레임으로 변환
split

              0             1
0            가격           NaN
1        1,659       4,759만 원
2        4,495       6,120만 원
3        5,200       6,369만 원
4        6,484    2억 1,986만 원
5        3,700       5,390만 원
6        4,900       5,300만 원
7        5,490       5,990만 원
8     1억 2,380    2억 3,760만 원
9        7,034       9,418만 원
10       9,665    1억 0,473만 원
11    1억 2,999    1억 6,999만 원
12    1억 3,999    1억 5,999만 원
13       4,904       7,332만 원
14       5,311       8,281만 원
15       5,990       6,976만 원
16  1억 2,000만 원           NaN
17       9,777    1억 4,122만 원
18    1억 4,332    2억 0,632만 원
19     1,570만 원           NaN
20       3,880       4,390만 원
21       4,130       4,430만 원
22       4,490       4,985만 원
23     6,296만 원           NaN
24     6,388만 원           NaN
25     6,391만 원           NaN
26       5,990       6,790만 원
27       7,130       7,920만 원
28     9,590만 원           NaN
29    1억 3,890    1억 8,100만 원
30     4,890만 원           NaN
31     1,892만 원           NaN
32       4,640       5,560만 원
33       2,068       2,316만 원
34     1,880만 원           NaN
35     3,680만 원           NaN
36     3,980만 원           NaN
37     3,980만 원           NaN
38       1,659       5,995만 원
39       2,660       4,910만 원
40       4,420       4,691만 원
41       4,730       6,887만 원
42     1,980만 원           NaN
43     1,980만 원           NaN
44     2,750만 원           NaN
45       3,699       4,600만 원
46       3,780       3,980만 원
47       4,330       5,790만 원
48     5,430만 원           NaN
49       6,520       8,680만 원
50     7,730만 원           NaN
51    1억 2,190    1억 4,860만 원

In [ ]:
new_split = split.drop(0) # 0번 삭제
new_split

              0             1
1        1,659       4,759만 원
2        4,495       6,120만 원
3        5,200       6,369만 원
4        6,484    2억 1,986만 원
5        3,700       5,390만 원
6        4,900       5,300만 원
7        5,490       5,990만 원
8     1억 2,380    2억 3,760만 원
9        7,034       9,418만 원
10       9,665    1억 0,473만 원
11    1억 2,999    1억 6,999만 원
12    1억 3,999    1억 5,999만 원
13       4,904       7,332만 원
14       5,311       8,281만 원
15       5,990       6,976만 원
16  1억 2,000만 원           NaN
17       9,777    1억 4,122만 원
18    1억 4,332    2억 0,632만 원
19     1,570만 원           NaN
20       3,880       4,390만 원
21       4,130       4,430만 원
22       4,490       4,985만 원
23     6,296만 원           NaN
24     6,388만 원           NaN
25     6,391만 원           NaN
26       5,990       6,790만 원
27       7,130       7,920만 원
28     9,590만 원           NaN
29    1억 3,890    1억 8,100만 원
30     4,890만 원           NaN
31     1,892만 원           NaN
32       4,640       5,560만 원
33       2,068       2,316만 원
34     1,880만 원           NaN
35     3,680만 원           NaN
36     3,980만 원           NaN
37     3,980만 원           NaN
38       1,659       5,995만 원
39       2,660       4,910만 원
40       4,420       4,691만 원
41       4,730       6,887만 원
42     1,980만 원           NaN
43     1,980만 원           NaN
44     2,750만 원           NaN
45       3,699       4,600만 원
46       3,780       3,980만 원
47       4,330       5,790만 원
48     5,430만 원           NaN
49       6,520       8,680만 원
50     7,730만 원           NaN
51    1억 2,190    1억 4,860만 원

In [ ]:
new_split.columns = ['최저가', '최고가'] # 열 이름 모두 변경
new_split

            최저가           최고가
1        1,659       4,759만 원
2        4,495       6,120만 원
3        5,200       6,369만 원
4        6,484    2억 1,986만 원
5        3,700       5,390만 원
6        4,900       5,300만 원
7        5,490       5,990만 원
8     1억 2,380    2억 3,760만 원
9        7,034       9,418만 원
10       9,665    1억 0,473만 원
11    1억 2,999    1억 6,999만 원
12    1억 3,999    1억 5,999만 원
13       4,904       7,332만 원
14       5,311       8,281만 원
15       5,990       6,976만 원
16  1억 2,000만 원           NaN
17       9,777    1억 4,122만 원
18    1억 4,332    2억 0,632만 원
19     1,570만 원           NaN
20       3,880       4,390만 원
21       4,130       4,430만 원
22       4,490       4,985만 원
23     6,296만 원           NaN
24     6,388만 원           NaN
25     6,391만 원           NaN
26       5,990       6,790만 원
27       7,130       7,920만 원
28     9,590만 원           NaN
29    1억 3,890    1억 8,100만 원
30     4,890만 원           NaN
31     1,892만 원           NaN
32       4,640       5,560만 원
33       2,068       2,316만 원
34     1,880만 원           NaN
35     3,680만 원           NaN
36     3,980만 원           NaN
37     3,980만 원           NaN
38       1,659       5,995만 원
39       2,660       4,910만 원
40       4,420       4,691만 원
41       4,730       6,887만 원
42     1,980만 원           NaN
43     1,980만 원           NaN
44     2,750만 원           NaN
45       3,699       4,600만 원
46       3,780       3,980만 원
47       4,330       5,790만 원
48     5,430만 원           NaN
49       6,520       8,680만 원
50     7,730만 원           NaN
51    1억 2,190    1억 4,860만 원

In [ ]:
new_split['최저가'] = new_split['최저가'].str.replace(',', '') # ,제거
new_split['최저가'] = new_split['최저가'].str.replace('만 원', '') # 만 원제거
new_split['최저가'] = new_split['최저가'].str.replace('억', '') # 억 제거

new_split['최고가'] = new_split['최고가'].str.replace(',', '') # ,제거
new_split['최고가'] = new_split['최고가'].str.replace('만 원', '') # 만 원제거
new_split['최고가'] = new_split['최고가'].str.replace('억', '') # 억 제거

new_split

        최저가      최고가
1     1659      4759
2     4495      6120
3     5200      6369
4     6484    2 1986
5     3700      5390
6     4900      5300
7     5490      5990
8   1 2380    2 3760
9     7034      9418
10    9665    1 0473
11  1 2999    1 6999
12  1 3999    1 5999
13    4904      7332
14    5311      8281
15    5990      6976
16   1 2000      NaN
17    9777    1 4122
18  1 4332    2 0632
19     1570      NaN
20    3880      4390
21    4130      4430
22    4490      4985
23     6296      NaN
24     6388      NaN
25     6391      NaN
26    5990      6790
27    7130      7920
28     9590      NaN
29  1 3890    1 8100
30     4890      NaN
31     1892      NaN
32    4640      5560
33    2068      2316
34     1880      NaN
35     3680      NaN
36     3980      NaN
37     3980      NaN
38    1659      5995
39    2660      4910
40    4420      4691
41    4730      6887
42     1980      NaN
43     1980      NaN
44     2750      NaN
45    3699      4600
46    3780      3980
47    4330      5790
48     5430      NaN
49    6520      8680
50     7730      NaN
51  1 2190    1 4860

In [ ]:
new_split['최저가'] = new_split['최저가'].str.replace(' ', '') # 공백 제거
new_split['최고가'] = new_split['최고가'].str.replace(' ', '') # 공백 제거

new_split

      최저가    최고가
1    1659   4759
2    4495   6120
3    5200   6369
4    6484  21986
5    3700   5390
6    4900   5300
7    5490   5990
8   12380  23760
9    7034   9418
10   9665  10473
11  12999  16999
12  13999  15999
13   4904   7332
14   5311   8281
15   5990   6976
16  12000    NaN
17   9777  14122
18  14332  20632
19   1570    NaN
20   3880   4390
21   4130   4430
22   4490   4985
23   6296    NaN
24   6388    NaN
25   6391    NaN
26   5990   6790
27   7130   7920
28   9590    NaN
29  13890  18100
30   4890    NaN
31   1892    NaN
32   4640   5560
33   2068   2316
34   1880    NaN
35   3680    NaN
36   3980    NaN
37   3980    NaN
38   1659   5995
39   2660   4910
40   4420   4691
41   4730   6887
42   1980    NaN
43   1980    NaN
44   2750    NaN
45   3699   4600
46   3780   3980
47   4330   5790
48   5430    NaN
49   6520   8680
50   7730    NaN
51  12190  14860

In [ ]:
new_split['최저가'] = new_split['최저가'].astype('float') # 문자열을 float으로 변환
new_split['최고가'] = new_split['최고가'].astype('float') # 문자열을 float으로 변환

new_split.dtypes # 확인

최저가    float64
최고가    float64
dtype: object

In [ ]:
import numpy as np

new_split['평균 가격'] = new_split.mean(axis = 1)
new_split

        최저가      최고가    평균 가격
1    1659.0   4759.0   3209.0
2    4495.0   6120.0   5307.5
3    5200.0   6369.0   5784.5
4    6484.0  21986.0  14235.0
5    3700.0   5390.0   4545.0
6    4900.0   5300.0   5100.0
7    5490.0   5990.0   5740.0
8   12380.0  23760.0  18070.0
9    7034.0   9418.0   8226.0
10   9665.0  10473.0  10069.0
11  12999.0  16999.0  14999.0
12  13999.0  15999.0  14999.0
13   4904.0   7332.0   6118.0
14   5311.0   8281.0   6796.0
15   5990.0   6976.0   6483.0
16  12000.0      NaN  12000.0
17   9777.0  14122.0  11949.5
18  14332.0  20632.0  17482.0
19   1570.0      NaN   1570.0
20   3880.0   4390.0   4135.0
21   4130.0   4430.0   4280.0
22   4490.0   4985.0   4737.5
23   6296.0      NaN   6296.0
24   6388.0      NaN   6388.0
25   6391.0      NaN   6391.0
26   5990.0   6790.0   6390.0
27   7130.0   7920.0   7525.0
28   9590.0      NaN   9590.0
29  13890.0  18100.0  15995.0
30   4890.0      NaN   4890.0
31   1892.0      NaN   1892.0
32   4640.0   5560.0   5100.0
33   2068.0   2316.0   2192.0
34   1880.0      NaN   1880.0
35   3680.0      NaN   3680.0
36   3980.0      NaN   3980.0
37   3980.0      NaN   3980.0
38   1659.0   5995.0   3827.0
39   2660.0   4910.0   3785.0
40   4420.0   4691.0   4555.5
41   4730.0   6887.0   5808.5
42   1980.0      NaN   1980.0
43   1980.0      NaN   1980.0
44   2750.0      NaN   2750.0
45   3699.0   4600.0   4149.5
46   3780.0   3980.0   3880.0
47   4330.0   5790.0   5060.0
48   5430.0      NaN   5430.0
49   6520.0   8680.0   7600.0
50   7730.0      NaN   7730.0
51  12190.0  14860.0  13525.0

In [ ]:
df1_2022 = pd.concat([new_table_df, new_split], axis = 1) # 데이터프레임 합치기
df1_2022

,회사,이름,크기,가격,최저가,최고가,평균 가격
1,현대,포터2,소형트럭,"1,659 ~ 4,759만 원",1659.0,4759.0,3209.0
2,현대,아이오닉5,중형SUV,"4,495 ~ 6,120만 원",4495.0,6120.0,5307.5
3,현대,아이오닉 6,중형,"5,200 ~ 6,369만 원",5200.0,6369.0,5784.5
4,현대,카운티,소형버스,"6,484 ~ 2억 1,986만 원",6484.0,21986.0,14235.0
5,푸조,2008,소형SUV,"3,700 ~ 5,390만 원",3700.0,5390.0,4545.0
6,푸조,208,소형,"4,900 ~ 5,300만 원",4900.0,5300.0,5100.0
7,폴스타,Polestar 2,중형,"5,490 ~ 5,990만 원",5490.0,5990.0,5740.0
8,포르쉐,Taycan,스포츠카,"1억 2,380 ~ 2억 3,760만 원",12380.0,23760.0,18070.0
9,테슬라,Model 3,준중형,"7,034 ~ 9,418만 원",7034.0,9418.0,8226.0
10,테슬라,Model Y,중형SUV,"9,665 ~ 1억 0,473만 원",9665.0,10473.0,10069.0
11,테슬라,Model X,대형SUV,"1억 2,999 ~ 1억 6,999만 원",12999.0,16999.0,14999.0
12,테슬라,Model S,준대형,"1억 3,999 ~ 1억 5,999만 원",13999.0,15999.0,14999.0
13,제네시스,GV70,중형SUV,"4,904 ~ 7,332만 원",4904.0,7332.0,6118.0
14,제네시스,G80,준대형,"5,311 ~ 8,281만 원",5311.0,8281.0,6796.0
15,제네시스,GV60,중형SUV,"5,990 ~ 6,976만 원",5990.0,6976.0,6483.0
16,이비온,E6,소형버스,"1억 2,000만 원",12000.0,NaN,12000.0
17,아우디,e-tron,대형SUV,"9,777 ~ 1억 4,122만 원",9777.0,14122.0,11949.5
18,아우디,e-tron GT,준대형,"1억 4,332 ~ 2억 0,632만 원",14332.0,20632.0,17482.0
19,쎄보모빌리티,CEVO-C SE,경차,"1,570만 원",1570.0,NaN,1570.0
20,쌍용,코란도 이모션,중형SUV,"3,880 ~ 4,390만 원",3880.0,4390.0,4135.0
21,쉐보레,볼트 EV,소형,"4,130 ~ 4,430만 원",4130.0,4430.0,4280.0
22,쉐보레,볼트 EUV,소형SUV,"4,490 ~ 4,985만 원",4490.0,4985.0,4737.5
23,볼보,XC40 Recharge,중형SUV,"6,296만 원",6296.0,NaN,6296.0
24,볼보,New XC40Recharge,중형SUV,"6,388만 원",6388.0,NaN,6388.0
25,볼보,C40 Recharge,중형SUV,"6,391만 원",6391.0,NaN,6391.0
26,벤츠,EQA,소형SUV,"5,990 ~ 6,790만 원",5990.0,6790.0,6390.0
27,벤츠,EQB,소형SUV,"7,130 ~ 7,920만 원",7130.0,7920.0,7525.0
28,벤츠,EQC,중형SUV,"9,590만 원",9590.0,NaN,9590.0
29,벤츠,EQS,대형,"1억 3,890 ~ 1억 8,100만 원",13890.0,18100.0,15995.0
30,미니,Electric,소형,"4,890만 원",4890.0,NaN,4890.0
31,마이브,M1,경차,"1,892만 원",1892.0,NaN,1892.0
32,렉서스,UX,중형SUV,"4,640 ~ 5,560만 원",4640.0,5560.0,5100.0
33,디피코,포트로,경트럭,"2,068 ~ 2,316만 원",2068.0,2316.0,2192.0
34,대창모터스,다니고Ⅲ,경트럭,"1,880만 원",1880.0,NaN,1880.0
35,대창모터스,다니고 EV밴,픽업/밴,"3,680만 원",3680.0,NaN,3680.0
36,대창모터스,다니고-C,소형트럭,"3,980만 원",3980.0,NaN,3980.0
37,대창모터스,다니고-T,소형트럭,"3,980만 원",3980.0,NaN,3980.0
38,기아,봉고 3,소형트럭,"1,659 ~ 5,995만 원",1659.0,5995.0,3827.0
39,기아,니로,소형SUV,"2,660 ~ 4,910만 원",2660.0,4910.0,3785.0
40,기아,니로 플러스,소형SUV,"4,420 ~ 4,691만 원",4420.0,4691.0,4555.5
41,기아,EV6,중형SUV,"4,730 ~ 6,887만 원",4730.0,6887.0,5808.5
42,SMART,EV D2P,경트럭,"1,980만 원",1980.0,NaN,1980.0
43,SMART,EV D2C,경트럭,"1,980만 원",1980.0,NaN,1980.0
44,SMART,EV Z,경차,"2,750만 원",2750.0,NaN,2750.0
45,EVKMC,마사다 픽업,경트럭,"3,699 ~ 4,600만 원",3699.0,4600.0,4149.5
46,EVKMC,마사다 밴,픽업/밴,"3,780 ~ 3,980만 원",3780.0,3980.0,3880.0
47,DS,DS3 Crossback,소형SUV,"4,330 ~ 5,790만 원",4330.0,5790.0,5060.0
48,BMW,i3,소형,"5,430만 원",5430.0,NaN,5430.0
49,BMW,i4,중형,"6,520 ~ 8,680만 원",6520.0,8680.0,7600.0
50,BMW,iX3,중형SUV,"7,730만 원",7730.0,NaN,7730.0
51,BMW,iX,대형SUV,"1억 2,190 ~ 1억 4,860만 원",12190.0,14860.0,13525.0

In [ ]:
df2_2022 = df1_2022.drop(['크기', '가격', '최저가', '최고가'], axis = 1) # 크기, 가격, 최저가, 최고가 삭제
df2_2022

        회사                이름    평균 가격
1       현대               포터2   3209.0
2       현대             아이오닉5   5307.5
3       현대            아이오닉 6   5784.5
4       현대               카운티  14235.0
5       푸조              2008   4545.0
6       푸조               208   5100.0
7      폴스타        Polestar 2   5740.0
8      포르쉐            Taycan  18070.0
9      테슬라           Model 3   8226.0
10     테슬라           Model Y  10069.0
11     테슬라           Model X  14999.0
12     테슬라           Model S  14999.0
13    제네시스              GV70   6118.0
14    제네시스               G80   6796.0
15    제네시스              GV60   6483.0
16     이비온                E6  12000.0
17     아우디            e-tron  11949.5
18     아우디         e-tron GT  17482.0
19  쎄보모빌리티         CEVO-C SE   1570.0
20      쌍용           코란도 이모션   4135.0
21     쉐보레             볼트 EV   4280.0
22     쉐보레            볼트 EUV   4737.5
23      볼보     XC40 Recharge   6296.0
24      볼보  New XC40Recharge   6388.0
25      볼보      C40 Recharge   6391.0
26      벤츠               EQA   6390.0
27      벤츠               EQB   7525.0
28      벤츠               EQC   9590.0
29      벤츠               EQS  15995.0
30      미니          Electric   4890.0
31     마이브                M1   1892.0
32     렉서스                UX   5100.0
33     디피코               포트로   2192.0
34   대창모터스              다니고Ⅲ   1880.0
35   대창모터스           다니고 EV밴   3680.0
36   대창모터스             다니고-C   3980.0
37   대창모터스             다니고-T   3980.0
38      기아              봉고 3   3827.0
39      기아                니로   3785.0
40      기아            니로 플러스   4555.5
41      기아               EV6   5808.5
42   SMART            EV D2P   1980.0
43   SMART            EV D2C   1980.0
44   SMART              EV Z   2750.0
45   EVKMC            마사다 픽업   4149.5
46   EVKMC             마사다 밴   3880.0
47      DS     DS3 Crossback   5060.0
48     BMW                i3   5430.0
49     BMW                i4   7600.0
50     BMW               iX3   7730.0
51     BMW                iX  13525.0

In [ ]:
df2_2022.rename(columns = {'평균 가격': '가격(만 원)'}, inplace = True) # 열 이름 하나 선택해서 변경
df2_2022

        회사                이름  가격(만 원)
1       현대               포터2   3209.0
2       현대             아이오닉5   5307.5
3       현대            아이오닉 6   5784.5
4       현대               카운티  14235.0
5       푸조              2008   4545.0
6       푸조               208   5100.0
7      폴스타        Polestar 2   5740.0
8      포르쉐            Taycan  18070.0
9      테슬라           Model 3   8226.0
10     테슬라           Model Y  10069.0
11     테슬라           Model X  14999.0
12     테슬라           Model S  14999.0
13    제네시스              GV70   6118.0
14    제네시스               G80   6796.0
15    제네시스              GV60   6483.0
16     이비온                E6  12000.0
17     아우디            e-tron  11949.5
18     아우디         e-tron GT  17482.0
19  쎄보모빌리티         CEVO-C SE   1570.0
20      쌍용           코란도 이모션   4135.0
21     쉐보레             볼트 EV   4280.0
22     쉐보레            볼트 EUV   4737.5
23      볼보     XC40 Recharge   6296.0
24      볼보  New XC40Recharge   6388.0
25      볼보      C40 Recharge   6391.0
26      벤츠               EQA   6390.0
27      벤츠               EQB   7525.0
28      벤츠               EQC   9590.0
29      벤츠               EQS  15995.0
30      미니          Electric   4890.0
31     마이브                M1   1892.0
32     렉서스                UX   5100.0
33     디피코               포트로   2192.0
34   대창모터스              다니고Ⅲ   1880.0
35   대창모터스           다니고 EV밴   3680.0
36   대창모터스             다니고-C   3980.0
37   대창모터스             다니고-T   3980.0
38      기아              봉고 3   3827.0
39      기아                니로   3785.0
40      기아            니로 플러스   4555.5
41      기아               EV6   5808.5
42   SMART            EV D2P   1980.0
43   SMART            EV D2C   1980.0
44   SMART              EV Z   2750.0
45   EVKMC            마사다 픽업   4149.5
46   EVKMC             마사다 밴   3880.0
47      DS     DS3 Crossback   5060.0
48     BMW                i3   5430.0
49     BMW                i4   7600.0
50     BMW               iX3   7730.0
51     BMW                iX  13525.0

In [ ]:
# 전기차 2022년 전처리

df2_2022.isnull() # 결측치 전체 확인

       회사     이름  가격(만 원)
1   False  False    False
2   False  False    False
3   False  False    False
4   False  False    False
5   False  False    False
6   False  False    False
7   False  False    False
8   False  False    False
9   False  False    False
10  False  False    False
11  False  False    False
12  False  False    False
13  False  False    False
14  False  False    False
15  False  False    False
16  False  False    False
17  False  False    False
18  False  False    False
19  False  False    False
20  False  False    False
21  False  False    False
22  False  False    False
23  False  False    False
24  False  False    False
25  False  False    False
26  False  False    False
27  False  False    False
28  False  False    False
29  False  False    False
30  False  False    False
31  False  False    False
32  False  False    False
33  False  False    False
34  False  False    False
35  False  False    False
36  False  False    False
37  False  False    False
38  False  False    False
39  False  False    False
40  False  False    False
41  False  False    False
42  False  False    False
43  False  False    False
44  False  False    False
45  False  False    False
46  False  False    False
47  False  False    False
48  False  False    False
49  False  False    False
50  False  False    False
51  False  False    False

In [ ]:
df_2022 = df2_2022.reset_index(drop = True) # 인덱스 재배열
df_2022

        회사                이름  가격(만 원)
0       현대               포터2   3209.0
1       현대             아이오닉5   5307.5
2       현대            아이오닉 6   5784.5
3       현대               카운티  14235.0
4       푸조              2008   4545.0
5       푸조               208   5100.0
6      폴스타        Polestar 2   5740.0
7      포르쉐            Taycan  18070.0
8      테슬라           Model 3   8226.0
9      테슬라           Model Y  10069.0
10     테슬라           Model X  14999.0
11     테슬라           Model S  14999.0
12    제네시스              GV70   6118.0
13    제네시스               G80   6796.0
14    제네시스              GV60   6483.0
15     이비온                E6  12000.0
16     아우디            e-tron  11949.5
17     아우디         e-tron GT  17482.0
18  쎄보모빌리티         CEVO-C SE   1570.0
19      쌍용           코란도 이모션   4135.0
20     쉐보레             볼트 EV   4280.0
21     쉐보레            볼트 EUV   4737.5
22      볼보     XC40 Recharge   6296.0
23      볼보  New XC40Recharge   6388.0
24      볼보      C40 Recharge   6391.0
25      벤츠               EQA   6390.0
26      벤츠               EQB   7525.0
27      벤츠               EQC   9590.0
28      벤츠               EQS  15995.0
29      미니          Electric   4890.0
30     마이브                M1   1892.0
31     렉서스                UX   5100.0
32     디피코               포트로   2192.0
33   대창모터스              다니고Ⅲ   1880.0
34   대창모터스           다니고 EV밴   3680.0
35   대창모터스             다니고-C   3980.0
36   대창모터스             다니고-T   3980.0
37      기아              봉고 3   3827.0
38      기아                니로   3785.0
39      기아            니로 플러스   4555.5
40      기아               EV6   5808.5
41   SMART            EV D2P   1980.0
42   SMART            EV D2C   1980.0
43   SMART              EV Z   2750.0
44   EVKMC            마사다 픽업   4149.5
45   EVKMC             마사다 밴   3880.0
46      DS     DS3 Crossback   5060.0
47     BMW                i3   5430.0
48     BMW                i4   7600.0
49     BMW               iX3   7730.0
50     BMW                iX  13525.0

In [ ]:
df_2022.insert(0, '연도', ['2022', '2022', '2022', '2022', '2022', '2022', '2022', '2022', '2022', '2022', '2022', '2022', '2022', '2022', '2022', '2022', '2022', '2022', '2022', '2022', '2022', '2022', '2022','2022', '2022','2022', '2022', '2022', '2022', '2022', '2022', '2022', '2022', '2022', '2022', '2022', '2022', '2022', '2022', '2022', '2022', '2022', '2022', '2022', '2022', '2022', '2022', '2022','2022', '2022', '2022'])
df_2022

      연도      회사                이름  가격(만 원)
0   2022      현대               포터2   3209.0
1   2022      현대             아이오닉5   5307.5
2   2022      현대            아이오닉 6   5784.5
3   2022      현대               카운티  14235.0
4   2022      푸조              2008   4545.0
5   2022      푸조               208   5100.0
6   2022     폴스타        Polestar 2   5740.0
7   2022     포르쉐            Taycan  18070.0
8   2022     테슬라           Model 3   8226.0
9   2022     테슬라           Model Y  10069.0
10  2022     테슬라           Model X  14999.0
11  2022     테슬라           Model S  14999.0
12  2022    제네시스              GV70   6118.0
13  2022    제네시스               G80   6796.0
14  2022    제네시스              GV60   6483.0
15  2022     이비온                E6  12000.0
16  2022     아우디            e-tron  11949.5
17  2022     아우디         e-tron GT  17482.0
18  2022  쎄보모빌리티         CEVO-C SE   1570.0
19  2022      쌍용           코란도 이모션   4135.0
20  2022     쉐보레             볼트 EV   4280.0
21  2022     쉐보레            볼트 EUV   4737.5
22  2022      볼보     XC40 Recharge   6296.0
23  2022      볼보  New XC40Recharge   6388.0
24  2022      볼보      C40 Recharge   6391.0
25  2022      벤츠               EQA   6390.0
26  2022      벤츠               EQB   7525.0
27  2022      벤츠               EQC   9590.0
28  2022      벤츠               EQS  15995.0
29  2022      미니          Electric   4890.0
30  2022     마이브                M1   1892.0
31  2022     렉서스                UX   5100.0
32  2022     디피코               포트로   2192.0
33  2022   대창모터스              다니고Ⅲ   1880.0
34  2022   대창모터스           다니고 EV밴   3680.0
35  2022   대창모터스             다니고-C   3980.0
36  2022   대창모터스             다니고-T   3980.0
37  2022      기아              봉고 3   3827.0
38  2022      기아                니로   3785.0
39  2022      기아            니로 플러스   4555.5
40  2022      기아               EV6   5808.5
41  2022   SMART            EV D2P   1980.0
42  2022   SMART            EV D2C   1980.0
43  2022   SMART              EV Z   2750.0
44  2022   EVKMC            마사다 픽업   4149.5
45  2022   EVKMC             마사다 밴   3880.0
46  2022      DS     DS3 Crossback   5060.0
47  2022     BMW                i3   5430.0
48  2022     BMW                i4   7600.0
49  2022     BMW               iX3   7730.0
50  2022     BMW                iX  13525.0

# csv 파일로 저장

In [ ]:
dfs_1922 = pd.concat([df_2019, df_2020, df_2021, df_2022], axis = 0) # 데이터프레임 합치기
dfs_1922

      연도   회사             이름  가격(만 원)
0   2019   현대        코나 일렉트릭   4750.0
1   2019   기아      쏘울 부스터 EV   4730.0
2   2019   기아          니로 EV   4880.0
3   2019   현대      아이오닉 일렉트릭   4290.0
4   2019   르노        SM3 Z.E   3800.0
..   ...  ...            ...      ...
46  2022   DS  DS3 Crossback   5060.0
47  2022  BMW             i3   5430.0
48  2022  BMW             i4   7600.0
49  2022  BMW            iX3   7730.0
50  2022  BMW             iX  13525.0

[105 rows x 4 columns]

In [ ]:
df_1922 = dfs_1922.reset_index(drop = True) # 인덱스 재배열
df_1922

       연도   회사             이름  가격(만 원)
0    2019   현대        코나 일렉트릭   4750.0
1    2019   기아      쏘울 부스터 EV   4730.0
2    2019   기아          니로 EV   4880.0
3    2019   현대      아이오닉 일렉트릭   4290.0
4    2019   르노        SM3 Z.E   3800.0
..    ...  ...            ...      ...
100  2022   DS  DS3 Crossback   5060.0
101  2022  BMW             i3   5430.0
102  2022  BMW             i4   7600.0
103  2022  BMW            iX3   7730.0
104  2022  BMW             iX  13525.0

[105 rows x 4 columns]

In [ ]:
df_1922.to_csv('전기차 가격(2019년 ~ 2022년).csv', encoding='utf-8-sig') # csv 파일로 저장