<a href="https://colab.research.google.com/github/gapalyt/project1/blob/main/%ED%9C%98%EB%B0%9C%EC%9C%A0%26%EA%B2%BD%EC%9C%A0_%EA%B0%80%EA%B2%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 휘발유

In [ ]:
import requests
from bs4 import BeautifulSoup

url = "https://m.stock.naver.com/marketindex/energy/OIL_GSL"

res = requests.get(url)
page = res.content

soup = BeautifulSoup(page, 'html.parser')
soup

<!DOCTYPE html>

In [ ]:
url = "https://m.stock.naver.com/front-api/v1/chart/pricesByPeriod?category=energy&reutersCode=OIL_GSL&chartInfoType=marketindex&scriptChartType=areaYearFive"
res = requests.get(url)

datas = res.json()
datas

{'isSuccess': True,
 'detailCode': '',
 'message': '',
 'result': {'code': 'OIL_GSL',
  'infoType': 'marketindex',
  'periodType': 'year',
  'priceInfos': [{'localDate': '20180107',
    'closePrice': 1547.13,
    'openPrice': 0,
    'highPrice': 1547.13,
    'lowPrice': 1544.62},
   {'localDate': '20180114',
    'closePrice': 1550.16,
    'openPrice': 0,
    'highPrice': 1550.16,
    'lowPrice': 1547.49},
   {'localDate': '20180121',
    'closePrice': 1554.19,
    'openPrice': 0,
    'highPrice': 1554.19,
    'lowPrice': 1550.69},
   {'localDate': '20180128',
    'closePrice': 1558.12,
    'openPrice': 0,
    'highPrice': 1558.12,
    'lowPrice': 1554.73},
   {'localDate': '20180204',
    'closePrice': 1562.8,
    'openPrice': 0,
    'highPrice': 1562.8,
    'lowPrice': 1558.67},
   {'localDate': '20180211',
    'closePrice': 1565.34,
    'openPrice': 0,
    'highPrice': 1565.34,
    'lowPrice': 1563.14},
   {'localDate': '20180218',
    'closePrice': 1565.95,
    'openPrice': 0,
    'highPrice': 1566.02,
    'lowPrice': 1565.47},
   {'localDate': '20180225',
    'closePrice': 1564.23,
    'openPrice': 0,
    'highPrice': 1565.76,
    'lowPrice': 1564.23},
   {'localDate': '20180304',
    'closePrice': 1562.95,
    'openPrice': 0,
    'highPrice': 1564.17,
    'lowPrice': 1562.95},
   {'localDate': '20180311',
    'closePrice': 1560.89,
    'openPrice': 0,
    'highPrice': 1562.76,
    'lowPrice': 1560.89},
   {'localDate': '20180318',
    'closePrice': 1556.94,
    'openPrice': 0,
    'highPrice': 1560.6,
    'lowPrice': 1556.94},
   {'localDate': '20180325',
    'closePrice': 1553.23,
    'openPrice': 0,
    'highPrice': 1556.44,
    'lowPrice': 1553.23},
   {'localDate': '20180401',
    'closePrice': 1551.62,
    'openPrice': 0,
    'highPrice': 1553.03,
    'lowPrice': 1551.62},
   {'localDate': '20180408',
    'closePrice': 1550.45,
    'openPrice': 0,
    'highPrice': 1551.29,
    'lowPrice': 1550.45},
   {'localDate': '20180415',
    'closePrice': 1549.68,
    'openPrice': 0,
    'highPrice': 1550.34,
    'lowPrice': 1549.64},
   {'localDate': '20180422',
    'closePrice': 1551.34,
    'openPrice': 0,
    'highPrice': 1551.34,
    'lowPrice': 1549.72},
   {'localDate': '20180429',
    'closePrice': 1555.14,
    'openPrice': 0,
    'highPrice': 1555.14,
    'lowPrice': 1551.69},
   {'localDate': '20180506',
    'closePrice': 1562.08,
    'openPrice': 0,
    'highPrice': 1562.08,
    'lowPrice': 1555.65},
   {'localDate': '20180513',
    'closePrice': 1573.17,
    'openPrice': 0,
    'highPrice': 1573.17,
    'lowPrice': 1562.73},
   {'localDate': '20180520',
    'closePrice': 1585.9,
    'openPrice': 0,
    'highPrice': 1585.9,
    'lowPrice': 1574.67},
   {'localDate': '20180527',
    'closePrice': 1602.06,
    'openPrice': 0,
    'highPrice': 1602.06,
    'lowPrice': 1586.53},
   {'localDate': '20180603',
    'closePrice': 1609.16,
    'openPrice': 0,
    'highPrice': 1609.16,
    'lowPrice': 1603.52},
   {'localDate': '20180610',
    'closePrice': 1610.14,
    'openPrice': 0,
    'highPrice': 1610.24,
    'lowPrice': 1609.5},
   {'localDate': '20180617',
    'closePrice': 1609.55,
    'openPrice': 0,
    'highPrice': 1610.26,
    'lowPrice': 1609.55},
   {'localDate': '20180624',
    'closePrice': 1608.06,
    'openPrice': 0,
    'highPrice': 1609.32,
    'lowPrice': 1608.06},
   {'localDate': '20180701',
    'closePrice': 1607.66,
    'openPrice': 0,
    'highPrice': 1608.02,
    'lowPrice': 1607.5},
   {'localDate': '20180708',
    'closePrice': 1609.27,
    'openPrice': 0,
    'highPrice': 1609.27,
    'lowPrice': 1607.83},
   {'localDate': '20180715',
    'closePrice': 1611.22,
    'openPrice': 0,
    'highPrice': 1611.22,
    'lowPrice': 1609.44},
   {'localDate': '20180722',
    'closePrice': 1611.97,
    'openPrice': 0,
    'highPrice': 1611.97,
    'lowPrice': 1611.42},
   {'localDate': '20180729',
    'closePrice': 1613.03,
    'openPrice': 0,
    'highPrice': 1613.03,
    'lowPrice': 1612.09},
   {'localDate': '20180805',
    'closePrice': 1615.84,
    'openPrice': 0,
    'highPrice': 1615.84,
    'lowPrice': 1613.2},
   {'localDate': '20180812',
    'closePrice': 1617.82,
    'openPrice': 0,
    'highPrice': 1617.82,
    'lowPrice': 1615.97},
   {'localDate': '20180819',
    'closePrice': 1619.18,
    'openPrice': 0,
    'highPrice': 1619.18,
    'lowPrice': 1618.03},
   {'localDate': '20180826',
    'closePrice': 1619.91,
    'openPrice': 0,
    'highPrice': 1619.91,
    'lowPrice': 1619.34},
   {'localDate': '20180902',
    'closePrice': 1621.97,
    'openPrice': 0,
    'highPrice': 1621.97,
    'lowPrice': 1620.05},
   {'localDate': '20180909',
    'closePrice': 1627.74,
    'openPrice': 0,
    'highPrice': 1627.74,
    'lowPrice': 1622.48},
   {'localDate': '20180916',
    'closePrice': 1637.9,
    'openPrice': 0,
    'highPrice': 1637.9,
    'lowPrice': 1628.48},
   {'localDate': '20180923',
    'closePrice': 1649.04,
    'openPrice': 0,
    'highPrice': 1649.04,
    'lowPrice': 1639.2},
   {'localDate': '20180930',
    'closePrice': 1655,
    'openPrice': 0,
    'highPrice': 1655,
    'lowPrice': 1649.62},
   {'localDate': '20181007',
    'closePrice': 1670.38,
    'openPrice': 0,
    'highPrice': 1670.38,
    'lowPrice': 1657.1},
   {'localDate': '20181014',
    'closePrice': 1684,
    'openPrice': 0,
    'highPrice': 1684,
    'lowPrice': 1672.36},
   {'localDate': '20181021',
    'closePrice': 1689.48,
    'openPrice': 0,
    'highPrice': 1689.48,
    'lowPrice': 1685.11},
   {'localDate': '20181028',
    'closePrice': 1689.84,
    'openPrice': 0,
    'highPrice': 1689.84,
    'lowPrice': 1689.64},
   {'localDate': '20181104',
    'closePrice': 1690.31,
    'openPrice': 0,
    'highPrice': 1690.31,
    'lowPrice': 1689.86},
   {'localDate': '20181111',
    'closePrice': 1585.66,
    'openPrice': 0,
    'highPrice': 1690.3,
    'lowPrice': 1585.66},
   {'localDate': '20181118',
    'closePrice': 1555.15,
    'openPrice': 0,
    'highPrice': 1580.32,
    'lowPrice': 1555.15},
   {'localDate': '20181125',
    'closePrice': 1526.19,
    'openPrice': 0,
    'highPrice': 1551.91,
    'lowPrice': 1526.19},
   {'localDate': '20181202',
    'closePrice': 1490.73,
    'openPrice': 0,
    'highPrice': 1522.79,
    'lowPrice': 1490.73},
   {'localDate': '20181209',
    'closePrice': 1459.79,
    'openPrice': 0,
    'highPrice': 1486.92,
    'lowPrice': 1459.79},
   {'localDate': '20181216',
    'closePrice': 1434.31,
    'openPrice': 0,
    'highPrice': 1456.49,
    'lowPrice': 1434.31},
   {'localDate': '20181223',
    'closePrice': 1405.51,
    'openPrice': 0,
    'highPrice': 1431.21,
    'lowPrice': 1405.51},
   {'localDate': '20181230',
    'closePrice': 1381.66,
    'openPrice': 0,
    'highPrice': 1401.56,
    'lowPrice': 1381.66},
   {'localDate': '20190106',
    'closePrice': 1359.6,
    'openPrice': 0,
    'highPrice': 1379.77,
    'lowPrice': 1359.6},
   {'localDate': '20190113',
    'closePrice': 1349.16,
    'openPrice': 0,
    'highPrice': 1357.21,
    'lowPrice': 1349.16},
   {'localDate': '20190120',
    'closePrice': 1345.6,
    'openPrice': 0,
    'highPrice': 1348.54,
    'lowPrice': 1345.6},
   {'localDate': '20190127',
    'closePrice': 1344.94,
    'openPrice': 0,
    'highPrice': 1345.59,
    'lowPrice': 1344.93},
   {'localDate': '20190203',
    'closePrice': 1344.16,
    'openPrice': 0,
    'highPrice': 1344.93,
    'lowPrice': 1344.15},
   {'localDate': '20190210',
    'closePrice': 1343.13,
    'openPrice': 0,
    'highPrice': 1344.13,
    'lowPrice': 1343.13},
   {'localDate': '20190217',
    'closePrice': 1342.62,
    'openPrice': 0,
    'highPrice': 1342.93,
    'lowPrice': 1342.24},
   {'localDate': '20190224',
    'closePrice': 1344.64,
    'openPrice': 0,
    'highPrice': 1344.64,
    'lowPrice': 1342.75},
   {'localDate': '20190303',
    'closePrice': 1349.18,
    'openPrice': 0,
    'highPrice': 1349.18,
    'lowPrice': 1345.21},
   {'localDate': '20190310',
    'closePrice': 1355.69,
    'openPrice': 0,
    'highPrice': 1355.69,
    'lowPrice': 1349.54},
   {'localDate': '20190317',
    'closePrice': 1370.93,
    'openPrice': 0,
    'highPrice': 1370.93,
    'lowPrice': 1356.86},
   {'localDate': '20190324',
    'closePrice': 1384.72,
    'openPrice': 0,
    'highPrice': 1384.72,
    'lowPrice': 1372.96},
   {'localDate': '20190331',
    'closePrice': 1394.19,
    'openPrice': 0,
    'highPrice': 1394.19,
    'lowPrice': 1386.32},
   {'localDate': '20190407',
    'closePrice': 1405.01,
    'openPrice': 0,
    'highPrice': 1405.01,
    'lowPrice': 1396.21},
   {'localDate': '20190414',
    'closePrice': 1417.96,
    'openPrice': 0,
    'highPrice': 1417.96,
    'lowPrice': 1406.37},
   {'localDate': '20190421',
    'closePrice': 1435.18,
    'openPrice': 0,
    'highPrice': 1435.18,
    'lowPrice': 1420.05},
   {'localDate': '20190428',
    'closePrice': 1453.81,
    'openPrice': 0,
    'highPrice': 1453.81,
    'lowPrice': 1437.68},
   {'localDate': '20190505',
    'closePrice': 1475.12,
    'openPrice': 0,
    'highPrice': 1475.12,
    'lowPrice': 1456.22},
   {'localDate': '20190512',
    'closePrice': 1523.16,
    'openPrice': 0,
    'highPrice': 1523.16,
    'lowPrice': 1477.24},
   {'localDate': '20190519',
    'closePrice': 1530.36,
    'openPrice': 0,
    'highPrice': 1530.36,
    'lowPrice': 1524.45},
   {'localDate': '20190526',
    'closePrice': 1535.43,
    'openPrice': 0,
    'highPrice': 1535.43,
    'lowPrice': 1531.06},
   {'localDate': '20190602',
    'closePrice': 1536.53,
    'openPrice': 0,
    'highPrice': 1537.08,
    'lowPrice': 1535.83},
   {'localDate': '20190609',
    'closePrice': 1531,
    'openPrice': 0,
    'highPrice': 1536.17,
    'lowPrice': 1531},
   {'localDate': '20190616',
    'closePrice': 1517.3,
    'openPrice': 0,
    'highPrice': 1530.06,
    'lowPrice': 1517.3},
   {'localDate': '20190623',
    'closePrice': 1503.57,
    'openPrice': 0,
    'highPrice': 1515.21,
    'lowPrice': 1503.57},
   {'localDate': '20190630',
    'closePrice': 1497.59,
    'openPrice': 0,
    'highPrice': 1502.41,
    'lowPrice': 1497.59},
   {'localDate': '20190707',
    'closePrice': 1491.97,
    'openPrice': 0,
    'highPrice': 1496.52,
    'lowPrice': 1491.97},
   {'localDate': '20190714',
    'closePrice': 1490.08,
    'openPrice': 0,
    'highPrice': 1491.59,
    'lowPrice': 1489.97},
   {'localDate': '20190721',
    'closePrice': 1490.43,
    'openPrice': 0,
    'highPrice': 1490.49,
    'lowPrice': 1490.25},
   {'localDate': '20190728',
    'closePrice': 1491.37,
    'openPrice': 0,
    'highPrice': 1491.37,
    'lowPrice': 1490.5},
   {'localDate': '20190804',
    'closePrice': 1493.82,
    'openPrice': 0,
    'highPrice': 1493.82,
    'lowPrice': 1491.57},
   {'localDate': '20190811',
    'closePrice': 1493.53,
    'openPrice': 0,
    'highPrice': 1494.13,
    'lowPrice': 1493.53},
   {'localDate': '20190818',
    'closePrice': 1493.16,
    'openPrice': 0,
    'highPrice': 1493.54,
    'lowPrice': 1493.16},
   {'localDate': '20190825',
    'closePrice': 1493.42,
    'openPrice': 0,
    'highPrice': 1493.42,
    'lowPrice': 1492.94},
   {'localDate': '20190901',
    'closePrice': 1509.16,
    'openPrice': 0,
    'highPrice': 1509.16,
    'lowPrice': 1493.73},
   {'localDate': '20190908',
    'closePrice': 1522.62,
    'openPrice': 0,
    'highPrice': 1522.62,
    'lowPrice': 1515.3},
   {'localDate': '20190915',
    'closePrice': 1525.21,
    'openPrice': 0,
    'highPrice': 1525.21,
    'lowPrice': 1522.87},
   {'localDate': '20190922',
    'closePrice': 1536.66,
    'openPrice': 0,
    'highPrice': 1536.66,
    'lowPrice': 1526.28},
   {'localDate': '20190929',
    'closePrice': 1542.69,
    'openPrice': 0,
    'highPrice': 1542.69,
    'lowPrice': 1537.63},
   {'localDate': '20191006',
    'closePrice': 1543,
    'openPrice': 0,
    'highPrice': 1543.55,
    'lowPrice': 1543},
   {'localDate': '20191013',
    'closePrice': 1541.73,
    'openPrice': 0,
    'highPrice': 1542.95,
    'lowPrice': 1541.72},
   {'localDate': '20191020',
    'closePrice': 1539.51,
    'openPrice': 0,
    'highPrice': 1541.6,
    'lowPrice': 1539.51},
   {'localDate': '20191027',
    'closePrice': 1537.42,
    'openPrice': 0,
    'highPrice': 1539.27,
    'lowPrice': 1537.42},
   {'localDate': '20191103',
    'closePrice': 1535.75,
    'openPrice': 0,
    'highPrice': 1537.26,
    'lowPrice': 1535.75},
   {'localDate': '20191110',
    'closePrice': 1534.23,
    'openPrice': 0,
    'highPrice': 1535.6,
    'lowPrice': 1534.22},
   {'localDate': '20191117',
    'closePrice': 1535.14,
    'openPrice': 0,
    'highPrice': 1535.14,
    'lowPrice': 1534.28},
   {'localDate': '20191124',
    'closePrice': 1536.62,
    'openPrice': 0,
    'highPrice': 1536.62,
    'lowPrice': 1535.3},
   {'localDate': '20191201',
    'closePrice': 1538.9,
    'openPrice': 0,
    'highPrice': 1538.9,
    'lowPrice': 1536.84},
   {'localDate': '20191208',
    'closePrice': 1542.64,
    'openPrice': 0,
    'highPrice': 1542.64,
    'lowPrice': 1539.22},
   {'localDate': '20191215',
    'closePrice': 1547.67,
    'openPrice': 0,
    'highPrice': 1547.67,
    'lowPrice': 1543.34},
   {'localDate': '20191222',
    'closePrice': 1552.58,
    'openPrice': 0,
    'highPrice': 1552.58,
    'lowPrice': 1548.42},
   {'localDate': '20191229',
    'closePrice': 1557.19,
    'openPrice': 0,
    'highPrice': 1557.19,
    'lowPrice': 1553.15},
   {'localDate': '20200105',
    'closePrice': 1562.34,
    'openPrice': 0,
    'highPrice': 1562.34,
    'lowPrice': 1557.74},
   {'localDate': '20200112',
    'closePrice': 1570.36,
    'openPrice': 0,
    'highPrice': 1570.36,
    'lowPrice': 1563.32},
   {'localDate': '20200119',
    'closePrice': 1571.22,
    'openPrice': 0,
    'highPrice': 1571.56,
    'lowPrice': 1570.97},
   {'localDate': '20200126',
    'closePrice': 1570.91,
    'openPrice': 0,
    'highPrice': 1571.26,
    'lowPrice': 1570.91},
   {'localDate': '20200202',
    'closePrice': 1565.92,
    'openPrice': 0,
    'highPrice': 1570.53,
    'lowPrice': 1565.92},
   {'localDate': '20200209',
    'closePrice': 1556.89,
    'openPrice': 0,
    'highPrice': 1564.89,
    'lowPrice': 1556.89},
   {'localDate': '20200216',
    'closePrice': 1541.95,
    'openPrice': 0,
    'highPrice': 1555.51,
    'lowPrice': 1541.95},
   {'localDate': '20200223',
    'closePrice': 1532.62,
    'openPrice': 0,
    'highPrice': 1540.38,
    'lowPrice': 1532.62},
   {'localDate': '20200301',
    'closePrice': 1523.52,
    'openPrice': 0,
    'highPrice': 1531.73,
    'lowPrice': 1523.52},
   {'localDate': '20200308',
    'closePrice': 1510.79,
    'openPrice': 0,
    'highPrice': 1521.76,
    'lowPrice': 1510.79},
   {'localDate': '20200315',
    'closePrice': 1484.04,
    'openPrice': 0,
    'highPrice': 1508.65,
    'lowPrice': 1484.04},
   {'localDate': '20200322',
    'closePrice': 1442.55,
    'openPrice': 0,
    'highPrice': 1480.14,
    'lowPrice': 1442.55},
   {'localDate': '20200329',
    'closePrice': 1403.83,
    'openPrice': 0,
    'highPrice': 1437.38,
    'lowPrice': 1403.83},
   {'localDate': '20200405',
    'closePrice': 1366.27,
    'openPrice': 0,
    'highPrice': 1398.93,
    'lowPrice': 1366.27},
   {'localDate': '20200412',
    'closePrice': 1338.45,
    'openPrice': 0,
    'highPrice': 1362.9,
    'lowPrice': 1338.45},
   {'localDate': '20200419',
    'closePrice': 1311.41,
    'openPrice': 0,
    'highPrice': 1335.31,
    'lowPrice': 1311.41},
   {'localDate': '20200426',
    'closePrice': 1282.05,
    'openPrice': 0,
    'highPrice': 1307.27,
    'lowPrice': 1282.05},
   {'localDate': '20200503',
    'closePrice': 1261.66,
    'openPrice': 0,
    'highPrice': 1278.8,
    'lowPrice': 1261.66},
   {'localDate': '20200510',
    'closePrice': 1251.08,
    'openPrice': 0,
    'highPrice': 1259.84,
    'lowPrice': 1251.08},
   {'localDate': '20200517',
    'closePrice': 1247.9,
    'openPrice': 0,
    'highPrice': 1250.02,
    'lowPrice': 1247.53},
   {'localDate': '20200524',
    'closePrice': 1254.15,
    'openPrice': 0,
    'highPrice': 1254.15,
    'lowPrice': 1248.09},
   {'localDate': '20200531',
    'closePrice': 1269.84,
    'openPrice': 0,
    'highPrice': 1269.84,
    'lowPrice': 1255.46},
   {'localDate': '20200607',
    'closePrice': 1294.66,
    'openPrice': 0,
    'highPrice': 1294.66,
    'lowPrice': 1273.49},
   {'localDate': '20200614',
    'closePrice': 1324.22,
    'openPrice': 0,
    'highPrice': 1324.22,
    'lowPrice': 1299.38},
   {'localDate': '20200621',
    'closePrice': 1341.83,
    'openPrice': 0,
    'highPrice': 1341.83,
    'lowPrice': 1327},
   {'localDate': '20200628',
    'closePrice': 1353.19,
    'openPrice': 0,
    'highPrice': 1353.19,
    'lowPrice': 1344.17},
   {'localDate': '20200705',
    'closePrice': 1358.73,
    'openPrice': 0,
    'highPrice': 1358.73,
    'lowPrice': 1354.23},
   {'localDate': '20200712',
    'closePrice': 1360.5,
    'openPrice': 0,
    'highPrice': 1360.5,
    'lowPrice': 1359.05},
   {'localDate': '20200719',
    'closePrice': 1361.22,
    'openPrice': 0,
    'highPrice': 1361.22,
    'lowPrice': 1360.7},
   {'localDate': '20200726',
    'closePrice': 1361.1,
    'openPrice': 0,
    'highPrice': 1361.13,
    'lowPrice': 1360.98},
   {'localDate': '20200802',
    'closePrice': 1361.2,
    'openPrice': 0,
    'highPrice': 1361.2,
    'lowPrice': 1360.8},
   {'localDate': '20200809',
    'closePrice': 1361.02,
    'openPrice': 0,
    'highPrice': 1361.3,
    'lowPrice': 1360.97},
   {'localDate': '20200816',
    'closePrice': 1361.22,
    'openPrice': 0,
    'highPrice': 1361.22,
    'lowPrice': 1361.02},
   {'localDate': '20200823',
    'closePrice': 1361.19,
    'openPrice': 0,
    'highPrice': 1361.28,
    'lowPrice': 1361.19},
   {'localDate': '20200830',
    'closePrice': 1360.77,
    'openPrice': 0,
    'highPrice': 1361.16,
    'lowPrice': 1360.74},
   {'localDate': '20200906',
    'closePrice': 1360.1,
    'openPrice': 0,
    'highPrice': 1360.66,
    'lowPrice': 1360.1},
   {'localDate': '20200913',
    'closePrice': 1355.88,
    'openPrice': 0,
    'highPrice': 1359.89,
    'lowPrice': 1355.88},
   {'localDate': '20200920',
    'closePrice': 1349.23,
    'openPrice': 0,
    'highPrice': 1355.33,
    'lowPrice': 1349.23},
   {'localDate': '20200927',
    'closePrice': 1343.59,
    'openPrice': 0,
    'highPrice': 1348.45,
    'lowPrice': 1343.59},
   {'localDate': '20201004',
    'closePrice': 1340.17,
    'openPrice': 0,
    'highPrice': 1343.08,
    'lowPrice': 1340.17},
   {'localDate': '20201011',
    'closePrice': 1335.61,
    'openPrice': 0,
    'highPrice': 1339.39,
    'lowPrice': 1335.61},
   {'localDate': '20201018',
    'closePrice': 1332.39,
    'openPrice': 0,
    'highPrice': 1335.22,
    'lowPrice': 1332.39},
   {'localDate': '20201025',
    'closePrice': 1329.03,
    'openPrice': 0,
    'highPrice': 1332,
    'lowPrice': 1329.03},
   {'localDate': '20201101',
    'closePrice': 1324.31,
    'openPrice': 0,
    'highPrice': 1328.5,
    'lowPrice': 1324.31},
   {'localDate': '20201108',
    'closePrice': 1319.09,
    'openPrice': 0,
    'highPrice': 1323.37,
    'lowPrice': 1319.09},
   {'localDate': '20201115',
    'closePrice': 1317.55,
    'openPrice': 0,
    'highPrice': 1318.65,
    'lowPrice': 1317.55},
   {'localDate': '20201122',
    'closePrice': 1317.96,
    'openPrice': 0,
    'highPrice': 1317.96,
    'lowPrice': 1317.12},
   {'localDate': '20201129',
    'closePrice': 1324.04,
    'openPrice': 0,
    'highPrice': 1324.04,
    'lowPrice': 1318.08},
   {'localDate': '20201206',
    'closePrice': 1335.01,
    'openPrice': 0,
    'highPrice': 1335.01,
    'lowPrice': 1324.99},
   {'localDate': '20201213',
    'closePrice': 1351.6,
    'openPrice': 0,
    'highPrice': 1351.6,
    'lowPrice': 1336.78},
   {'localDate': '20201220',
    'closePrice': 1380.09,
    'openPrice': 0,
    'highPrice': 1380.09,
    'lowPrice': 1354.07},
   {'localDate': '20201227',
    'closePrice': 1406.84,
    'openPrice': 0,

In [ ]:
datas = res.json()['result']['priceInfos']
datas

[{'localDate': '20180107',
  'closePrice': 1547.13,
  'openPrice': 0,
  'highPrice': 1547.13,
  'lowPrice': 1544.62},
 {'localDate': '20180114',
  'closePrice': 1550.16,
  'openPrice': 0,
  'highPrice': 1550.16,
  'lowPrice': 1547.49},
 {'localDate': '20180121',
  'closePrice': 1554.19,
  'openPrice': 0,
  'highPrice': 1554.19,
  'lowPrice': 1550.69},
 {'localDate': '20180128',
  'closePrice': 1558.12,
  'openPrice': 0,
  'highPrice': 1558.12,
  'lowPrice': 1554.73},
 {'localDate': '20180204',
  'closePrice': 1562.8,
  'openPrice': 0,
  'highPrice': 1562.8,
  'lowPrice': 1558.67},
 {'localDate': '20180211',
  'closePrice': 1565.34,
  'openPrice': 0,
  'highPrice': 1565.34,
  'lowPrice': 1563.14},
 {'localDate': '20180218',
  'closePrice': 1565.95,
  'openPrice': 0,
  'highPrice': 1566.02,
  'lowPrice': 1565.47},
 {'localDate': '20180225',
  'closePrice': 1564.23,
  'openPrice': 0,
  'highPrice': 1565.76,
  'lowPrice': 1564.23},
 {'localDate': '20180304',
  'closePrice': 1562.95,
  'openPrice': 0,
  'highPrice': 1564.17,
  'lowPrice': 1562.95},
 {'localDate': '20180311',
  'closePrice': 1560.89,
  'openPrice': 0,
  'highPrice': 1562.76,
  'lowPrice': 1560.89},
 {'localDate': '20180318',
  'closePrice': 1556.94,
  'openPrice': 0,
  'highPrice': 1560.6,
  'lowPrice': 1556.94},
 {'localDate': '20180325',
  'closePrice': 1553.23,
  'openPrice': 0,
  'highPrice': 1556.44,
  'lowPrice': 1553.23},
 {'localDate': '20180401',
  'closePrice': 1551.62,
  'openPrice': 0,
  'highPrice': 1553.03,
  'lowPrice': 1551.62},
 {'localDate': '20180408',
  'closePrice': 1550.45,
  'openPrice': 0,
  'highPrice': 1551.29,
  'lowPrice': 1550.45},
 {'localDate': '20180415',
  'closePrice': 1549.68,
  'openPrice': 0,
  'highPrice': 1550.34,
  'lowPrice': 1549.64},
 {'localDate': '20180422',
  'closePrice': 1551.34,
  'openPrice': 0,
  'highPrice': 1551.34,
  'lowPrice': 1549.72},
 {'localDate': '20180429',
  'closePrice': 1555.14,
  'openPrice': 0,
  'highPrice': 1555.14,
  'lowPrice': 1551.69},
 {'localDate': '20180506',
  'closePrice': 1562.08,
  'openPrice': 0,
  'highPrice': 1562.08,
  'lowPrice': 1555.65},
 {'localDate': '20180513',
  'closePrice': 1573.17,
  'openPrice': 0,
  'highPrice': 1573.17,
  'lowPrice': 1562.73},
 {'localDate': '20180520',
  'closePrice': 1585.9,
  'openPrice': 0,
  'highPrice': 1585.9,
  'lowPrice': 1574.67},
 {'localDate': '20180527',
  'closePrice': 1602.06,
  'openPrice': 0,
  'highPrice': 1602.06,
  'lowPrice': 1586.53},
 {'localDate': '20180603',
  'closePrice': 1609.16,
  'openPrice': 0,
  'highPrice': 1609.16,
  'lowPrice': 1603.52},
 {'localDate': '20180610',
  'closePrice': 1610.14,
  'openPrice': 0,
  'highPrice': 1610.24,
  'lowPrice': 1609.5},
 {'localDate': '20180617',
  'closePrice': 1609.55,
  'openPrice': 0,
  'highPrice': 1610.26,
  'lowPrice': 1609.55},
 {'localDate': '20180624',
  'closePrice': 1608.06,
  'openPrice': 0,
  'highPrice': 1609.32,
  'lowPrice': 1608.06},
 {'localDate': '20180701',
  'closePrice': 1607.66,
  'openPrice': 0,
  'highPrice': 1608.02,
  'lowPrice': 1607.5},
 {'localDate': '20180708',
  'closePrice': 1609.27,
  'openPrice': 0,
  'highPrice': 1609.27,
  'lowPrice': 1607.83},
 {'localDate': '20180715',
  'closePrice': 1611.22,
  'openPrice': 0,
  'highPrice': 1611.22,
  'lowPrice': 1609.44},
 {'localDate': '20180722',
  'closePrice': 1611.97,
  'openPrice': 0,
  'highPrice': 1611.97,
  'lowPrice': 1611.42},
 {'localDate': '20180729',
  'closePrice': 1613.03,
  'openPrice': 0,
  'highPrice': 1613.03,
  'lowPrice': 1612.09},
 {'localDate': '20180805',
  'closePrice': 1615.84,
  'openPrice': 0,
  'highPrice': 1615.84,
  'lowPrice': 1613.2},
 {'localDate': '20180812',
  'closePrice': 1617.82,
  'openPrice': 0,
  'highPrice': 1617.82,
  'lowPrice': 1615.97},
 {'localDate': '20180819',
  'closePrice': 1619.18,
  'openPrice': 0,
  'highPrice': 1619.18,
  'lowPrice': 1618.03},
 {'localDate': '20180826',
  'closePrice': 1619.91,
  'openPrice': 0,
  'highPrice': 1619.91,
  'lowPrice': 1619.34},
 {'localDate': '20180902',
  'closePrice': 1621.97,
  'openPrice': 0,
  'highPrice': 1621.97,
  'lowPrice': 1620.05},
 {'localDate': '20180909',
  'closePrice': 1627.74,
  'openPrice': 0,
  'highPrice': 1627.74,
  'lowPrice': 1622.48},
 {'localDate': '20180916',
  'closePrice': 1637.9,
  'openPrice': 0,
  'highPrice': 1637.9,
  'lowPrice': 1628.48},
 {'localDate': '20180923',
  'closePrice': 1649.04,
  'openPrice': 0,
  'highPrice': 1649.04,
  'lowPrice': 1639.2},
 {'localDate': '20180930',
  'closePrice': 1655,
  'openPrice': 0,
  'highPrice': 1655,
  'lowPrice': 1649.62},
 {'localDate': '20181007',
  'closePrice': 1670.38,
  'openPrice': 0,
  'highPrice': 1670.38,
  'lowPrice': 1657.1},
 {'localDate': '20181014',
  'closePrice': 1684,
  'openPrice': 0,
  'highPrice': 1684,
  'lowPrice': 1672.36},
 {'localDate': '20181021',
  'closePrice': 1689.48,
  'openPrice': 0,
  'highPrice': 1689.48,
  'lowPrice': 1685.11},
 {'localDate': '20181028',
  'closePrice': 1689.84,
  'openPrice': 0,
  'highPrice': 1689.84,
  'lowPrice': 1689.64},
 {'localDate': '20181104',
  'closePrice': 1690.31,
  'openPrice': 0,
  'highPrice': 1690.31,
  'lowPrice': 1689.86},
 {'localDate': '20181111',
  'closePrice': 1585.66,
  'openPrice': 0,
  'highPrice': 1690.3,
  'lowPrice': 1585.66},
 {'localDate': '20181118',
  'closePrice': 1555.15,
  'openPrice': 0,
  'highPrice': 1580.32,
  'lowPrice': 1555.15},
 {'localDate': '20181125',
  'closePrice': 1526.19,
  'openPrice': 0,
  'highPrice': 1551.91,
  'lowPrice': 1526.19},
 {'localDate': '20181202',
  'closePrice': 1490.73,
  'openPrice': 0,
  'highPrice': 1522.79,
  'lowPrice': 1490.73},
 {'localDate': '20181209',
  'closePrice': 1459.79,
  'openPrice': 0,
  'highPrice': 1486.92,
  'lowPrice': 1459.79},
 {'localDate': '20181216',
  'closePrice': 1434.31,
  'openPrice': 0,
  'highPrice': 1456.49,
  'lowPrice': 1434.31},
 {'localDate': '20181223',
  'closePrice': 1405.51,
  'openPrice': 0,
  'highPrice': 1431.21,
  'lowPrice': 1405.51},
 {'localDate': '20181230',
  'closePrice': 1381.66,
  'openPrice': 0,
  'highPrice': 1401.56,
  'lowPrice': 1381.66},
 {'localDate': '20190106',
  'closePrice': 1359.6,
  'openPrice': 0,
  'highPrice': 1379.77,
  'lowPrice': 1359.6},
 {'localDate': '20190113',
  'closePrice': 1349.16,
  'openPrice': 0,
  'highPrice': 1357.21,
  'lowPrice': 1349.16},
 {'localDate': '20190120',
  'closePrice': 1345.6,
  'openPrice': 0,
  'highPrice': 1348.54,
  'lowPrice': 1345.6},
 {'localDate': '20190127',
  'closePrice': 1344.94,
  'openPrice': 0,
  'highPrice': 1345.59,
  'lowPrice': 1344.93},
 {'localDate': '20190203',
  'closePrice': 1344.16,
  'openPrice': 0,
  'highPrice': 1344.93,
  'lowPrice': 1344.15},
 {'localDate': '20190210',
  'closePrice': 1343.13,
  'openPrice': 0,
  'highPrice': 1344.13,
  'lowPrice': 1343.13},
 {'localDate': '20190217',
  'closePrice': 1342.62,
  'openPrice': 0,
  'highPrice': 1342.93,
  'lowPrice': 1342.24},
 {'localDate': '20190224',
  'closePrice': 1344.64,
  'openPrice': 0,
  'highPrice': 1344.64,
  'lowPrice': 1342.75},
 {'localDate': '20190303',
  'closePrice': 1349.18,
  'openPrice': 0,
  'highPrice': 1349.18,
  'lowPrice': 1345.21},
 {'localDate': '20190310',
  'closePrice': 1355.69,
  'openPrice': 0,
  'highPrice': 1355.69,
  'lowPrice': 1349.54},
 {'localDate': '20190317',
  'closePrice': 1370.93,
  'openPrice': 0,
  'highPrice': 1370.93,
  'lowPrice': 1356.86},
 {'localDate': '20190324',
  'closePrice': 1384.72,
  'openPrice': 0,
  'highPrice': 1384.72,
  'lowPrice': 1372.96},
 {'localDate': '20190331',
  'closePrice': 1394.19,
  'openPrice': 0,
  'highPrice': 1394.19,
  'lowPrice': 1386.32},
 {'localDate': '20190407',
  'closePrice': 1405.01,
  'openPrice': 0,
  'highPrice': 1405.01,
  'lowPrice': 1396.21},
 {'localDate': '20190414',
  'closePrice': 1417.96,
  'openPrice': 0,
  'highPrice': 1417.96,
  'lowPrice': 1406.37},
 {'localDate': '20190421',
  'closePrice': 1435.18,
  'openPrice': 0,
  'highPrice': 1435.18,
  'lowPrice': 1420.05},
 {'localDate': '20190428',
  'closePrice': 1453.81,
  'openPrice': 0,
  'highPrice': 1453.81,
  'lowPrice': 1437.68},
 {'localDate': '20190505',
  'closePrice': 1475.12,
  'openPrice': 0,
  'highPrice': 1475.12,
  'lowPrice': 1456.22},
 {'localDate': '20190512',
  'closePrice': 1523.16,
  'openPrice': 0,
  'highPrice': 1523.16,
  'lowPrice': 1477.24},
 {'localDate': '20190519',
  'closePrice': 1530.36,
  'openPrice': 0,
  'highPrice': 1530.36,
  'lowPrice': 1524.45},
 {'localDate': '20190526',
  'closePrice': 1535.43,
  'openPrice': 0,
  'highPrice': 1535.43,
  'lowPrice': 1531.06},
 {'localDate': '20190602',
  'closePrice': 1536.53,
  'openPrice': 0,
  'highPrice': 1537.08,
  'lowPrice': 1535.83},
 {'localDate': '20190609',
  'closePrice': 1531,
  'openPrice': 0,
  'highPrice': 1536.17,
  'lowPrice': 1531},
 {'localDate': '20190616',
  'closePrice': 1517.3,
  'openPrice': 0,
  'highPrice': 1530.06,
  'lowPrice': 1517.3},
 {'localDate': '20190623',
  'closePrice': 1503.57,
  'openPrice': 0,
  'highPrice': 1515.21,
  'lowPrice': 1503.57},
 {'localDate': '20190630',
  'closePrice': 1497.59,
  'openPrice': 0,
  'highPrice': 1502.41,
  'lowPrice': 1497.59},
 {'localDate': '20190707',
  'closePrice': 1491.97,
  'openPrice': 0,
  'highPrice': 1496.52,
  'lowPrice': 1491.97},
 {'localDate': '20190714',
  'closePrice': 1490.08,
  'openPrice': 0,
  'highPrice': 1491.59,
  'lowPrice': 1489.97},
 {'localDate': '20190721',
  'closePrice': 1490.43,
  'openPrice': 0,
  'highPrice': 1490.49,
  'lowPrice': 1490.25},
 {'localDate': '20190728',
  'closePrice': 1491.37,
  'openPrice': 0,
  'highPrice': 1491.37,
  'lowPrice': 1490.5},
 {'localDate': '20190804',
  'closePrice': 1493.82,
  'openPrice': 0,
  'highPrice': 1493.82,
  'lowPrice': 1491.57},
 {'localDate': '20190811',
  'closePrice': 1493.53,
  'openPrice': 0,
  'highPrice': 1494.13,
  'lowPrice': 1493.53},
 {'localDate': '20190818',
  'closePrice': 1493.16,
  'openPrice': 0,
  'highPrice': 1493.54,
  'lowPrice': 1493.16},
 {'localDate': '20190825',
  'closePrice': 1493.42,
  'openPrice': 0,
  'highPrice': 1493.42,
  'lowPrice': 1492.94},
 {'localDate': '20190901',
  'closePrice': 1509.16,
  'openPrice': 0,
  'highPrice': 1509.16,
  'lowPrice': 1493.73},
 {'localDate': '20190908',
  'closePrice': 1522.62,
  'openPrice': 0,
  'highPrice': 1522.62,
  'lowPrice': 1515.3},
 {'localDate': '20190915',
  'closePrice': 1525.21,
  'openPrice': 0,
  'highPrice': 1525.21,
  'lowPrice': 1522.87},
 {'localDate': '20190922',
  'closePrice': 1536.66,
  'openPrice': 0,
  'highPrice': 1536.66,
  'lowPrice': 1526.28},
 {'localDate': '20190929',
  'closePrice': 1542.69,
  'openPrice': 0,
  'highPrice': 1542.69,
  'lowPrice': 1537.63},
 {'localDate': '20191006',
  'closePrice': 1543,
  'openPrice': 0,
  'highPrice': 1543.55,
  'lowPrice': 1543},
 {'localDate': '20191013',
  'closePrice': 1541.73,
  'openPrice': 0,
  'highPrice': 1542.95,
  'lowPrice': 1541.72},
 {'localDate': '20191020',
  'closePrice': 1539.51,
  'openPrice': 0,
  'highPrice': 1541.6,
  'lowPrice': 1539.51},
 {'localDate': '20191027',
  'closePrice': 1537.42,
  'openPrice': 0,
  'highPrice': 1539.27,
  'lowPrice': 1537.42},
 {'localDate': '20191103',
  'closePrice': 1535.75,
  'openPrice': 0,
  'highPrice': 1537.26,
  'lowPrice': 1535.75},
 {'localDate': '20191110',
  'closePrice': 1534.23,
  'openPrice': 0,
  'highPrice': 1535.6,
  'lowPrice': 1534.22},
 {'localDate': '20191117',
  'closePrice': 1535.14,
  'openPrice': 0,
  'highPrice': 1535.14,
  'lowPrice': 1534.28},
 {'localDate': '20191124',
  'closePrice': 1536.62,
  'openPrice': 0,
  'highPrice': 1536.62,
  'lowPrice': 1535.3},
 {'localDate': '20191201',
  'closePrice': 1538.9,
  'openPrice': 0,
  'highPrice': 1538.9,
  'lowPrice': 1536.84},
 {'localDate': '20191208',
  'closePrice': 1542.64,
  'openPrice': 0,
  'highPrice': 1542.64,
  'lowPrice': 1539.22},
 {'localDate': '20191215',
  'closePrice': 1547.67,
  'openPrice': 0,
  'highPrice': 1547.67,
  'lowPrice': 1543.34},
 {'localDate': '20191222',
  'closePrice': 1552.58,
  'openPrice': 0,
  'highPrice': 1552.58,
  'lowPrice': 1548.42},
 {'localDate': '20191229',
  'closePrice': 1557.19,
  'openPrice': 0,
  'highPrice': 1557.19,
  'lowPrice': 1553.15},
 {'localDate': '20200105',
  'closePrice': 1562.34,
  'openPrice': 0,
  'highPrice': 1562.34,
  'lowPrice': 1557.74},
 {'localDate': '20200112',
  'closePrice': 1570.36,
  'openPrice': 0,
  'highPrice': 1570.36,
  'lowPrice': 1563.32},
 {'localDate': '20200119',
  'closePrice': 1571.22,
  'openPrice': 0,
  'highPrice': 1571.56,
  'lowPrice': 1570.97},
 {'localDate': '20200126',
  'closePrice': 1570.91,
  'openPrice': 0,
  'highPrice': 1571.26,
  'lowPrice': 1570.91},
 {'localDate': '20200202',
  'closePrice': 1565.92,
  'openPrice': 0,
  'highPrice': 1570.53,
  'lowPrice': 1565.92},
 {'localDate': '20200209',
  'closePrice': 1556.89,
  'openPrice': 0,
  'highPrice': 1564.89,
  'lowPrice': 1556.89},
 {'localDate': '20200216',
  'closePrice': 1541.95,
  'openPrice': 0,
  'highPrice': 1555.51,
  'lowPrice': 1541.95},
 {'localDate': '20200223',
  'closePrice': 1532.62,
  'openPrice': 0,
  'highPrice': 1540.38,
  'lowPrice': 1532.62},
 {'localDate': '20200301',
  'closePrice': 1523.52,
  'openPrice': 0,
  'highPrice': 1531.73,
  'lowPrice': 1523.52},
 {'localDate': '20200308',
  'closePrice': 1510.79,
  'openPrice': 0,
  'highPrice': 1521.76,
  'lowPrice': 1510.79},
 {'localDate': '20200315',
  'closePrice': 1484.04,
  'openPrice': 0,
  'highPrice': 1508.65,
  'lowPrice': 1484.04},
 {'localDate': '20200322',
  'closePrice': 1442.55,
  'openPrice': 0,
  'highPrice': 1480.14,
  'lowPrice': 1442.55},
 {'localDate': '20200329',
  'closePrice': 1403.83,
  'openPrice': 0,
  'highPrice': 1437.38,
  'lowPrice': 1403.83},
 {'localDate': '20200405',
  'closePrice': 1366.27,
  'openPrice': 0,
  'highPrice': 1398.93,
  'lowPrice': 1366.27},
 {'localDate': '20200412',
  'closePrice': 1338.45,
  'openPrice': 0,
  'highPrice': 1362.9,
  'lowPrice': 1338.45},
 {'localDate': '20200419',
  'closePrice': 1311.41,
  'openPrice': 0,
  'highPrice': 1335.31,
  'lowPrice': 1311.41},
 {'localDate': '20200426',
  'closePrice': 1282.05,
  'openPrice': 0,
  'highPrice': 1307.27,
  'lowPrice': 1282.05},
 {'localDate': '20200503',
  'closePrice': 1261.66,
  'openPrice': 0,
  'highPrice': 1278.8,
  'lowPrice': 1261.66},
 {'localDate': '20200510',
  'closePrice': 1251.08,
  'openPrice': 0,
  'highPrice': 1259.84,
  'lowPrice': 1251.08},
 {'localDate': '20200517',
  'closePrice': 1247.9,
  'openPrice': 0,
  'highPrice': 1250.02,
  'lowPrice': 1247.53},
 {'localDate': '20200524',
  'closePrice': 1254.15,
  'openPrice': 0,
  'highPrice': 1254.15,
  'lowPrice': 1248.09},
 {'localDate': '20200531',
  'closePrice': 1269.84,
  'openPrice': 0,
  'highPrice': 1269.84,
  'lowPrice': 1255.46},
 {'localDate': '20200607',
  'closePrice': 1294.66,
  'openPrice': 0,
  'highPrice': 1294.66,
  'lowPrice': 1273.49},
 {'localDate': '20200614',
  'closePrice': 1324.22,
  'openPrice': 0,
  'highPrice': 1324.22,
  'lowPrice': 1299.38},
 {'localDate': '20200621',
  'closePrice': 1341.83,
  'openPrice': 0,
  'highPrice': 1341.83,
  'lowPrice': 1327},
 {'localDate': '20200628',
  'closePrice': 1353.19,
  'openPrice': 0,
  'highPrice': 1353.19,
  'lowPrice': 1344.17},
 {'localDate': '20200705',
  'closePrice': 1358.73,
  'openPrice': 0,
  'highPrice': 1358.73,
  'lowPrice': 1354.23},
 {'localDate': '20200712',
  'closePrice': 1360.5,
  'openPrice': 0,
  'highPrice': 1360.5,
  'lowPrice': 1359.05},
 {'localDate': '20200719',
  'closePrice': 1361.22,
  'openPrice': 0,
  'highPrice': 1361.22,
  'lowPrice': 1360.7},
 {'localDate': '20200726',
  'closePrice': 1361.1,
  'openPrice': 0,
  'highPrice': 1361.13,
  'lowPrice': 1360.98},
 {'localDate': '20200802',
  'closePrice': 1361.2,
  'openPrice': 0,
  'highPrice': 1361.2,
  'lowPrice': 1360.8},
 {'localDate': '20200809',
  'closePrice': 1361.02,
  'openPrice': 0,
  'highPrice': 1361.3,
  'lowPrice': 1360.97},
 {'localDate': '20200816',
  'closePrice': 1361.22,
  'openPrice': 0,
  'highPrice': 1361.22,
  'lowPrice': 1361.02},
 {'localDate': '20200823',
  'closePrice': 1361.19,
  'openPrice': 0,
  'highPrice': 1361.28,
  'lowPrice': 1361.19},
 {'localDate': '20200830',
  'closePrice': 1360.77,
  'openPrice': 0,
  'highPrice': 1361.16,
  'lowPrice': 1360.74},
 {'localDate': '20200906',
  'closePrice': 1360.1,
  'openPrice': 0,
  'highPrice': 1360.66,
  'lowPrice': 1360.1},
 {'localDate': '20200913',
  'closePrice': 1355.88,
  'openPrice': 0,
  'highPrice': 1359.89,
  'lowPrice': 1355.88},
 {'localDate': '20200920',
  'closePrice': 1349.23,
  'openPrice': 0,
  'highPrice': 1355.33,
  'lowPrice': 1349.23},
 {'localDate': '20200927',
  'closePrice': 1343.59,
  'openPrice': 0,
  'highPrice': 1348.45,
  'lowPrice': 1343.59},
 {'localDate': '20201004',
  'closePrice': 1340.17,
  'openPrice': 0,
  'highPrice': 1343.08,
  'lowPrice': 1340.17},
 {'localDate': '20201011',
  'closePrice': 1335.61,
  'openPrice': 0,
  'highPrice': 1339.39,
  'lowPrice': 1335.61},
 {'localDate': '20201018',
  'closePrice': 1332.39,
  'openPrice': 0,
  'highPrice': 1335.22,
  'lowPrice': 1332.39},
 {'localDate': '20201025',
  'closePrice': 1329.03,
  'openPrice': 0,
  'highPrice': 1332,
  'lowPrice': 1329.03},
 {'localDate': '20201101',
  'closePrice': 1324.31,
  'openPrice': 0,
  'highPrice': 1328.5,
  'lowPrice': 1324.31},
 {'localDate': '20201108',
  'closePrice': 1319.09,
  'openPrice': 0,
  'highPrice': 1323.37,
  'lowPrice': 1319.09},
 {'localDate': '20201115',
  'closePrice': 1317.55,
  'openPrice': 0,
  'highPrice': 1318.65,
  'lowPrice': 1317.55},
 {'localDate': '20201122',
  'closePrice': 1317.96,
  'openPrice': 0,
  'highPrice': 1317.96,
  'lowPrice': 1317.12},
 {'localDate': '20201129',
  'closePrice': 1324.04,
  'openPrice': 0,
  'highPrice': 1324.04,
  'lowPrice': 1318.08},
 {'localDate': '20201206',
  'closePrice': 1335.01,
  'openPrice': 0,
  'highPrice': 1335.01,
  'lowPrice': 1324.99},
 {'localDate': '20201213',
  'closePrice': 1351.6,
  'openPrice': 0,
  'highPrice': 1351.6,
  'lowPrice': 1336.78},
 {'localDate': '20201220',
  'closePrice': 1380.09,
  'openPrice': 0,
  'highPrice': 1380.09,
  'lowPrice': 1354.07},
 {'localDate': '20201227',
  'closePrice': 1406.84,
  'openPrice': 0,
  'highPrice': 1406.84,
  'lowPrice': 1384.6},
 {'localDate': '20210103',
  'closePrice': 1426.61,
  'openPrice': 0,
  'highPrice': 1426.61,
  'lowPrice': 1409.66},
 {'localDate': '20210110',
  'closePrice': 1436.72,
  'openPrice': 0,
  'highPrice': 1436.72,
  'lowPrice': 1428.38},
 {'localDate': '20210117',
  'closePrice': 1445.38,
  'openPrice': 0,
  'highPrice': 1445.38,
  'lowPrice': 1437.87},
 {'localDate': '20210124',
  'closePrice': 1449.89,
  'openPrice': 0,
  'highPrice': 1449.89,
  'lowPrice': 1446.24},
 {'localDate': '20210131',
  'closePrice': 1451.48,
  'openPrice': 0,
  'highPrice': 1451.48,
  'lowPrice': 1450.3},
 {'localDate': '20210207',
  'closePrice': 1453.65,
  'openPrice': 0,
  'highPrice': 1453.65,
  'lowPrice': 1451.92},
 {'localDate': '20210214',
  'closePrice': 1459.89,
  'openPrice': 0,
  'highPrice': 1459.89,
  'lowPrice': 1454.21},
 {'localDate': '20210221',
  'closePrice': 1470.6,
  'openPrice': 0,
  'highPrice': 1470.6,
  'lowPrice': 1461.05},
 {'localDate': '20210228',
  'closePrice': 1479.89,
  'openPrice': 0,
  'highPrice': 1479.89,
  'lowPrice': 1471.81},
 {'localDate': '20210307',
  'closePrice': 1492.4,
  'openPrice': 0,
  'highPrice': 1492.4,
  'lowPrice': 1481.75},
 {'localDate': '20210314',
  'closePrice': 1511.67,
  'openPrice': 0,
  'highPrice': 1511.67,
  'lowPrice': 1495.17},
 {'localDate': '20210321',
  'closePrice': 1527.39,
  'openPrice': 0,
  'highPrice': 1527.39,
  'lowPrice': 1514.37},
 {'localDate': '20210328',
  'closePrice': 1533.22,
  'openPrice': 0,
  'highPrice': 1533.22,
  'lowPrice': 1528.71},
 {'localDate': '20210404',
  'closePrice': 1534.93,
  'openPrice': 0,
  'highPrice': 1534.93,
  'lowPrice': 1533.49},

In [ ]:
import pandas as pd

OIL_GSL1 = pd.DataFrame(datas)
OIL_GSL1

    localDate  closePrice  openPrice  highPrice  lowPrice
0    20180107     1547.13          0    1547.13   1544.62
1    20180114     1550.16          0    1550.16   1547.49
2    20180121     1554.19          0    1554.19   1550.69
3    20180128     1558.12          0    1558.12   1554.73
4    20180204     1562.80          0    1562.80   1558.67
..        ...         ...        ...        ...       ...
257  20221211     1583.15          0    1615.13   1583.15
258  20221218     1543.06          0    1575.81   1543.06
259  20221225     1528.34          0    1539.79   1528.34
260  20230101     1542.24          0    1542.24   1526.00
261  20230106     1561.39          0    1561.39   1550.94

[262 rows x 5 columns]

In [ ]:
OIL_GSL_5 = OIL_GSL1.drop(['openPrice', 'closePrice'], axis = 1) # openPrice, closePrice 삭제
OIL_GSL_5

    localDate  highPrice  lowPrice
0    20180107    1547.13   1544.62
1    20180114    1550.16   1547.49
2    20180121    1554.19   1550.69
3    20180128    1558.12   1554.73
4    20180204    1562.80   1558.67
..        ...        ...       ...
257  20221211    1615.13   1583.15
258  20221218    1575.81   1543.06
259  20221225    1539.79   1528.34
260  20230101    1542.24   1526.00
261  20230106    1561.39   1550.94

[262 rows x 3 columns]

In [ ]:
OIL_GSL1_2018 = OIL_GSL_5[:]
OIL_GSL2_2018 = OIL_GSL1_2018[OIL_GSL1['localDate'] <= "20181231"]

OIL_GSL2_2018

   localDate  highPrice  lowPrice
0   20180107    1547.13   1544.62
1   20180114    1550.16   1547.49
2   20180121    1554.19   1550.69
3   20180128    1558.12   1554.73
4   20180204    1562.80   1558.67
5   20180211    1565.34   1563.14
6   20180218    1566.02   1565.47
7   20180225    1565.76   1564.23
8   20180304    1564.17   1562.95
9   20180311    1562.76   1560.89
10  20180318    1560.60   1556.94
11  20180325    1556.44   1553.23
12  20180401    1553.03   1551.62
13  20180408    1551.29   1550.45
14  20180415    1550.34   1549.64
15  20180422    1551.34   1549.72
16  20180429    1555.14   1551.69
17  20180506    1562.08   1555.65
18  20180513    1573.17   1562.73
19  20180520    1585.90   1574.67
20  20180527    1602.06   1586.53
21  20180603    1609.16   1603.52
22  20180610    1610.24   1609.50
23  20180617    1610.26   1609.55
24  20180624    1609.32   1608.06
25  20180701    1608.02   1607.50
26  20180708    1609.27   1607.83
27  20180715    1611.22   1609.44
28  20180722    1611.97   1611.42
29  20180729    1613.03   1612.09
30  20180805    1615.84   1613.20
31  20180812    1617.82   1615.97
32  20180819    1619.18   1618.03
33  20180826    1619.91   1619.34
34  20180902    1621.97   1620.05
35  20180909    1627.74   1622.48
36  20180916    1637.90   1628.48
37  20180923    1649.04   1639.20
38  20180930    1655.00   1649.62
39  20181007    1670.38   1657.10
40  20181014    1684.00   1672.36
41  20181021    1689.48   1685.11
42  20181028    1689.84   1689.64
43  20181104    1690.31   1689.86
44  20181111    1690.30   1585.66
45  20181118    1580.32   1555.15
46  20181125    1551.91   1526.19
47  20181202    1522.79   1490.73
48  20181209    1486.92   1459.79
49  20181216    1456.49   1434.31
50  20181223    1431.21   1405.51
51  20181230    1401.56   1381.66

In [ ]:
OIL_GSL2_2018['localDate'] = OIL_GSL2_2018['localDate'].astype('float') # 문자열을 float으로 변환
OIL_GSL2_2018['highPrice'] = OIL_GSL2_2018['highPrice'].astype('float') # 문자열을 float으로 변환
OIL_GSL2_2018['lowPrice'] = OIL_GSL2_2018['lowPrice'].astype('float') # 문자열을 float으로 변환

OIL_GSL2_2018.dtypes # 확인

<ipython-input-8-de395fca6949>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_GSL2_2018['localDate'] = OIL_GSL2_2018['localDate'].astype('float') # 문자열을 float으로 변환
<ipython-input-8-de395fca6949>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_GSL2_2018['highPrice'] = OIL_GSL2_2018['highPrice'].astype('float') # 문자열을 float으로 변환
<ipython-input-8-de395fca6949>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_GSL2_2018['lowPrice'] = OIL_GSL2_2018['lowPrice'].astype('float') # 문자열을 float으로 변환

localDate    float64
highPrice    float64
lowPrice     float64
dtype: object

In [ ]:
OIL_GSL2_2018.idxmax() # 최대값 위치 찾기

localDate    51
highPrice    43
lowPrice     43
dtype: int64

In [ ]:
OIL_GSL3_2018 = OIL_GSL2_2018.loc[[43]] # 최대값 추출

OIL_GSL4_2018 = OIL_GSL3_2018.drop(['localDate', 'lowPrice'], axis = 1) # localDate, lowPrice 제거
OIL_GSL5_2018 = OIL_GSL4_2018.reset_index(drop = True) # 인덱스 재배열

OIL_GSL5_2018

   highPrice
0    1690.31

In [ ]:
OIL_GSL2_2018.idxmin() # 최소값 위치 찾기

localDate     0
highPrice    51
lowPrice     51
dtype: int64

In [ ]:
OIL_GSL6_2018 = OIL_GSL2_2018.loc[[51]] # 최소값 추출

OIL_GSL7_2018 = OIL_GSL6_2018.drop(['localDate', 'highPrice'], axis = 1) # localDate, highPrice 제거
OIL_GSL8_2018 = OIL_GSL7_2018.reset_index(drop = True) # 인덱스 재배열

OIL_GSL8_2018

   lowPrice
0   1381.66

In [ ]:
OIL_GSL_2018 = pd.concat([OIL_GSL5_2018, OIL_GSL8_2018], axis = 1) # 데이터프레임 합치기
OIL_GSL_2018

   highPrice  lowPrice
0    1690.31   1381.66

In [ ]:
OIL_GSL_2018.insert(0, '연도', ['2018']) # 연도 삽입
OIL_GSL_2018

     연도  highPrice  lowPrice
0  2018    1690.31   1381.66

In [ ]:
OIL_GSL_2018.rename(columns={'highPrice': '최고가', 'lowPrice': '최저가'}, inplace = True) # 열 이름 변경
OIL_GSL_2018

     연도      최고가      최저가
0  2018  1690.31  1381.66

In [ ]:
OIL_GSL1_2019 = OIL_GSL_5[:]

OIL_GSL2_2019 = OIL_GSL1_2019.loc[(OIL_GSL1_2019['localDate'] <= "20191231") & (OIL_GSL1_2019['localDate'] >= "20190101")]

OIL_GSL2_2019

    localDate  highPrice  lowPrice
52   20190106    1379.77   1359.60
53   20190113    1357.21   1349.16
54   20190120    1348.54   1345.60
55   20190127    1345.59   1344.93
56   20190203    1344.93   1344.15
57   20190210    1344.13   1343.13
58   20190217    1342.93   1342.24
59   20190224    1344.64   1342.75
60   20190303    1349.18   1345.21
61   20190310    1355.69   1349.54
62   20190317    1370.93   1356.86
63   20190324    1384.72   1372.96
64   20190331    1394.19   1386.32
65   20190407    1405.01   1396.21
66   20190414    1417.96   1406.37
67   20190421    1435.18   1420.05
68   20190428    1453.81   1437.68
69   20190505    1475.12   1456.22
70   20190512    1523.16   1477.24
71   20190519    1530.36   1524.45
72   20190526    1535.43   1531.06
73   20190602    1537.08   1535.83
74   20190609    1536.17   1531.00
75   20190616    1530.06   1517.30
76   20190623    1515.21   1503.57
77   20190630    1502.41   1497.59
78   20190707    1496.52   1491.97
79   20190714    1491.59   1489.97
80   20190721    1490.49   1490.25
81   20190728    1491.37   1490.50
82   20190804    1493.82   1491.57
83   20190811    1494.13   1493.53
84   20190818    1493.54   1493.16
85   20190825    1493.42   1492.94
86   20190901    1509.16   1493.73
87   20190908    1522.62   1515.30
88   20190915    1525.21   1522.87
89   20190922    1536.66   1526.28
90   20190929    1542.69   1537.63
91   20191006    1543.55   1543.00
92   20191013    1542.95   1541.72
93   20191020    1541.60   1539.51
94   20191027    1539.27   1537.42
95   20191103    1537.26   1535.75
96   20191110    1535.60   1534.22
97   20191117    1535.14   1534.28
98   20191124    1536.62   1535.30
99   20191201    1538.90   1536.84
100  20191208    1542.64   1539.22
101  20191215    1547.67   1543.34
102  20191222    1552.58   1548.42
103  20191229    1557.19   1553.15

In [ ]:
OIL_GSL2_2019['localDate'] = OIL_GSL2_2019['localDate'].astype('float') # 문자열을 float으로 변환
OIL_GSL2_2019['highPrice'] = OIL_GSL2_2019['highPrice'].astype('float') # 문자열을 float으로 변환
OIL_GSL2_2019['lowPrice'] = OIL_GSL2_2019['lowPrice'].astype('float') # 문자열을 float으로 변환

OIL_GSL2_2019.dtypes # 확인

<ipython-input-17-2cf8dcddc470>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_GSL2_2019['localDate'] = OIL_GSL2_2019['localDate'].astype('float') # 문자열을 float으로 변환
<ipython-input-17-2cf8dcddc470>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_GSL2_2019['highPrice'] = OIL_GSL2_2019['highPrice'].astype('float') # 문자열을 float으로 변환
<ipython-input-17-2cf8dcddc470>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_GSL2_2019['lowPrice'] = OIL_GSL2_2019['lowPrice'].astype('float') # 문자열을 float으로 변환

localDate    float64
highPrice    float64
lowPrice     float64
dtype: object

In [ ]:
OIL_GSL2_2019.idxmax() # 최대값 위치 찾기

localDate    103
highPrice    103
lowPrice     103
dtype: int64

In [ ]:
OIL_GSL3_2019 = OIL_GSL2_2019.loc[[103]] # 최대값 추출

OIL_GSL4_2019 = OIL_GSL3_2019.drop(['localDate', 'lowPrice'], axis = 1) # localDate, lowPrice 제거
OIL_GSL5_2019 = OIL_GSL4_2019.reset_index(drop = True) # 인덱스 재배열

OIL_GSL5_2019

   highPrice
0    1557.19

In [ ]:
OIL_GSL2_2019.idxmin() # 최소값 위치 찾기

localDate    52
highPrice    58
lowPrice     58
dtype: int64

In [ ]:
OIL_GSL6_2019 = OIL_GSL2_2019.loc[[58]] # 최소값 추출

OIL_GSL7_2019 = OIL_GSL6_2019.drop(['localDate', 'highPrice'], axis = 1) # localDate, highPrice 제거
OIL_GSL8_2019 = OIL_GSL7_2019.reset_index(drop = True) # 인덱스 재배열

OIL_GSL8_2019

   lowPrice
0   1342.24

In [ ]:
OIL_GSL_2019 = pd.concat([OIL_GSL5_2019, OIL_GSL8_2019], axis = 1) # 데이터프레임 합치기
OIL_GSL_2019

   highPrice  lowPrice
0    1557.19   1342.24

In [ ]:
OIL_GSL_2019.insert(0, '연도', ['2019']) # 연도 삽입
OIL_GSL_2019

     연도  highPrice  lowPrice
0  2019    1557.19   1342.24

In [ ]:
OIL_GSL_2019.rename(columns={'highPrice': '최고가', 'lowPrice': '최저가'}, inplace = True) # 열 이름 변경
OIL_GSL_2019

     연도      최고가      최저가
0  2019  1557.19  1342.24

In [ ]:
OIL_GSL1_2020 = OIL_GSL_5[:]

OIL_GSL2_2020 = OIL_GSL1_2020.loc[(OIL_GSL1_2020['localDate'] <= "20201231") & (OIL_GSL1_2020['localDate'] >= "20200101")]

OIL_GSL2_2020

    localDate  highPrice  lowPrice
104  20200105    1562.34   1557.74
105  20200112    1570.36   1563.32
106  20200119    1571.56   1570.97
107  20200126    1571.26   1570.91
108  20200202    1570.53   1565.92
109  20200209    1564.89   1556.89
110  20200216    1555.51   1541.95
111  20200223    1540.38   1532.62
112  20200301    1531.73   1523.52
113  20200308    1521.76   1510.79
114  20200315    1508.65   1484.04
115  20200322    1480.14   1442.55
116  20200329    1437.38   1403.83
117  20200405    1398.93   1366.27
118  20200412    1362.90   1338.45
119  20200419    1335.31   1311.41
120  20200426    1307.27   1282.05
121  20200503    1278.80   1261.66
122  20200510    1259.84   1251.08
123  20200517    1250.02   1247.53
124  20200524    1254.15   1248.09
125  20200531    1269.84   1255.46
126  20200607    1294.66   1273.49
127  20200614    1324.22   1299.38
128  20200621    1341.83   1327.00
129  20200628    1353.19   1344.17
130  20200705    1358.73   1354.23
131  20200712    1360.50   1359.05
132  20200719    1361.22   1360.70
133  20200726    1361.13   1360.98
134  20200802    1361.20   1360.80
135  20200809    1361.30   1360.97
136  20200816    1361.22   1361.02
137  20200823    1361.28   1361.19
138  20200830    1361.16   1360.74
139  20200906    1360.66   1360.10
140  20200913    1359.89   1355.88
141  20200920    1355.33   1349.23
142  20200927    1348.45   1343.59
143  20201004    1343.08   1340.17
144  20201011    1339.39   1335.61
145  20201018    1335.22   1332.39
146  20201025    1332.00   1329.03
147  20201101    1328.50   1324.31
148  20201108    1323.37   1319.09
149  20201115    1318.65   1317.55
150  20201122    1317.96   1317.12
151  20201129    1324.04   1318.08
152  20201206    1335.01   1324.99
153  20201213    1351.60   1336.78
154  20201220    1380.09   1354.07
155  20201227    1406.84   1384.60

In [ ]:
OIL_GSL2_2020['localDate'] = OIL_GSL2_2020['localDate'].astype('float') # 문자열을 float으로 변환
OIL_GSL2_2020['highPrice'] = OIL_GSL2_2020['highPrice'].astype('float') # 문자열을 float으로 변환
OIL_GSL2_2020['lowPrice'] = OIL_GSL2_2020['lowPrice'].astype('float') # 문자열을 float으로 변환

OIL_GSL2_2020.dtypes # 확인

<ipython-input-26-468328e2c392>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_GSL2_2020['localDate'] = OIL_GSL2_2020['localDate'].astype('float') # 문자열을 float으로 변환
<ipython-input-26-468328e2c392>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_GSL2_2020['highPrice'] = OIL_GSL2_2020['highPrice'].astype('float') # 문자열을 float으로 변환
<ipython-input-26-468328e2c392>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_GSL2_2020['lowPrice'] = OIL_GSL2_2020['lowPrice'].astype('float') # 문자열을 float으로 변환

localDate    float64
highPrice    float64
lowPrice     float64
dtype: object

In [ ]:
OIL_GSL2_2020.idxmax() # 최대값 위치 찾기

localDate    155
highPrice    106
lowPrice     106
dtype: int64

In [ ]:
OIL_GSL3_2020 = OIL_GSL2_2020.loc[[106]] # 최대값 추출

OIL_GSL4_2020 = OIL_GSL3_2020.drop(['localDate', 'lowPrice'], axis = 1) # localDate, lowPrice 제거
OIL_GSL5_2020 = OIL_GSL4_2020.reset_index(drop = True) # 인덱스 재배열

OIL_GSL5_2020

   highPrice
0    1571.56

In [ ]:
OIL_GSL2_2020.idxmin() # 최소값 위치 찾기

localDate    104
highPrice    123
lowPrice     123
dtype: int64

In [ ]:
OIL_GSL6_2020 = OIL_GSL2_2020.loc[[123]] # 최소값 추출

OIL_GSL7_2020 = OIL_GSL6_2020.drop(['localDate', 'highPrice'], axis = 1) # localDate, highPrice 제거
OIL_GSL8_2020 = OIL_GSL7_2020.reset_index(drop = True) # 인덱스 재배열

OIL_GSL8_2020

   lowPrice
0   1247.53

In [ ]:
OIL_GSL_2020 = pd.concat([OIL_GSL5_2020, OIL_GSL8_2020], axis = 1) # 데이터프레임 합치기
OIL_GSL_2020

   highPrice  lowPrice
0    1571.56   1247.53

In [ ]:
OIL_GSL_2020.insert(0, '연도', ['2020']) # 연도 삽입
OIL_GSL_2020

     연도  highPrice  lowPrice
0  2020    1571.56   1247.53

In [ ]:
OIL_GSL_2020.rename(columns={'highPrice': '최고가', 'lowPrice': '최저가'}, inplace = True) # 열 이름 변경
OIL_GSL_2020

     연도      최고가      최저가
0  2020  1571.56  1247.53

In [ ]:
OIL_GSL1_2021 = OIL_GSL_5[:]

OIL_GSL2_2021 = OIL_GSL1_2021.loc[(OIL_GSL1_2021['localDate'] <= "20211231") & (OIL_GSL1_2021['localDate'] >= "20210101")]

OIL_GSL2_2021

    localDate  highPrice  lowPrice
156  20210103    1426.61   1409.66
157  20210110    1436.72   1428.38
158  20210117    1445.38   1437.87
159  20210124    1449.89   1446.24
160  20210131    1451.48   1450.30
161  20210207    1453.65   1451.92
162  20210214    1459.89   1454.21
163  20210221    1470.60   1461.05
164  20210228    1479.89   1471.81
165  20210307    1492.40   1481.75
166  20210314    1511.67   1495.17
167  20210321    1527.39   1514.37
168  20210328    1533.22   1528.71
169  20210404    1534.93   1533.49
170  20210411    1535.06   1534.90
171  20210418    1534.96   1534.35
172  20210425    1534.32   1534.03
173  20210502    1534.26   1533.92
174  20210509    1535.53   1534.26
175  20210516    1540.92   1536.08
176  20210523    1545.86   1541.65
177  20210530    1551.52   1546.46
178  20210606    1561.13   1552.22
179  20210613    1572.53   1562.70
180  20210620    1583.95   1574.21
181  20210627    1596.66   1585.41
182  20210704    1610.78   1598.50
183  20210711    1624.59   1612.35
184  20210718    1635.39   1626.17
185  20210725    1640.02   1636.67
186  20210801    1643.94   1640.56
187  20210808    1647.13   1644.59
188  20210815    1647.33   1647.25
189  20210822    1647.35   1645.36
190  20210829    1645.13   1643.71
191  20210905    1643.65   1642.47
192  20210912    1642.42   1641.76
193  20210919    1642.38   1641.76
194  20210926    1643.55   1642.46
195  20211003    1650.23   1643.90
196  20211010    1676.41   1651.18
197  20211017    1720.82   1680.12
198  20211024    1755.48   1725.87
199  20211031    1780.89   1758.26
200  20211107    1802.95   1784.53
201  20211114    1810.15   1742.50
202  20211121    1724.87   1691.37
203  20211128    1688.88   1680.79
204  20211205    1679.52   1669.44
205  20211212    1667.87   1653.53
206  20211219    1651.59   1638.75
207  20211226    1636.81   1627.82

In [ ]:
OIL_GSL2_2021['localDate'] = OIL_GSL2_2021['localDate'].astype('float') # 문자열을 float으로 변환
OIL_GSL2_2021['highPrice'] = OIL_GSL2_2021['highPrice'].astype('float') # 문자열을 float으로 변환
OIL_GSL2_2021['lowPrice'] = OIL_GSL2_2021['lowPrice'].astype('float') # 문자열을 float으로 변환

OIL_GSL2_2021.dtypes # 확인

<ipython-input-35-dcdeed1397cf>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_GSL2_2021['localDate'] = OIL_GSL2_2021['localDate'].astype('float') # 문자열을 float으로 변환
<ipython-input-35-dcdeed1397cf>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_GSL2_2021['highPrice'] = OIL_GSL2_2021['highPrice'].astype('float') # 문자열을 float으로 변환
<ipython-input-35-dcdeed1397cf>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_GSL2_2021['lowPrice'] = OIL_GSL2_2021['lowPrice'].astype('float') # 문자열을 float으로 변환

localDate    float64
highPrice    float64
lowPrice     float64
dtype: object

In [ ]:
OIL_GSL2_2021.idxmax() # 최대값 위치 찾기

localDate    207
highPrice    201
lowPrice     200
dtype: int64

In [ ]:
OIL_GSL3_2021 = OIL_GSL2_2021.loc[[201]] # 최대값 추출

OIL_GSL4_2021 = OIL_GSL3_2021.drop(['localDate', 'lowPrice'], axis = 1) # localDate, lowPrice 제거
OIL_GSL5_2021 = OIL_GSL4_2021.reset_index(drop = True) # 인덱스 재배열

OIL_GSL5_2021

   highPrice
0    1810.15

In [ ]:
OIL_GSL2_2021.idxmin() # 최소값 위치 찾기

localDate    156
highPrice    156
lowPrice     156
dtype: int64

In [ ]:
OIL_GSL6_2021 = OIL_GSL2_2021.loc[[156]] # 최소값 추출

OIL_GSL7_2021 = OIL_GSL6_2021.drop(['localDate', 'highPrice'], axis = 1) # localDate, highPrice 제거
OIL_GSL8_2021 = OIL_GSL7_2021.reset_index(drop = True) # 인덱스 재배열

OIL_GSL8_2021

   lowPrice
0   1409.66

In [ ]:
OIL_GSL_2021 = pd.concat([OIL_GSL5_2021, OIL_GSL8_2021], axis = 1) # 데이터프레임 합치기
OIL_GSL_2021

   highPrice  lowPrice
0    1810.15   1409.66

In [ ]:
OIL_GSL_2021.insert(0, '연도', ['2021']) # 연도 삽입
OIL_GSL_2021

     연도  highPrice  lowPrice
0  2021    1810.15   1409.66

In [ ]:
OIL_GSL_2021.rename(columns={'highPrice': '최고가', 'lowPrice': '최저가'}, inplace = True) # 열 이름 변경
OIL_GSL_2021

     연도      최고가      최저가
0  2021  1810.15  1409.66

In [ ]:
OIL_GSL1_2022 = OIL_GSL_5[:]

OIL_GSL2_2022 = OIL_GSL1_2022.loc[(OIL_GSL1_2022['localDate'] <= "20221231") & (OIL_GSL1_2022['localDate'] >= "20220101")]

OIL_GSL2_2022

    localDate  highPrice  lowPrice
208  20220102    1627.07   1623.40
209  20220109    1623.03   1620.98
210  20220116    1627.47   1621.45
211  20220123    1645.89   1629.30
212  20220130    1664.47   1648.45
213  20220206    1682.78   1666.03
214  20220213    1710.46   1686.54
215  20220220    1733.84   1714.12
216  20220227    1756.31   1736.48
217  20220306    1812.90   1758.87
218  20220313    1975.36   1828.34
219  20220320    2004.25   1989.87
220  20220327    2002.15   2000.70
221  20220403    2001.16   1993.97
222  20220410    1992.38   1981.98
223  20220417    1980.10   1968.80
224  20220424    1968.31   1966.54
225  20220501    1975.16   1954.03
226  20220508    1943.50   1931.86
227  20220515    1956.54   1939.04
228  20220522    1985.32   1959.07
229  20220529    2008.84   1989.35
230  20220605    2029.54   2010.67
231  20220612    2068.91   2032.31
232  20220619    2107.81   2075.12
233  20220626    2131.36   2111.77
234  20220703    2145.12   2123.14
235  20220710    2120.17   2095.36
236  20220717    2089.90   2034.36
237  20220724    2024.60   1958.68
238  20220731    1947.47   1896.85
239  20220807    1888.65   1848.66
240  20220814    1841.61   1793.61
241  20220821    1788.53   1750.86
242  20220828    1746.21   1737.76
243  20220904    1742.47   1738.61
244  20220911    1741.48   1740.41
245  20220918    1740.68   1736.84
246  20220925    1735.30   1714.91
247  20221002    1710.79   1679.66
248  20221009    1677.26   1665.55
249  20221016    1666.83   1665.72
250  20221023    1665.79   1664.03
251  20221030    1663.98   1660.72
252  20221106    1660.62   1658.26
253  20221113    1660.35   1659.08
254  20221120    1659.56   1650.33
255  20221127    1648.04   1630.63
256  20221204    1627.90   1618.24
257  20221211    1615.13   1583.15
258  20221218    1575.81   1543.06
259  20221225    1539.79   1528.34

In [ ]:
OIL_GSL2_2022['localDate'] = OIL_GSL2_2022['localDate'].astype('float') # 문자열을 float으로 변환
OIL_GSL2_2022['highPrice'] = OIL_GSL2_2022['highPrice'].astype('float') # 문자열을 float으로 변환
OIL_GSL2_2022['lowPrice'] = OIL_GSL2_2022['lowPrice'].astype('float') # 문자열을 float으로 변환

OIL_GSL2_2022.dtypes # 확인

<ipython-input-44-583791355ce9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_GSL2_2022['localDate'] = OIL_GSL2_2022['localDate'].astype('float') # 문자열을 float으로 변환
<ipython-input-44-583791355ce9>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_GSL2_2022['highPrice'] = OIL_GSL2_2022['highPrice'].astype('float') # 문자열을 float으로 변환
<ipython-input-44-583791355ce9>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_GSL2_2022['lowPrice'] = OIL_GSL2_2022['lowPrice'].astype('float') # 문자열을 float으로 변환

localDate    float64
highPrice    float64
lowPrice     float64
dtype: object

In [ ]:
OIL_GSL2_2022.idxmax() # 최대값 위치 찾기

localDate    259
highPrice    234
lowPrice     234
dtype: int64

In [ ]:
OIL_GSL3_2022 = OIL_GSL2_2022.loc[[234]] # 최대값 추출

OIL_GSL4_2022 = OIL_GSL3_2022.drop(['localDate', 'lowPrice'], axis = 1) # localDate, lowPrice 제거
OIL_GSL5_2022 = OIL_GSL4_2022.reset_index(drop = True) # 인덱스 재배열

OIL_GSL5_2022

   highPrice
0    2145.12

In [ ]:
OIL_GSL2_2022.idxmin() # 최소값 위치 찾기

localDate    208
highPrice    259
lowPrice     259
dtype: int64

In [ ]:
OIL_GSL6_2022 = OIL_GSL2_2022.loc[[259]] # 최소값 추출

OIL_GSL7_2022 = OIL_GSL6_2022.drop(['localDate', 'highPrice'], axis = 1) # localDate, highPrice 제거
OIL_GSL8_2022 = OIL_GSL7_2022.reset_index(drop = True) # 인덱스 재배열

OIL_GSL8_2022

   lowPrice
0   1528.34

In [ ]:
OIL_GSL_2022 = pd.concat([OIL_GSL5_2022, OIL_GSL8_2022], axis = 1) # 데이터프레임 합치기
OIL_GSL_2022

   highPrice  lowPrice
0    2145.12   1528.34

In [ ]:
OIL_GSL_2022.insert(0, '연도', ['2022']) # 연도 삽입
OIL_GSL_2022

     연도  highPrice  lowPrice
0  2022    2145.12   1528.34

In [ ]:
OIL_GSL_2022.rename(columns={'highPrice': '최고가', 'lowPrice': '최저가'}, inplace = True) # 열 이름 변경
OIL_GSL_2022

     연도      최고가      최저가
0  2022  2145.12  1528.34

In [ ]:
OIL_GSL_all = pd.concat([OIL_GSL_2018, OIL_GSL_2019, OIL_GSL_2020, OIL_GSL_2021, OIL_GSL_2022], axis = 0) # 데이터프레임 합치기
OIL_GSL_all

     연도      최고가      최저가
0  2018  1690.31  1381.66
0  2019  1557.19  1342.24
0  2020  1571.56  1247.53
0  2021  1810.15  1409.66
0  2022  2145.12  1528.34

In [ ]:
OIL_GSL = OIL_GSL_all.reset_index(drop = True) # 인덱스 재배열
OIL_GSL

     연도      최고가      최저가
0  2018  1690.31  1381.66
1  2019  1557.19  1342.24
2  2020  1571.56  1247.53
3  2021  1810.15  1409.66
4  2022  2145.12  1528.34

In [ ]:
OIL_GSL = OIL_GSL[['연도', '최저가', '최고가']]
OIL_GSL

     연도      최저가      최고가
0  2018  1381.66  1690.31
1  2019  1342.24  1557.19
2  2020  1247.53  1571.56
3  2021  1409.66  1810.15
4  2022  1528.34  2145.12

In [ ]:
OIL_GSL.insert(1, '종류', ['휘발유', '휘발유', '휘발유', '휘발유', '휘발유']) # 휘발유 삽입
OIL_GSL

     연도   종류      최저가      최고가
0  2018  휘발유  1381.66  1690.31
1  2019  휘발유  1342.24  1557.19
2  2020  휘발유  1247.53  1571.56
3  2021  휘발유  1409.66  1810.15
4  2022  휘발유  1528.34  2145.12

# 경유

In [ ]:
# 경유

url = "https://m.stock.naver.com/marketindex/energy/OIL_LO"

res = requests.get(url)
page = res.content

soup = BeautifulSoup(page, 'html.parser')
soup

<!DOCTYPE html>

In [ ]:
url = "https://m.stock.naver.com/front-api/v1/chart/pricesByPeriod?category=energy&reutersCode=OIL_LO&chartInfoType=marketindex&scriptChartType=areaYearFive"
res = requests.get(url)

datas = res.json()
datas

{'isSuccess': True,
 'detailCode': '',
 'message': '',
 'result': {'code': 'OIL_LO',
  'infoType': 'marketindex',
  'periodType': 'year',
  'priceInfos': [{'localDate': '20180107',
    'closePrice': 1339.2,
    'openPrice': 0,
    'highPrice': 1339.2,
    'lowPrice': 1336.4},
   {'localDate': '20180114',
    'closePrice': 1342.67,
    'openPrice': 0,
    'highPrice': 1342.67,
    'lowPrice': 1339.89},
   {'localDate': '20180121',
    'closePrice': 1347.27,
    'openPrice': 0,
    'highPrice': 1347.27,
    'lowPrice': 1343.6},
   {'localDate': '20180128',
    'closePrice': 1352.37,
    'openPrice': 0,
    'highPrice': 1352.37,
    'lowPrice': 1348.26},
   {'localDate': '20180204',
    'closePrice': 1358.08,
    'openPrice': 0,
    'highPrice': 1358.08,
    'lowPrice': 1353.35},
   {'localDate': '20180211',
    'closePrice': 1360.95,
    'openPrice': 0,
    'highPrice': 1361.07,
    'lowPrice': 1358.81},
   {'localDate': '20180218',
    'closePrice': 1361.69,
    'openPrice': 0,
    'highPrice': 1361.76,
    'lowPrice': 1361.39},
   {'localDate': '20180225',
    'closePrice': 1360.26,
    'openPrice': 0,
    'highPrice': 1361.78,
    'lowPrice': 1360.26},
   {'localDate': '20180304',
    'closePrice': 1359.13,
    'openPrice': 0,
    'highPrice': 1360.47,
    'lowPrice': 1359.13},
   {'localDate': '20180311',
    'closePrice': 1357.24,
    'openPrice': 0,
    'highPrice': 1359.18,
    'lowPrice': 1357.24},
   {'localDate': '20180318',
    'closePrice': 1353.5,
    'openPrice': 0,
    'highPrice': 1357.27,
    'lowPrice': 1353.5},
   {'localDate': '20180325',
    'closePrice': 1349.89,
    'openPrice': 0,
    'highPrice': 1353.19,
    'lowPrice': 1349.89},
   {'localDate': '20180401',
    'closePrice': 1348.5,
    'openPrice': 0,
    'highPrice': 1350.21,
    'lowPrice': 1348.5},
   {'localDate': '20180408',
    'closePrice': 1347.58,
    'openPrice': 0,
    'highPrice': 1348.69,
    'lowPrice': 1347.58},
   {'localDate': '20180415',
    'closePrice': 1346.99,
    'openPrice': 0,
    'highPrice': 1347.82,
    'lowPrice': 1346.99},
   {'localDate': '20180422',
    'closePrice': 1349.11,
    'openPrice': 0,
    'highPrice': 1349.12,
    'lowPrice': 1347.41},
   {'localDate': '20180429',
    'closePrice': 1353.33,
    'openPrice': 0,
    'highPrice': 1353.33,
    'lowPrice': 1349.54},
   {'localDate': '20180506',
    'closePrice': 1360.67,
    'openPrice': 0,
    'highPrice': 1360.67,
    'lowPrice': 1354.19},
   {'localDate': '20180513',
    'closePrice': 1372.7,
    'openPrice': 0,
    'highPrice': 1372.7,
    'lowPrice': 1361.45},
   {'localDate': '20180520',
    'closePrice': 1386.29,
    'openPrice': 0,
    'highPrice': 1386.29,
    'lowPrice': 1374.72},
   {'localDate': '20180527',
    'closePrice': 1402.69,
    'openPrice': 0,
    'highPrice': 1402.69,
    'lowPrice': 1387.02},
   {'localDate': '20180603',
    'closePrice': 1409.65,
    'openPrice': 0,
    'highPrice': 1409.65,
    'lowPrice': 1404.41},
   {'localDate': '20180610',
    'closePrice': 1410.76,
    'openPrice': 0,
    'highPrice': 1411.08,
    'lowPrice': 1410.35},
   {'localDate': '20180617',
    'closePrice': 1410.29,
    'openPrice': 0,
    'highPrice': 1411.17,
    'lowPrice': 1410.29},
   {'localDate': '20180624',
    'closePrice': 1408.97,
    'openPrice': 0,
    'highPrice': 1410.41,
    'lowPrice': 1408.97},
   {'localDate': '20180701',
    'closePrice': 1408.44,
    'openPrice': 0,
    'highPrice': 1409.22,
    'lowPrice': 1408.44},
   {'localDate': '20180708',
    'closePrice': 1409.91,
    'openPrice': 0,
    'highPrice': 1410,
    'lowPrice': 1408.72},
   {'localDate': '20180715',
    'closePrice': 1411.97,
    'openPrice': 0,
    'highPrice': 1412.03,
    'lowPrice': 1410.25},
   {'localDate': '20180722',
    'closePrice': 1412.69,
    'openPrice': 0,
    'highPrice': 1412.88,
    'lowPrice': 1412.52},
   {'localDate': '20180729',
    'closePrice': 1413.7,
    'openPrice': 0,
    'highPrice': 1413.71,
    'lowPrice': 1413.23},
   {'localDate': '20180805',
    'closePrice': 1416.37,
    'openPrice': 0,
    'highPrice': 1416.38,
    'lowPrice': 1414.24},
   {'localDate': '20180812',
    'closePrice': 1418.42,
    'openPrice': 0,
    'highPrice': 1418.42,
    'lowPrice': 1416.92},
   {'localDate': '20180819',
    'closePrice': 1419.81,
    'openPrice': 0,
    'highPrice': 1420.04,
    'lowPrice': 1419},
   {'localDate': '20180826',
    'closePrice': 1420.47,
    'openPrice': 0,
    'highPrice': 1420.57,
    'lowPrice': 1420.23},
   {'localDate': '20180902',
    'closePrice': 1422.73,
    'openPrice': 0,
    'highPrice': 1422.73,
    'lowPrice': 1420.91},
   {'localDate': '20180909',
    'closePrice': 1428.68,
    'openPrice': 0,
    'highPrice': 1428.68,
    'lowPrice': 1423.48},
   {'localDate': '20180916',
    'closePrice': 1439.13,
    'openPrice': 0,
    'highPrice': 1439.13,
    'lowPrice': 1429.71},
   {'localDate': '20180923',
    'closePrice': 1450.34,
    'openPrice': 0,
    'highPrice': 1450.34,
    'lowPrice': 1440.96},
   {'localDate': '20180930',
    'closePrice': 1456.47,
    'openPrice': 0,
    'highPrice': 1456.47,
    'lowPrice': 1450.83},
   {'localDate': '20181007',
    'closePrice': 1472.75,
    'openPrice': 0,
    'highPrice': 1472.75,
    'lowPrice': 1458.98},
   {'localDate': '20181014',
    'closePrice': 1487.61,
    'openPrice': 0,
    'highPrice': 1487.61,
    'lowPrice': 1475.13},
   {'localDate': '20181021',
    'closePrice': 1494,
    'openPrice': 0,
    'highPrice': 1494,
    'lowPrice': 1489.18},
   {'localDate': '20181028',
    'closePrice': 1494.71,
    'openPrice': 0,
    'highPrice': 1494.82,
    'lowPrice': 1494.63},
   {'localDate': '20181104',
    'closePrice': 1495.6,
    'openPrice': 0,
    'highPrice': 1495.76,
    'lowPrice': 1495.16},
   {'localDate': '20181111',
    'closePrice': 1425.16,
    'openPrice': 0,
    'highPrice': 1495.76,
    'lowPrice': 1425.16},
   {'localDate': '20181118',
    'closePrice': 1407.06,
    'openPrice': 0,
    'highPrice': 1422.44,
    'lowPrice': 1407.06},
   {'localDate': '20181125',
    'closePrice': 1390.48,
    'openPrice': 0,
    'highPrice': 1405.7,
    'lowPrice': 1390.48},
   {'localDate': '20181202',
    'closePrice': 1368.46,
    'openPrice': 0,
    'highPrice': 1389.11,
    'lowPrice': 1368.46},
   {'localDate': '20181209',
    'closePrice': 1347.13,
    'openPrice': 0,
    'highPrice': 1366.23,
    'lowPrice': 1347.13},
   {'localDate': '20181216',
    'closePrice': 1326.72,
    'openPrice': 0,
    'highPrice': 1344.98,
    'lowPrice': 1326.72},
   {'localDate': '20181223',
    'closePrice': 1301.33,
    'openPrice': 0,
    'highPrice': 1324.8,
    'lowPrice': 1301.33},
   {'localDate': '20181230',
    'closePrice': 1278.74,
    'openPrice': 0,
    'highPrice': 1297.98,
    'lowPrice': 1278.74},
   {'localDate': '20190106',
    'closePrice': 1257.43,
    'openPrice': 0,
    'highPrice': 1277.23,
    'lowPrice': 1257.43},
   {'localDate': '20190113',
    'closePrice': 1247.24,
    'openPrice': 0,
    'highPrice': 1255.3,
    'lowPrice': 1247.24},
   {'localDate': '20190120',
    'closePrice': 1243.97,
    'openPrice': 0,
    'highPrice': 1246.92,
    'lowPrice': 1243.97},
   {'localDate': '20190127',
    'closePrice': 1243.22,
    'openPrice': 0,
    'highPrice': 1244.06,
    'lowPrice': 1243.22},
   {'localDate': '20190203',
    'closePrice': 1242.9,
    'openPrice': 0,
    'highPrice': 1243.41,
    'lowPrice': 1242.9},
   {'localDate': '20190210',
    'closePrice': 1241.93,
    'openPrice': 0,
    'highPrice': 1242.77,
    'lowPrice': 1241.93},
   {'localDate': '20190217',
    'closePrice': 1241.69,
    'openPrice': 0,
    'highPrice': 1241.92,
    'lowPrice': 1241.42},
   {'localDate': '20190224',
    'closePrice': 1244.03,
    'openPrice': 0,
    'highPrice': 1244.03,
    'lowPrice': 1242.03},
   {'localDate': '20190303',
    'closePrice': 1248.9,
    'openPrice': 0,
    'highPrice': 1248.9,
    'lowPrice': 1244.77},
   {'localDate': '20190310',
    'closePrice': 1255.79,
    'openPrice': 0,
    'highPrice': 1255.79,
    'lowPrice': 1249.48},
   {'localDate': '20190317',
    'closePrice': 1270.67,
    'openPrice': 0,
    'highPrice': 1270.67,
    'lowPrice': 1257.38},
   {'localDate': '20190324',
    'closePrice': 1283.7,
    'openPrice': 0,
    'highPrice': 1283.7,
    'lowPrice': 1272.95},
   {'localDate': '20190331',
    'closePrice': 1292.39,
    'openPrice': 0,
    'highPrice': 1292.39,
    'lowPrice': 1285.44},
   {'localDate': '20190407',
    'closePrice': 1301.4,
    'openPrice': 0,
    'highPrice': 1301.4,
    'lowPrice': 1294.48},
   {'localDate': '20190414',
    'closePrice': 1312.08,
    'openPrice': 0,
    'highPrice': 1312.08,
    'lowPrice': 1302.72},
   {'localDate': '20190421',
    'closePrice': 1324.66,
    'openPrice': 0,
    'highPrice': 1324.66,
    'lowPrice': 1313.98},
   {'localDate': '20190428',
    'closePrice': 1337.81,
    'openPrice': 0,
    'highPrice': 1337.81,
    'lowPrice': 1326.54},
   {'localDate': '20190505',
    'closePrice': 1354.14,
    'openPrice': 0,
    'highPrice': 1354.14,
    'lowPrice': 1339.93},
   {'localDate': '20190512',
    'closePrice': 1390.35,
    'openPrice': 0,
    'highPrice': 1390.35,
    'lowPrice': 1355.76},
   {'localDate': '20190519',
    'closePrice': 1394.95,
    'openPrice': 0,
    'highPrice': 1394.95,
    'lowPrice': 1391.37},
   {'localDate': '20190526',
    'closePrice': 1398.08,
    'openPrice': 0,
    'highPrice': 1398.08,
    'lowPrice': 1395.46},
   {'localDate': '20190602',
    'closePrice': 1398.21,
    'openPrice': 0,
    'highPrice': 1399.11,
    'lowPrice': 1398.21},
   {'localDate': '20190609',
    'closePrice': 1392.79,
    'openPrice': 0,
    'highPrice': 1397.94,
    'lowPrice': 1392.79},
   {'localDate': '20190616',
    'closePrice': 1379.44,
    'openPrice': 0,
    'highPrice': 1391.97,
    'lowPrice': 1379.44},
   {'localDate': '20190623',
    'closePrice': 1365.85,
    'openPrice': 0,
    'highPrice': 1377.66,
    'lowPrice': 1365.85},
   {'localDate': '20190630',
    'closePrice': 1360.29,
    'openPrice': 0,
    'highPrice': 1364.73,
    'lowPrice': 1360.29},
   {'localDate': '20190707',
    'closePrice': 1354.2,
    'openPrice': 0,
    'highPrice': 1359.41,
    'lowPrice': 1354.2},
   {'localDate': '20190714',
    'closePrice': 1351.64,
    'openPrice': 0,
    'highPrice': 1353.91,
    'lowPrice': 1351.64},
   {'localDate': '20190721',
    'closePrice': 1351.17,
    'openPrice': 0,
    'highPrice': 1351.83,
    'lowPrice': 1351.17},
   {'localDate': '20190728',
    'closePrice': 1351.25,
    'openPrice': 0,
    'highPrice': 1351.35,
    'lowPrice': 1351.1},
   {'localDate': '20190804',
    'closePrice': 1352.49,
    'openPrice': 0,
    'highPrice': 1352.61,
    'lowPrice': 1351.49},
   {'localDate': '20190811',
    'closePrice': 1351.71,
    'openPrice': 0,
    'highPrice': 1352.76,
    'lowPrice': 1351.71},
   {'localDate': '20190818',
    'closePrice': 1351.12,
    'openPrice': 0,
    'highPrice': 1351.73,
    'lowPrice': 1351.12},
   {'localDate': '20190825',
    'closePrice': 1351.21,
    'openPrice': 0,
    'highPrice': 1351.31,
    'lowPrice': 1351.04},
   {'localDate': '20190901',
    'closePrice': 1363.44,
    'openPrice': 0,
    'highPrice': 1363.44,
    'lowPrice': 1351.63},
   {'localDate': '20190908',
    'closePrice': 1374.28,
    'openPrice': 0,
    'highPrice': 1374.28,
    'lowPrice': 1368.44},
   {'localDate': '20190915',
    'closePrice': 1376.05,
    'openPrice': 0,
    'highPrice': 1376.19,
    'lowPrice': 1374.61},
   {'localDate': '20190922',
    'closePrice': 1385.86,
    'openPrice': 0,
    'highPrice': 1385.86,
    'lowPrice': 1377},
   {'localDate': '20190929',
    'closePrice': 1390.98,
    'openPrice': 0,
    'highPrice': 1390.98,
    'lowPrice': 1386.98},
   {'localDate': '20191006',
    'closePrice': 1390.85,
    'openPrice': 0,
    'highPrice': 1391.75,
    'lowPrice': 1390.85},
   {'localDate': '20191013',
    'closePrice': 1388.97,
    'openPrice': 0,
    'highPrice': 1390.76,
    'lowPrice': 1388.97},
   {'localDate': '20191020',
    'closePrice': 1386.38,
    'openPrice': 0,
    'highPrice': 1388.93,
    'lowPrice': 1386.38},
   {'localDate': '20191027',
    'closePrice': 1383.9,
    'openPrice': 0,
    'highPrice': 1386.24,
    'lowPrice': 1383.9},
   {'localDate': '20191103',
    'closePrice': 1382,
    'openPrice': 0,
    'highPrice': 1383.83,
    'lowPrice': 1382},
   {'localDate': '20191110',
    'closePrice': 1380.22,
    'openPrice': 0,
    'highPrice': 1382.03,
    'lowPrice': 1380.22},
   {'localDate': '20191117',
    'closePrice': 1380,
    'openPrice': 0,
    'highPrice': 1380.39,
    'lowPrice': 1380},
   {'localDate': '20191124',
    'closePrice': 1379.75,
    'openPrice': 0,
    'highPrice': 1380.13,
    'lowPrice': 1379.68},
   {'localDate': '20191201',
    'closePrice': 1380.42,
    'openPrice': 0,
    'highPrice': 1380.42,
    'lowPrice': 1380},
   {'localDate': '20191208',
    'closePrice': 1381.76,
    'openPrice': 0,
    'highPrice': 1381.78,
    'lowPrice': 1380.65},
   {'localDate': '20191215',
    'closePrice': 1384.42,
    'openPrice': 0,
    'highPrice': 1384.42,
    'lowPrice': 1382.35},
   {'localDate': '20191222',
    'closePrice': 1387.49,
    'openPrice': 0,
    'highPrice': 1387.49,
    'lowPrice': 1385.04},
   {'localDate': '20191229',
    'closePrice': 1390.71,
    'openPrice': 0,
    'highPrice': 1390.71,
    'lowPrice': 1388.05},
   {'localDate': '20200105',
    'closePrice': 1394.03,
    'openPrice': 0,
    'highPrice': 1394.03,
    'lowPrice': 1391.19},
   {'localDate': '20200112',
    'closePrice': 1400.31,
    'openPrice': 0,
    'highPrice': 1400.31,
    'lowPrice': 1394.97},
   {'localDate': '20200119',
    'closePrice': 1400.52,
    'openPrice': 0,
    'highPrice': 1401.06,
    'lowPrice': 1400.52},
   {'localDate': '20200126',
    'closePrice': 1399.63,
    'openPrice': 0,
    'highPrice': 1400.67,
    'lowPrice': 1399.63},
   {'localDate': '20200202',
    'closePrice': 1394.1,
    'openPrice': 0,
    'highPrice': 1399.13,
    'lowPrice': 1394.1},
   {'localDate': '20200209',
    'closePrice': 1383.7,
    'openPrice': 0,
    'highPrice': 1393.18,
    'lowPrice': 1383.7},
   {'localDate': '20200216',
    'closePrice': 1366.27,
    'openPrice': 0,
    'highPrice': 1382.38,
    'lowPrice': 1366.27},
   {'localDate': '20200223',
    'closePrice': 1354.19,
    'openPrice': 0,
    'highPrice': 1364.35,
    'lowPrice': 1354.19},
   {'localDate': '20200301',
    'closePrice': 1342.68,
    'openPrice': 0,
    'highPrice': 1353.38,
    'lowPrice': 1342.68},
   {'localDate': '20200308',
    'closePrice': 1327.27,
    'openPrice': 0,
    'highPrice': 1340.72,
    'lowPrice': 1327.27},
   {'localDate': '20200315',
    'closePrice': 1295.73,
    'openPrice': 0,
    'highPrice': 1324.82,
    'lowPrice': 1295.73},
   {'localDate': '20200322',
    'closePrice': 1250.05,
    'openPrice': 0,
    'highPrice': 1291.56,
    'lowPrice': 1250.05},
   {'localDate': '20200329',
    'closePrice': 1209.9,
    'openPrice': 0,
    'highPrice': 1244.7,
    'lowPrice': 1209.9},
   {'localDate': '20200405',
    'closePrice': 1172.64,
    'openPrice': 0,
    'highPrice': 1205.16,
    'lowPrice': 1172.64},
   {'localDate': '20200412',
    'closePrice': 1145.88,
    'openPrice': 0,
    'highPrice': 1169.74,
    'lowPrice': 1145.88},
   {'localDate': '20200419',
    'closePrice': 1120.79,
    'openPrice': 0,
    'highPrice': 1143.12,
    'lowPrice': 1120.79},
   {'localDate': '20200426',
    'closePrice': 1092.87,
    'openPrice': 0,
    'highPrice': 1117.5,
    'lowPrice': 1092.87},
   {'localDate': '20200503',
    'closePrice': 1072.7,
    'openPrice': 0,
    'highPrice': 1090.08,
    'lowPrice': 1072.7},
   {'localDate': '20200510',
    'closePrice': 1062.17,
    'openPrice': 0,
    'highPrice': 1071.08,
    'lowPrice': 1062.17},
   {'localDate': '20200517',
    'closePrice': 1059.11,
    'openPrice': 0,
    'highPrice': 1061.32,
    'lowPrice': 1058.76},
   {'localDate': '20200524',
    'closePrice': 1064.53,
    'openPrice': 0,
    'highPrice': 1064.53,
    'lowPrice': 1059.45},
   {'localDate': '20200531',
    'closePrice': 1078.2,
    'openPrice': 0,
    'highPrice': 1078.2,
    'lowPrice': 1065.86},
   {'localDate': '20200607',
    'closePrice': 1101.37,
    'openPrice': 0,
    'highPrice': 1101.37,
    'lowPrice': 1081.83},
   {'localDate': '20200614',
    'closePrice': 1128.98,
    'openPrice': 0,
    'highPrice': 1128.98,
    'lowPrice': 1105.86},
   {'localDate': '20200621',
    'closePrice': 1145.49,
    'openPrice': 0,
    'highPrice': 1145.49,
    'lowPrice': 1131.65},
   {'localDate': '20200628',
    'closePrice': 1156.35,
    'openPrice': 0,
    'highPrice': 1156.35,
    'lowPrice': 1147.87},
   {'localDate': '20200705',
    'closePrice': 1161.47,
    'openPrice': 0,
    'highPrice': 1161.47,
    'lowPrice': 1157.39},
   {'localDate': '20200712',
    'closePrice': 1163.14,
    'openPrice': 0,
    'highPrice': 1163.22,
    'lowPrice': 1161.95},
   {'localDate': '20200719',
    'closePrice': 1163.62,
    'openPrice': 0,
    'highPrice': 1163.76,
    'lowPrice': 1163.32},
   {'localDate': '20200726',
    'closePrice': 1163.48,
    'openPrice': 0,
    'highPrice': 1163.67,
    'lowPrice': 1163.44},
   {'localDate': '20200802',
    'closePrice': 1163.67,
    'openPrice': 0,
    'highPrice': 1163.69,
    'lowPrice': 1163.39},
   {'localDate': '20200809',
    'closePrice': 1163.41,
    'openPrice': 0,
    'highPrice': 1163.93,
    'lowPrice': 1163.41},
   {'localDate': '20200816',
    'closePrice': 1163.68,
    'openPrice': 0,
    'highPrice': 1163.68,
    'lowPrice': 1163.42},
   {'localDate': '20200823',
    'closePrice': 1163.62,
    'openPrice': 0,
    'highPrice': 1163.81,
    'lowPrice': 1163.62},
   {'localDate': '20200830',
    'closePrice': 1163.18,
    'openPrice': 0,
    'highPrice': 1163.74,
    'lowPrice': 1163.13},
   {'localDate': '20200906',
    'closePrice': 1162.23,
    'openPrice': 0,
    'highPrice': 1163.11,
    'lowPrice': 1162.23},
   {'localDate': '20200913',
    'closePrice': 1157.92,
    'openPrice': 0,
    'highPrice': 1161.94,
    'lowPrice': 1157.92},
   {'localDate': '20200920',
    'closePrice': 1151.1,
    'openPrice': 0,
    'highPrice': 1157.38,
    'lowPrice': 1151.1},
   {'localDate': '20200927',
    'closePrice': 1145.23,
    'openPrice': 0,
    'highPrice': 1150.41,
    'lowPrice': 1145.23},
   {'localDate': '20201004',
    'closePrice': 1141.04,
    'openPrice': 0,
    'highPrice': 1144.9,
    'lowPrice': 1141.04},
   {'localDate': '20201011',
    'closePrice': 1136.39,
    'openPrice': 0,
    'highPrice': 1140.16,
    'lowPrice': 1136.39},
   {'localDate': '20201018',
    'closePrice': 1133.01,
    'openPrice': 0,
    'highPrice': 1135.99,
    'lowPrice': 1133.01},
   {'localDate': '20201025',
    'closePrice': 1129.46,
    'openPrice': 0,
    'highPrice': 1132.58,
    'lowPrice': 1129.46},
   {'localDate': '20201101',
    'closePrice': 1124.5,
    'openPrice': 0,
    'highPrice': 1129.08,
    'lowPrice': 1124.5},
   {'localDate': '20201108',
    'closePrice': 1119.02,
    'openPrice': 0,
    'highPrice': 1123.72,
    'lowPrice': 1119.02},
   {'localDate': '20201115',
    'closePrice': 1117.34,
    'openPrice': 0,
    'highPrice': 1118.72,
    'lowPrice': 1117.34},
   {'localDate': '20201122',
    'closePrice': 1117.64,
    'openPrice': 0,
    'highPrice': 1117.74,
    'lowPrice': 1116.97},
   {'localDate': '20201129',
    'closePrice': 1124.07,
    'openPrice': 0,
    'highPrice': 1124.07,
    'lowPrice': 1117.94},
   {'localDate': '20201206',
    'closePrice': 1135.32,
    'openPrice': 0,
    'highPrice': 1135.32,
    'lowPrice': 1125.19},
   {'localDate': '20201213',
    'closePrice': 1151.81,
    'openPrice': 0,
    'highPrice': 1151.81,
    'lowPrice': 1137.26},
   {'localDate': '20201220',
    'closePrice': 1180.45,
    'openPrice': 0,
    'highPrice': 1180.45,
    'lowPrice': 1154.5},
   {'localDate': '20201227',
    'closePrice': 1207.54,
    'openPrice': 0,

In [ ]:
datas = res.json()['result']['priceInfos']
datas

[{'localDate': '20180107',
  'closePrice': 1339.2,
  'openPrice': 0,
  'highPrice': 1339.2,
  'lowPrice': 1336.4},
 {'localDate': '20180114',
  'closePrice': 1342.67,
  'openPrice': 0,
  'highPrice': 1342.67,
  'lowPrice': 1339.89},
 {'localDate': '20180121',
  'closePrice': 1347.27,
  'openPrice': 0,
  'highPrice': 1347.27,
  'lowPrice': 1343.6},
 {'localDate': '20180128',
  'closePrice': 1352.37,
  'openPrice': 0,
  'highPrice': 1352.37,
  'lowPrice': 1348.26},
 {'localDate': '20180204',
  'closePrice': 1358.08,
  'openPrice': 0,
  'highPrice': 1358.08,
  'lowPrice': 1353.35},
 {'localDate': '20180211',
  'closePrice': 1360.95,
  'openPrice': 0,
  'highPrice': 1361.07,
  'lowPrice': 1358.81},
 {'localDate': '20180218',
  'closePrice': 1361.69,
  'openPrice': 0,
  'highPrice': 1361.76,
  'lowPrice': 1361.39},
 {'localDate': '20180225',
  'closePrice': 1360.26,
  'openPrice': 0,
  'highPrice': 1361.78,
  'lowPrice': 1360.26},
 {'localDate': '20180304',
  'closePrice': 1359.13,
  'openPrice': 0,
  'highPrice': 1360.47,
  'lowPrice': 1359.13},
 {'localDate': '20180311',
  'closePrice': 1357.24,
  'openPrice': 0,
  'highPrice': 1359.18,
  'lowPrice': 1357.24},
 {'localDate': '20180318',
  'closePrice': 1353.5,
  'openPrice': 0,
  'highPrice': 1357.27,
  'lowPrice': 1353.5},
 {'localDate': '20180325',
  'closePrice': 1349.89,
  'openPrice': 0,
  'highPrice': 1353.19,
  'lowPrice': 1349.89},
 {'localDate': '20180401',
  'closePrice': 1348.5,
  'openPrice': 0,
  'highPrice': 1350.21,
  'lowPrice': 1348.5},
 {'localDate': '20180408',
  'closePrice': 1347.58,
  'openPrice': 0,
  'highPrice': 1348.69,
  'lowPrice': 1347.58},
 {'localDate': '20180415',
  'closePrice': 1346.99,
  'openPrice': 0,
  'highPrice': 1347.82,
  'lowPrice': 1346.99},
 {'localDate': '20180422',
  'closePrice': 1349.11,
  'openPrice': 0,
  'highPrice': 1349.12,
  'lowPrice': 1347.41},
 {'localDate': '20180429',
  'closePrice': 1353.33,
  'openPrice': 0,
  'highPrice': 1353.33,
  'lowPrice': 1349.54},
 {'localDate': '20180506',
  'closePrice': 1360.67,
  'openPrice': 0,
  'highPrice': 1360.67,
  'lowPrice': 1354.19},
 {'localDate': '20180513',
  'closePrice': 1372.7,
  'openPrice': 0,
  'highPrice': 1372.7,
  'lowPrice': 1361.45},
 {'localDate': '20180520',
  'closePrice': 1386.29,
  'openPrice': 0,
  'highPrice': 1386.29,
  'lowPrice': 1374.72},
 {'localDate': '20180527',
  'closePrice': 1402.69,
  'openPrice': 0,
  'highPrice': 1402.69,
  'lowPrice': 1387.02},
 {'localDate': '20180603',
  'closePrice': 1409.65,
  'openPrice': 0,
  'highPrice': 1409.65,
  'lowPrice': 1404.41},
 {'localDate': '20180610',
  'closePrice': 1410.76,
  'openPrice': 0,
  'highPrice': 1411.08,
  'lowPrice': 1410.35},
 {'localDate': '20180617',
  'closePrice': 1410.29,
  'openPrice': 0,
  'highPrice': 1411.17,
  'lowPrice': 1410.29},
 {'localDate': '20180624',
  'closePrice': 1408.97,
  'openPrice': 0,
  'highPrice': 1410.41,
  'lowPrice': 1408.97},
 {'localDate': '20180701',
  'closePrice': 1408.44,
  'openPrice': 0,
  'highPrice': 1409.22,
  'lowPrice': 1408.44},
 {'localDate': '20180708',
  'closePrice': 1409.91,
  'openPrice': 0,
  'highPrice': 1410,
  'lowPrice': 1408.72},
 {'localDate': '20180715',
  'closePrice': 1411.97,
  'openPrice': 0,
  'highPrice': 1412.03,
  'lowPrice': 1410.25},
 {'localDate': '20180722',
  'closePrice': 1412.69,
  'openPrice': 0,
  'highPrice': 1412.88,
  'lowPrice': 1412.52},
 {'localDate': '20180729',
  'closePrice': 1413.7,
  'openPrice': 0,
  'highPrice': 1413.71,
  'lowPrice': 1413.23},
 {'localDate': '20180805',
  'closePrice': 1416.37,
  'openPrice': 0,
  'highPrice': 1416.38,
  'lowPrice': 1414.24},
 {'localDate': '20180812',
  'closePrice': 1418.42,
  'openPrice': 0,
  'highPrice': 1418.42,
  'lowPrice': 1416.92},
 {'localDate': '20180819',
  'closePrice': 1419.81,
  'openPrice': 0,
  'highPrice': 1420.04,
  'lowPrice': 1419},
 {'localDate': '20180826',
  'closePrice': 1420.47,
  'openPrice': 0,
  'highPrice': 1420.57,
  'lowPrice': 1420.23},
 {'localDate': '20180902',
  'closePrice': 1422.73,
  'openPrice': 0,
  'highPrice': 1422.73,
  'lowPrice': 1420.91},
 {'localDate': '20180909',
  'closePrice': 1428.68,
  'openPrice': 0,
  'highPrice': 1428.68,
  'lowPrice': 1423.48},
 {'localDate': '20180916',
  'closePrice': 1439.13,
  'openPrice': 0,
  'highPrice': 1439.13,
  'lowPrice': 1429.71},
 {'localDate': '20180923',
  'closePrice': 1450.34,
  'openPrice': 0,
  'highPrice': 1450.34,
  'lowPrice': 1440.96},
 {'localDate': '20180930',
  'closePrice': 1456.47,
  'openPrice': 0,
  'highPrice': 1456.47,
  'lowPrice': 1450.83},
 {'localDate': '20181007',
  'closePrice': 1472.75,
  'openPrice': 0,
  'highPrice': 1472.75,
  'lowPrice': 1458.98},
 {'localDate': '20181014',
  'closePrice': 1487.61,
  'openPrice': 0,
  'highPrice': 1487.61,
  'lowPrice': 1475.13},
 {'localDate': '20181021',
  'closePrice': 1494,
  'openPrice': 0,
  'highPrice': 1494,
  'lowPrice': 1489.18},
 {'localDate': '20181028',
  'closePrice': 1494.71,
  'openPrice': 0,
  'highPrice': 1494.82,
  'lowPrice': 1494.63},
 {'localDate': '20181104',
  'closePrice': 1495.6,
  'openPrice': 0,
  'highPrice': 1495.76,
  'lowPrice': 1495.16},
 {'localDate': '20181111',
  'closePrice': 1425.16,
  'openPrice': 0,
  'highPrice': 1495.76,
  'lowPrice': 1425.16},
 {'localDate': '20181118',
  'closePrice': 1407.06,
  'openPrice': 0,
  'highPrice': 1422.44,
  'lowPrice': 1407.06},
 {'localDate': '20181125',
  'closePrice': 1390.48,
  'openPrice': 0,
  'highPrice': 1405.7,
  'lowPrice': 1390.48},
 {'localDate': '20181202',
  'closePrice': 1368.46,
  'openPrice': 0,
  'highPrice': 1389.11,
  'lowPrice': 1368.46},
 {'localDate': '20181209',
  'closePrice': 1347.13,
  'openPrice': 0,
  'highPrice': 1366.23,
  'lowPrice': 1347.13},
 {'localDate': '20181216',
  'closePrice': 1326.72,
  'openPrice': 0,
  'highPrice': 1344.98,
  'lowPrice': 1326.72},
 {'localDate': '20181223',
  'closePrice': 1301.33,
  'openPrice': 0,
  'highPrice': 1324.8,
  'lowPrice': 1301.33},
 {'localDate': '20181230',
  'closePrice': 1278.74,
  'openPrice': 0,
  'highPrice': 1297.98,
  'lowPrice': 1278.74},
 {'localDate': '20190106',
  'closePrice': 1257.43,
  'openPrice': 0,
  'highPrice': 1277.23,
  'lowPrice': 1257.43},
 {'localDate': '20190113',
  'closePrice': 1247.24,
  'openPrice': 0,
  'highPrice': 1255.3,
  'lowPrice': 1247.24},
 {'localDate': '20190120',
  'closePrice': 1243.97,
  'openPrice': 0,
  'highPrice': 1246.92,
  'lowPrice': 1243.97},
 {'localDate': '20190127',
  'closePrice': 1243.22,
  'openPrice': 0,
  'highPrice': 1244.06,
  'lowPrice': 1243.22},
 {'localDate': '20190203',
  'closePrice': 1242.9,
  'openPrice': 0,
  'highPrice': 1243.41,
  'lowPrice': 1242.9},
 {'localDate': '20190210',
  'closePrice': 1241.93,
  'openPrice': 0,
  'highPrice': 1242.77,
  'lowPrice': 1241.93},
 {'localDate': '20190217',
  'closePrice': 1241.69,
  'openPrice': 0,
  'highPrice': 1241.92,
  'lowPrice': 1241.42},
 {'localDate': '20190224',
  'closePrice': 1244.03,
  'openPrice': 0,
  'highPrice': 1244.03,
  'lowPrice': 1242.03},
 {'localDate': '20190303',
  'closePrice': 1248.9,
  'openPrice': 0,
  'highPrice': 1248.9,
  'lowPrice': 1244.77},
 {'localDate': '20190310',
  'closePrice': 1255.79,
  'openPrice': 0,
  'highPrice': 1255.79,
  'lowPrice': 1249.48},
 {'localDate': '20190317',
  'closePrice': 1270.67,
  'openPrice': 0,
  'highPrice': 1270.67,
  'lowPrice': 1257.38},
 {'localDate': '20190324',
  'closePrice': 1283.7,
  'openPrice': 0,
  'highPrice': 1283.7,
  'lowPrice': 1272.95},
 {'localDate': '20190331',
  'closePrice': 1292.39,
  'openPrice': 0,
  'highPrice': 1292.39,
  'lowPrice': 1285.44},
 {'localDate': '20190407',
  'closePrice': 1301.4,
  'openPrice': 0,
  'highPrice': 1301.4,
  'lowPrice': 1294.48},
 {'localDate': '20190414',
  'closePrice': 1312.08,
  'openPrice': 0,
  'highPrice': 1312.08,
  'lowPrice': 1302.72},
 {'localDate': '20190421',
  'closePrice': 1324.66,
  'openPrice': 0,
  'highPrice': 1324.66,
  'lowPrice': 1313.98},
 {'localDate': '20190428',
  'closePrice': 1337.81,
  'openPrice': 0,
  'highPrice': 1337.81,
  'lowPrice': 1326.54},
 {'localDate': '20190505',
  'closePrice': 1354.14,
  'openPrice': 0,
  'highPrice': 1354.14,
  'lowPrice': 1339.93},
 {'localDate': '20190512',
  'closePrice': 1390.35,
  'openPrice': 0,
  'highPrice': 1390.35,
  'lowPrice': 1355.76},
 {'localDate': '20190519',
  'closePrice': 1394.95,
  'openPrice': 0,
  'highPrice': 1394.95,
  'lowPrice': 1391.37},
 {'localDate': '20190526',
  'closePrice': 1398.08,
  'openPrice': 0,
  'highPrice': 1398.08,
  'lowPrice': 1395.46},
 {'localDate': '20190602',
  'closePrice': 1398.21,
  'openPrice': 0,
  'highPrice': 1399.11,
  'lowPrice': 1398.21},
 {'localDate': '20190609',
  'closePrice': 1392.79,
  'openPrice': 0,
  'highPrice': 1397.94,
  'lowPrice': 1392.79},
 {'localDate': '20190616',
  'closePrice': 1379.44,
  'openPrice': 0,
  'highPrice': 1391.97,
  'lowPrice': 1379.44},
 {'localDate': '20190623',
  'closePrice': 1365.85,
  'openPrice': 0,
  'highPrice': 1377.66,
  'lowPrice': 1365.85},
 {'localDate': '20190630',
  'closePrice': 1360.29,
  'openPrice': 0,
  'highPrice': 1364.73,
  'lowPrice': 1360.29},
 {'localDate': '20190707',
  'closePrice': 1354.2,
  'openPrice': 0,
  'highPrice': 1359.41,
  'lowPrice': 1354.2},
 {'localDate': '20190714',
  'closePrice': 1351.64,
  'openPrice': 0,
  'highPrice': 1353.91,
  'lowPrice': 1351.64},
 {'localDate': '20190721',
  'closePrice': 1351.17,
  'openPrice': 0,
  'highPrice': 1351.83,
  'lowPrice': 1351.17},
 {'localDate': '20190728',
  'closePrice': 1351.25,
  'openPrice': 0,
  'highPrice': 1351.35,
  'lowPrice': 1351.1},
 {'localDate': '20190804',
  'closePrice': 1352.49,
  'openPrice': 0,
  'highPrice': 1352.61,
  'lowPrice': 1351.49},
 {'localDate': '20190811',
  'closePrice': 1351.71,
  'openPrice': 0,
  'highPrice': 1352.76,
  'lowPrice': 1351.71},
 {'localDate': '20190818',
  'closePrice': 1351.12,
  'openPrice': 0,
  'highPrice': 1351.73,
  'lowPrice': 1351.12},
 {'localDate': '20190825',
  'closePrice': 1351.21,
  'openPrice': 0,
  'highPrice': 1351.31,
  'lowPrice': 1351.04},
 {'localDate': '20190901',
  'closePrice': 1363.44,
  'openPrice': 0,
  'highPrice': 1363.44,
  'lowPrice': 1351.63},
 {'localDate': '20190908',
  'closePrice': 1374.28,
  'openPrice': 0,
  'highPrice': 1374.28,
  'lowPrice': 1368.44},
 {'localDate': '20190915',
  'closePrice': 1376.05,
  'openPrice': 0,
  'highPrice': 1376.19,
  'lowPrice': 1374.61},
 {'localDate': '20190922',
  'closePrice': 1385.86,
  'openPrice': 0,
  'highPrice': 1385.86,
  'lowPrice': 1377},
 {'localDate': '20190929',
  'closePrice': 1390.98,
  'openPrice': 0,
  'highPrice': 1390.98,
  'lowPrice': 1386.98},
 {'localDate': '20191006',
  'closePrice': 1390.85,
  'openPrice': 0,
  'highPrice': 1391.75,
  'lowPrice': 1390.85},
 {'localDate': '20191013',
  'closePrice': 1388.97,
  'openPrice': 0,
  'highPrice': 1390.76,
  'lowPrice': 1388.97},
 {'localDate': '20191020',
  'closePrice': 1386.38,
  'openPrice': 0,
  'highPrice': 1388.93,
  'lowPrice': 1386.38},
 {'localDate': '20191027',
  'closePrice': 1383.9,
  'openPrice': 0,
  'highPrice': 1386.24,
  'lowPrice': 1383.9},
 {'localDate': '20191103',
  'closePrice': 1382,
  'openPrice': 0,
  'highPrice': 1383.83,
  'lowPrice': 1382},
 {'localDate': '20191110',
  'closePrice': 1380.22,
  'openPrice': 0,
  'highPrice': 1382.03,
  'lowPrice': 1380.22},
 {'localDate': '20191117',
  'closePrice': 1380,
  'openPrice': 0,
  'highPrice': 1380.39,
  'lowPrice': 1380},
 {'localDate': '20191124',
  'closePrice': 1379.75,
  'openPrice': 0,
  'highPrice': 1380.13,
  'lowPrice': 1379.68},
 {'localDate': '20191201',
  'closePrice': 1380.42,
  'openPrice': 0,
  'highPrice': 1380.42,
  'lowPrice': 1380},
 {'localDate': '20191208',
  'closePrice': 1381.76,
  'openPrice': 0,
  'highPrice': 1381.78,
  'lowPrice': 1380.65},
 {'localDate': '20191215',
  'closePrice': 1384.42,
  'openPrice': 0,
  'highPrice': 1384.42,
  'lowPrice': 1382.35},
 {'localDate': '20191222',
  'closePrice': 1387.49,
  'openPrice': 0,
  'highPrice': 1387.49,
  'lowPrice': 1385.04},
 {'localDate': '20191229',
  'closePrice': 1390.71,
  'openPrice': 0,
  'highPrice': 1390.71,
  'lowPrice': 1388.05},
 {'localDate': '20200105',
  'closePrice': 1394.03,
  'openPrice': 0,
  'highPrice': 1394.03,
  'lowPrice': 1391.19},
 {'localDate': '20200112',
  'closePrice': 1400.31,
  'openPrice': 0,
  'highPrice': 1400.31,
  'lowPrice': 1394.97},
 {'localDate': '20200119',
  'closePrice': 1400.52,
  'openPrice': 0,
  'highPrice': 1401.06,
  'lowPrice': 1400.52},
 {'localDate': '20200126',
  'closePrice': 1399.63,
  'openPrice': 0,
  'highPrice': 1400.67,
  'lowPrice': 1399.63},
 {'localDate': '20200202',
  'closePrice': 1394.1,
  'openPrice': 0,
  'highPrice': 1399.13,
  'lowPrice': 1394.1},
 {'localDate': '20200209',
  'closePrice': 1383.7,
  'openPrice': 0,
  'highPrice': 1393.18,
  'lowPrice': 1383.7},
 {'localDate': '20200216',
  'closePrice': 1366.27,
  'openPrice': 0,
  'highPrice': 1382.38,
  'lowPrice': 1366.27},
 {'localDate': '20200223',
  'closePrice': 1354.19,
  'openPrice': 0,
  'highPrice': 1364.35,
  'lowPrice': 1354.19},
 {'localDate': '20200301',
  'closePrice': 1342.68,
  'openPrice': 0,
  'highPrice': 1353.38,
  'lowPrice': 1342.68},
 {'localDate': '20200308',
  'closePrice': 1327.27,
  'openPrice': 0,
  'highPrice': 1340.72,
  'lowPrice': 1327.27},
 {'localDate': '20200315',
  'closePrice': 1295.73,
  'openPrice': 0,
  'highPrice': 1324.82,
  'lowPrice': 1295.73},
 {'localDate': '20200322',
  'closePrice': 1250.05,
  'openPrice': 0,
  'highPrice': 1291.56,
  'lowPrice': 1250.05},
 {'localDate': '20200329',
  'closePrice': 1209.9,
  'openPrice': 0,
  'highPrice': 1244.7,
  'lowPrice': 1209.9},
 {'localDate': '20200405',
  'closePrice': 1172.64,
  'openPrice': 0,
  'highPrice': 1205.16,
  'lowPrice': 1172.64},
 {'localDate': '20200412',
  'closePrice': 1145.88,
  'openPrice': 0,
  'highPrice': 1169.74,
  'lowPrice': 1145.88},
 {'localDate': '20200419',
  'closePrice': 1120.79,
  'openPrice': 0,
  'highPrice': 1143.12,
  'lowPrice': 1120.79},
 {'localDate': '20200426',
  'closePrice': 1092.87,
  'openPrice': 0,
  'highPrice': 1117.5,
  'lowPrice': 1092.87},
 {'localDate': '20200503',
  'closePrice': 1072.7,
  'openPrice': 0,
  'highPrice': 1090.08,
  'lowPrice': 1072.7},
 {'localDate': '20200510',
  'closePrice': 1062.17,
  'openPrice': 0,
  'highPrice': 1071.08,
  'lowPrice': 1062.17},
 {'localDate': '20200517',
  'closePrice': 1059.11,
  'openPrice': 0,
  'highPrice': 1061.32,
  'lowPrice': 1058.76},
 {'localDate': '20200524',
  'closePrice': 1064.53,
  'openPrice': 0,
  'highPrice': 1064.53,
  'lowPrice': 1059.45},
 {'localDate': '20200531',
  'closePrice': 1078.2,
  'openPrice': 0,
  'highPrice': 1078.2,
  'lowPrice': 1065.86},
 {'localDate': '20200607',
  'closePrice': 1101.37,
  'openPrice': 0,
  'highPrice': 1101.37,
  'lowPrice': 1081.83},
 {'localDate': '20200614',
  'closePrice': 1128.98,
  'openPrice': 0,
  'highPrice': 1128.98,
  'lowPrice': 1105.86},
 {'localDate': '20200621',
  'closePrice': 1145.49,
  'openPrice': 0,
  'highPrice': 1145.49,
  'lowPrice': 1131.65},
 {'localDate': '20200628',
  'closePrice': 1156.35,
  'openPrice': 0,
  'highPrice': 1156.35,
  'lowPrice': 1147.87},
 {'localDate': '20200705',
  'closePrice': 1161.47,
  'openPrice': 0,
  'highPrice': 1161.47,
  'lowPrice': 1157.39},
 {'localDate': '20200712',
  'closePrice': 1163.14,
  'openPrice': 0,
  'highPrice': 1163.22,
  'lowPrice': 1161.95},
 {'localDate': '20200719',
  'closePrice': 1163.62,
  'openPrice': 0,
  'highPrice': 1163.76,
  'lowPrice': 1163.32},
 {'localDate': '20200726',
  'closePrice': 1163.48,
  'openPrice': 0,
  'highPrice': 1163.67,
  'lowPrice': 1163.44},
 {'localDate': '20200802',
  'closePrice': 1163.67,
  'openPrice': 0,
  'highPrice': 1163.69,
  'lowPrice': 1163.39},
 {'localDate': '20200809',
  'closePrice': 1163.41,
  'openPrice': 0,
  'highPrice': 1163.93,
  'lowPrice': 1163.41},
 {'localDate': '20200816',
  'closePrice': 1163.68,
  'openPrice': 0,
  'highPrice': 1163.68,
  'lowPrice': 1163.42},
 {'localDate': '20200823',
  'closePrice': 1163.62,
  'openPrice': 0,
  'highPrice': 1163.81,
  'lowPrice': 1163.62},
 {'localDate': '20200830',
  'closePrice': 1163.18,
  'openPrice': 0,
  'highPrice': 1163.74,
  'lowPrice': 1163.13},
 {'localDate': '20200906',
  'closePrice': 1162.23,
  'openPrice': 0,
  'highPrice': 1163.11,
  'lowPrice': 1162.23},
 {'localDate': '20200913',
  'closePrice': 1157.92,
  'openPrice': 0,
  'highPrice': 1161.94,
  'lowPrice': 1157.92},
 {'localDate': '20200920',
  'closePrice': 1151.1,
  'openPrice': 0,
  'highPrice': 1157.38,
  'lowPrice': 1151.1},
 {'localDate': '20200927',
  'closePrice': 1145.23,
  'openPrice': 0,
  'highPrice': 1150.41,
  'lowPrice': 1145.23},
 {'localDate': '20201004',
  'closePrice': 1141.04,
  'openPrice': 0,
  'highPrice': 1144.9,
  'lowPrice': 1141.04},
 {'localDate': '20201011',
  'closePrice': 1136.39,
  'openPrice': 0,
  'highPrice': 1140.16,
  'lowPrice': 1136.39},
 {'localDate': '20201018',
  'closePrice': 1133.01,
  'openPrice': 0,
  'highPrice': 1135.99,
  'lowPrice': 1133.01},
 {'localDate': '20201025',
  'closePrice': 1129.46,
  'openPrice': 0,
  'highPrice': 1132.58,
  'lowPrice': 1129.46},
 {'localDate': '20201101',
  'closePrice': 1124.5,
  'openPrice': 0,
  'highPrice': 1129.08,
  'lowPrice': 1124.5},
 {'localDate': '20201108',
  'closePrice': 1119.02,
  'openPrice': 0,
  'highPrice': 1123.72,
  'lowPrice': 1119.02},
 {'localDate': '20201115',
  'closePrice': 1117.34,
  'openPrice': 0,
  'highPrice': 1118.72,
  'lowPrice': 1117.34},
 {'localDate': '20201122',
  'closePrice': 1117.64,
  'openPrice': 0,
  'highPrice': 1117.74,
  'lowPrice': 1116.97},
 {'localDate': '20201129',
  'closePrice': 1124.07,
  'openPrice': 0,
  'highPrice': 1124.07,
  'lowPrice': 1117.94},
 {'localDate': '20201206',
  'closePrice': 1135.32,
  'openPrice': 0,
  'highPrice': 1135.32,
  'lowPrice': 1125.19},
 {'localDate': '20201213',
  'closePrice': 1151.81,
  'openPrice': 0,
  'highPrice': 1151.81,
  'lowPrice': 1137.26},
 {'localDate': '20201220',
  'closePrice': 1180.45,
  'openPrice': 0,
  'highPrice': 1180.45,
  'lowPrice': 1154.5},
 {'localDate': '20201227',
  'closePrice': 1207.54,
  'openPrice': 0,
  'highPrice': 1207.54,
  'lowPrice': 1185.17},
 {'localDate': '20210103',
  'closePrice': 1227.34,
  'openPrice': 0,
  'highPrice': 1227.34,
  'lowPrice': 1210.65},
 {'localDate': '20210110',
  'closePrice': 1237.18,
  'openPrice': 0,
  'highPrice': 1237.18,
  'lowPrice': 1229.15},
 {'localDate': '20210117',
  'closePrice': 1245.76,
  'openPrice': 0,
  'highPrice': 1245.76,
  'lowPrice': 1238.43},
 {'localDate': '20210124',
  'closePrice': 1250.18,
  'openPrice': 0,
  'highPrice': 1250.18,
  'lowPrice': 1246.72},
 {'localDate': '20210131',
  'closePrice': 1251.74,
  'openPrice': 0,
  'highPrice': 1251.78,
  'lowPrice': 1250.68},
 {'localDate': '20210207',
  'closePrice': 1253.96,
  'openPrice': 0,
  'highPrice': 1253.96,
  'lowPrice': 1252.32},
 {'localDate': '20210214',
  'closePrice': 1259.96,
  'openPrice': 0,
  'highPrice': 1259.96,
  'lowPrice': 1254.65},
 {'localDate': '20210221',
  'closePrice': 1270.45,
  'openPrice': 0,
  'highPrice': 1270.45,
  'lowPrice': 1261.14},
 {'localDate': '20210228',
  'closePrice': 1279.82,
  'openPrice': 0,
  'highPrice': 1279.82,
  'lowPrice': 1271.84},
 {'localDate': '20210307',
  'closePrice': 1292.26,
  'openPrice': 0,
  'highPrice': 1292.26,
  'lowPrice': 1281.78},
 {'localDate': '20210314',
  'closePrice': 1311.16,
  'openPrice': 0,
  'highPrice': 1311.16,
  'lowPrice': 1295.2},
 {'localDate': '20210321',
  'closePrice': 1326.48,
  'openPrice': 0,
  'highPrice': 1326.48,
  'lowPrice': 1313.91},
 {'localDate': '20210328',
  'closePrice': 1331.44,
  'openPrice': 0,
  'highPrice': 1331.44,
  'lowPrice': 1327.92},
 {'localDate': '20210404',
  'closePrice': 1333.22,
  'openPrice': 0,
  'highPrice': 1333.28,
  'lowPrice': 1331.88},

In [ ]:
OIL_LO1 = pd.DataFrame(datas)
OIL_LO1

    localDate  closePrice  openPrice  highPrice  lowPrice
0    20180107     1339.20          0    1339.20   1336.40
1    20180114     1342.67          0    1342.67   1339.89
2    20180121     1347.27          0    1347.27   1343.60
3    20180128     1352.37          0    1352.37   1348.26
4    20180204     1358.08          0    1358.08   1353.35
..        ...         ...        ...        ...       ...
257  20221211     1814.27          0    1850.29   1814.27
258  20221218     1761.08          0    1806.16   1761.08
259  20221225     1733.57          0    1755.27   1733.57
260  20230101     1720.84          0    1730.60   1720.84
261  20230106     1710.40          0    1719.78   1710.40

[262 rows x 5 columns]

In [ ]:
OIL_LO_5 = OIL_LO1.drop(['openPrice', 'closePrice'], axis = 1) # openPrice, closePrice 삭제
OIL_LO_5

    localDate  highPrice  lowPrice
0    20180107    1339.20   1336.40
1    20180114    1342.67   1339.89
2    20180121    1347.27   1343.60
3    20180128    1352.37   1348.26
4    20180204    1358.08   1353.35
..        ...        ...       ...
257  20221211    1850.29   1814.27
258  20221218    1806.16   1761.08
259  20221225    1755.27   1733.57
260  20230101    1730.60   1720.84
261  20230106    1719.78   1710.40

[262 rows x 3 columns]

In [ ]:
OIL_LO1_2018 = OIL_LO_5[:]
OIL_LO2_2018 = OIL_LO1_2018[OIL_GSL1['localDate'] <= "20181231"]

OIL_LO2_2018

   localDate  highPrice  lowPrice
0   20180107    1339.20   1336.40
1   20180114    1342.67   1339.89
2   20180121    1347.27   1343.60
3   20180128    1352.37   1348.26
4   20180204    1358.08   1353.35
5   20180211    1361.07   1358.81
6   20180218    1361.76   1361.39
7   20180225    1361.78   1360.26
8   20180304    1360.47   1359.13
9   20180311    1359.18   1357.24
10  20180318    1357.27   1353.50
11  20180325    1353.19   1349.89
12  20180401    1350.21   1348.50
13  20180408    1348.69   1347.58
14  20180415    1347.82   1346.99
15  20180422    1349.12   1347.41
16  20180429    1353.33   1349.54
17  20180506    1360.67   1354.19
18  20180513    1372.70   1361.45
19  20180520    1386.29   1374.72
20  20180527    1402.69   1387.02
21  20180603    1409.65   1404.41
22  20180610    1411.08   1410.35
23  20180617    1411.17   1410.29
24  20180624    1410.41   1408.97
25  20180701    1409.22   1408.44
26  20180708    1410.00   1408.72
27  20180715    1412.03   1410.25
28  20180722    1412.88   1412.52
29  20180729    1413.71   1413.23
30  20180805    1416.38   1414.24
31  20180812    1418.42   1416.92
32  20180819    1420.04   1419.00
33  20180826    1420.57   1420.23
34  20180902    1422.73   1420.91
35  20180909    1428.68   1423.48
36  20180916    1439.13   1429.71
37  20180923    1450.34   1440.96
38  20180930    1456.47   1450.83
39  20181007    1472.75   1458.98
40  20181014    1487.61   1475.13
41  20181021    1494.00   1489.18
42  20181028    1494.82   1494.63
43  20181104    1495.76   1495.16
44  20181111    1495.76   1425.16
45  20181118    1422.44   1407.06
46  20181125    1405.70   1390.48
47  20181202    1389.11   1368.46
48  20181209    1366.23   1347.13
49  20181216    1344.98   1326.72
50  20181223    1324.80   1301.33
51  20181230    1297.98   1278.74

In [ ]:
OIL_LO2_2018['localDate'] = OIL_LO2_2018['localDate'].astype('float') # 문자열을 float으로 변환
OIL_LO2_2018['highPrice'] = OIL_LO2_2018['highPrice'].astype('float') # 문자열을 float으로 변환
OIL_LO2_2018['lowPrice'] = OIL_LO2_2018['lowPrice'].astype('float') # 문자열을 float으로 변환

OIL_LO2_2018.dtypes # 확인

<ipython-input-62-3a13ca714707>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_LO2_2018['localDate'] = OIL_LO2_2018['localDate'].astype('float') # 문자열을 float으로 변환
<ipython-input-62-3a13ca714707>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_LO2_2018['highPrice'] = OIL_LO2_2018['highPrice'].astype('float') # 문자열을 float으로 변환
<ipython-input-62-3a13ca714707>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_LO2_2018['lowPrice'] = OIL_LO2_2018['lowPrice'].astype('float') # 문자열을 float으로 변환

localDate    float64
highPrice    float64
lowPrice     float64
dtype: object

In [ ]:
OIL_LO2_2018.idxmax() # 최대값 위치 찾기

localDate    51
highPrice    43
lowPrice     43
dtype: int64

In [ ]:
OIL_LO3_2018 = OIL_LO2_2018.loc[[43]] # 최대값 추출

OIL_LO4_2018 = OIL_LO3_2018.drop(['localDate', 'lowPrice'], axis = 1) # localDate, lowPrice 제거
OIL_LO5_2018 = OIL_LO4_2018.reset_index(drop = True) # 인덱스 재배열

OIL_LO5_2018

   highPrice
0    1495.76

In [ ]:
OIL_LO2_2018.idxmin() # 최소값 위치 찾기

localDate     0
highPrice    51
lowPrice     51
dtype: int64

In [ ]:
OIL_LO6_2018 = OIL_LO2_2018.loc[[51]] # 최소값 추출

OIL_LO7_2018 = OIL_LO6_2018.drop(['localDate', 'highPrice'], axis = 1) # localDate, highPrice 제거
OIL_LO8_2018 = OIL_LO7_2018.reset_index(drop = True) # 인덱스 재배열

OIL_LO8_2018

   lowPrice
0   1278.74

In [ ]:
OIL_LO_2018 = pd.concat([OIL_LO5_2018, OIL_LO8_2018], axis = 1) # 데이터프레임 합치기
OIL_LO_2018

   highPrice  lowPrice
0    1495.76   1278.74

In [ ]:
OIL_LO_2018.insert(0, '연도', ['2018']) # 연도 삽입
OIL_LO_2018

     연도  highPrice  lowPrice
0  2018    1495.76   1278.74

In [ ]:
OIL_LO_2018.rename(columns={'highPrice': '최고가', 'lowPrice': '최저가'}, inplace = True) # 열 이름 변경
OIL_LO_2018

     연도      최고가      최저가
0  2018  1495.76  1278.74

In [ ]:
OIL_LO1_2019 = OIL_LO_5[:]

OIL_LO2_2019 = OIL_LO1_2019.loc[(OIL_LO1_2019['localDate'] <= "20191231") & (OIL_LO1_2019['localDate'] >= "20190101")]

OIL_LO2_2019

    localDate  highPrice  lowPrice
52   20190106    1277.23   1257.43
53   20190113    1255.30   1247.24
54   20190120    1246.92   1243.97
55   20190127    1244.06   1243.22
56   20190203    1243.41   1242.90
57   20190210    1242.77   1241.93
58   20190217    1241.92   1241.42
59   20190224    1244.03   1242.03
60   20190303    1248.90   1244.77
61   20190310    1255.79   1249.48
62   20190317    1270.67   1257.38
63   20190324    1283.70   1272.95
64   20190331    1292.39   1285.44
65   20190407    1301.40   1294.48
66   20190414    1312.08   1302.72
67   20190421    1324.66   1313.98
68   20190428    1337.81   1326.54
69   20190505    1354.14   1339.93
70   20190512    1390.35   1355.76
71   20190519    1394.95   1391.37
72   20190526    1398.08   1395.46
73   20190602    1399.11   1398.21
74   20190609    1397.94   1392.79
75   20190616    1391.97   1379.44
76   20190623    1377.66   1365.85
77   20190630    1364.73   1360.29
78   20190707    1359.41   1354.20
79   20190714    1353.91   1351.64
80   20190721    1351.83   1351.17
81   20190728    1351.35   1351.10
82   20190804    1352.61   1351.49
83   20190811    1352.76   1351.71
84   20190818    1351.73   1351.12
85   20190825    1351.31   1351.04
86   20190901    1363.44   1351.63
87   20190908    1374.28   1368.44
88   20190915    1376.19   1374.61
89   20190922    1385.86   1377.00
90   20190929    1390.98   1386.98
91   20191006    1391.75   1390.85
92   20191013    1390.76   1388.97
93   20191020    1388.93   1386.38
94   20191027    1386.24   1383.90
95   20191103    1383.83   1382.00
96   20191110    1382.03   1380.22
97   20191117    1380.39   1380.00
98   20191124    1380.13   1379.68
99   20191201    1380.42   1380.00
100  20191208    1381.78   1380.65
101  20191215    1384.42   1382.35
102  20191222    1387.49   1385.04
103  20191229    1390.71   1388.05

In [ ]:
OIL_LO2_2019['localDate'] = OIL_LO2_2019['localDate'].astype('float') # 문자열을 float으로 변환
OIL_LO2_2019['highPrice'] = OIL_LO2_2019['highPrice'].astype('float') # 문자열을 float으로 변환
OIL_LO2_2019['lowPrice'] = OIL_LO2_2019['lowPrice'].astype('float') # 문자열을 float으로 변환

OIL_LO2_2019.dtypes # 확인

<ipython-input-71-343cde119866>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_LO2_2019['localDate'] = OIL_LO2_2019['localDate'].astype('float') # 문자열을 float으로 변환
<ipython-input-71-343cde119866>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_LO2_2019['highPrice'] = OIL_LO2_2019['highPrice'].astype('float') # 문자열을 float으로 변환
<ipython-input-71-343cde119866>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_LO2_2019['lowPrice'] = OIL_LO2_2019['lowPrice'].astype('float') # 문자열을 float으로 변환

localDate    float64
highPrice    float64
lowPrice     float64
dtype: object

In [ ]:
OIL_LO2_2019.idxmax() # 최대값 위치 찾기

localDate    103
highPrice     73
lowPrice      73
dtype: int64

In [ ]:
OIL_LO3_2019 = OIL_LO2_2019.loc[[73]] # 최대값 추출

OIL_LO4_2019 = OIL_LO3_2019.drop(['localDate', 'lowPrice'], axis = 1) # localDate, lowPrice 제거
OIL_LO5_2019 = OIL_LO4_2019.reset_index(drop = True) # 인덱스 재배열

OIL_LO5_2019

   highPrice
0    1399.11

In [ ]:
OIL_LO2_2019.idxmin() # 최소값 위치 찾기

localDate    52
highPrice    58
lowPrice     58
dtype: int64

In [ ]:
OIL_LO6_2019 = OIL_LO2_2019.loc[[58]] # 최소값 추출

OIL_LO7_2019 = OIL_LO6_2019.drop(['localDate', 'highPrice'], axis = 1) # localDate, highPrice 제거
OIL_LO8_2019 = OIL_LO7_2019.reset_index(drop = True) # 인덱스 재배열

OIL_LO8_2019

   lowPrice
0   1241.42

In [ ]:
OIL_LO_2019 = pd.concat([OIL_LO5_2019, OIL_LO8_2019], axis = 1) # 데이터프레임 합치기
OIL_LO_2019

   highPrice  lowPrice
0    1399.11   1241.42

In [ ]:
OIL_LO_2019.insert(0, '연도', ['2019']) # 연도 삽입
OIL_LO_2019

     연도  highPrice  lowPrice
0  2019    1399.11   1241.42

In [ ]:
OIL_LO_2019.rename(columns={'highPrice': '최고가', 'lowPrice': '최저가'}, inplace = True) # 열 이름 변경
OIL_LO_2019

     연도      최고가      최저가
0  2019  1399.11  1241.42

In [ ]:
OIL_LO1_2020 = OIL_LO_5[:]

OIL_LO2_2020 = OIL_LO1_2020.loc[(OIL_LO1_2020['localDate'] <= "20201231") & (OIL_LO1_2020['localDate'] >= "20200101")]

OIL_LO2_2020

    localDate  highPrice  lowPrice
104  20200105    1394.03   1391.19
105  20200112    1400.31   1394.97
106  20200119    1401.06   1400.52
107  20200126    1400.67   1399.63
108  20200202    1399.13   1394.10
109  20200209    1393.18   1383.70
110  20200216    1382.38   1366.27
111  20200223    1364.35   1354.19
112  20200301    1353.38   1342.68
113  20200308    1340.72   1327.27
114  20200315    1324.82   1295.73
115  20200322    1291.56   1250.05
116  20200329    1244.70   1209.90
117  20200405    1205.16   1172.64
118  20200412    1169.74   1145.88
119  20200419    1143.12   1120.79
120  20200426    1117.50   1092.87
121  20200503    1090.08   1072.70
122  20200510    1071.08   1062.17
123  20200517    1061.32   1058.76
124  20200524    1064.53   1059.45
125  20200531    1078.20   1065.86
126  20200607    1101.37   1081.83
127  20200614    1128.98   1105.86
128  20200621    1145.49   1131.65
129  20200628    1156.35   1147.87
130  20200705    1161.47   1157.39
131  20200712    1163.22   1161.95
132  20200719    1163.76   1163.32
133  20200726    1163.67   1163.44
134  20200802    1163.69   1163.39
135  20200809    1163.93   1163.41
136  20200816    1163.68   1163.42
137  20200823    1163.81   1163.62
138  20200830    1163.74   1163.13
139  20200906    1163.11   1162.23
140  20200913    1161.94   1157.92
141  20200920    1157.38   1151.10
142  20200927    1150.41   1145.23
143  20201004    1144.90   1141.04
144  20201011    1140.16   1136.39
145  20201018    1135.99   1133.01
146  20201025    1132.58   1129.46
147  20201101    1129.08   1124.50
148  20201108    1123.72   1119.02
149  20201115    1118.72   1117.34
150  20201122    1117.74   1116.97
151  20201129    1124.07   1117.94
152  20201206    1135.32   1125.19
153  20201213    1151.81   1137.26
154  20201220    1180.45   1154.50
155  20201227    1207.54   1185.17

In [ ]:
OIL_LO2_2020['localDate'] = OIL_LO2_2020['localDate'].astype('float') # 문자열을 float으로 변환
OIL_LO2_2020['highPrice'] = OIL_LO2_2020['highPrice'].astype('float') # 문자열을 float으로 변환
OIL_LO2_2020['lowPrice'] = OIL_LO2_2020['lowPrice'].astype('float') # 문자열을 float으로 변환

OIL_LO2_2020.dtypes # 확인

<ipython-input-80-790993e4d46b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_LO2_2020['localDate'] = OIL_LO2_2020['localDate'].astype('float') # 문자열을 float으로 변환
<ipython-input-80-790993e4d46b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_LO2_2020['highPrice'] = OIL_LO2_2020['highPrice'].astype('float') # 문자열을 float으로 변환
<ipython-input-80-790993e4d46b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_LO2_2020['lowPrice'] = OIL_LO2_2020['lowPrice'].astype('float') # 문자열을 float으로 변환

localDate    float64
highPrice    float64
lowPrice     float64
dtype: object

In [ ]:
OIL_LO2_2020.idxmax() # 최대값 위치 찾기

localDate    155
highPrice    106
lowPrice     106
dtype: int64

In [ ]:
OIL_LO3_2020 = OIL_LO2_2020.loc[[106]] # 최대값 추출

OIL_LO4_2020 = OIL_LO3_2020.drop(['localDate', 'lowPrice'], axis = 1) # localDate, lowPrice 제거
OIL_LO5_2020 = OIL_LO4_2020.reset_index(drop = True) # 인덱스 재배열

OIL_LO5_2020

   highPrice
0    1401.06

In [ ]:
OIL_LO2_2020.idxmin() # 최소값 위치 찾기

localDate    104
highPrice    123
lowPrice     123
dtype: int64

In [ ]:
OIL_LO6_2020 = OIL_LO2_2020.loc[[123]] # 최소값 추출

OIL_LO7_2020 = OIL_LO6_2020.drop(['localDate', 'highPrice'], axis = 1) # localDate, highPrice 제거
OIL_LO8_2020 = OIL_LO7_2020.reset_index(drop = True) # 인덱스 재배열

OIL_LO8_2020

   lowPrice
0   1058.76

In [ ]:
OIL_LO_2020 = pd.concat([OIL_LO5_2020, OIL_LO8_2020], axis = 1) # 데이터프레임 합치기
OIL_LO_2020

   highPrice  lowPrice
0    1401.06   1058.76

In [ ]:
OIL_LO_2020.insert(0, '연도', ['2020']) # 연도 삽입
OIL_LO_2020

     연도  highPrice  lowPrice
0  2020    1401.06   1058.76

In [ ]:
OIL_LO_2020.rename(columns={'highPrice': '최고가', 'lowPrice': '최저가'}, inplace = True) # 열 이름 변경
OIL_LO_2020

     연도      최고가      최저가
0  2020  1401.06  1058.76

In [ ]:
OIL_LO1_2021 = OIL_LO_5[:]

OIL_LO2_2021 = OIL_LO1_2021.loc[(OIL_LO1_2021['localDate'] <= "20211231") & (OIL_LO1_2021['localDate'] >= "20210101")]

OIL_LO2_2021

    localDate  highPrice  lowPrice
156  20210103    1227.34   1210.65
157  20210110    1237.18   1229.15
158  20210117    1245.76   1238.43
159  20210124    1250.18   1246.72
160  20210131    1251.78   1250.68
161  20210207    1253.96   1252.32
162  20210214    1259.96   1254.65
163  20210221    1270.45   1261.14
164  20210228    1279.82   1271.84
165  20210307    1292.26   1281.78
166  20210314    1311.16   1295.20
167  20210321    1326.48   1313.91
168  20210328    1331.44   1327.92
169  20210404    1333.28   1331.88
170  20210411    1333.53   1333.07
171  20210418    1333.19   1332.31
172  20210425    1332.44   1331.97
173  20210502    1332.16   1331.98
174  20210509    1332.98   1332.13
175  20210516    1337.88   1333.61
176  20210523    1342.66   1338.79
177  20210530    1348.30   1343.55
178  20210606    1357.86   1349.25
179  20210613    1369.34   1359.49
180  20210620    1380.93   1371.16
181  20210627    1393.60   1382.59
182  20210704    1407.43   1395.67
183  20210711    1420.88   1409.21
184  20210718    1431.48   1422.61
185  20210725    1435.64   1432.86
186  20210801    1439.18   1436.37
187  20210808    1441.99   1439.98
188  20210815    1442.25   1441.86
189  20210822    1442.01   1439.85
190  20210829    1439.70   1438.03
191  20210905    1438.21   1436.80
192  20210912    1436.93   1436.01
193  20210919    1436.70   1436.18
194  20210926    1437.88   1436.66
195  20211003    1445.07   1438.51
196  20211010    1472.26   1446.28
197  20211017    1518.34   1476.00
198  20211024    1553.43   1523.76
199  20211031    1578.30   1556.64
200  20211107    1598.83   1582.01
201  20211114    1605.64   1555.81
202  20211121    1542.15   1515.15
203  20211128    1513.22   1505.82
204  20211205    1504.95   1494.93
205  20211212    1493.43   1477.06
206  20211219    1475.23   1460.26
207  20211226    1458.47   1447.53

In [ ]:
OIL_LO2_2021['localDate'] = OIL_LO2_2021['localDate'].astype('float') # 문자열을 float으로 변환
OIL_LO2_2021['highPrice'] = OIL_LO2_2021['highPrice'].astype('float') # 문자열을 float으로 변환
OIL_LO2_2021['lowPrice'] = OIL_LO2_2021['lowPrice'].astype('float') # 문자열을 float으로 변환

OIL_LO2_2021.dtypes # 확인

<ipython-input-89-9648dacb3cb9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_LO2_2021['localDate'] = OIL_LO2_2021['localDate'].astype('float') # 문자열을 float으로 변환
<ipython-input-89-9648dacb3cb9>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_LO2_2021['highPrice'] = OIL_LO2_2021['highPrice'].astype('float') # 문자열을 float으로 변환
<ipython-input-89-9648dacb3cb9>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_LO2_2021['lowPrice'] = OIL_LO2_2021['lowPrice'].astype('float') # 문자열을 float으로 변환

localDate    float64
highPrice    float64
lowPrice     float64
dtype: object

In [ ]:
OIL_LO2_2021.idxmax() # 최대값 위치 찾기

localDate    207
highPrice    201
lowPrice     200
dtype: int64

In [ ]:
OIL_LO3_2021 = OIL_LO2_2021.loc[[201]] # 최대값 추출

OIL_LO4_2021 = OIL_LO3_2021.drop(['localDate', 'lowPrice'], axis = 1) # localDate, lowPrice 제거
OIL_LO5_2021 = OIL_LO4_2021.reset_index(drop = True) # 인덱스 재배열

OIL_LO5_2021

   highPrice
0    1605.64

In [ ]:
OIL_LO2_2021.idxmin() # 최소값 위치 찾기

localDate    156
highPrice    156
lowPrice     156
dtype: int64

In [ ]:
OIL_LO6_2021 = OIL_LO2_2021.loc[[156]] # 최소값 추출

OIL_LO7_2021 = OIL_LO6_2021.drop(['localDate', 'highPrice'], axis = 1) # localDate, highPrice 제거
OIL_LO8_2021 = OIL_LO7_2021.reset_index(drop = True) # 인덱스 재배열

OIL_LO8_2021

   lowPrice
0   1210.65

In [ ]:
OIL_LO_2021 = pd.concat([OIL_LO5_2021, OIL_LO8_2021], axis = 1) # 데이터프레임 합치기
OIL_LO_2021

   highPrice  lowPrice
0    1605.64   1210.65

In [ ]:
OIL_LO_2021.insert(0, '연도', ['2021']) # 연도 삽입
OIL_LO_2021

     연도  highPrice  lowPrice
0  2021    1605.64   1210.65

In [ ]:
OIL_LO_2021.rename(columns={'highPrice': '최고가', 'lowPrice': '최저가'}, inplace = True) # 열 이름 변경
OIL_LO_2021

     연도      최고가      최저가
0  2021  1605.64  1210.65

In [ ]:
OIL_LO1_2022 = OIL_LO_5[:]

OIL_LO2_2022 = OIL_LO1_2022.loc[(OIL_LO1_2022['localDate'] <= "20221231") & (OIL_LO1_2022['localDate'] >= "20220101")]

OIL_LO2_2022

    localDate  highPrice  lowPrice
208  20220102    1446.92   1442.09
209  20220109    1441.82   1439.13
210  20220116    1445.13   1439.54
211  20220123    1464.12   1447.28
212  20220130    1483.00   1466.92
213  20220206    1501.32   1484.35
214  20220213    1531.22   1505.56
215  20220220    1557.47   1535.33
216  20220227    1582.87   1560.65
217  20220306    1646.01   1585.96
218  20220313    1872.63   1665.13
219  20220320    1917.79   1894.87
220  20220327    1919.67   1917.84
221  20220403    1920.49   1914.59
222  20220410    1913.10   1905.44
223  20220417    1904.23   1898.56
224  20220424    1902.82   1898.90
225  20220501    1920.97   1906.28
226  20220508    1924.93   1903.88
227  20220515    1966.64   1932.26
228  20220522    1995.93   1970.83
229  20220529    2006.10   1998.60
230  20220605    2021.29   2007.19
231  20220612    2068.35   2024.02
232  20220619    2116.26   2075.63
233  20220626    2149.42   2121.47
234  20220703    2167.69   2153.44
235  20220710    2152.64   2134.55
236  20220717    2130.52   2088.75
237  20220724    2080.88   2032.10
238  20220731    2023.49   1982.24
239  20220807    1975.53   1941.11
240  20220814    1934.95   1891.68
241  20220821    1886.85   1850.35
242  20220828    1845.88   1838.37
243  20220904    1850.79   1840.69
244  20220911    1855.81   1851.13
245  20220918    1860.59   1856.06
246  20220925    1858.23   1843.02
247  20221002    1840.49   1820.44
248  20221009    1820.59   1814.45
249  20221016    1834.78   1821.76
250  20221023    1852.87   1837.13
251  20221030    1867.23   1855.57
252  20221106    1880.46   1869.38
253  20221113    1889.10   1882.59
254  20221120    1889.49   1882.88
255  20221127    1881.18   1866.38
256  20221204    1863.86   1853.12
257  20221211    1850.29   1814.27
258  20221218    1806.16   1761.08
259  20221225    1755.27   1733.57

In [ ]:
OIL_LO2_2022['localDate'] = OIL_LO2_2022['localDate'].astype('float') # 문자열을 float으로 변환
OIL_LO2_2022['highPrice'] = OIL_LO2_2022['highPrice'].astype('float') # 문자열을 float으로 변환
OIL_LO2_2022['lowPrice'] = OIL_LO2_2022['lowPrice'].astype('float') # 문자열을 float으로 변환

OIL_LO2_2022.dtypes # 확인

<ipython-input-98-1169eda9ae09>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_LO2_2022['localDate'] = OIL_LO2_2022['localDate'].astype('float') # 문자열을 float으로 변환
<ipython-input-98-1169eda9ae09>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_LO2_2022['highPrice'] = OIL_LO2_2022['highPrice'].astype('float') # 문자열을 float으로 변환
<ipython-input-98-1169eda9ae09>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_LO2_2022['lowPrice'] = OIL_LO2_2022['lowPrice'].astype('float') # 문자열을 float으로 변환

localDate    float64
highPrice    float64
lowPrice     float64
dtype: object

In [ ]:
OIL_LO2_2022.idxmax() # 최대값 위치 찾기

localDate    259
highPrice    234
lowPrice     234
dtype: int64

In [ ]:
OIL_LO3_2022 = OIL_LO2_2022.loc[[234]] # 최대값 추출

OIL_LO4_2022 = OIL_LO3_2022.drop(['localDate', 'lowPrice'], axis = 1) # localDate, lowPrice 제거
OIL_LO5_2022 = OIL_LO4_2022.reset_index(drop = True) # 인덱스 재배열

OIL_LO5_2022

   highPrice
0    2167.69

In [ ]:
OIL_LO5_2022.idxmin() # 최소값 위치 찾기

highPrice    0
dtype: int64

In [ ]:
OIL_LO6_2022 = OIL_LO2_2022.loc[[259]] # 최소값 추출

OIL_LO7_2022 = OIL_LO6_2022.drop(['localDate', 'highPrice'], axis = 1) # localDate, highPrice 제거
OIL_LO8_2022 = OIL_LO7_2022.reset_index(drop = True) # 인덱스 재배열

OIL_LO8_2022

   lowPrice
0   1733.57

In [ ]:
OIL_LO_2022 = pd.concat([OIL_LO5_2022, OIL_LO8_2022], axis = 1) # 데이터프레임 합치기
OIL_LO_2022

   highPrice  lowPrice
0    2167.69   1733.57

In [ ]:
OIL_LO_2022.insert(0, '연도', ['2022']) # 연도 삽입
OIL_LO_2022

     연도  highPrice  lowPrice
0  2022    2167.69   1733.57

In [ ]:
OIL_LO_2022.rename(columns={'highPrice': '최고가', 'lowPrice': '최저가'}, inplace = True) # 열 이름 변경
OIL_LO_2022

     연도      최고가      최저가
0  2022  2167.69  1733.57

In [ ]:
OIL_LO_all = pd.concat([OIL_LO_2018, OIL_LO_2019, OIL_LO_2020, OIL_LO_2021, OIL_LO_2022], axis = 0) # 데이터프레임 합치기
OIL_LO_all

     연도      최고가      최저가
0  2018  1495.76  1278.74
0  2019  1399.11  1241.42
0  2020  1401.06  1058.76
0  2021  1605.64  1210.65
0  2022  2167.69  1733.57

In [ ]:
OIL_LO = OIL_LO_all.reset_index(drop = True) # 인덱스 재배열
OIL_LO

     연도      최고가      최저가
0  2018  1495.76  1278.74
1  2019  1399.11  1241.42
2  2020  1401.06  1058.76
3  2021  1605.64  1210.65
4  2022  2167.69  1733.57

In [ ]:
OIL_LO = OIL_LO[['연도', '최저가', '최고가']]
OIL_LO

     연도      최저가      최고가
0  2018  1278.74  1495.76
1  2019  1241.42  1399.11
2  2020  1058.76  1401.06
3  2021  1210.65  1605.64
4  2022  1733.57  2167.69

In [ ]:
OIL_LO.insert(1, '종류', ['경유', '경유', '경유', '경유', '경유']) # 연도 삽입
OIL_LO

     연도  종류      최저가      최고가
0  2018  경유  1278.74  1495.76
1  2019  경유  1241.42  1399.11
2  2020  경유  1058.76  1401.06
3  2021  경유  1210.65  1605.64
4  2022  경유  1733.57  2167.69

# csv 파일로 저장

In [ ]:
OIL1 = pd.concat([OIL_GSL, OIL_LO], axis = 0) # 데이터프레임 합치기
OIL1

     연도   종류      최저가      최고가
0  2018  휘발유  1381.66  1690.31
1  2019  휘발유  1342.24  1557.19
2  2020  휘발유  1247.53  1571.56
3  2021  휘발유  1409.66  1810.15
4  2022  휘발유  1528.34  2145.12
0  2018   경유  1278.74  1495.76
1  2019   경유  1241.42  1399.11
2  2020   경유  1058.76  1401.06
3  2021   경유  1210.65  1605.64
4  2022   경유  1733.57  2167.69

In [ ]:
OIL2 = OIL1.sort_values(by = ['연도'], ascending = True)
OIL2

     연도   종류      최저가      최고가
0  2018  휘발유  1381.66  1690.31
0  2018   경유  1278.74  1495.76
1  2019  휘발유  1342.24  1557.19
1  2019   경유  1241.42  1399.11
2  2020  휘발유  1247.53  1571.56
2  2020   경유  1058.76  1401.06
3  2021  휘발유  1409.66  1810.15
3  2021   경유  1210.65  1605.64
4  2022  휘발유  1528.34  2145.12
4  2022   경유  1733.57  2167.69

In [ ]:
OIL = OIL2.reset_index(drop = True) # 인덱스 재배열
OIL

     연도   종류      최저가      최고가
0  2018  휘발유  1381.66  1690.31
1  2018   경유  1278.74  1495.76
2  2019  휘발유  1342.24  1557.19
3  2019   경유  1241.42  1399.11
4  2020  휘발유  1247.53  1571.56
5  2020   경유  1058.76  1401.06
6  2021  휘발유  1409.66  1810.15
7  2021   경유  1210.65  1605.64
8  2022  휘발유  1528.34  2145.12
9  2022   경유  1733.57  2167.69

In [ ]:
OIL.to_csv('휘발유&경유 가격.csv', encoding='utf-8-sig') # csv 파일로 저장