<a href="https://colab.research.google.com/github/gapalyt/project1/blob/main/%ED%9C%98%EB%B0%9C%EC%9C%A0%26%EA%B2%BD%EC%9C%A0_%EA%B0%80%EA%B2%A9_%EC%88%98%EC%A0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 휘발유

In [ ]:
import requests
from bs4 import BeautifulSoup

url = "https://m.stock.naver.com/marketindex/energy/OIL_GSL"

res = requests.get(url)
page = res.content

soup = BeautifulSoup(page, 'html.parser')
soup

<!DOCTYPE html>

In [ ]:
url = "https://m.stock.naver.com/front-api/v1/chart/pricesByPeriod?category=energy&reutersCode=OIL_GSL&chartInfoType=marketindex&scriptChartType=areaYearFive"
res = requests.get(url)

datas = res.json()
datas

{'isSuccess': True,
 'detailCode': '',
 'message': '',
 'result': {'code': 'OIL_GSL',
  'infoType': 'marketindex',
  'periodType': 'year',
  'priceInfos': [{'localDate': '20180114',
    'closePrice': 1550.16,
    'openPrice': 0,
    'highPrice': 1550.16,
    'lowPrice': 1547.49},
   {'localDate': '20180121',
    'closePrice': 1554.19,
    'openPrice': 0,
    'highPrice': 1554.19,
    'lowPrice': 1550.69},
   {'localDate': '20180128',
    'closePrice': 1558.12,
    'openPrice': 0,
    'highPrice': 1558.12,
    'lowPrice': 1554.73},
   {'localDate': '20180204',
    'closePrice': 1562.8,
    'openPrice': 0,
    'highPrice': 1562.8,
    'lowPrice': 1558.67},
   {'localDate': '20180211',
    'closePrice': 1565.34,
    'openPrice': 0,
    'highPrice': 1565.34,
    'lowPrice': 1563.14},
   {'localDate': '20180218',
    'closePrice': 1565.95,
    'openPrice': 0,
    'highPrice': 1566.02,
    'lowPrice': 1565.47},
   {'localDate': '20180225',
    'closePrice': 1564.23,
    'openPrice': 0,
    'highPrice': 1565.76,
    'lowPrice': 1564.23},
   {'localDate': '20180304',
    'closePrice': 1562.95,
    'openPrice': 0,
    'highPrice': 1564.17,
    'lowPrice': 1562.95},
   {'localDate': '20180311',
    'closePrice': 1560.89,
    'openPrice': 0,
    'highPrice': 1562.76,
    'lowPrice': 1560.89},
   {'localDate': '20180318',
    'closePrice': 1556.94,
    'openPrice': 0,
    'highPrice': 1560.6,
    'lowPrice': 1556.94},
   {'localDate': '20180325',
    'closePrice': 1553.23,
    'openPrice': 0,
    'highPrice': 1556.44,
    'lowPrice': 1553.23},
   {'localDate': '20180401',
    'closePrice': 1551.62,
    'openPrice': 0,
    'highPrice': 1553.03,
    'lowPrice': 1551.62},
   {'localDate': '20180408',
    'closePrice': 1550.45,
    'openPrice': 0,
    'highPrice': 1551.29,
    'lowPrice': 1550.45},
   {'localDate': '20180415',
    'closePrice': 1549.68,
    'openPrice': 0,
    'highPrice': 1550.34,
    'lowPrice': 1549.64},
   {'localDate': '20180422',
    'closePrice': 1551.34,
    'openPrice': 0,
    'highPrice': 1551.34,
    'lowPrice': 1549.72},
   {'localDate': '20180429',
    'closePrice': 1555.14,
    'openPrice': 0,
    'highPrice': 1555.14,
    'lowPrice': 1551.69},
   {'localDate': '20180506',
    'closePrice': 1562.08,
    'openPrice': 0,
    'highPrice': 1562.08,
    'lowPrice': 1555.65},
   {'localDate': '20180513',
    'closePrice': 1573.17,
    'openPrice': 0,
    'highPrice': 1573.17,
    'lowPrice': 1562.73},
   {'localDate': '20180520',
    'closePrice': 1585.9,
    'openPrice': 0,
    'highPrice': 1585.9,
    'lowPrice': 1574.67},
   {'localDate': '20180527',
    'closePrice': 1602.06,
    'openPrice': 0,
    'highPrice': 1602.06,
    'lowPrice': 1586.53},
   {'localDate': '20180603',
    'closePrice': 1609.16,
    'openPrice': 0,
    'highPrice': 1609.16,
    'lowPrice': 1603.52},
   {'localDate': '20180610',
    'closePrice': 1610.14,
    'openPrice': 0,
    'highPrice': 1610.24,
    'lowPrice': 1609.5},
   {'localDate': '20180617',
    'closePrice': 1609.55,
    'openPrice': 0,
    'highPrice': 1610.26,
    'lowPrice': 1609.55},
   {'localDate': '20180624',
    'closePrice': 1608.06,
    'openPrice': 0,
    'highPrice': 1609.32,
    'lowPrice': 1608.06},
   {'localDate': '20180701',
    'closePrice': 1607.66,
    'openPrice': 0,
    'highPrice': 1608.02,
    'lowPrice': 1607.5},
   {'localDate': '20180708',
    'closePrice': 1609.27,
    'openPrice': 0,
    'highPrice': 1609.27,
    'lowPrice': 1607.83},
   {'localDate': '20180715',
    'closePrice': 1611.22,
    'openPrice': 0,
    'highPrice': 1611.22,
    'lowPrice': 1609.44},
   {'localDate': '20180722',
    'closePrice': 1611.97,
    'openPrice': 0,
    'highPrice': 1611.97,
    'lowPrice': 1611.42},
   {'localDate': '20180729',
    'closePrice': 1613.03,
    'openPrice': 0,
    'highPrice': 1613.03,
    'lowPrice': 1612.09},
   {'localDate': '20180805',
    'closePrice': 1615.84,
    'openPrice': 0,
    'highPrice': 1615.84,
    'lowPrice': 1613.2},
   {'localDate': '20180812',
    'closePrice': 1617.82,
    'openPrice': 0,
    'highPrice': 1617.82,
    'lowPrice': 1615.97},
   {'localDate': '20180819',
    'closePrice': 1619.18,
    'openPrice': 0,
    'highPrice': 1619.18,
    'lowPrice': 1618.03},
   {'localDate': '20180826',
    'closePrice': 1619.91,
    'openPrice': 0,
    'highPrice': 1619.91,
    'lowPrice': 1619.34},
   {'localDate': '20180902',
    'closePrice': 1621.97,
    'openPrice': 0,
    'highPrice': 1621.97,
    'lowPrice': 1620.05},
   {'localDate': '20180909',
    'closePrice': 1627.74,
    'openPrice': 0,
    'highPrice': 1627.74,
    'lowPrice': 1622.48},
   {'localDate': '20180916',
    'closePrice': 1637.9,
    'openPrice': 0,
    'highPrice': 1637.9,
    'lowPrice': 1628.48},
   {'localDate': '20180923',
    'closePrice': 1649.04,
    'openPrice': 0,
    'highPrice': 1649.04,
    'lowPrice': 1639.2},
   {'localDate': '20180930',
    'closePrice': 1655,
    'openPrice': 0,
    'highPrice': 1655,
    'lowPrice': 1649.62},
   {'localDate': '20181007',
    'closePrice': 1670.38,
    'openPrice': 0,
    'highPrice': 1670.38,
    'lowPrice': 1657.1},
   {'localDate': '20181014',
    'closePrice': 1684,
    'openPrice': 0,
    'highPrice': 1684,
    'lowPrice': 1672.36},
   {'localDate': '20181021',
    'closePrice': 1689.48,
    'openPrice': 0,
    'highPrice': 1689.48,
    'lowPrice': 1685.11},
   {'localDate': '20181028',
    'closePrice': 1689.84,
    'openPrice': 0,
    'highPrice': 1689.84,
    'lowPrice': 1689.64},
   {'localDate': '20181104',
    'closePrice': 1690.31,
    'openPrice': 0,
    'highPrice': 1690.31,
    'lowPrice': 1689.86},
   {'localDate': '20181111',
    'closePrice': 1585.66,
    'openPrice': 0,
    'highPrice': 1690.3,
    'lowPrice': 1585.66},
   {'localDate': '20181118',
    'closePrice': 1555.15,
    'openPrice': 0,
    'highPrice': 1580.32,
    'lowPrice': 1555.15},
   {'localDate': '20181125',
    'closePrice': 1526.19,
    'openPrice': 0,
    'highPrice': 1551.91,
    'lowPrice': 1526.19},
   {'localDate': '20181202',
    'closePrice': 1490.73,
    'openPrice': 0,
    'highPrice': 1522.79,
    'lowPrice': 1490.73},
   {'localDate': '20181209',
    'closePrice': 1459.79,
    'openPrice': 0,
    'highPrice': 1486.92,
    'lowPrice': 1459.79},
   {'localDate': '20181216',
    'closePrice': 1434.31,
    'openPrice': 0,
    'highPrice': 1456.49,
    'lowPrice': 1434.31},
   {'localDate': '20181223',
    'closePrice': 1405.51,
    'openPrice': 0,
    'highPrice': 1431.21,
    'lowPrice': 1405.51},
   {'localDate': '20181230',
    'closePrice': 1381.66,
    'openPrice': 0,
    'highPrice': 1401.56,
    'lowPrice': 1381.66},
   {'localDate': '20190106',
    'closePrice': 1359.6,
    'openPrice': 0,
    'highPrice': 1379.77,
    'lowPrice': 1359.6},
   {'localDate': '20190113',
    'closePrice': 1349.16,
    'openPrice': 0,
    'highPrice': 1357.21,
    'lowPrice': 1349.16},
   {'localDate': '20190120',
    'closePrice': 1345.6,
    'openPrice': 0,
    'highPrice': 1348.54,
    'lowPrice': 1345.6},
   {'localDate': '20190127',
    'closePrice': 1344.94,
    'openPrice': 0,
    'highPrice': 1345.59,
    'lowPrice': 1344.93},
   {'localDate': '20190203',
    'closePrice': 1344.16,
    'openPrice': 0,
    'highPrice': 1344.93,
    'lowPrice': 1344.15},
   {'localDate': '20190210',
    'closePrice': 1343.13,
    'openPrice': 0,
    'highPrice': 1344.13,
    'lowPrice': 1343.13},
   {'localDate': '20190217',
    'closePrice': 1342.62,
    'openPrice': 0,
    'highPrice': 1342.93,
    'lowPrice': 1342.24},
   {'localDate': '20190224',
    'closePrice': 1344.64,
    'openPrice': 0,
    'highPrice': 1344.64,
    'lowPrice': 1342.75},
   {'localDate': '20190303',
    'closePrice': 1349.18,
    'openPrice': 0,
    'highPrice': 1349.18,
    'lowPrice': 1345.21},
   {'localDate': '20190310',
    'closePrice': 1355.69,
    'openPrice': 0,
    'highPrice': 1355.69,
    'lowPrice': 1349.54},
   {'localDate': '20190317',
    'closePrice': 1370.93,
    'openPrice': 0,
    'highPrice': 1370.93,
    'lowPrice': 1356.86},
   {'localDate': '20190324',
    'closePrice': 1384.72,
    'openPrice': 0,
    'highPrice': 1384.72,
    'lowPrice': 1372.96},
   {'localDate': '20190331',
    'closePrice': 1394.19,
    'openPrice': 0,
    'highPrice': 1394.19,
    'lowPrice': 1386.32},
   {'localDate': '20190407',
    'closePrice': 1405.01,
    'openPrice': 0,
    'highPrice': 1405.01,
    'lowPrice': 1396.21},
   {'localDate': '20190414',
    'closePrice': 1417.96,
    'openPrice': 0,
    'highPrice': 1417.96,
    'lowPrice': 1406.37},
   {'localDate': '20190421',
    'closePrice': 1435.18,
    'openPrice': 0,
    'highPrice': 1435.18,
    'lowPrice': 1420.05},
   {'localDate': '20190428',
    'closePrice': 1453.81,
    'openPrice': 0,
    'highPrice': 1453.81,
    'lowPrice': 1437.68},
   {'localDate': '20190505',
    'closePrice': 1475.12,
    'openPrice': 0,
    'highPrice': 1475.12,
    'lowPrice': 1456.22},
   {'localDate': '20190512',
    'closePrice': 1523.16,
    'openPrice': 0,
    'highPrice': 1523.16,
    'lowPrice': 1477.24},
   {'localDate': '20190519',
    'closePrice': 1530.36,
    'openPrice': 0,
    'highPrice': 1530.36,
    'lowPrice': 1524.45},
   {'localDate': '20190526',
    'closePrice': 1535.43,
    'openPrice': 0,
    'highPrice': 1535.43,
    'lowPrice': 1531.06},
   {'localDate': '20190602',
    'closePrice': 1536.53,
    'openPrice': 0,
    'highPrice': 1537.08,
    'lowPrice': 1535.83},
   {'localDate': '20190609',
    'closePrice': 1531,
    'openPrice': 0,
    'highPrice': 1536.17,
    'lowPrice': 1531},
   {'localDate': '20190616',
    'closePrice': 1517.3,
    'openPrice': 0,
    'highPrice': 1530.06,
    'lowPrice': 1517.3},
   {'localDate': '20190623',
    'closePrice': 1503.57,
    'openPrice': 0,
    'highPrice': 1515.21,
    'lowPrice': 1503.57},
   {'localDate': '20190630',
    'closePrice': 1497.59,
    'openPrice': 0,
    'highPrice': 1502.41,
    'lowPrice': 1497.59},
   {'localDate': '20190707',
    'closePrice': 1491.97,
    'openPrice': 0,
    'highPrice': 1496.52,
    'lowPrice': 1491.97},
   {'localDate': '20190714',
    'closePrice': 1490.08,
    'openPrice': 0,
    'highPrice': 1491.59,
    'lowPrice': 1489.97},
   {'localDate': '20190721',
    'closePrice': 1490.43,
    'openPrice': 0,
    'highPrice': 1490.49,
    'lowPrice': 1490.25},
   {'localDate': '20190728',
    'closePrice': 1491.37,
    'openPrice': 0,
    'highPrice': 1491.37,
    'lowPrice': 1490.5},
   {'localDate': '20190804',
    'closePrice': 1493.82,
    'openPrice': 0,
    'highPrice': 1493.82,
    'lowPrice': 1491.57},
   {'localDate': '20190811',
    'closePrice': 1493.53,
    'openPrice': 0,
    'highPrice': 1494.13,
    'lowPrice': 1493.53},
   {'localDate': '20190818',
    'closePrice': 1493.16,
    'openPrice': 0,
    'highPrice': 1493.54,
    'lowPrice': 1493.16},
   {'localDate': '20190825',
    'closePrice': 1493.42,
    'openPrice': 0,
    'highPrice': 1493.42,
    'lowPrice': 1492.94},
   {'localDate': '20190901',
    'closePrice': 1509.16,
    'openPrice': 0,
    'highPrice': 1509.16,
    'lowPrice': 1493.73},
   {'localDate': '20190908',
    'closePrice': 1522.62,
    'openPrice': 0,
    'highPrice': 1522.62,
    'lowPrice': 1515.3},
   {'localDate': '20190915',
    'closePrice': 1525.21,
    'openPrice': 0,
    'highPrice': 1525.21,
    'lowPrice': 1522.87},
   {'localDate': '20190922',
    'closePrice': 1536.66,
    'openPrice': 0,
    'highPrice': 1536.66,
    'lowPrice': 1526.28},
   {'localDate': '20190929',
    'closePrice': 1542.69,
    'openPrice': 0,
    'highPrice': 1542.69,
    'lowPrice': 1537.63},
   {'localDate': '20191006',
    'closePrice': 1543,
    'openPrice': 0,
    'highPrice': 1543.55,
    'lowPrice': 1543},
   {'localDate': '20191013',
    'closePrice': 1541.73,
    'openPrice': 0,
    'highPrice': 1542.95,
    'lowPrice': 1541.72},
   {'localDate': '20191020',
    'closePrice': 1539.51,
    'openPrice': 0,
    'highPrice': 1541.6,
    'lowPrice': 1539.51},
   {'localDate': '20191027',
    'closePrice': 1537.42,
    'openPrice': 0,
    'highPrice': 1539.27,
    'lowPrice': 1537.42},
   {'localDate': '20191103',
    'closePrice': 1535.75,
    'openPrice': 0,
    'highPrice': 1537.26,
    'lowPrice': 1535.75},
   {'localDate': '20191110',
    'closePrice': 1534.23,
    'openPrice': 0,
    'highPrice': 1535.6,
    'lowPrice': 1534.22},
   {'localDate': '20191117',
    'closePrice': 1535.14,
    'openPrice': 0,
    'highPrice': 1535.14,
    'lowPrice': 1534.28},
   {'localDate': '20191124',
    'closePrice': 1536.62,
    'openPrice': 0,
    'highPrice': 1536.62,
    'lowPrice': 1535.3},
   {'localDate': '20191201',
    'closePrice': 1538.9,
    'openPrice': 0,
    'highPrice': 1538.9,
    'lowPrice': 1536.84},
   {'localDate': '20191208',
    'closePrice': 1542.64,
    'openPrice': 0,
    'highPrice': 1542.64,
    'lowPrice': 1539.22},
   {'localDate': '20191215',
    'closePrice': 1547.67,
    'openPrice': 0,
    'highPrice': 1547.67,
    'lowPrice': 1543.34},
   {'localDate': '20191222',
    'closePrice': 1552.58,
    'openPrice': 0,
    'highPrice': 1552.58,
    'lowPrice': 1548.42},
   {'localDate': '20191229',
    'closePrice': 1557.19,
    'openPrice': 0,
    'highPrice': 1557.19,
    'lowPrice': 1553.15},
   {'localDate': '20200105',
    'closePrice': 1562.34,
    'openPrice': 0,
    'highPrice': 1562.34,
    'lowPrice': 1557.74},
   {'localDate': '20200112',
    'closePrice': 1570.36,
    'openPrice': 0,
    'highPrice': 1570.36,
    'lowPrice': 1563.32},
   {'localDate': '20200119',
    'closePrice': 1571.22,
    'openPrice': 0,
    'highPrice': 1571.56,
    'lowPrice': 1570.97},
   {'localDate': '20200126',
    'closePrice': 1570.91,
    'openPrice': 0,
    'highPrice': 1571.26,
    'lowPrice': 1570.91},
   {'localDate': '20200202',
    'closePrice': 1565.92,
    'openPrice': 0,
    'highPrice': 1570.53,
    'lowPrice': 1565.92},
   {'localDate': '20200209',
    'closePrice': 1556.89,
    'openPrice': 0,
    'highPrice': 1564.89,
    'lowPrice': 1556.89},
   {'localDate': '20200216',
    'closePrice': 1541.95,
    'openPrice': 0,
    'highPrice': 1555.51,
    'lowPrice': 1541.95},
   {'localDate': '20200223',
    'closePrice': 1532.62,
    'openPrice': 0,
    'highPrice': 1540.38,
    'lowPrice': 1532.62},
   {'localDate': '20200301',
    'closePrice': 1523.52,
    'openPrice': 0,
    'highPrice': 1531.73,
    'lowPrice': 1523.52},
   {'localDate': '20200308',
    'closePrice': 1510.79,
    'openPrice': 0,
    'highPrice': 1521.76,
    'lowPrice': 1510.79},
   {'localDate': '20200315',
    'closePrice': 1484.04,
    'openPrice': 0,
    'highPrice': 1508.65,
    'lowPrice': 1484.04},
   {'localDate': '20200322',
    'closePrice': 1442.55,
    'openPrice': 0,
    'highPrice': 1480.14,
    'lowPrice': 1442.55},
   {'localDate': '20200329',
    'closePrice': 1403.83,
    'openPrice': 0,
    'highPrice': 1437.38,
    'lowPrice': 1403.83},
   {'localDate': '20200405',
    'closePrice': 1366.27,
    'openPrice': 0,
    'highPrice': 1398.93,
    'lowPrice': 1366.27},
   {'localDate': '20200412',
    'closePrice': 1338.45,
    'openPrice': 0,
    'highPrice': 1362.9,
    'lowPrice': 1338.45},
   {'localDate': '20200419',
    'closePrice': 1311.41,
    'openPrice': 0,
    'highPrice': 1335.31,
    'lowPrice': 1311.41},
   {'localDate': '20200426',
    'closePrice': 1282.05,
    'openPrice': 0,
    'highPrice': 1307.27,
    'lowPrice': 1282.05},
   {'localDate': '20200503',
    'closePrice': 1261.66,
    'openPrice': 0,
    'highPrice': 1278.8,
    'lowPrice': 1261.66},
   {'localDate': '20200510',
    'closePrice': 1251.08,
    'openPrice': 0,
    'highPrice': 1259.84,
    'lowPrice': 1251.08},
   {'localDate': '20200517',
    'closePrice': 1247.9,
    'openPrice': 0,
    'highPrice': 1250.02,
    'lowPrice': 1247.53},
   {'localDate': '20200524',
    'closePrice': 1254.15,
    'openPrice': 0,
    'highPrice': 1254.15,
    'lowPrice': 1248.09},
   {'localDate': '20200531',
    'closePrice': 1269.84,
    'openPrice': 0,
    'highPrice': 1269.84,
    'lowPrice': 1255.46},
   {'localDate': '20200607',
    'closePrice': 1294.66,
    'openPrice': 0,
    'highPrice': 1294.66,
    'lowPrice': 1273.49},
   {'localDate': '20200614',
    'closePrice': 1324.22,
    'openPrice': 0,
    'highPrice': 1324.22,
    'lowPrice': 1299.38},
   {'localDate': '20200621',
    'closePrice': 1341.83,
    'openPrice': 0,
    'highPrice': 1341.83,
    'lowPrice': 1327},
   {'localDate': '20200628',
    'closePrice': 1353.19,
    'openPrice': 0,
    'highPrice': 1353.19,
    'lowPrice': 1344.17},
   {'localDate': '20200705',
    'closePrice': 1358.73,
    'openPrice': 0,
    'highPrice': 1358.73,
    'lowPrice': 1354.23},
   {'localDate': '20200712',
    'closePrice': 1360.5,
    'openPrice': 0,
    'highPrice': 1360.5,
    'lowPrice': 1359.05},
   {'localDate': '20200719',
    'closePrice': 1361.22,
    'openPrice': 0,
    'highPrice': 1361.22,
    'lowPrice': 1360.7},
   {'localDate': '20200726',
    'closePrice': 1361.1,
    'openPrice': 0,
    'highPrice': 1361.13,
    'lowPrice': 1360.98},
   {'localDate': '20200802',
    'closePrice': 1361.2,
    'openPrice': 0,
    'highPrice': 1361.2,
    'lowPrice': 1360.8},
   {'localDate': '20200809',
    'closePrice': 1361.02,
    'openPrice': 0,
    'highPrice': 1361.3,
    'lowPrice': 1360.97},
   {'localDate': '20200816',
    'closePrice': 1361.22,
    'openPrice': 0,
    'highPrice': 1361.22,
    'lowPrice': 1361.02},
   {'localDate': '20200823',
    'closePrice': 1361.19,
    'openPrice': 0,
    'highPrice': 1361.28,
    'lowPrice': 1361.19},
   {'localDate': '20200830',
    'closePrice': 1360.77,
    'openPrice': 0,
    'highPrice': 1361.16,
    'lowPrice': 1360.74},
   {'localDate': '20200906',
    'closePrice': 1360.1,
    'openPrice': 0,
    'highPrice': 1360.66,
    'lowPrice': 1360.1},
   {'localDate': '20200913',
    'closePrice': 1355.88,
    'openPrice': 0,
    'highPrice': 1359.89,
    'lowPrice': 1355.88},
   {'localDate': '20200920',
    'closePrice': 1349.23,
    'openPrice': 0,
    'highPrice': 1355.33,
    'lowPrice': 1349.23},
   {'localDate': '20200927',
    'closePrice': 1343.59,
    'openPrice': 0,
    'highPrice': 1348.45,
    'lowPrice': 1343.59},
   {'localDate': '20201004',
    'closePrice': 1340.17,
    'openPrice': 0,
    'highPrice': 1343.08,
    'lowPrice': 1340.17},
   {'localDate': '20201011',
    'closePrice': 1335.61,
    'openPrice': 0,
    'highPrice': 1339.39,
    'lowPrice': 1335.61},
   {'localDate': '20201018',
    'closePrice': 1332.39,
    'openPrice': 0,
    'highPrice': 1335.22,
    'lowPrice': 1332.39},
   {'localDate': '20201025',
    'closePrice': 1329.03,
    'openPrice': 0,
    'highPrice': 1332,
    'lowPrice': 1329.03},
   {'localDate': '20201101',
    'closePrice': 1324.31,
    'openPrice': 0,
    'highPrice': 1328.5,
    'lowPrice': 1324.31},
   {'localDate': '20201108',
    'closePrice': 1319.09,
    'openPrice': 0,
    'highPrice': 1323.37,
    'lowPrice': 1319.09},
   {'localDate': '20201115',
    'closePrice': 1317.55,
    'openPrice': 0,
    'highPrice': 1318.65,
    'lowPrice': 1317.55},
   {'localDate': '20201122',
    'closePrice': 1317.96,
    'openPrice': 0,
    'highPrice': 1317.96,
    'lowPrice': 1317.12},
   {'localDate': '20201129',
    'closePrice': 1324.04,
    'openPrice': 0,
    'highPrice': 1324.04,
    'lowPrice': 1318.08},
   {'localDate': '20201206',
    'closePrice': 1335.01,
    'openPrice': 0,
    'highPrice': 1335.01,
    'lowPrice': 1324.99},
   {'localDate': '20201213',
    'closePrice': 1351.6,
    'openPrice': 0,
    'highPrice': 1351.6,
    'lowPrice': 1336.78},
   {'localDate': '20201220',
    'closePrice': 1380.09,
    'openPrice': 0,
    'highPrice': 1380.09,
    'lowPrice': 1354.07},
   {'localDate': '20201227',
    'closePrice': 1406.84,
    'openPrice': 0,
    'highPrice': 1406.84,
    'lowPrice': 1384.6},
   {'localDate': '20210103',
    'closePrice': 1426.61,
    'openPrice': 0,

In [ ]:
datas = res.json()['result']['priceInfos']
datas

[{'localDate': '20180114',
  'closePrice': 1550.16,
  'openPrice': 0,
  'highPrice': 1550.16,
  'lowPrice': 1547.49},
 {'localDate': '20180121',
  'closePrice': 1554.19,
  'openPrice': 0,
  'highPrice': 1554.19,
  'lowPrice': 1550.69},
 {'localDate': '20180128',
  'closePrice': 1558.12,
  'openPrice': 0,
  'highPrice': 1558.12,
  'lowPrice': 1554.73},
 {'localDate': '20180204',
  'closePrice': 1562.8,
  'openPrice': 0,
  'highPrice': 1562.8,
  'lowPrice': 1558.67},
 {'localDate': '20180211',
  'closePrice': 1565.34,
  'openPrice': 0,
  'highPrice': 1565.34,
  'lowPrice': 1563.14},
 {'localDate': '20180218',
  'closePrice': 1565.95,
  'openPrice': 0,
  'highPrice': 1566.02,
  'lowPrice': 1565.47},
 {'localDate': '20180225',
  'closePrice': 1564.23,
  'openPrice': 0,
  'highPrice': 1565.76,
  'lowPrice': 1564.23},
 {'localDate': '20180304',
  'closePrice': 1562.95,
  'openPrice': 0,
  'highPrice': 1564.17,
  'lowPrice': 1562.95},
 {'localDate': '20180311',
  'closePrice': 1560.89,
  'openPrice': 0,
  'highPrice': 1562.76,
  'lowPrice': 1560.89},
 {'localDate': '20180318',
  'closePrice': 1556.94,
  'openPrice': 0,
  'highPrice': 1560.6,
  'lowPrice': 1556.94},
 {'localDate': '20180325',
  'closePrice': 1553.23,
  'openPrice': 0,
  'highPrice': 1556.44,
  'lowPrice': 1553.23},
 {'localDate': '20180401',
  'closePrice': 1551.62,
  'openPrice': 0,
  'highPrice': 1553.03,
  'lowPrice': 1551.62},
 {'localDate': '20180408',
  'closePrice': 1550.45,
  'openPrice': 0,
  'highPrice': 1551.29,
  'lowPrice': 1550.45},
 {'localDate': '20180415',
  'closePrice': 1549.68,
  'openPrice': 0,
  'highPrice': 1550.34,
  'lowPrice': 1549.64},
 {'localDate': '20180422',
  'closePrice': 1551.34,
  'openPrice': 0,
  'highPrice': 1551.34,
  'lowPrice': 1549.72},
 {'localDate': '20180429',
  'closePrice': 1555.14,
  'openPrice': 0,
  'highPrice': 1555.14,
  'lowPrice': 1551.69},
 {'localDate': '20180506',
  'closePrice': 1562.08,
  'openPrice': 0,
  'highPrice': 1562.08,
  'lowPrice': 1555.65},
 {'localDate': '20180513',
  'closePrice': 1573.17,
  'openPrice': 0,
  'highPrice': 1573.17,
  'lowPrice': 1562.73},
 {'localDate': '20180520',
  'closePrice': 1585.9,
  'openPrice': 0,
  'highPrice': 1585.9,
  'lowPrice': 1574.67},
 {'localDate': '20180527',
  'closePrice': 1602.06,
  'openPrice': 0,
  'highPrice': 1602.06,
  'lowPrice': 1586.53},
 {'localDate': '20180603',
  'closePrice': 1609.16,
  'openPrice': 0,
  'highPrice': 1609.16,
  'lowPrice': 1603.52},
 {'localDate': '20180610',
  'closePrice': 1610.14,
  'openPrice': 0,
  'highPrice': 1610.24,
  'lowPrice': 1609.5},
 {'localDate': '20180617',
  'closePrice': 1609.55,
  'openPrice': 0,
  'highPrice': 1610.26,
  'lowPrice': 1609.55},
 {'localDate': '20180624',
  'closePrice': 1608.06,
  'openPrice': 0,
  'highPrice': 1609.32,
  'lowPrice': 1608.06},
 {'localDate': '20180701',
  'closePrice': 1607.66,
  'openPrice': 0,
  'highPrice': 1608.02,
  'lowPrice': 1607.5},
 {'localDate': '20180708',
  'closePrice': 1609.27,
  'openPrice': 0,
  'highPrice': 1609.27,
  'lowPrice': 1607.83},
 {'localDate': '20180715',
  'closePrice': 1611.22,
  'openPrice': 0,
  'highPrice': 1611.22,
  'lowPrice': 1609.44},
 {'localDate': '20180722',
  'closePrice': 1611.97,
  'openPrice': 0,
  'highPrice': 1611.97,
  'lowPrice': 1611.42},
 {'localDate': '20180729',
  'closePrice': 1613.03,
  'openPrice': 0,
  'highPrice': 1613.03,
  'lowPrice': 1612.09},
 {'localDate': '20180805',
  'closePrice': 1615.84,
  'openPrice': 0,
  'highPrice': 1615.84,
  'lowPrice': 1613.2},
 {'localDate': '20180812',
  'closePrice': 1617.82,
  'openPrice': 0,
  'highPrice': 1617.82,
  'lowPrice': 1615.97},
 {'localDate': '20180819',
  'closePrice': 1619.18,
  'openPrice': 0,
  'highPrice': 1619.18,
  'lowPrice': 1618.03},
 {'localDate': '20180826',
  'closePrice': 1619.91,
  'openPrice': 0,
  'highPrice': 1619.91,
  'lowPrice': 1619.34},
 {'localDate': '20180902',
  'closePrice': 1621.97,
  'openPrice': 0,
  'highPrice': 1621.97,
  'lowPrice': 1620.05},
 {'localDate': '20180909',
  'closePrice': 1627.74,
  'openPrice': 0,
  'highPrice': 1627.74,
  'lowPrice': 1622.48},
 {'localDate': '20180916',
  'closePrice': 1637.9,
  'openPrice': 0,
  'highPrice': 1637.9,
  'lowPrice': 1628.48},
 {'localDate': '20180923',
  'closePrice': 1649.04,
  'openPrice': 0,
  'highPrice': 1649.04,
  'lowPrice': 1639.2},
 {'localDate': '20180930',
  'closePrice': 1655,
  'openPrice': 0,
  'highPrice': 1655,
  'lowPrice': 1649.62},
 {'localDate': '20181007',
  'closePrice': 1670.38,
  'openPrice': 0,
  'highPrice': 1670.38,
  'lowPrice': 1657.1},
 {'localDate': '20181014',
  'closePrice': 1684,
  'openPrice': 0,
  'highPrice': 1684,
  'lowPrice': 1672.36},
 {'localDate': '20181021',
  'closePrice': 1689.48,
  'openPrice': 0,
  'highPrice': 1689.48,
  'lowPrice': 1685.11},
 {'localDate': '20181028',
  'closePrice': 1689.84,
  'openPrice': 0,
  'highPrice': 1689.84,
  'lowPrice': 1689.64},
 {'localDate': '20181104',
  'closePrice': 1690.31,
  'openPrice': 0,
  'highPrice': 1690.31,
  'lowPrice': 1689.86},
 {'localDate': '20181111',
  'closePrice': 1585.66,
  'openPrice': 0,
  'highPrice': 1690.3,
  'lowPrice': 1585.66},
 {'localDate': '20181118',
  'closePrice': 1555.15,
  'openPrice': 0,
  'highPrice': 1580.32,
  'lowPrice': 1555.15},
 {'localDate': '20181125',
  'closePrice': 1526.19,
  'openPrice': 0,
  'highPrice': 1551.91,
  'lowPrice': 1526.19},
 {'localDate': '20181202',
  'closePrice': 1490.73,
  'openPrice': 0,
  'highPrice': 1522.79,
  'lowPrice': 1490.73},
 {'localDate': '20181209',
  'closePrice': 1459.79,
  'openPrice': 0,
  'highPrice': 1486.92,
  'lowPrice': 1459.79},
 {'localDate': '20181216',
  'closePrice': 1434.31,
  'openPrice': 0,
  'highPrice': 1456.49,
  'lowPrice': 1434.31},
 {'localDate': '20181223',
  'closePrice': 1405.51,
  'openPrice': 0,
  'highPrice': 1431.21,
  'lowPrice': 1405.51},
 {'localDate': '20181230',
  'closePrice': 1381.66,
  'openPrice': 0,
  'highPrice': 1401.56,
  'lowPrice': 1381.66},
 {'localDate': '20190106',
  'closePrice': 1359.6,
  'openPrice': 0,
  'highPrice': 1379.77,
  'lowPrice': 1359.6},
 {'localDate': '20190113',
  'closePrice': 1349.16,
  'openPrice': 0,
  'highPrice': 1357.21,
  'lowPrice': 1349.16},
 {'localDate': '20190120',
  'closePrice': 1345.6,
  'openPrice': 0,
  'highPrice': 1348.54,
  'lowPrice': 1345.6},
 {'localDate': '20190127',
  'closePrice': 1344.94,
  'openPrice': 0,
  'highPrice': 1345.59,
  'lowPrice': 1344.93},
 {'localDate': '20190203',
  'closePrice': 1344.16,
  'openPrice': 0,
  'highPrice': 1344.93,
  'lowPrice': 1344.15},
 {'localDate': '20190210',
  'closePrice': 1343.13,
  'openPrice': 0,
  'highPrice': 1344.13,
  'lowPrice': 1343.13},
 {'localDate': '20190217',
  'closePrice': 1342.62,
  'openPrice': 0,
  'highPrice': 1342.93,
  'lowPrice': 1342.24},
 {'localDate': '20190224',
  'closePrice': 1344.64,
  'openPrice': 0,
  'highPrice': 1344.64,
  'lowPrice': 1342.75},
 {'localDate': '20190303',
  'closePrice': 1349.18,
  'openPrice': 0,
  'highPrice': 1349.18,
  'lowPrice': 1345.21},
 {'localDate': '20190310',
  'closePrice': 1355.69,
  'openPrice': 0,
  'highPrice': 1355.69,
  'lowPrice': 1349.54},
 {'localDate': '20190317',
  'closePrice': 1370.93,
  'openPrice': 0,
  'highPrice': 1370.93,
  'lowPrice': 1356.86},
 {'localDate': '20190324',
  'closePrice': 1384.72,
  'openPrice': 0,
  'highPrice': 1384.72,
  'lowPrice': 1372.96},
 {'localDate': '20190331',
  'closePrice': 1394.19,
  'openPrice': 0,
  'highPrice': 1394.19,
  'lowPrice': 1386.32},
 {'localDate': '20190407',
  'closePrice': 1405.01,
  'openPrice': 0,
  'highPrice': 1405.01,
  'lowPrice': 1396.21},
 {'localDate': '20190414',
  'closePrice': 1417.96,
  'openPrice': 0,
  'highPrice': 1417.96,
  'lowPrice': 1406.37},
 {'localDate': '20190421',
  'closePrice': 1435.18,
  'openPrice': 0,
  'highPrice': 1435.18,
  'lowPrice': 1420.05},
 {'localDate': '20190428',
  'closePrice': 1453.81,
  'openPrice': 0,
  'highPrice': 1453.81,
  'lowPrice': 1437.68},
 {'localDate': '20190505',
  'closePrice': 1475.12,
  'openPrice': 0,
  'highPrice': 1475.12,
  'lowPrice': 1456.22},
 {'localDate': '20190512',
  'closePrice': 1523.16,
  'openPrice': 0,
  'highPrice': 1523.16,
  'lowPrice': 1477.24},
 {'localDate': '20190519',
  'closePrice': 1530.36,
  'openPrice': 0,
  'highPrice': 1530.36,
  'lowPrice': 1524.45},
 {'localDate': '20190526',
  'closePrice': 1535.43,
  'openPrice': 0,
  'highPrice': 1535.43,
  'lowPrice': 1531.06},
 {'localDate': '20190602',
  'closePrice': 1536.53,
  'openPrice': 0,
  'highPrice': 1537.08,
  'lowPrice': 1535.83},
 {'localDate': '20190609',
  'closePrice': 1531,
  'openPrice': 0,
  'highPrice': 1536.17,
  'lowPrice': 1531},
 {'localDate': '20190616',
  'closePrice': 1517.3,
  'openPrice': 0,
  'highPrice': 1530.06,
  'lowPrice': 1517.3},
 {'localDate': '20190623',
  'closePrice': 1503.57,
  'openPrice': 0,
  'highPrice': 1515.21,
  'lowPrice': 1503.57},
 {'localDate': '20190630',
  'closePrice': 1497.59,
  'openPrice': 0,
  'highPrice': 1502.41,
  'lowPrice': 1497.59},
 {'localDate': '20190707',
  'closePrice': 1491.97,
  'openPrice': 0,
  'highPrice': 1496.52,
  'lowPrice': 1491.97},
 {'localDate': '20190714',
  'closePrice': 1490.08,
  'openPrice': 0,
  'highPrice': 1491.59,
  'lowPrice': 1489.97},
 {'localDate': '20190721',
  'closePrice': 1490.43,
  'openPrice': 0,
  'highPrice': 1490.49,
  'lowPrice': 1490.25},
 {'localDate': '20190728',
  'closePrice': 1491.37,
  'openPrice': 0,
  'highPrice': 1491.37,
  'lowPrice': 1490.5},
 {'localDate': '20190804',
  'closePrice': 1493.82,
  'openPrice': 0,
  'highPrice': 1493.82,
  'lowPrice': 1491.57},
 {'localDate': '20190811',
  'closePrice': 1493.53,
  'openPrice': 0,
  'highPrice': 1494.13,
  'lowPrice': 1493.53},
 {'localDate': '20190818',
  'closePrice': 1493.16,
  'openPrice': 0,
  'highPrice': 1493.54,
  'lowPrice': 1493.16},
 {'localDate': '20190825',
  'closePrice': 1493.42,
  'openPrice': 0,
  'highPrice': 1493.42,
  'lowPrice': 1492.94},
 {'localDate': '20190901',
  'closePrice': 1509.16,
  'openPrice': 0,
  'highPrice': 1509.16,
  'lowPrice': 1493.73},
 {'localDate': '20190908',
  'closePrice': 1522.62,
  'openPrice': 0,
  'highPrice': 1522.62,
  'lowPrice': 1515.3},
 {'localDate': '20190915',
  'closePrice': 1525.21,
  'openPrice': 0,
  'highPrice': 1525.21,
  'lowPrice': 1522.87},
 {'localDate': '20190922',
  'closePrice': 1536.66,
  'openPrice': 0,
  'highPrice': 1536.66,
  'lowPrice': 1526.28},
 {'localDate': '20190929',
  'closePrice': 1542.69,
  'openPrice': 0,
  'highPrice': 1542.69,
  'lowPrice': 1537.63},
 {'localDate': '20191006',
  'closePrice': 1543,
  'openPrice': 0,
  'highPrice': 1543.55,
  'lowPrice': 1543},
 {'localDate': '20191013',
  'closePrice': 1541.73,
  'openPrice': 0,
  'highPrice': 1542.95,
  'lowPrice': 1541.72},
 {'localDate': '20191020',
  'closePrice': 1539.51,
  'openPrice': 0,
  'highPrice': 1541.6,
  'lowPrice': 1539.51},
 {'localDate': '20191027',
  'closePrice': 1537.42,
  'openPrice': 0,
  'highPrice': 1539.27,
  'lowPrice': 1537.42},
 {'localDate': '20191103',
  'closePrice': 1535.75,
  'openPrice': 0,
  'highPrice': 1537.26,
  'lowPrice': 1535.75},
 {'localDate': '20191110',
  'closePrice': 1534.23,
  'openPrice': 0,
  'highPrice': 1535.6,
  'lowPrice': 1534.22},
 {'localDate': '20191117',
  'closePrice': 1535.14,
  'openPrice': 0,
  'highPrice': 1535.14,
  'lowPrice': 1534.28},
 {'localDate': '20191124',
  'closePrice': 1536.62,
  'openPrice': 0,
  'highPrice': 1536.62,
  'lowPrice': 1535.3},
 {'localDate': '20191201',
  'closePrice': 1538.9,
  'openPrice': 0,
  'highPrice': 1538.9,
  'lowPrice': 1536.84},
 {'localDate': '20191208',
  'closePrice': 1542.64,
  'openPrice': 0,
  'highPrice': 1542.64,
  'lowPrice': 1539.22},
 {'localDate': '20191215',
  'closePrice': 1547.67,
  'openPrice': 0,
  'highPrice': 1547.67,
  'lowPrice': 1543.34},
 {'localDate': '20191222',
  'closePrice': 1552.58,
  'openPrice': 0,
  'highPrice': 1552.58,
  'lowPrice': 1548.42},
 {'localDate': '20191229',
  'closePrice': 1557.19,
  'openPrice': 0,
  'highPrice': 1557.19,
  'lowPrice': 1553.15},
 {'localDate': '20200105',
  'closePrice': 1562.34,
  'openPrice': 0,
  'highPrice': 1562.34,
  'lowPrice': 1557.74},
 {'localDate': '20200112',
  'closePrice': 1570.36,
  'openPrice': 0,
  'highPrice': 1570.36,
  'lowPrice': 1563.32},
 {'localDate': '20200119',
  'closePrice': 1571.22,
  'openPrice': 0,
  'highPrice': 1571.56,
  'lowPrice': 1570.97},
 {'localDate': '20200126',
  'closePrice': 1570.91,
  'openPrice': 0,
  'highPrice': 1571.26,
  'lowPrice': 1570.91},
 {'localDate': '20200202',
  'closePrice': 1565.92,
  'openPrice': 0,
  'highPrice': 1570.53,
  'lowPrice': 1565.92},
 {'localDate': '20200209',
  'closePrice': 1556.89,
  'openPrice': 0,
  'highPrice': 1564.89,
  'lowPrice': 1556.89},
 {'localDate': '20200216',
  'closePrice': 1541.95,
  'openPrice': 0,
  'highPrice': 1555.51,
  'lowPrice': 1541.95},
 {'localDate': '20200223',
  'closePrice': 1532.62,
  'openPrice': 0,
  'highPrice': 1540.38,
  'lowPrice': 1532.62},
 {'localDate': '20200301',
  'closePrice': 1523.52,
  'openPrice': 0,
  'highPrice': 1531.73,
  'lowPrice': 1523.52},
 {'localDate': '20200308',
  'closePrice': 1510.79,
  'openPrice': 0,
  'highPrice': 1521.76,
  'lowPrice': 1510.79},
 {'localDate': '20200315',
  'closePrice': 1484.04,
  'openPrice': 0,
  'highPrice': 1508.65,
  'lowPrice': 1484.04},
 {'localDate': '20200322',
  'closePrice': 1442.55,
  'openPrice': 0,
  'highPrice': 1480.14,
  'lowPrice': 1442.55},
 {'localDate': '20200329',
  'closePrice': 1403.83,
  'openPrice': 0,
  'highPrice': 1437.38,
  'lowPrice': 1403.83},
 {'localDate': '20200405',
  'closePrice': 1366.27,
  'openPrice': 0,
  'highPrice': 1398.93,
  'lowPrice': 1366.27},
 {'localDate': '20200412',
  'closePrice': 1338.45,
  'openPrice': 0,
  'highPrice': 1362.9,
  'lowPrice': 1338.45},
 {'localDate': '20200419',
  'closePrice': 1311.41,
  'openPrice': 0,
  'highPrice': 1335.31,
  'lowPrice': 1311.41},
 {'localDate': '20200426',
  'closePrice': 1282.05,
  'openPrice': 0,
  'highPrice': 1307.27,
  'lowPrice': 1282.05},
 {'localDate': '20200503',
  'closePrice': 1261.66,
  'openPrice': 0,
  'highPrice': 1278.8,
  'lowPrice': 1261.66},
 {'localDate': '20200510',
  'closePrice': 1251.08,
  'openPrice': 0,
  'highPrice': 1259.84,
  'lowPrice': 1251.08},
 {'localDate': '20200517',
  'closePrice': 1247.9,
  'openPrice': 0,
  'highPrice': 1250.02,
  'lowPrice': 1247.53},
 {'localDate': '20200524',
  'closePrice': 1254.15,
  'openPrice': 0,
  'highPrice': 1254.15,
  'lowPrice': 1248.09},
 {'localDate': '20200531',
  'closePrice': 1269.84,
  'openPrice': 0,
  'highPrice': 1269.84,
  'lowPrice': 1255.46},
 {'localDate': '20200607',
  'closePrice': 1294.66,
  'openPrice': 0,
  'highPrice': 1294.66,
  'lowPrice': 1273.49},
 {'localDate': '20200614',
  'closePrice': 1324.22,
  'openPrice': 0,
  'highPrice': 1324.22,
  'lowPrice': 1299.38},
 {'localDate': '20200621',
  'closePrice': 1341.83,
  'openPrice': 0,
  'highPrice': 1341.83,
  'lowPrice': 1327},
 {'localDate': '20200628',
  'closePrice': 1353.19,
  'openPrice': 0,
  'highPrice': 1353.19,
  'lowPrice': 1344.17},
 {'localDate': '20200705',
  'closePrice': 1358.73,
  'openPrice': 0,
  'highPrice': 1358.73,
  'lowPrice': 1354.23},
 {'localDate': '20200712',
  'closePrice': 1360.5,
  'openPrice': 0,
  'highPrice': 1360.5,
  'lowPrice': 1359.05},
 {'localDate': '20200719',
  'closePrice': 1361.22,
  'openPrice': 0,
  'highPrice': 1361.22,
  'lowPrice': 1360.7},
 {'localDate': '20200726',
  'closePrice': 1361.1,
  'openPrice': 0,
  'highPrice': 1361.13,
  'lowPrice': 1360.98},
 {'localDate': '20200802',
  'closePrice': 1361.2,
  'openPrice': 0,
  'highPrice': 1361.2,
  'lowPrice': 1360.8},
 {'localDate': '20200809',
  'closePrice': 1361.02,
  'openPrice': 0,
  'highPrice': 1361.3,
  'lowPrice': 1360.97},
 {'localDate': '20200816',
  'closePrice': 1361.22,
  'openPrice': 0,
  'highPrice': 1361.22,
  'lowPrice': 1361.02},
 {'localDate': '20200823',
  'closePrice': 1361.19,
  'openPrice': 0,
  'highPrice': 1361.28,
  'lowPrice': 1361.19},
 {'localDate': '20200830',
  'closePrice': 1360.77,
  'openPrice': 0,
  'highPrice': 1361.16,
  'lowPrice': 1360.74},
 {'localDate': '20200906',
  'closePrice': 1360.1,
  'openPrice': 0,
  'highPrice': 1360.66,
  'lowPrice': 1360.1},
 {'localDate': '20200913',
  'closePrice': 1355.88,
  'openPrice': 0,
  'highPrice': 1359.89,
  'lowPrice': 1355.88},
 {'localDate': '20200920',
  'closePrice': 1349.23,
  'openPrice': 0,
  'highPrice': 1355.33,
  'lowPrice': 1349.23},
 {'localDate': '20200927',
  'closePrice': 1343.59,
  'openPrice': 0,
  'highPrice': 1348.45,
  'lowPrice': 1343.59},
 {'localDate': '20201004',
  'closePrice': 1340.17,
  'openPrice': 0,
  'highPrice': 1343.08,
  'lowPrice': 1340.17},
 {'localDate': '20201011',
  'closePrice': 1335.61,
  'openPrice': 0,
  'highPrice': 1339.39,
  'lowPrice': 1335.61},
 {'localDate': '20201018',
  'closePrice': 1332.39,
  'openPrice': 0,
  'highPrice': 1335.22,
  'lowPrice': 1332.39},
 {'localDate': '20201025',
  'closePrice': 1329.03,
  'openPrice': 0,
  'highPrice': 1332,
  'lowPrice': 1329.03},
 {'localDate': '20201101',
  'closePrice': 1324.31,
  'openPrice': 0,
  'highPrice': 1328.5,
  'lowPrice': 1324.31},
 {'localDate': '20201108',
  'closePrice': 1319.09,
  'openPrice': 0,
  'highPrice': 1323.37,
  'lowPrice': 1319.09},
 {'localDate': '20201115',
  'closePrice': 1317.55,
  'openPrice': 0,
  'highPrice': 1318.65,
  'lowPrice': 1317.55},
 {'localDate': '20201122',
  'closePrice': 1317.96,
  'openPrice': 0,
  'highPrice': 1317.96,
  'lowPrice': 1317.12},
 {'localDate': '20201129',
  'closePrice': 1324.04,
  'openPrice': 0,
  'highPrice': 1324.04,
  'lowPrice': 1318.08},
 {'localDate': '20201206',
  'closePrice': 1335.01,
  'openPrice': 0,
  'highPrice': 1335.01,
  'lowPrice': 1324.99},
 {'localDate': '20201213',
  'closePrice': 1351.6,
  'openPrice': 0,
  'highPrice': 1351.6,
  'lowPrice': 1336.78},
 {'localDate': '20201220',
  'closePrice': 1380.09,
  'openPrice': 0,
  'highPrice': 1380.09,
  'lowPrice': 1354.07},
 {'localDate': '20201227',
  'closePrice': 1406.84,
  'openPrice': 0,
  'highPrice': 1406.84,
  'lowPrice': 1384.6},
 {'localDate': '20210103',
  'closePrice': 1426.61,
  'openPrice': 0,
  'highPrice': 1426.61,
  'lowPrice': 1409.66},
 {'localDate': '20210110',
  'closePrice': 1436.72,
  'openPrice': 0,
  'highPrice': 1436.72,
  'lowPrice': 1428.38},
 {'localDate': '20210117',
  'closePrice': 1445.38,
  'openPrice': 0,
  'highPrice': 1445.38,
  'lowPrice': 1437.87},
 {'localDate': '20210124',
  'closePrice': 1449.89,
  'openPrice': 0,
  'highPrice': 1449.89,
  'lowPrice': 1446.24},
 {'localDate': '20210131',
  'closePrice': 1451.48,
  'openPrice': 0,
  'highPrice': 1451.48,
  'lowPrice': 1450.3},
 {'localDate': '20210207',
  'closePrice': 1453.65,
  'openPrice': 0,
  'highPrice': 1453.65,
  'lowPrice': 1451.92},
 {'localDate': '20210214',
  'closePrice': 1459.89,
  'openPrice': 0,
  'highPrice': 1459.89,
  'lowPrice': 1454.21},
 {'localDate': '20210221',
  'closePrice': 1470.6,
  'openPrice': 0,
  'highPrice': 1470.6,
  'lowPrice': 1461.05},
 {'localDate': '20210228',
  'closePrice': 1479.89,
  'openPrice': 0,
  'highPrice': 1479.89,
  'lowPrice': 1471.81},
 {'localDate': '20210307',
  'closePrice': 1492.4,
  'openPrice': 0,
  'highPrice': 1492.4,
  'lowPrice': 1481.75},
 {'localDate': '20210314',
  'closePrice': 1511.67,
  'openPrice': 0,
  'highPrice': 1511.67,
  'lowPrice': 1495.17},
 {'localDate': '20210321',
  'closePrice': 1527.39,
  'openPrice': 0,
  'highPrice': 1527.39,
  'lowPrice': 1514.37},
 {'localDate': '20210328',
  'closePrice': 1533.22,
  'openPrice': 0,
  'highPrice': 1533.22,
  'lowPrice': 1528.71},
 {'localDate': '20210404',
  'closePrice': 1534.93,
  'openPrice': 0,
  'highPrice': 1534.93,
  'lowPrice': 1533.49},
 {'localDate': '20210411',
  'closePrice': 1534.95,
  'openPrice': 0,
  'highPrice': 1535.06,
  'lowPrice': 1534.9},

In [ ]:
import pandas as pd

OIL_GSL1 = pd.DataFrame(datas)
OIL_GSL1

    localDate  closePrice  openPrice  highPrice  lowPrice
0    20180114     1550.16          0    1550.16   1547.49
1    20180121     1554.19          0    1554.19   1550.69
2    20180128     1558.12          0    1558.12   1554.73
3    20180204     1562.80          0    1562.80   1558.67
4    20180211     1565.34          0    1565.34   1563.14
..        ...         ...        ...        ...       ...
257  20221218     1543.06          0    1575.81   1543.06
258  20221225     1528.34          0    1539.79   1528.34
259  20230101     1542.24          0    1542.24   1526.00
260  20230108     1562.95          0    1562.95   1550.94
261  20230112     1560.38          0    1563.12   1560.38

[262 rows x 5 columns]

In [ ]:
OIL_GSL_5 = OIL_GSL1.drop(['openPrice', 'closePrice'], axis = 1) # openPrice, closePrice 삭제
OIL_GSL_5

    localDate  highPrice  lowPrice
0    20180114    1550.16   1547.49
1    20180121    1554.19   1550.69
2    20180128    1558.12   1554.73
3    20180204    1562.80   1558.67
4    20180211    1565.34   1563.14
..        ...        ...       ...
257  20221218    1575.81   1543.06
258  20221225    1539.79   1528.34
259  20230101    1542.24   1526.00
260  20230108    1562.95   1550.94
261  20230112    1563.12   1560.38

[262 rows x 3 columns]

In [ ]:
OIL_GSL1_2019 = OIL_GSL_5[:]
OIL_GSL2_2019 = OIL_GSL1_2019.loc[(OIL_GSL1_2019['localDate'] <= "20191231") & (OIL_GSL1_2019['localDate'] >= "20190101")]
OIL_GSL2_2019['highPrice'].astype('float')
OIL_GSL2_2019['lowPrice'].astype('float')
OIL_GSL2_2019['price'] = (OIL_GSL2_2019['highPrice'] + OIL_GSL2_2019['lowPrice']) / 2
OIL_GSL2_2019['sum'] = OIL_GSL2_2019['price'].sum(axis = 0)
OIL_GSL2_2019['average'] = OIL_GSL2_2019['sum'].div(52)

<ipython-input-80-b1070e05b0ec>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_GSL2_2019['price'] = (OIL_GSL2_2019['highPrice'] + OIL_GSL2_2019['lowPrice']) / 2

    localDate  highPrice  lowPrice     price
51   20190106    1379.77   1359.60  1369.685
52   20190113    1357.21   1349.16  1353.185
53   20190120    1348.54   1345.60  1347.070
54   20190127    1345.59   1344.93  1345.260
55   20190203    1344.93   1344.15  1344.540
56   20190210    1344.13   1343.13  1343.630
57   20190217    1342.93   1342.24  1342.585
58   20190224    1344.64   1342.75  1343.695
59   20190303    1349.18   1345.21  1347.195
60   20190310    1355.69   1349.54  1352.615
61   20190317    1370.93   1356.86  1363.895
62   20190324    1384.72   1372.96  1378.840
63   20190331    1394.19   1386.32  1390.255
64   20190407    1405.01   1396.21  1400.610
65   20190414    1417.96   1406.37  1412.165
66   20190421    1435.18   1420.05  1427.615
67   20190428    1453.81   1437.68  1445.745
68   20190505    1475.12   1456.22  1465.670
69   20190512    1523.16   1477.24  1500.200
70   20190519    1530.36   1524.45  1527.405
71   20190526    1535.43   1531.06  1533.245
72   20190602    1537.08   1535.83  1536.455
73   20190609    1536.17   1531.00  1533.585
74   20190616    1530.06   1517.30  1523.680
75   20190623    1515.21   1503.57  1509.390
76   20190630    1502.41   1497.59  1500.000
77   20190707    1496.52   1491.97  1494.245
78   20190714    1491.59   1489.97  1490.780
79   20190721    1490.49   1490.25  1490.370
80   20190728    1491.37   1490.50  1490.935
81   20190804    1493.82   1491.57  1492.695
82   20190811    1494.13   1493.53  1493.830
83   20190818    1493.54   1493.16  1493.350
84   20190825    1493.42   1492.94  1493.180
85   20190901    1509.16   1493.73  1501.445
86   20190908    1522.62   1515.30  1518.960
87   20190915    1525.21   1522.87  1524.040
88   20190922    1536.66   1526.28  1531.470
89   20190929    1542.69   1537.63  1540.160
90   20191006    1543.55   1543.00  1543.275
91   20191013    1542.95   1541.72  1542.335
92   20191020    1541.60   1539.51  1540.555
93   20191027    1539.27   1537.42  1538.345
94   20191103    1537.26   1535.75  1536.505
95   20191110    1535.60   1534.22  1534.910
96   20191117    1535.14   1534.28  1534.710
97   20191124    1536.62   1535.30  1535.960
98   20191201    1538.90   1536.84  1537.870
99   20191208    1542.64   1539.22  1540.930
100  20191215    1547.67   1543.34  1545.505
101  20191222    1552.58   1548.42  1550.500
102  20191229    1557.19   1553.15  1555.170

In [ ]:
OIL_GSL1_2019 = OIL_GSL_5[:]
OIL_GSL2_2019 = OIL_GSL1_2019.loc[(OIL_GSL1_2019['localDate'] <= "20191231") & (OIL_GSL1_2019['localDate'] >= "20190101")]

OIL_GSL2_2019

    localDate  highPrice  lowPrice
51   20190106    1379.77   1359.60
52   20190113    1357.21   1349.16
53   20190120    1348.54   1345.60
54   20190127    1345.59   1344.93
55   20190203    1344.93   1344.15
56   20190210    1344.13   1343.13
57   20190217    1342.93   1342.24
58   20190224    1344.64   1342.75
59   20190303    1349.18   1345.21
60   20190310    1355.69   1349.54
61   20190317    1370.93   1356.86
62   20190324    1384.72   1372.96
63   20190331    1394.19   1386.32
64   20190407    1405.01   1396.21
65   20190414    1417.96   1406.37
66   20190421    1435.18   1420.05
67   20190428    1453.81   1437.68
68   20190505    1475.12   1456.22
69   20190512    1523.16   1477.24
70   20190519    1530.36   1524.45
71   20190526    1535.43   1531.06
72   20190602    1537.08   1535.83
73   20190609    1536.17   1531.00
74   20190616    1530.06   1517.30
75   20190623    1515.21   1503.57
76   20190630    1502.41   1497.59
77   20190707    1496.52   1491.97
78   20190714    1491.59   1489.97
79   20190721    1490.49   1490.25
80   20190728    1491.37   1490.50
81   20190804    1493.82   1491.57
82   20190811    1494.13   1493.53
83   20190818    1493.54   1493.16
84   20190825    1493.42   1492.94
85   20190901    1509.16   1493.73
86   20190908    1522.62   1515.30
87   20190915    1525.21   1522.87
88   20190922    1536.66   1526.28
89   20190929    1542.69   1537.63
90   20191006    1543.55   1543.00
91   20191013    1542.95   1541.72
92   20191020    1541.60   1539.51
93   20191027    1539.27   1537.42
94   20191103    1537.26   1535.75
95   20191110    1535.60   1534.22
96   20191117    1535.14   1534.28
97   20191124    1536.62   1535.30
98   20191201    1538.90   1536.84
99   20191208    1542.64   1539.22
100  20191215    1547.67   1543.34
101  20191222    1552.58   1548.42
102  20191229    1557.19   1553.15

In [ ]:
OIL_GSL2_2019['price'] = OIL_GSL2_2019.mean(axis = 1)
OIL_GSL2_2019

<ipython-input-7-237efd2616d6>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  OIL_GSL2_2019['price'] = OIL_GSL2_2019.mean(axis = 1)
<ipython-input-7-237efd2616d6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_GSL2_2019['price'] = OIL_GSL2_2019.mean(axis = 1)

    localDate  highPrice  lowPrice     price
51   20190106    1379.77   1359.60  1369.685
52   20190113    1357.21   1349.16  1353.185
53   20190120    1348.54   1345.60  1347.070
54   20190127    1345.59   1344.93  1345.260
55   20190203    1344.93   1344.15  1344.540
56   20190210    1344.13   1343.13  1343.630
57   20190217    1342.93   1342.24  1342.585
58   20190224    1344.64   1342.75  1343.695
59   20190303    1349.18   1345.21  1347.195
60   20190310    1355.69   1349.54  1352.615
61   20190317    1370.93   1356.86  1363.895
62   20190324    1384.72   1372.96  1378.840
63   20190331    1394.19   1386.32  1390.255
64   20190407    1405.01   1396.21  1400.610
65   20190414    1417.96   1406.37  1412.165
66   20190421    1435.18   1420.05  1427.615
67   20190428    1453.81   1437.68  1445.745
68   20190505    1475.12   1456.22  1465.670
69   20190512    1523.16   1477.24  1500.200
70   20190519    1530.36   1524.45  1527.405
71   20190526    1535.43   1531.06  1533.245
72   20190602    1537.08   1535.83  1536.455
73   20190609    1536.17   1531.00  1533.585
74   20190616    1530.06   1517.30  1523.680
75   20190623    1515.21   1503.57  1509.390
76   20190630    1502.41   1497.59  1500.000
77   20190707    1496.52   1491.97  1494.245
78   20190714    1491.59   1489.97  1490.780
79   20190721    1490.49   1490.25  1490.370
80   20190728    1491.37   1490.50  1490.935
81   20190804    1493.82   1491.57  1492.695
82   20190811    1494.13   1493.53  1493.830
83   20190818    1493.54   1493.16  1493.350
84   20190825    1493.42   1492.94  1493.180
85   20190901    1509.16   1493.73  1501.445
86   20190908    1522.62   1515.30  1518.960
87   20190915    1525.21   1522.87  1524.040
88   20190922    1536.66   1526.28  1531.470
89   20190929    1542.69   1537.63  1540.160
90   20191006    1543.55   1543.00  1543.275
91   20191013    1542.95   1541.72  1542.335
92   20191020    1541.60   1539.51  1540.555
93   20191027    1539.27   1537.42  1538.345
94   20191103    1537.26   1535.75  1536.505
95   20191110    1535.60   1534.22  1534.910
96   20191117    1535.14   1534.28  1534.710
97   20191124    1536.62   1535.30  1535.960
98   20191201    1538.90   1536.84  1537.870
99   20191208    1542.64   1539.22  1540.930
100  20191215    1547.67   1543.34  1545.505
101  20191222    1552.58   1548.42  1550.500
102  20191229    1557.19   1553.15  1555.170

In [ ]:
OIL_GSL2_2019['sum'] = OIL_GSL2_2019['price'].sum(axis = 0)
OIL_GSL2_2019

<ipython-input-8-a656ea5e1b3d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_GSL2_2019['sum'] = OIL_GSL2_2019['price'].sum(axis = 0)

    localDate  highPrice  lowPrice     price        sum
51   20190106    1379.77   1359.60  1369.685  76530.245
52   20190113    1357.21   1349.16  1353.185  76530.245
53   20190120    1348.54   1345.60  1347.070  76530.245
54   20190127    1345.59   1344.93  1345.260  76530.245
55   20190203    1344.93   1344.15  1344.540  76530.245
56   20190210    1344.13   1343.13  1343.630  76530.245
57   20190217    1342.93   1342.24  1342.585  76530.245
58   20190224    1344.64   1342.75  1343.695  76530.245
59   20190303    1349.18   1345.21  1347.195  76530.245
60   20190310    1355.69   1349.54  1352.615  76530.245
61   20190317    1370.93   1356.86  1363.895  76530.245
62   20190324    1384.72   1372.96  1378.840  76530.245
63   20190331    1394.19   1386.32  1390.255  76530.245
64   20190407    1405.01   1396.21  1400.610  76530.245
65   20190414    1417.96   1406.37  1412.165  76530.245
66   20190421    1435.18   1420.05  1427.615  76530.245
67   20190428    1453.81   1437.68  1445.745  76530.245
68   20190505    1475.12   1456.22  1465.670  76530.245
69   20190512    1523.16   1477.24  1500.200  76530.245
70   20190519    1530.36   1524.45  1527.405  76530.245
71   20190526    1535.43   1531.06  1533.245  76530.245
72   20190602    1537.08   1535.83  1536.455  76530.245
73   20190609    1536.17   1531.00  1533.585  76530.245
74   20190616    1530.06   1517.30  1523.680  76530.245
75   20190623    1515.21   1503.57  1509.390  76530.245
76   20190630    1502.41   1497.59  1500.000  76530.245
77   20190707    1496.52   1491.97  1494.245  76530.245
78   20190714    1491.59   1489.97  1490.780  76530.245
79   20190721    1490.49   1490.25  1490.370  76530.245
80   20190728    1491.37   1490.50  1490.935  76530.245
81   20190804    1493.82   1491.57  1492.695  76530.245
82   20190811    1494.13   1493.53  1493.830  76530.245
83   20190818    1493.54   1493.16  1493.350  76530.245
84   20190825    1493.42   1492.94  1493.180  76530.245
85   20190901    1509.16   1493.73  1501.445  76530.245
86   20190908    1522.62   1515.30  1518.960  76530.245
87   20190915    1525.21   1522.87  1524.040  76530.245
88   20190922    1536.66   1526.28  1531.470  76530.245
89   20190929    1542.69   1537.63  1540.160  76530.245
90   20191006    1543.55   1543.00  1543.275  76530.245
91   20191013    1542.95   1541.72  1542.335  76530.245
92   20191020    1541.60   1539.51  1540.555  76530.245
93   20191027    1539.27   1537.42  1538.345  76530.245
94   20191103    1537.26   1535.75  1536.505  76530.245
95   20191110    1535.60   1534.22  1534.910  76530.245
96   20191117    1535.14   1534.28  1534.710  76530.245
97   20191124    1536.62   1535.30  1535.960  76530.245
98   20191201    1538.90   1536.84  1537.870  76530.245
99   20191208    1542.64   1539.22  1540.930  76530.245
100  20191215    1547.67   1543.34  1545.505  76530.245
101  20191222    1552.58   1548.42  1550.500  76530.245
102  20191229    1557.19   1553.15  1555.170  76530.245

In [ ]:
OIL_GSL2_2019['average'] = OIL_GSL2_2019['sum'].div(52)
OIL_GSL2_2019

<ipython-input-9-f150bb17b11c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_GSL2_2019['average'] = OIL_GSL2_2019['sum'].div(52)

    localDate  highPrice  lowPrice     price        sum      average
51   20190106    1379.77   1359.60  1369.685  76530.245  1471.735481
52   20190113    1357.21   1349.16  1353.185  76530.245  1471.735481
53   20190120    1348.54   1345.60  1347.070  76530.245  1471.735481
54   20190127    1345.59   1344.93  1345.260  76530.245  1471.735481
55   20190203    1344.93   1344.15  1344.540  76530.245  1471.735481
56   20190210    1344.13   1343.13  1343.630  76530.245  1471.735481
57   20190217    1342.93   1342.24  1342.585  76530.245  1471.735481
58   20190224    1344.64   1342.75  1343.695  76530.245  1471.735481
59   20190303    1349.18   1345.21  1347.195  76530.245  1471.735481
60   20190310    1355.69   1349.54  1352.615  76530.245  1471.735481
61   20190317    1370.93   1356.86  1363.895  76530.245  1471.735481
62   20190324    1384.72   1372.96  1378.840  76530.245  1471.735481
63   20190331    1394.19   1386.32  1390.255  76530.245  1471.735481
64   20190407    1405.01   1396.21  1400.610  76530.245  1471.735481
65   20190414    1417.96   1406.37  1412.165  76530.245  1471.735481
66   20190421    1435.18   1420.05  1427.615  76530.245  1471.735481
67   20190428    1453.81   1437.68  1445.745  76530.245  1471.735481
68   20190505    1475.12   1456.22  1465.670  76530.245  1471.735481
69   20190512    1523.16   1477.24  1500.200  76530.245  1471.735481
70   20190519    1530.36   1524.45  1527.405  76530.245  1471.735481
71   20190526    1535.43   1531.06  1533.245  76530.245  1471.735481
72   20190602    1537.08   1535.83  1536.455  76530.245  1471.735481
73   20190609    1536.17   1531.00  1533.585  76530.245  1471.735481
74   20190616    1530.06   1517.30  1523.680  76530.245  1471.735481
75   20190623    1515.21   1503.57  1509.390  76530.245  1471.735481
76   20190630    1502.41   1497.59  1500.000  76530.245  1471.735481
77   20190707    1496.52   1491.97  1494.245  76530.245  1471.735481
78   20190714    1491.59   1489.97  1490.780  76530.245  1471.735481
79   20190721    1490.49   1490.25  1490.370  76530.245  1471.735481
80   20190728    1491.37   1490.50  1490.935  76530.245  1471.735481
81   20190804    1493.82   1491.57  1492.695  76530.245  1471.735481
82   20190811    1494.13   1493.53  1493.830  76530.245  1471.735481
83   20190818    1493.54   1493.16  1493.350  76530.245  1471.735481
84   20190825    1493.42   1492.94  1493.180  76530.245  1471.735481
85   20190901    1509.16   1493.73  1501.445  76530.245  1471.735481
86   20190908    1522.62   1515.30  1518.960  76530.245  1471.735481
87   20190915    1525.21   1522.87  1524.040  76530.245  1471.735481
88   20190922    1536.66   1526.28  1531.470  76530.245  1471.735481
89   20190929    1542.69   1537.63  1540.160  76530.245  1471.735481
90   20191006    1543.55   1543.00  1543.275  76530.245  1471.735481
91   20191013    1542.95   1541.72  1542.335  76530.245  1471.735481
92   20191020    1541.60   1539.51  1540.555  76530.245  1471.735481
93   20191027    1539.27   1537.42  1538.345  76530.245  1471.735481
94   20191103    1537.26   1535.75  1536.505  76530.245  1471.735481
95   20191110    1535.60   1534.22  1534.910  76530.245  1471.735481
96   20191117    1535.14   1534.28  1534.710  76530.245  1471.735481
97   20191124    1536.62   1535.30  1535.960  76530.245  1471.735481
98   20191201    1538.90   1536.84  1537.870  76530.245  1471.735481
99   20191208    1542.64   1539.22  1540.930  76530.245  1471.735481
100  20191215    1547.67   1543.34  1545.505  76530.245  1471.735481
101  20191222    1552.58   1548.42  1550.500  76530.245  1471.735481
102  20191229    1557.19   1553.15  1555.170  76530.245  1471.735481

In [ ]:

OIL_GSL2_2019['localDate'] = OIL_GSL2_2019['localDate'].astype('float') # 문자열을 float으로 변환
OIL_GSL2_2019['highPrice'] = OIL_GSL2_2019['highPrice'].astype('float') # 문자열을 float으로 변환
OIL_GSL2_2019['lowPrice'] = OIL_GSL2_2019['lowPrice'].astype('float') # 문자열을 float으로 변환
OIL_GSL2_2019['price'] = OIL_GSL2_2019['price'].astype('float') # 문자열을 float으로 변환

OIL_GSL2_2019.dtypes # 확인

<ipython-input-10-41df3e051a31>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_GSL2_2019['localDate'] = OIL_GSL2_2019['localDate'].astype('float') # 문자열을 float으로 변환
<ipython-input-10-41df3e051a31>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_GSL2_2019['highPrice'] = OIL_GSL2_2019['highPrice'].astype('float') # 문자열을 float으로 변환
<ipython-input-10-41df3e051a31>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_GSL2_2019['lowPrice'] = OIL_GSL2_2019['lowPrice'].astype('float') # 문자열을 float으로 변환
<ipython-input-10-41df3e051a31>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_GSL2_2019['price'] = OIL_GSL2_2019['price'].astype('float') # 문자열을 float으로 변환

localDate    float64
highPrice    float64
lowPrice     float64
price        float64
sum          float64
average      float64
dtype: object

In [ ]:
OIL_GSL3_2019 = OIL_GSL2_2019.drop(['localDate', 'highPrice', 'lowPrice', 'price', 'sum'], axis = 1)
OIL_GSL4_2019 = OIL_GSL3_2019.reset_index(drop = True)

OIL_GSL4_2019

        average
0   1471.735481
1   1471.735481
2   1471.735481
3   1471.735481
4   1471.735481
5   1471.735481
6   1471.735481
7   1471.735481
8   1471.735481
9   1471.735481
10  1471.735481
11  1471.735481
12  1471.735481
13  1471.735481
14  1471.735481
15  1471.735481
16  1471.735481
17  1471.735481
18  1471.735481
19  1471.735481
20  1471.735481
21  1471.735481
22  1471.735481
23  1471.735481
24  1471.735481
25  1471.735481
26  1471.735481
27  1471.735481
28  1471.735481
29  1471.735481
30  1471.735481
31  1471.735481
32  1471.735481
33  1471.735481
34  1471.735481
35  1471.735481
36  1471.735481
37  1471.735481
38  1471.735481
39  1471.735481
40  1471.735481
41  1471.735481
42  1471.735481
43  1471.735481
44  1471.735481
45  1471.735481
46  1471.735481
47  1471.735481
48  1471.735481
49  1471.735481
50  1471.735481
51  1471.735481

In [ ]:
OIL_GSL_2019 = OIL_GSL4_2019.iloc[0]
OIL_GSL_2019

average    1471.735481
Name: 0, dtype: float64

In [ ]:
OIL_GSL1_2020 = OIL_GSL_5[:]

OIL_GSL2_2020 = OIL_GSL1_2020.loc[(OIL_GSL1_2020['localDate'] <= "20201231") & (OIL_GSL1_2020['localDate'] >= "20200101")]

OIL_GSL2_2020

    localDate  highPrice  lowPrice
103  20200105    1562.34   1557.74
104  20200112    1570.36   1563.32
105  20200119    1571.56   1570.97
106  20200126    1571.26   1570.91
107  20200202    1570.53   1565.92
108  20200209    1564.89   1556.89
109  20200216    1555.51   1541.95
110  20200223    1540.38   1532.62
111  20200301    1531.73   1523.52
112  20200308    1521.76   1510.79
113  20200315    1508.65   1484.04
114  20200322    1480.14   1442.55
115  20200329    1437.38   1403.83
116  20200405    1398.93   1366.27
117  20200412    1362.90   1338.45
118  20200419    1335.31   1311.41
119  20200426    1307.27   1282.05
120  20200503    1278.80   1261.66
121  20200510    1259.84   1251.08
122  20200517    1250.02   1247.53
123  20200524    1254.15   1248.09
124  20200531    1269.84   1255.46
125  20200607    1294.66   1273.49
126  20200614    1324.22   1299.38
127  20200621    1341.83   1327.00
128  20200628    1353.19   1344.17
129  20200705    1358.73   1354.23
130  20200712    1360.50   1359.05
131  20200719    1361.22   1360.70
132  20200726    1361.13   1360.98
133  20200802    1361.20   1360.80
134  20200809    1361.30   1360.97
135  20200816    1361.22   1361.02
136  20200823    1361.28   1361.19
137  20200830    1361.16   1360.74
138  20200906    1360.66   1360.10
139  20200913    1359.89   1355.88
140  20200920    1355.33   1349.23
141  20200927    1348.45   1343.59
142  20201004    1343.08   1340.17
143  20201011    1339.39   1335.61
144  20201018    1335.22   1332.39
145  20201025    1332.00   1329.03
146  20201101    1328.50   1324.31
147  20201108    1323.37   1319.09
148  20201115    1318.65   1317.55
149  20201122    1317.96   1317.12
150  20201129    1324.04   1318.08
151  20201206    1335.01   1324.99
152  20201213    1351.60   1336.78
153  20201220    1380.09   1354.07
154  20201227    1406.84   1384.60

In [ ]:
OIL_GSL2_2020['price'] = OIL_GSL2_2020.mean(axis = 1)
OIL_GSL2_2020

<ipython-input-14-6a92a1e9841a>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  OIL_GSL2_2020['price'] = OIL_GSL2_2020.mean(axis = 1)
<ipython-input-14-6a92a1e9841a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_GSL2_2020['price'] = OIL_GSL2_2020.mean(axis = 1)

    localDate  highPrice  lowPrice     price
103  20200105    1562.34   1557.74  1560.040
104  20200112    1570.36   1563.32  1566.840
105  20200119    1571.56   1570.97  1571.265
106  20200126    1571.26   1570.91  1571.085
107  20200202    1570.53   1565.92  1568.225
108  20200209    1564.89   1556.89  1560.890
109  20200216    1555.51   1541.95  1548.730
110  20200223    1540.38   1532.62  1536.500
111  20200301    1531.73   1523.52  1527.625
112  20200308    1521.76   1510.79  1516.275
113  20200315    1508.65   1484.04  1496.345
114  20200322    1480.14   1442.55  1461.345
115  20200329    1437.38   1403.83  1420.605
116  20200405    1398.93   1366.27  1382.600
117  20200412    1362.90   1338.45  1350.675
118  20200419    1335.31   1311.41  1323.360
119  20200426    1307.27   1282.05  1294.660
120  20200503    1278.80   1261.66  1270.230
121  20200510    1259.84   1251.08  1255.460
122  20200517    1250.02   1247.53  1248.775
123  20200524    1254.15   1248.09  1251.120
124  20200531    1269.84   1255.46  1262.650
125  20200607    1294.66   1273.49  1284.075
126  20200614    1324.22   1299.38  1311.800
127  20200621    1341.83   1327.00  1334.415
128  20200628    1353.19   1344.17  1348.680
129  20200705    1358.73   1354.23  1356.480
130  20200712    1360.50   1359.05  1359.775
131  20200719    1361.22   1360.70  1360.960
132  20200726    1361.13   1360.98  1361.055
133  20200802    1361.20   1360.80  1361.000
134  20200809    1361.30   1360.97  1361.135
135  20200816    1361.22   1361.02  1361.120
136  20200823    1361.28   1361.19  1361.235
137  20200830    1361.16   1360.74  1360.950
138  20200906    1360.66   1360.10  1360.380
139  20200913    1359.89   1355.88  1357.885
140  20200920    1355.33   1349.23  1352.280
141  20200927    1348.45   1343.59  1346.020
142  20201004    1343.08   1340.17  1341.625
143  20201011    1339.39   1335.61  1337.500
144  20201018    1335.22   1332.39  1333.805
145  20201025    1332.00   1329.03  1330.515
146  20201101    1328.50   1324.31  1326.405
147  20201108    1323.37   1319.09  1321.230
148  20201115    1318.65   1317.55  1318.100
149  20201122    1317.96   1317.12  1317.540
150  20201129    1324.04   1318.08  1321.060
151  20201206    1335.01   1324.99  1330.000
152  20201213    1351.60   1336.78  1344.190
153  20201220    1380.09   1354.07  1367.080
154  20201227    1406.84   1384.60  1395.720

In [ ]:
OIL_GSL2_2020['sum'] = OIL_GSL2_2020['price'].sum(axis = 0)
OIL_GSL2_2020

<ipython-input-15-db48bfd65d85>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_GSL2_2020['sum'] = OIL_GSL2_2020['price'].sum(axis = 0)

    localDate  highPrice  lowPrice     price        sum
103  20200105    1562.34   1557.74  1560.040  71869.315
104  20200112    1570.36   1563.32  1566.840  71869.315
105  20200119    1571.56   1570.97  1571.265  71869.315
106  20200126    1571.26   1570.91  1571.085  71869.315
107  20200202    1570.53   1565.92  1568.225  71869.315
108  20200209    1564.89   1556.89  1560.890  71869.315
109  20200216    1555.51   1541.95  1548.730  71869.315
110  20200223    1540.38   1532.62  1536.500  71869.315
111  20200301    1531.73   1523.52  1527.625  71869.315
112  20200308    1521.76   1510.79  1516.275  71869.315
113  20200315    1508.65   1484.04  1496.345  71869.315
114  20200322    1480.14   1442.55  1461.345  71869.315
115  20200329    1437.38   1403.83  1420.605  71869.315
116  20200405    1398.93   1366.27  1382.600  71869.315
117  20200412    1362.90   1338.45  1350.675  71869.315
118  20200419    1335.31   1311.41  1323.360  71869.315
119  20200426    1307.27   1282.05  1294.660  71869.315
120  20200503    1278.80   1261.66  1270.230  71869.315
121  20200510    1259.84   1251.08  1255.460  71869.315
122  20200517    1250.02   1247.53  1248.775  71869.315
123  20200524    1254.15   1248.09  1251.120  71869.315
124  20200531    1269.84   1255.46  1262.650  71869.315
125  20200607    1294.66   1273.49  1284.075  71869.315
126  20200614    1324.22   1299.38  1311.800  71869.315
127  20200621    1341.83   1327.00  1334.415  71869.315
128  20200628    1353.19   1344.17  1348.680  71869.315
129  20200705    1358.73   1354.23  1356.480  71869.315
130  20200712    1360.50   1359.05  1359.775  71869.315
131  20200719    1361.22   1360.70  1360.960  71869.315
132  20200726    1361.13   1360.98  1361.055  71869.315
133  20200802    1361.20   1360.80  1361.000  71869.315
134  20200809    1361.30   1360.97  1361.135  71869.315
135  20200816    1361.22   1361.02  1361.120  71869.315
136  20200823    1361.28   1361.19  1361.235  71869.315
137  20200830    1361.16   1360.74  1360.950  71869.315
138  20200906    1360.66   1360.10  1360.380  71869.315
139  20200913    1359.89   1355.88  1357.885  71869.315
140  20200920    1355.33   1349.23  1352.280  71869.315
141  20200927    1348.45   1343.59  1346.020  71869.315
142  20201004    1343.08   1340.17  1341.625  71869.315
143  20201011    1339.39   1335.61  1337.500  71869.315
144  20201018    1335.22   1332.39  1333.805  71869.315
145  20201025    1332.00   1329.03  1330.515  71869.315
146  20201101    1328.50   1324.31  1326.405  71869.315
147  20201108    1323.37   1319.09  1321.230  71869.315
148  20201115    1318.65   1317.55  1318.100  71869.315
149  20201122    1317.96   1317.12  1317.540  71869.315
150  20201129    1324.04   1318.08  1321.060  71869.315
151  20201206    1335.01   1324.99  1330.000  71869.315
152  20201213    1351.60   1336.78  1344.190  71869.315
153  20201220    1380.09   1354.07  1367.080  71869.315
154  20201227    1406.84   1384.60  1395.720  71869.315

In [ ]:
OIL_GSL2_2020['average'] = OIL_GSL2_2020['sum'].div(52)
OIL_GSL2_2020

<ipython-input-16-7cfb49edb3cc>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_GSL2_2020['average'] = OIL_GSL2_2020['sum'].div(52)

    localDate  highPrice  lowPrice     price        sum      average
103  20200105    1562.34   1557.74  1560.040  71869.315  1382.102212
104  20200112    1570.36   1563.32  1566.840  71869.315  1382.102212
105  20200119    1571.56   1570.97  1571.265  71869.315  1382.102212
106  20200126    1571.26   1570.91  1571.085  71869.315  1382.102212
107  20200202    1570.53   1565.92  1568.225  71869.315  1382.102212
108  20200209    1564.89   1556.89  1560.890  71869.315  1382.102212
109  20200216    1555.51   1541.95  1548.730  71869.315  1382.102212
110  20200223    1540.38   1532.62  1536.500  71869.315  1382.102212
111  20200301    1531.73   1523.52  1527.625  71869.315  1382.102212
112  20200308    1521.76   1510.79  1516.275  71869.315  1382.102212
113  20200315    1508.65   1484.04  1496.345  71869.315  1382.102212
114  20200322    1480.14   1442.55  1461.345  71869.315  1382.102212
115  20200329    1437.38   1403.83  1420.605  71869.315  1382.102212
116  20200405    1398.93   1366.27  1382.600  71869.315  1382.102212
117  20200412    1362.90   1338.45  1350.675  71869.315  1382.102212
118  20200419    1335.31   1311.41  1323.360  71869.315  1382.102212
119  20200426    1307.27   1282.05  1294.660  71869.315  1382.102212
120  20200503    1278.80   1261.66  1270.230  71869.315  1382.102212
121  20200510    1259.84   1251.08  1255.460  71869.315  1382.102212
122  20200517    1250.02   1247.53  1248.775  71869.315  1382.102212
123  20200524    1254.15   1248.09  1251.120  71869.315  1382.102212
124  20200531    1269.84   1255.46  1262.650  71869.315  1382.102212
125  20200607    1294.66   1273.49  1284.075  71869.315  1382.102212
126  20200614    1324.22   1299.38  1311.800  71869.315  1382.102212
127  20200621    1341.83   1327.00  1334.415  71869.315  1382.102212
128  20200628    1353.19   1344.17  1348.680  71869.315  1382.102212
129  20200705    1358.73   1354.23  1356.480  71869.315  1382.102212
130  20200712    1360.50   1359.05  1359.775  71869.315  1382.102212
131  20200719    1361.22   1360.70  1360.960  71869.315  1382.102212
132  20200726    1361.13   1360.98  1361.055  71869.315  1382.102212
133  20200802    1361.20   1360.80  1361.000  71869.315  1382.102212
134  20200809    1361.30   1360.97  1361.135  71869.315  1382.102212
135  20200816    1361.22   1361.02  1361.120  71869.315  1382.102212
136  20200823    1361.28   1361.19  1361.235  71869.315  1382.102212
137  20200830    1361.16   1360.74  1360.950  71869.315  1382.102212
138  20200906    1360.66   1360.10  1360.380  71869.315  1382.102212
139  20200913    1359.89   1355.88  1357.885  71869.315  1382.102212
140  20200920    1355.33   1349.23  1352.280  71869.315  1382.102212
141  20200927    1348.45   1343.59  1346.020  71869.315  1382.102212
142  20201004    1343.08   1340.17  1341.625  71869.315  1382.102212
143  20201011    1339.39   1335.61  1337.500  71869.315  1382.102212
144  20201018    1335.22   1332.39  1333.805  71869.315  1382.102212
145  20201025    1332.00   1329.03  1330.515  71869.315  1382.102212
146  20201101    1328.50   1324.31  1326.405  71869.315  1382.102212
147  20201108    1323.37   1319.09  1321.230  71869.315  1382.102212
148  20201115    1318.65   1317.55  1318.100  71869.315  1382.102212
149  20201122    1317.96   1317.12  1317.540  71869.315  1382.102212
150  20201129    1324.04   1318.08  1321.060  71869.315  1382.102212
151  20201206    1335.01   1324.99  1330.000  71869.315  1382.102212
152  20201213    1351.60   1336.78  1344.190  71869.315  1382.102212
153  20201220    1380.09   1354.07  1367.080  71869.315  1382.102212
154  20201227    1406.84   1384.60  1395.720  71869.315  1382.102212

In [ ]:
OIL_GSL3_2020 = OIL_GSL2_2020.drop(['localDate', 'highPrice', 'lowPrice', 'price', 'sum'], axis = 1)
OIL_GSL4_2020 = OIL_GSL3_2020.reset_index(drop = True)

OIL_GSL4_2020

        average
0   1382.102212
1   1382.102212
2   1382.102212
3   1382.102212
4   1382.102212
5   1382.102212
6   1382.102212
7   1382.102212
8   1382.102212
9   1382.102212
10  1382.102212
11  1382.102212
12  1382.102212
13  1382.102212
14  1382.102212
15  1382.102212
16  1382.102212
17  1382.102212
18  1382.102212
19  1382.102212
20  1382.102212
21  1382.102212
22  1382.102212
23  1382.102212
24  1382.102212
25  1382.102212
26  1382.102212
27  1382.102212
28  1382.102212
29  1382.102212
30  1382.102212
31  1382.102212
32  1382.102212
33  1382.102212
34  1382.102212
35  1382.102212
36  1382.102212
37  1382.102212
38  1382.102212
39  1382.102212
40  1382.102212
41  1382.102212
42  1382.102212
43  1382.102212
44  1382.102212
45  1382.102212
46  1382.102212
47  1382.102212
48  1382.102212
49  1382.102212
50  1382.102212
51  1382.102212

In [ ]:
OIL_GSL_2020 = OIL_GSL4_2020.iloc[0]
OIL_GSL_2020

average    1382.102212
Name: 0, dtype: float64

In [ ]:
OIL_GSL1_2021 = OIL_GSL_5[:]

OIL_GSL2_2021 = OIL_GSL1_2021.loc[(OIL_GSL1_2021['localDate'] <= "20211231") & (OIL_GSL1_2021['localDate'] >= "20210101")]

OIL_GSL2_2021

    localDate  highPrice  lowPrice
155  20210103    1426.61   1409.66
156  20210110    1436.72   1428.38
157  20210117    1445.38   1437.87
158  20210124    1449.89   1446.24
159  20210131    1451.48   1450.30
160  20210207    1453.65   1451.92
161  20210214    1459.89   1454.21
162  20210221    1470.60   1461.05
163  20210228    1479.89   1471.81
164  20210307    1492.40   1481.75
165  20210314    1511.67   1495.17
166  20210321    1527.39   1514.37
167  20210328    1533.22   1528.71
168  20210404    1534.93   1533.49
169  20210411    1535.06   1534.90
170  20210418    1534.96   1534.35
171  20210425    1534.32   1534.03
172  20210502    1534.26   1533.92
173  20210509    1535.53   1534.26
174  20210516    1540.92   1536.08
175  20210523    1545.86   1541.65
176  20210530    1551.52   1546.46
177  20210606    1561.13   1552.22
178  20210613    1572.53   1562.70
179  20210620    1583.95   1574.21
180  20210627    1596.66   1585.41
181  20210704    1610.78   1598.50
182  20210711    1624.59   1612.35
183  20210718    1635.39   1626.17
184  20210725    1640.02   1636.67
185  20210801    1643.94   1640.56
186  20210808    1647.13   1644.59
187  20210815    1647.33   1647.25
188  20210822    1647.35   1645.36
189  20210829    1645.13   1643.71
190  20210905    1643.65   1642.47
191  20210912    1642.42   1641.76
192  20210919    1642.38   1641.76
193  20210926    1643.55   1642.46
194  20211003    1650.23   1643.90
195  20211010    1676.41   1651.18
196  20211017    1720.82   1680.12
197  20211024    1755.48   1725.87
198  20211031    1780.89   1758.26
199  20211107    1802.95   1784.53
200  20211114    1810.15   1742.50
201  20211121    1724.87   1691.37
202  20211128    1688.88   1680.79
203  20211205    1679.52   1669.44
204  20211212    1667.87   1653.53
205  20211219    1651.59   1638.75
206  20211226    1636.81   1627.82

In [ ]:
OIL_GSL2_2021['price'] = OIL_GSL2_2021.mean(axis = 1)
OIL_GSL2_2021

<ipython-input-20-467f680b9479>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  OIL_GSL2_2021['price'] = OIL_GSL2_2021.mean(axis = 1)
<ipython-input-20-467f680b9479>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_GSL2_2021['price'] = OIL_GSL2_2021.mean(axis = 1)

    localDate  highPrice  lowPrice     price
155  20210103    1426.61   1409.66  1418.135
156  20210110    1436.72   1428.38  1432.550
157  20210117    1445.38   1437.87  1441.625
158  20210124    1449.89   1446.24  1448.065
159  20210131    1451.48   1450.30  1450.890
160  20210207    1453.65   1451.92  1452.785
161  20210214    1459.89   1454.21  1457.050
162  20210221    1470.60   1461.05  1465.825
163  20210228    1479.89   1471.81  1475.850
164  20210307    1492.40   1481.75  1487.075
165  20210314    1511.67   1495.17  1503.420
166  20210321    1527.39   1514.37  1520.880
167  20210328    1533.22   1528.71  1530.965
168  20210404    1534.93   1533.49  1534.210
169  20210411    1535.06   1534.90  1534.980
170  20210418    1534.96   1534.35  1534.655
171  20210425    1534.32   1534.03  1534.175
172  20210502    1534.26   1533.92  1534.090
173  20210509    1535.53   1534.26  1534.895
174  20210516    1540.92   1536.08  1538.500
175  20210523    1545.86   1541.65  1543.755
176  20210530    1551.52   1546.46  1548.990
177  20210606    1561.13   1552.22  1556.675
178  20210613    1572.53   1562.70  1567.615
179  20210620    1583.95   1574.21  1579.080
180  20210627    1596.66   1585.41  1591.035
181  20210704    1610.78   1598.50  1604.640
182  20210711    1624.59   1612.35  1618.470
183  20210718    1635.39   1626.17  1630.780
184  20210725    1640.02   1636.67  1638.345
185  20210801    1643.94   1640.56  1642.250
186  20210808    1647.13   1644.59  1645.860
187  20210815    1647.33   1647.25  1647.290
188  20210822    1647.35   1645.36  1646.355
189  20210829    1645.13   1643.71  1644.420
190  20210905    1643.65   1642.47  1643.060
191  20210912    1642.42   1641.76  1642.090
192  20210919    1642.38   1641.76  1642.070
193  20210926    1643.55   1642.46  1643.005
194  20211003    1650.23   1643.90  1647.065
195  20211010    1676.41   1651.18  1663.795
196  20211017    1720.82   1680.12  1700.470
197  20211024    1755.48   1725.87  1740.675
198  20211031    1780.89   1758.26  1769.575
199  20211107    1802.95   1784.53  1793.740
200  20211114    1810.15   1742.50  1776.325
201  20211121    1724.87   1691.37  1708.120
202  20211128    1688.88   1680.79  1684.835
203  20211205    1679.52   1669.44  1674.480
204  20211212    1667.87   1653.53  1660.700
205  20211219    1651.59   1638.75  1645.170
206  20211226    1636.81   1627.82  1632.315

In [ ]:
OIL_GSL2_2021['sum'] = OIL_GSL2_2021['price'].sum(axis = 0)
OIL_GSL2_2021

<ipython-input-21-2a344caa5dc1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_GSL2_2021['sum'] = OIL_GSL2_2021['price'].sum(axis = 0)

    localDate  highPrice  lowPrice     price       sum
155  20210103    1426.61   1409.66  1418.135  82603.67
156  20210110    1436.72   1428.38  1432.550  82603.67
157  20210117    1445.38   1437.87  1441.625  82603.67
158  20210124    1449.89   1446.24  1448.065  82603.67
159  20210131    1451.48   1450.30  1450.890  82603.67
160  20210207    1453.65   1451.92  1452.785  82603.67
161  20210214    1459.89   1454.21  1457.050  82603.67
162  20210221    1470.60   1461.05  1465.825  82603.67
163  20210228    1479.89   1471.81  1475.850  82603.67
164  20210307    1492.40   1481.75  1487.075  82603.67
165  20210314    1511.67   1495.17  1503.420  82603.67
166  20210321    1527.39   1514.37  1520.880  82603.67
167  20210328    1533.22   1528.71  1530.965  82603.67
168  20210404    1534.93   1533.49  1534.210  82603.67
169  20210411    1535.06   1534.90  1534.980  82603.67
170  20210418    1534.96   1534.35  1534.655  82603.67
171  20210425    1534.32   1534.03  1534.175  82603.67
172  20210502    1534.26   1533.92  1534.090  82603.67
173  20210509    1535.53   1534.26  1534.895  82603.67
174  20210516    1540.92   1536.08  1538.500  82603.67
175  20210523    1545.86   1541.65  1543.755  82603.67
176  20210530    1551.52   1546.46  1548.990  82603.67
177  20210606    1561.13   1552.22  1556.675  82603.67
178  20210613    1572.53   1562.70  1567.615  82603.67
179  20210620    1583.95   1574.21  1579.080  82603.67
180  20210627    1596.66   1585.41  1591.035  82603.67
181  20210704    1610.78   1598.50  1604.640  82603.67
182  20210711    1624.59   1612.35  1618.470  82603.67
183  20210718    1635.39   1626.17  1630.780  82603.67
184  20210725    1640.02   1636.67  1638.345  82603.67
185  20210801    1643.94   1640.56  1642.250  82603.67
186  20210808    1647.13   1644.59  1645.860  82603.67
187  20210815    1647.33   1647.25  1647.290  82603.67
188  20210822    1647.35   1645.36  1646.355  82603.67
189  20210829    1645.13   1643.71  1644.420  82603.67
190  20210905    1643.65   1642.47  1643.060  82603.67
191  20210912    1642.42   1641.76  1642.090  82603.67
192  20210919    1642.38   1641.76  1642.070  82603.67
193  20210926    1643.55   1642.46  1643.005  82603.67
194  20211003    1650.23   1643.90  1647.065  82603.67
195  20211010    1676.41   1651.18  1663.795  82603.67
196  20211017    1720.82   1680.12  1700.470  82603.67
197  20211024    1755.48   1725.87  1740.675  82603.67
198  20211031    1780.89   1758.26  1769.575  82603.67
199  20211107    1802.95   1784.53  1793.740  82603.67
200  20211114    1810.15   1742.50  1776.325  82603.67
201  20211121    1724.87   1691.37  1708.120  82603.67
202  20211128    1688.88   1680.79  1684.835  82603.67
203  20211205    1679.52   1669.44  1674.480  82603.67
204  20211212    1667.87   1653.53  1660.700  82603.67
205  20211219    1651.59   1638.75  1645.170  82603.67
206  20211226    1636.81   1627.82  1632.315  82603.67

In [ ]:
OIL_GSL2_2021['average'] = OIL_GSL2_2021['sum'].div(52)
OIL_GSL2_2021

<ipython-input-22-c96fe776a45b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_GSL2_2021['average'] = OIL_GSL2_2021['sum'].div(52)

    localDate  highPrice  lowPrice     price       sum      average
155  20210103    1426.61   1409.66  1418.135  82603.67  1588.532115
156  20210110    1436.72   1428.38  1432.550  82603.67  1588.532115
157  20210117    1445.38   1437.87  1441.625  82603.67  1588.532115
158  20210124    1449.89   1446.24  1448.065  82603.67  1588.532115
159  20210131    1451.48   1450.30  1450.890  82603.67  1588.532115
160  20210207    1453.65   1451.92  1452.785  82603.67  1588.532115
161  20210214    1459.89   1454.21  1457.050  82603.67  1588.532115
162  20210221    1470.60   1461.05  1465.825  82603.67  1588.532115
163  20210228    1479.89   1471.81  1475.850  82603.67  1588.532115
164  20210307    1492.40   1481.75  1487.075  82603.67  1588.532115
165  20210314    1511.67   1495.17  1503.420  82603.67  1588.532115
166  20210321    1527.39   1514.37  1520.880  82603.67  1588.532115
167  20210328    1533.22   1528.71  1530.965  82603.67  1588.532115
168  20210404    1534.93   1533.49  1534.210  82603.67  1588.532115
169  20210411    1535.06   1534.90  1534.980  82603.67  1588.532115
170  20210418    1534.96   1534.35  1534.655  82603.67  1588.532115
171  20210425    1534.32   1534.03  1534.175  82603.67  1588.532115
172  20210502    1534.26   1533.92  1534.090  82603.67  1588.532115
173  20210509    1535.53   1534.26  1534.895  82603.67  1588.532115
174  20210516    1540.92   1536.08  1538.500  82603.67  1588.532115
175  20210523    1545.86   1541.65  1543.755  82603.67  1588.532115
176  20210530    1551.52   1546.46  1548.990  82603.67  1588.532115
177  20210606    1561.13   1552.22  1556.675  82603.67  1588.532115
178  20210613    1572.53   1562.70  1567.615  82603.67  1588.532115
179  20210620    1583.95   1574.21  1579.080  82603.67  1588.532115
180  20210627    1596.66   1585.41  1591.035  82603.67  1588.532115
181  20210704    1610.78   1598.50  1604.640  82603.67  1588.532115
182  20210711    1624.59   1612.35  1618.470  82603.67  1588.532115
183  20210718    1635.39   1626.17  1630.780  82603.67  1588.532115
184  20210725    1640.02   1636.67  1638.345  82603.67  1588.532115
185  20210801    1643.94   1640.56  1642.250  82603.67  1588.532115
186  20210808    1647.13   1644.59  1645.860  82603.67  1588.532115
187  20210815    1647.33   1647.25  1647.290  82603.67  1588.532115
188  20210822    1647.35   1645.36  1646.355  82603.67  1588.532115
189  20210829    1645.13   1643.71  1644.420  82603.67  1588.532115
190  20210905    1643.65   1642.47  1643.060  82603.67  1588.532115
191  20210912    1642.42   1641.76  1642.090  82603.67  1588.532115
192  20210919    1642.38   1641.76  1642.070  82603.67  1588.532115
193  20210926    1643.55   1642.46  1643.005  82603.67  1588.532115
194  20211003    1650.23   1643.90  1647.065  82603.67  1588.532115
195  20211010    1676.41   1651.18  1663.795  82603.67  1588.532115
196  20211017    1720.82   1680.12  1700.470  82603.67  1588.532115
197  20211024    1755.48   1725.87  1740.675  82603.67  1588.532115
198  20211031    1780.89   1758.26  1769.575  82603.67  1588.532115
199  20211107    1802.95   1784.53  1793.740  82603.67  1588.532115
200  20211114    1810.15   1742.50  1776.325  82603.67  1588.532115
201  20211121    1724.87   1691.37  1708.120  82603.67  1588.532115
202  20211128    1688.88   1680.79  1684.835  82603.67  1588.532115
203  20211205    1679.52   1669.44  1674.480  82603.67  1588.532115
204  20211212    1667.87   1653.53  1660.700  82603.67  1588.532115
205  20211219    1651.59   1638.75  1645.170  82603.67  1588.532115
206  20211226    1636.81   1627.82  1632.315  82603.67  1588.532115

In [ ]:
OIL_GSL3_2021 = OIL_GSL2_2021.drop(['localDate', 'highPrice', 'lowPrice', 'price', 'sum'], axis = 1)
OIL_GSL4_2021 = OIL_GSL3_2021.reset_index(drop = True)

OIL_GSL4_2021

        average
0   1588.532115
1   1588.532115
2   1588.532115
3   1588.532115
4   1588.532115
5   1588.532115
6   1588.532115
7   1588.532115
8   1588.532115
9   1588.532115
10  1588.532115
11  1588.532115
12  1588.532115
13  1588.532115
14  1588.532115
15  1588.532115
16  1588.532115
17  1588.532115
18  1588.532115
19  1588.532115
20  1588.532115
21  1588.532115
22  1588.532115
23  1588.532115
24  1588.532115
25  1588.532115
26  1588.532115
27  1588.532115
28  1588.532115
29  1588.532115
30  1588.532115
31  1588.532115
32  1588.532115
33  1588.532115
34  1588.532115
35  1588.532115
36  1588.532115
37  1588.532115
38  1588.532115
39  1588.532115
40  1588.532115
41  1588.532115
42  1588.532115
43  1588.532115
44  1588.532115
45  1588.532115
46  1588.532115
47  1588.532115
48  1588.532115
49  1588.532115
50  1588.532115
51  1588.532115

In [ ]:
OIL_GSL_2021 = OIL_GSL4_2021.iloc[0]
OIL_GSL_2021

average    1588.532115
Name: 0, dtype: float64

In [ ]:
OIL_GSL1_2022 = OIL_GSL_5[:]

OIL_GSL2_2022 = OIL_GSL1_2022.loc[(OIL_GSL1_2022['localDate'] <= "20221231") & (OIL_GSL1_2022['localDate'] >= "20220101")]

OIL_GSL2_2022

    localDate  highPrice  lowPrice
207  20220102    1627.07   1623.40
208  20220109    1623.03   1620.98
209  20220116    1627.47   1621.45
210  20220123    1645.89   1629.30
211  20220130    1664.47   1648.45
212  20220206    1682.78   1666.03
213  20220213    1710.46   1686.54
214  20220220    1733.84   1714.12
215  20220227    1756.31   1736.48
216  20220306    1812.90   1758.87
217  20220313    1975.36   1828.34
218  20220320    2004.25   1989.87
219  20220327    2002.15   2000.70
220  20220403    2001.16   1993.97
221  20220410    1992.38   1981.98
222  20220417    1980.10   1968.80
223  20220424    1968.31   1966.54
224  20220501    1975.16   1954.03
225  20220508    1943.50   1931.86
226  20220515    1956.54   1939.04
227  20220522    1985.32   1959.07
228  20220529    2008.84   1989.35
229  20220605    2029.54   2010.67
230  20220612    2068.91   2032.31
231  20220619    2107.81   2075.12
232  20220626    2131.36   2111.77
233  20220703    2145.12   2123.14
234  20220710    2120.17   2095.36
235  20220717    2089.90   2034.36
236  20220724    2024.60   1958.68
237  20220731    1947.47   1896.85
238  20220807    1888.65   1848.66
239  20220814    1841.61   1793.61
240  20220821    1788.53   1750.86
241  20220828    1746.21   1737.76
242  20220904    1742.47   1738.61
243  20220911    1741.48   1740.41
244  20220918    1740.68   1736.84
245  20220925    1735.30   1714.91
246  20221002    1710.79   1679.66
247  20221009    1677.26   1665.55
248  20221016    1666.83   1665.72
249  20221023    1665.79   1664.03
250  20221030    1663.98   1660.72
251  20221106    1660.62   1658.26
252  20221113    1660.35   1659.08
253  20221120    1659.56   1650.33
254  20221127    1648.04   1630.63
255  20221204    1627.90   1618.24
256  20221211    1615.13   1583.15
257  20221218    1575.81   1543.06
258  20221225    1539.79   1528.34

In [ ]:
OIL_GSL2_2022['price'] = OIL_GSL2_2022.mean(axis = 1)
OIL_GSL2_2022

<ipython-input-26-7d2eb7dd55e0>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  OIL_GSL2_2022['price'] = OIL_GSL2_2022.mean(axis = 1)
<ipython-input-26-7d2eb7dd55e0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_GSL2_2022['price'] = OIL_GSL2_2022.mean(axis = 1)

    localDate  highPrice  lowPrice     price
207  20220102    1627.07   1623.40  1625.235
208  20220109    1623.03   1620.98  1622.005
209  20220116    1627.47   1621.45  1624.460
210  20220123    1645.89   1629.30  1637.595
211  20220130    1664.47   1648.45  1656.460
212  20220206    1682.78   1666.03  1674.405
213  20220213    1710.46   1686.54  1698.500
214  20220220    1733.84   1714.12  1723.980
215  20220227    1756.31   1736.48  1746.395
216  20220306    1812.90   1758.87  1785.885
217  20220313    1975.36   1828.34  1901.850
218  20220320    2004.25   1989.87  1997.060
219  20220327    2002.15   2000.70  2001.425
220  20220403    2001.16   1993.97  1997.565
221  20220410    1992.38   1981.98  1987.180
222  20220417    1980.10   1968.80  1974.450
223  20220424    1968.31   1966.54  1967.425
224  20220501    1975.16   1954.03  1964.595
225  20220508    1943.50   1931.86  1937.680
226  20220515    1956.54   1939.04  1947.790
227  20220522    1985.32   1959.07  1972.195
228  20220529    2008.84   1989.35  1999.095
229  20220605    2029.54   2010.67  2020.105
230  20220612    2068.91   2032.31  2050.610
231  20220619    2107.81   2075.12  2091.465
232  20220626    2131.36   2111.77  2121.565
233  20220703    2145.12   2123.14  2134.130
234  20220710    2120.17   2095.36  2107.765
235  20220717    2089.90   2034.36  2062.130
236  20220724    2024.60   1958.68  1991.640
237  20220731    1947.47   1896.85  1922.160
238  20220807    1888.65   1848.66  1868.655
239  20220814    1841.61   1793.61  1817.610
240  20220821    1788.53   1750.86  1769.695
241  20220828    1746.21   1737.76  1741.985
242  20220904    1742.47   1738.61  1740.540
243  20220911    1741.48   1740.41  1740.945
244  20220918    1740.68   1736.84  1738.760
245  20220925    1735.30   1714.91  1725.105
246  20221002    1710.79   1679.66  1695.225
247  20221009    1677.26   1665.55  1671.405
248  20221016    1666.83   1665.72  1666.275
249  20221023    1665.79   1664.03  1664.910
250  20221030    1663.98   1660.72  1662.350
251  20221106    1660.62   1658.26  1659.440
252  20221113    1660.35   1659.08  1659.715
253  20221120    1659.56   1650.33  1654.945
254  20221127    1648.04   1630.63  1639.335
255  20221204    1627.90   1618.24  1623.070
256  20221211    1615.13   1583.15  1599.140
257  20221218    1575.81   1543.06  1559.435
258  20221225    1539.79   1528.34  1534.065

In [ ]:
OIL_GSL2_2022['sum'] = OIL_GSL2_2022['price'].sum(axis = 0)
OIL_GSL2_2022

<ipython-input-27-c45652dd14f6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_GSL2_2022['sum'] = OIL_GSL2_2022['price'].sum(axis = 0)

    localDate  highPrice  lowPrice     price        sum
207  20220102    1627.07   1623.40  1625.235  94377.405
208  20220109    1623.03   1620.98  1622.005  94377.405
209  20220116    1627.47   1621.45  1624.460  94377.405
210  20220123    1645.89   1629.30  1637.595  94377.405
211  20220130    1664.47   1648.45  1656.460  94377.405
212  20220206    1682.78   1666.03  1674.405  94377.405
213  20220213    1710.46   1686.54  1698.500  94377.405
214  20220220    1733.84   1714.12  1723.980  94377.405
215  20220227    1756.31   1736.48  1746.395  94377.405
216  20220306    1812.90   1758.87  1785.885  94377.405
217  20220313    1975.36   1828.34  1901.850  94377.405
218  20220320    2004.25   1989.87  1997.060  94377.405
219  20220327    2002.15   2000.70  2001.425  94377.405
220  20220403    2001.16   1993.97  1997.565  94377.405
221  20220410    1992.38   1981.98  1987.180  94377.405
222  20220417    1980.10   1968.80  1974.450  94377.405
223  20220424    1968.31   1966.54  1967.425  94377.405
224  20220501    1975.16   1954.03  1964.595  94377.405
225  20220508    1943.50   1931.86  1937.680  94377.405
226  20220515    1956.54   1939.04  1947.790  94377.405
227  20220522    1985.32   1959.07  1972.195  94377.405
228  20220529    2008.84   1989.35  1999.095  94377.405
229  20220605    2029.54   2010.67  2020.105  94377.405
230  20220612    2068.91   2032.31  2050.610  94377.405
231  20220619    2107.81   2075.12  2091.465  94377.405
232  20220626    2131.36   2111.77  2121.565  94377.405
233  20220703    2145.12   2123.14  2134.130  94377.405
234  20220710    2120.17   2095.36  2107.765  94377.405
235  20220717    2089.90   2034.36  2062.130  94377.405
236  20220724    2024.60   1958.68  1991.640  94377.405
237  20220731    1947.47   1896.85  1922.160  94377.405
238  20220807    1888.65   1848.66  1868.655  94377.405
239  20220814    1841.61   1793.61  1817.610  94377.405
240  20220821    1788.53   1750.86  1769.695  94377.405
241  20220828    1746.21   1737.76  1741.985  94377.405
242  20220904    1742.47   1738.61  1740.540  94377.405
243  20220911    1741.48   1740.41  1740.945  94377.405
244  20220918    1740.68   1736.84  1738.760  94377.405
245  20220925    1735.30   1714.91  1725.105  94377.405
246  20221002    1710.79   1679.66  1695.225  94377.405
247  20221009    1677.26   1665.55  1671.405  94377.405
248  20221016    1666.83   1665.72  1666.275  94377.405
249  20221023    1665.79   1664.03  1664.910  94377.405
250  20221030    1663.98   1660.72  1662.350  94377.405
251  20221106    1660.62   1658.26  1659.440  94377.405
252  20221113    1660.35   1659.08  1659.715  94377.405
253  20221120    1659.56   1650.33  1654.945  94377.405
254  20221127    1648.04   1630.63  1639.335  94377.405
255  20221204    1627.90   1618.24  1623.070  94377.405
256  20221211    1615.13   1583.15  1599.140  94377.405
257  20221218    1575.81   1543.06  1559.435  94377.405
258  20221225    1539.79   1528.34  1534.065  94377.405

In [ ]:
OIL_GSL2_2022['average'] = OIL_GSL2_2022['sum'].div(52)
OIL_GSL2_2022

<ipython-input-28-e87b361596af>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_GSL2_2022['average'] = OIL_GSL2_2022['sum'].div(52)

    localDate  highPrice  lowPrice     price        sum      average
207  20220102    1627.07   1623.40  1625.235  94377.405  1814.950096
208  20220109    1623.03   1620.98  1622.005  94377.405  1814.950096
209  20220116    1627.47   1621.45  1624.460  94377.405  1814.950096
210  20220123    1645.89   1629.30  1637.595  94377.405  1814.950096
211  20220130    1664.47   1648.45  1656.460  94377.405  1814.950096
212  20220206    1682.78   1666.03  1674.405  94377.405  1814.950096
213  20220213    1710.46   1686.54  1698.500  94377.405  1814.950096
214  20220220    1733.84   1714.12  1723.980  94377.405  1814.950096
215  20220227    1756.31   1736.48  1746.395  94377.405  1814.950096
216  20220306    1812.90   1758.87  1785.885  94377.405  1814.950096
217  20220313    1975.36   1828.34  1901.850  94377.405  1814.950096
218  20220320    2004.25   1989.87  1997.060  94377.405  1814.950096
219  20220327    2002.15   2000.70  2001.425  94377.405  1814.950096
220  20220403    2001.16   1993.97  1997.565  94377.405  1814.950096
221  20220410    1992.38   1981.98  1987.180  94377.405  1814.950096
222  20220417    1980.10   1968.80  1974.450  94377.405  1814.950096
223  20220424    1968.31   1966.54  1967.425  94377.405  1814.950096
224  20220501    1975.16   1954.03  1964.595  94377.405  1814.950096
225  20220508    1943.50   1931.86  1937.680  94377.405  1814.950096
226  20220515    1956.54   1939.04  1947.790  94377.405  1814.950096
227  20220522    1985.32   1959.07  1972.195  94377.405  1814.950096
228  20220529    2008.84   1989.35  1999.095  94377.405  1814.950096
229  20220605    2029.54   2010.67  2020.105  94377.405  1814.950096
230  20220612    2068.91   2032.31  2050.610  94377.405  1814.950096
231  20220619    2107.81   2075.12  2091.465  94377.405  1814.950096
232  20220626    2131.36   2111.77  2121.565  94377.405  1814.950096
233  20220703    2145.12   2123.14  2134.130  94377.405  1814.950096
234  20220710    2120.17   2095.36  2107.765  94377.405  1814.950096
235  20220717    2089.90   2034.36  2062.130  94377.405  1814.950096
236  20220724    2024.60   1958.68  1991.640  94377.405  1814.950096
237  20220731    1947.47   1896.85  1922.160  94377.405  1814.950096
238  20220807    1888.65   1848.66  1868.655  94377.405  1814.950096
239  20220814    1841.61   1793.61  1817.610  94377.405  1814.950096
240  20220821    1788.53   1750.86  1769.695  94377.405  1814.950096
241  20220828    1746.21   1737.76  1741.985  94377.405  1814.950096
242  20220904    1742.47   1738.61  1740.540  94377.405  1814.950096
243  20220911    1741.48   1740.41  1740.945  94377.405  1814.950096
244  20220918    1740.68   1736.84  1738.760  94377.405  1814.950096
245  20220925    1735.30   1714.91  1725.105  94377.405  1814.950096
246  20221002    1710.79   1679.66  1695.225  94377.405  1814.950096
247  20221009    1677.26   1665.55  1671.405  94377.405  1814.950096
248  20221016    1666.83   1665.72  1666.275  94377.405  1814.950096
249  20221023    1665.79   1664.03  1664.910  94377.405  1814.950096
250  20221030    1663.98   1660.72  1662.350  94377.405  1814.950096
251  20221106    1660.62   1658.26  1659.440  94377.405  1814.950096
252  20221113    1660.35   1659.08  1659.715  94377.405  1814.950096
253  20221120    1659.56   1650.33  1654.945  94377.405  1814.950096
254  20221127    1648.04   1630.63  1639.335  94377.405  1814.950096
255  20221204    1627.90   1618.24  1623.070  94377.405  1814.950096
256  20221211    1615.13   1583.15  1599.140  94377.405  1814.950096
257  20221218    1575.81   1543.06  1559.435  94377.405  1814.950096
258  20221225    1539.79   1528.34  1534.065  94377.405  1814.950096

In [ ]:
OIL_GSL3_2022 = OIL_GSL2_2022.drop(['localDate', 'highPrice', 'lowPrice', 'price', 'sum'], axis = 1)
OIL_GSL4_2022 = OIL_GSL3_2022.reset_index(drop = True)

OIL_GSL4_2022

        average
0   1814.950096
1   1814.950096
2   1814.950096
3   1814.950096
4   1814.950096
5   1814.950096
6   1814.950096
7   1814.950096
8   1814.950096
9   1814.950096
10  1814.950096
11  1814.950096
12  1814.950096
13  1814.950096
14  1814.950096
15  1814.950096
16  1814.950096
17  1814.950096
18  1814.950096
19  1814.950096
20  1814.950096
21  1814.950096
22  1814.950096
23  1814.950096
24  1814.950096
25  1814.950096
26  1814.950096
27  1814.950096
28  1814.950096
29  1814.950096
30  1814.950096
31  1814.950096
32  1814.950096
33  1814.950096
34  1814.950096
35  1814.950096
36  1814.950096
37  1814.950096
38  1814.950096
39  1814.950096
40  1814.950096
41  1814.950096
42  1814.950096
43  1814.950096
44  1814.950096
45  1814.950096
46  1814.950096
47  1814.950096
48  1814.950096
49  1814.950096
50  1814.950096
51  1814.950096

In [ ]:
OIL_GSL_2022 = OIL_GSL4_2022.iloc[0]
OIL_GSL_2022

average    1814.950096
Name: 0, dtype: float64

In [ ]:
OIL_GSL_2019 = OIL_GSL_2019.apply(lambda x: pd.Series(x))
OIL_GSL_2020 = OIL_GSL_2020.apply(lambda x: pd.Series(x))
OIL_GSL_2021 = OIL_GSL_2021.apply(lambda x: pd.Series(x))
OIL_GSL_2022 = OIL_GSL_2022.apply(lambda x: pd.Series(x))

In [ ]:
OIL_GSL_2019.insert(0, '연도', ['2019'])
OIL_GSL_2020.insert(0, '연도', ['2020'])
OIL_GSL_2021.insert(0, '연도', ['2021'])
OIL_GSL_2022.insert(0, '연도', ['2022'])

OIL_GSL = pd.concat([OIL_GSL_2019, OIL_GSL_2020, OIL_GSL_2021, OIL_GSL_2022], axis = 0)
OIL_GSL

           연도            0
average  2019  1471.735481
average  2020  1382.102212
average  2021  1588.532115
average  2022  1814.950096

In [ ]:
OIL_GSL.columns = ['연도', '평균가']
OIL_GSL

           연도          평균가
average  2019  1471.735481
average  2020  1382.102212
average  2021  1588.532115
average  2022  1814.950096

In [ ]:
OIL_GSL.index = ['0', '1', '2', '3']
OIL_GSL

     연도          평균가
0  2019  1471.735481
1  2020  1382.102212
2  2021  1588.532115
3  2022  1814.950096

In [ ]:
OIL_GSL.insert(1, '종류', ['휘발유', '휘발유', '휘발유', '휘발유']) 
OIL_GSL

     연도   종류          평균가
0  2019  휘발유  1471.735481
1  2020  휘발유  1382.102212
2  2021  휘발유  1588.532115
3  2022  휘발유  1814.950096

# 경유

In [ ]:
# 경유

url = "https://m.stock.naver.com/marketindex/energy/OIL_LO"

res = requests.get(url)
page = res.content

soup = BeautifulSoup(page, 'html.parser')
soup

<!DOCTYPE html>

In [ ]:
url = "https://m.stock.naver.com/front-api/v1/chart/pricesByPeriod?category=energy&reutersCode=OIL_LO&chartInfoType=marketindex&scriptChartType=areaYearFive"
res = requests.get(url)

datas = res.json()
datas

{'isSuccess': True,
 'detailCode': '',
 'message': '',
 'result': {'code': 'OIL_LO',
  'infoType': 'marketindex',
  'periodType': 'year',
  'priceInfos': [{'localDate': '20180114',
    'closePrice': 1342.67,
    'openPrice': 0,
    'highPrice': 1342.67,
    'lowPrice': 1339.89},
   {'localDate': '20180121',
    'closePrice': 1347.27,
    'openPrice': 0,
    'highPrice': 1347.27,
    'lowPrice': 1343.6},
   {'localDate': '20180128',
    'closePrice': 1352.37,
    'openPrice': 0,
    'highPrice': 1352.37,
    'lowPrice': 1348.26},
   {'localDate': '20180204',
    'closePrice': 1358.08,
    'openPrice': 0,
    'highPrice': 1358.08,
    'lowPrice': 1353.35},
   {'localDate': '20180211',
    'closePrice': 1360.95,
    'openPrice': 0,
    'highPrice': 1361.07,
    'lowPrice': 1358.81},
   {'localDate': '20180218',
    'closePrice': 1361.69,
    'openPrice': 0,
    'highPrice': 1361.76,
    'lowPrice': 1361.39},
   {'localDate': '20180225',
    'closePrice': 1360.26,
    'openPrice': 0,
    'highPrice': 1361.78,
    'lowPrice': 1360.26},
   {'localDate': '20180304',
    'closePrice': 1359.13,
    'openPrice': 0,
    'highPrice': 1360.47,
    'lowPrice': 1359.13},
   {'localDate': '20180311',
    'closePrice': 1357.24,
    'openPrice': 0,
    'highPrice': 1359.18,
    'lowPrice': 1357.24},
   {'localDate': '20180318',
    'closePrice': 1353.5,
    'openPrice': 0,
    'highPrice': 1357.27,
    'lowPrice': 1353.5},
   {'localDate': '20180325',
    'closePrice': 1349.89,
    'openPrice': 0,
    'highPrice': 1353.19,
    'lowPrice': 1349.89},
   {'localDate': '20180401',
    'closePrice': 1348.5,
    'openPrice': 0,
    'highPrice': 1350.21,
    'lowPrice': 1348.5},
   {'localDate': '20180408',
    'closePrice': 1347.58,
    'openPrice': 0,
    'highPrice': 1348.69,
    'lowPrice': 1347.58},
   {'localDate': '20180415',
    'closePrice': 1346.99,
    'openPrice': 0,
    'highPrice': 1347.82,
    'lowPrice': 1346.99},
   {'localDate': '20180422',
    'closePrice': 1349.11,
    'openPrice': 0,
    'highPrice': 1349.12,
    'lowPrice': 1347.41},
   {'localDate': '20180429',
    'closePrice': 1353.33,
    'openPrice': 0,
    'highPrice': 1353.33,
    'lowPrice': 1349.54},
   {'localDate': '20180506',
    'closePrice': 1360.67,
    'openPrice': 0,
    'highPrice': 1360.67,
    'lowPrice': 1354.19},
   {'localDate': '20180513',
    'closePrice': 1372.7,
    'openPrice': 0,
    'highPrice': 1372.7,
    'lowPrice': 1361.45},
   {'localDate': '20180520',
    'closePrice': 1386.29,
    'openPrice': 0,
    'highPrice': 1386.29,
    'lowPrice': 1374.72},
   {'localDate': '20180527',
    'closePrice': 1402.69,
    'openPrice': 0,
    'highPrice': 1402.69,
    'lowPrice': 1387.02},
   {'localDate': '20180603',
    'closePrice': 1409.65,
    'openPrice': 0,
    'highPrice': 1409.65,
    'lowPrice': 1404.41},
   {'localDate': '20180610',
    'closePrice': 1410.76,
    'openPrice': 0,
    'highPrice': 1411.08,
    'lowPrice': 1410.35},
   {'localDate': '20180617',
    'closePrice': 1410.29,
    'openPrice': 0,
    'highPrice': 1411.17,
    'lowPrice': 1410.29},
   {'localDate': '20180624',
    'closePrice': 1408.97,
    'openPrice': 0,
    'highPrice': 1410.41,
    'lowPrice': 1408.97},
   {'localDate': '20180701',
    'closePrice': 1408.44,
    'openPrice': 0,
    'highPrice': 1409.22,
    'lowPrice': 1408.44},
   {'localDate': '20180708',
    'closePrice': 1409.91,
    'openPrice': 0,
    'highPrice': 1410,
    'lowPrice': 1408.72},
   {'localDate': '20180715',
    'closePrice': 1411.97,
    'openPrice': 0,
    'highPrice': 1412.03,
    'lowPrice': 1410.25},
   {'localDate': '20180722',
    'closePrice': 1412.69,
    'openPrice': 0,
    'highPrice': 1412.88,
    'lowPrice': 1412.52},
   {'localDate': '20180729',
    'closePrice': 1413.7,
    'openPrice': 0,
    'highPrice': 1413.71,
    'lowPrice': 1413.23},
   {'localDate': '20180805',
    'closePrice': 1416.37,
    'openPrice': 0,
    'highPrice': 1416.38,
    'lowPrice': 1414.24},
   {'localDate': '20180812',
    'closePrice': 1418.42,
    'openPrice': 0,
    'highPrice': 1418.42,
    'lowPrice': 1416.92},
   {'localDate': '20180819',
    'closePrice': 1419.81,
    'openPrice': 0,
    'highPrice': 1420.04,
    'lowPrice': 1419},
   {'localDate': '20180826',
    'closePrice': 1420.47,
    'openPrice': 0,
    'highPrice': 1420.57,
    'lowPrice': 1420.23},
   {'localDate': '20180902',
    'closePrice': 1422.73,
    'openPrice': 0,
    'highPrice': 1422.73,
    'lowPrice': 1420.91},
   {'localDate': '20180909',
    'closePrice': 1428.68,
    'openPrice': 0,
    'highPrice': 1428.68,
    'lowPrice': 1423.48},
   {'localDate': '20180916',
    'closePrice': 1439.13,
    'openPrice': 0,
    'highPrice': 1439.13,
    'lowPrice': 1429.71},
   {'localDate': '20180923',
    'closePrice': 1450.34,
    'openPrice': 0,
    'highPrice': 1450.34,
    'lowPrice': 1440.96},
   {'localDate': '20180930',
    'closePrice': 1456.47,
    'openPrice': 0,
    'highPrice': 1456.47,
    'lowPrice': 1450.83},
   {'localDate': '20181007',
    'closePrice': 1472.75,
    'openPrice': 0,
    'highPrice': 1472.75,
    'lowPrice': 1458.98},
   {'localDate': '20181014',
    'closePrice': 1487.61,
    'openPrice': 0,
    'highPrice': 1487.61,
    'lowPrice': 1475.13},
   {'localDate': '20181021',
    'closePrice': 1494,
    'openPrice': 0,
    'highPrice': 1494,
    'lowPrice': 1489.18},
   {'localDate': '20181028',
    'closePrice': 1494.71,
    'openPrice': 0,
    'highPrice': 1494.82,
    'lowPrice': 1494.63},
   {'localDate': '20181104',
    'closePrice': 1495.6,
    'openPrice': 0,
    'highPrice': 1495.76,
    'lowPrice': 1495.16},
   {'localDate': '20181111',
    'closePrice': 1425.16,
    'openPrice': 0,
    'highPrice': 1495.76,
    'lowPrice': 1425.16},
   {'localDate': '20181118',
    'closePrice': 1407.06,
    'openPrice': 0,
    'highPrice': 1422.44,
    'lowPrice': 1407.06},
   {'localDate': '20181125',
    'closePrice': 1390.48,
    'openPrice': 0,
    'highPrice': 1405.7,
    'lowPrice': 1390.48},
   {'localDate': '20181202',
    'closePrice': 1368.46,
    'openPrice': 0,
    'highPrice': 1389.11,
    'lowPrice': 1368.46},
   {'localDate': '20181209',
    'closePrice': 1347.13,
    'openPrice': 0,
    'highPrice': 1366.23,
    'lowPrice': 1347.13},
   {'localDate': '20181216',
    'closePrice': 1326.72,
    'openPrice': 0,
    'highPrice': 1344.98,
    'lowPrice': 1326.72},
   {'localDate': '20181223',
    'closePrice': 1301.33,
    'openPrice': 0,
    'highPrice': 1324.8,
    'lowPrice': 1301.33},
   {'localDate': '20181230',
    'closePrice': 1278.74,
    'openPrice': 0,
    'highPrice': 1297.98,
    'lowPrice': 1278.74},
   {'localDate': '20190106',
    'closePrice': 1257.43,
    'openPrice': 0,
    'highPrice': 1277.23,
    'lowPrice': 1257.43},
   {'localDate': '20190113',
    'closePrice': 1247.24,
    'openPrice': 0,
    'highPrice': 1255.3,
    'lowPrice': 1247.24},
   {'localDate': '20190120',
    'closePrice': 1243.97,
    'openPrice': 0,
    'highPrice': 1246.92,
    'lowPrice': 1243.97},
   {'localDate': '20190127',
    'closePrice': 1243.22,
    'openPrice': 0,
    'highPrice': 1244.06,
    'lowPrice': 1243.22},
   {'localDate': '20190203',
    'closePrice': 1242.9,
    'openPrice': 0,
    'highPrice': 1243.41,
    'lowPrice': 1242.9},
   {'localDate': '20190210',
    'closePrice': 1241.93,
    'openPrice': 0,
    'highPrice': 1242.77,
    'lowPrice': 1241.93},
   {'localDate': '20190217',
    'closePrice': 1241.69,
    'openPrice': 0,
    'highPrice': 1241.92,
    'lowPrice': 1241.42},
   {'localDate': '20190224',
    'closePrice': 1244.03,
    'openPrice': 0,
    'highPrice': 1244.03,
    'lowPrice': 1242.03},
   {'localDate': '20190303',
    'closePrice': 1248.9,
    'openPrice': 0,
    'highPrice': 1248.9,
    'lowPrice': 1244.77},
   {'localDate': '20190310',
    'closePrice': 1255.79,
    'openPrice': 0,
    'highPrice': 1255.79,
    'lowPrice': 1249.48},
   {'localDate': '20190317',
    'closePrice': 1270.67,
    'openPrice': 0,
    'highPrice': 1270.67,
    'lowPrice': 1257.38},
   {'localDate': '20190324',
    'closePrice': 1283.7,
    'openPrice': 0,
    'highPrice': 1283.7,
    'lowPrice': 1272.95},
   {'localDate': '20190331',
    'closePrice': 1292.39,
    'openPrice': 0,
    'highPrice': 1292.39,
    'lowPrice': 1285.44},
   {'localDate': '20190407',
    'closePrice': 1301.4,
    'openPrice': 0,
    'highPrice': 1301.4,
    'lowPrice': 1294.48},
   {'localDate': '20190414',
    'closePrice': 1312.08,
    'openPrice': 0,
    'highPrice': 1312.08,
    'lowPrice': 1302.72},
   {'localDate': '20190421',
    'closePrice': 1324.66,
    'openPrice': 0,
    'highPrice': 1324.66,
    'lowPrice': 1313.98},
   {'localDate': '20190428',
    'closePrice': 1337.81,
    'openPrice': 0,
    'highPrice': 1337.81,
    'lowPrice': 1326.54},
   {'localDate': '20190505',
    'closePrice': 1354.14,
    'openPrice': 0,
    'highPrice': 1354.14,
    'lowPrice': 1339.93},
   {'localDate': '20190512',
    'closePrice': 1390.35,
    'openPrice': 0,
    'highPrice': 1390.35,
    'lowPrice': 1355.76},
   {'localDate': '20190519',
    'closePrice': 1394.95,
    'openPrice': 0,
    'highPrice': 1394.95,
    'lowPrice': 1391.37},
   {'localDate': '20190526',
    'closePrice': 1398.08,
    'openPrice': 0,
    'highPrice': 1398.08,
    'lowPrice': 1395.46},
   {'localDate': '20190602',
    'closePrice': 1398.21,
    'openPrice': 0,
    'highPrice': 1399.11,
    'lowPrice': 1398.21},
   {'localDate': '20190609',
    'closePrice': 1392.79,
    'openPrice': 0,
    'highPrice': 1397.94,
    'lowPrice': 1392.79},
   {'localDate': '20190616',
    'closePrice': 1379.44,
    'openPrice': 0,
    'highPrice': 1391.97,
    'lowPrice': 1379.44},
   {'localDate': '20190623',
    'closePrice': 1365.85,
    'openPrice': 0,
    'highPrice': 1377.66,
    'lowPrice': 1365.85},
   {'localDate': '20190630',
    'closePrice': 1360.29,
    'openPrice': 0,
    'highPrice': 1364.73,
    'lowPrice': 1360.29},
   {'localDate': '20190707',
    'closePrice': 1354.2,
    'openPrice': 0,
    'highPrice': 1359.41,
    'lowPrice': 1354.2},
   {'localDate': '20190714',
    'closePrice': 1351.64,
    'openPrice': 0,
    'highPrice': 1353.91,
    'lowPrice': 1351.64},
   {'localDate': '20190721',
    'closePrice': 1351.17,
    'openPrice': 0,
    'highPrice': 1351.83,
    'lowPrice': 1351.17},
   {'localDate': '20190728',
    'closePrice': 1351.25,
    'openPrice': 0,
    'highPrice': 1351.35,
    'lowPrice': 1351.1},
   {'localDate': '20190804',
    'closePrice': 1352.49,
    'openPrice': 0,
    'highPrice': 1352.61,
    'lowPrice': 1351.49},
   {'localDate': '20190811',
    'closePrice': 1351.71,
    'openPrice': 0,
    'highPrice': 1352.76,
    'lowPrice': 1351.71},
   {'localDate': '20190818',
    'closePrice': 1351.12,
    'openPrice': 0,
    'highPrice': 1351.73,
    'lowPrice': 1351.12},
   {'localDate': '20190825',
    'closePrice': 1351.21,
    'openPrice': 0,
    'highPrice': 1351.31,
    'lowPrice': 1351.04},
   {'localDate': '20190901',
    'closePrice': 1363.44,
    'openPrice': 0,
    'highPrice': 1363.44,
    'lowPrice': 1351.63},
   {'localDate': '20190908',
    'closePrice': 1374.28,
    'openPrice': 0,
    'highPrice': 1374.28,
    'lowPrice': 1368.44},
   {'localDate': '20190915',
    'closePrice': 1376.05,
    'openPrice': 0,
    'highPrice': 1376.19,
    'lowPrice': 1374.61},
   {'localDate': '20190922',
    'closePrice': 1385.86,
    'openPrice': 0,
    'highPrice': 1385.86,
    'lowPrice': 1377},
   {'localDate': '20190929',
    'closePrice': 1390.98,
    'openPrice': 0,
    'highPrice': 1390.98,
    'lowPrice': 1386.98},
   {'localDate': '20191006',
    'closePrice': 1390.85,
    'openPrice': 0,
    'highPrice': 1391.75,
    'lowPrice': 1390.85},
   {'localDate': '20191013',
    'closePrice': 1388.97,
    'openPrice': 0,
    'highPrice': 1390.76,
    'lowPrice': 1388.97},
   {'localDate': '20191020',
    'closePrice': 1386.38,
    'openPrice': 0,
    'highPrice': 1388.93,
    'lowPrice': 1386.38},
   {'localDate': '20191027',
    'closePrice': 1383.9,
    'openPrice': 0,
    'highPrice': 1386.24,
    'lowPrice': 1383.9},
   {'localDate': '20191103',
    'closePrice': 1382,
    'openPrice': 0,
    'highPrice': 1383.83,
    'lowPrice': 1382},
   {'localDate': '20191110',
    'closePrice': 1380.22,
    'openPrice': 0,
    'highPrice': 1382.03,
    'lowPrice': 1380.22},
   {'localDate': '20191117',
    'closePrice': 1380,
    'openPrice': 0,
    'highPrice': 1380.39,
    'lowPrice': 1380},
   {'localDate': '20191124',
    'closePrice': 1379.75,
    'openPrice': 0,
    'highPrice': 1380.13,
    'lowPrice': 1379.68},
   {'localDate': '20191201',
    'closePrice': 1380.42,
    'openPrice': 0,
    'highPrice': 1380.42,
    'lowPrice': 1380},
   {'localDate': '20191208',
    'closePrice': 1381.76,
    'openPrice': 0,
    'highPrice': 1381.78,
    'lowPrice': 1380.65},
   {'localDate': '20191215',
    'closePrice': 1384.42,
    'openPrice': 0,
    'highPrice': 1384.42,
    'lowPrice': 1382.35},
   {'localDate': '20191222',
    'closePrice': 1387.49,
    'openPrice': 0,
    'highPrice': 1387.49,
    'lowPrice': 1385.04},
   {'localDate': '20191229',
    'closePrice': 1390.71,
    'openPrice': 0,
    'highPrice': 1390.71,
    'lowPrice': 1388.05},
   {'localDate': '20200105',
    'closePrice': 1394.03,
    'openPrice': 0,
    'highPrice': 1394.03,
    'lowPrice': 1391.19},
   {'localDate': '20200112',
    'closePrice': 1400.31,
    'openPrice': 0,
    'highPrice': 1400.31,
    'lowPrice': 1394.97},
   {'localDate': '20200119',
    'closePrice': 1400.52,
    'openPrice': 0,
    'highPrice': 1401.06,
    'lowPrice': 1400.52},
   {'localDate': '20200126',
    'closePrice': 1399.63,
    'openPrice': 0,
    'highPrice': 1400.67,
    'lowPrice': 1399.63},
   {'localDate': '20200202',
    'closePrice': 1394.1,
    'openPrice': 0,
    'highPrice': 1399.13,
    'lowPrice': 1394.1},
   {'localDate': '20200209',
    'closePrice': 1383.7,
    'openPrice': 0,
    'highPrice': 1393.18,
    'lowPrice': 1383.7},
   {'localDate': '20200216',
    'closePrice': 1366.27,
    'openPrice': 0,
    'highPrice': 1382.38,
    'lowPrice': 1366.27},
   {'localDate': '20200223',
    'closePrice': 1354.19,
    'openPrice': 0,
    'highPrice': 1364.35,
    'lowPrice': 1354.19},
   {'localDate': '20200301',
    'closePrice': 1342.68,
    'openPrice': 0,
    'highPrice': 1353.38,
    'lowPrice': 1342.68},
   {'localDate': '20200308',
    'closePrice': 1327.27,
    'openPrice': 0,
    'highPrice': 1340.72,
    'lowPrice': 1327.27},
   {'localDate': '20200315',
    'closePrice': 1295.73,
    'openPrice': 0,
    'highPrice': 1324.82,
    'lowPrice': 1295.73},
   {'localDate': '20200322',
    'closePrice': 1250.05,
    'openPrice': 0,
    'highPrice': 1291.56,
    'lowPrice': 1250.05},
   {'localDate': '20200329',
    'closePrice': 1209.9,
    'openPrice': 0,
    'highPrice': 1244.7,
    'lowPrice': 1209.9},
   {'localDate': '20200405',
    'closePrice': 1172.64,
    'openPrice': 0,
    'highPrice': 1205.16,
    'lowPrice': 1172.64},
   {'localDate': '20200412',
    'closePrice': 1145.88,
    'openPrice': 0,
    'highPrice': 1169.74,
    'lowPrice': 1145.88},
   {'localDate': '20200419',
    'closePrice': 1120.79,
    'openPrice': 0,
    'highPrice': 1143.12,
    'lowPrice': 1120.79},
   {'localDate': '20200426',
    'closePrice': 1092.87,
    'openPrice': 0,
    'highPrice': 1117.5,
    'lowPrice': 1092.87},
   {'localDate': '20200503',
    'closePrice': 1072.7,
    'openPrice': 0,
    'highPrice': 1090.08,
    'lowPrice': 1072.7},
   {'localDate': '20200510',
    'closePrice': 1062.17,
    'openPrice': 0,
    'highPrice': 1071.08,
    'lowPrice': 1062.17},
   {'localDate': '20200517',
    'closePrice': 1059.11,
    'openPrice': 0,
    'highPrice': 1061.32,
    'lowPrice': 1058.76},
   {'localDate': '20200524',
    'closePrice': 1064.53,
    'openPrice': 0,
    'highPrice': 1064.53,
    'lowPrice': 1059.45},
   {'localDate': '20200531',
    'closePrice': 1078.2,
    'openPrice': 0,
    'highPrice': 1078.2,
    'lowPrice': 1065.86},
   {'localDate': '20200607',
    'closePrice': 1101.37,
    'openPrice': 0,
    'highPrice': 1101.37,
    'lowPrice': 1081.83},
   {'localDate': '20200614',
    'closePrice': 1128.98,
    'openPrice': 0,
    'highPrice': 1128.98,
    'lowPrice': 1105.86},
   {'localDate': '20200621',
    'closePrice': 1145.49,
    'openPrice': 0,
    'highPrice': 1145.49,
    'lowPrice': 1131.65},
   {'localDate': '20200628',
    'closePrice': 1156.35,
    'openPrice': 0,
    'highPrice': 1156.35,
    'lowPrice': 1147.87},
   {'localDate': '20200705',
    'closePrice': 1161.47,
    'openPrice': 0,
    'highPrice': 1161.47,
    'lowPrice': 1157.39},
   {'localDate': '20200712',
    'closePrice': 1163.14,
    'openPrice': 0,
    'highPrice': 1163.22,
    'lowPrice': 1161.95},
   {'localDate': '20200719',
    'closePrice': 1163.62,
    'openPrice': 0,
    'highPrice': 1163.76,
    'lowPrice': 1163.32},
   {'localDate': '20200726',
    'closePrice': 1163.48,
    'openPrice': 0,
    'highPrice': 1163.67,
    'lowPrice': 1163.44},
   {'localDate': '20200802',
    'closePrice': 1163.67,
    'openPrice': 0,
    'highPrice': 1163.69,
    'lowPrice': 1163.39},
   {'localDate': '20200809',
    'closePrice': 1163.41,
    'openPrice': 0,
    'highPrice': 1163.93,
    'lowPrice': 1163.41},
   {'localDate': '20200816',
    'closePrice': 1163.68,
    'openPrice': 0,
    'highPrice': 1163.68,
    'lowPrice': 1163.42},
   {'localDate': '20200823',
    'closePrice': 1163.62,
    'openPrice': 0,
    'highPrice': 1163.81,
    'lowPrice': 1163.62},
   {'localDate': '20200830',
    'closePrice': 1163.18,
    'openPrice': 0,
    'highPrice': 1163.74,
    'lowPrice': 1163.13},
   {'localDate': '20200906',
    'closePrice': 1162.23,
    'openPrice': 0,
    'highPrice': 1163.11,
    'lowPrice': 1162.23},
   {'localDate': '20200913',
    'closePrice': 1157.92,
    'openPrice': 0,
    'highPrice': 1161.94,
    'lowPrice': 1157.92},
   {'localDate': '20200920',
    'closePrice': 1151.1,
    'openPrice': 0,
    'highPrice': 1157.38,
    'lowPrice': 1151.1},
   {'localDate': '20200927',
    'closePrice': 1145.23,
    'openPrice': 0,
    'highPrice': 1150.41,
    'lowPrice': 1145.23},
   {'localDate': '20201004',
    'closePrice': 1141.04,
    'openPrice': 0,
    'highPrice': 1144.9,
    'lowPrice': 1141.04},
   {'localDate': '20201011',
    'closePrice': 1136.39,
    'openPrice': 0,
    'highPrice': 1140.16,
    'lowPrice': 1136.39},
   {'localDate': '20201018',
    'closePrice': 1133.01,
    'openPrice': 0,
    'highPrice': 1135.99,
    'lowPrice': 1133.01},
   {'localDate': '20201025',
    'closePrice': 1129.46,
    'openPrice': 0,
    'highPrice': 1132.58,
    'lowPrice': 1129.46},
   {'localDate': '20201101',
    'closePrice': 1124.5,
    'openPrice': 0,
    'highPrice': 1129.08,
    'lowPrice': 1124.5},
   {'localDate': '20201108',
    'closePrice': 1119.02,
    'openPrice': 0,
    'highPrice': 1123.72,
    'lowPrice': 1119.02},
   {'localDate': '20201115',
    'closePrice': 1117.34,
    'openPrice': 0,
    'highPrice': 1118.72,
    'lowPrice': 1117.34},
   {'localDate': '20201122',
    'closePrice': 1117.64,
    'openPrice': 0,
    'highPrice': 1117.74,
    'lowPrice': 1116.97},
   {'localDate': '20201129',
    'closePrice': 1124.07,
    'openPrice': 0,
    'highPrice': 1124.07,
    'lowPrice': 1117.94},
   {'localDate': '20201206',
    'closePrice': 1135.32,
    'openPrice': 0,
    'highPrice': 1135.32,
    'lowPrice': 1125.19},
   {'localDate': '20201213',
    'closePrice': 1151.81,
    'openPrice': 0,
    'highPrice': 1151.81,
    'lowPrice': 1137.26},
   {'localDate': '20201220',
    'closePrice': 1180.45,
    'openPrice': 0,
    'highPrice': 1180.45,
    'lowPrice': 1154.5},
   {'localDate': '20201227',
    'closePrice': 1207.54,
    'openPrice': 0,
    'highPrice': 1207.54,
    'lowPrice': 1185.17},
   {'localDate': '20210103',
    'closePrice': 1227.34,
    'openPrice': 0,

In [ ]:
datas = res.json()['result']['priceInfos']
datas

[{'localDate': '20180114',
  'closePrice': 1342.67,
  'openPrice': 0,
  'highPrice': 1342.67,
  'lowPrice': 1339.89},
 {'localDate': '20180121',
  'closePrice': 1347.27,
  'openPrice': 0,
  'highPrice': 1347.27,
  'lowPrice': 1343.6},
 {'localDate': '20180128',
  'closePrice': 1352.37,
  'openPrice': 0,
  'highPrice': 1352.37,
  'lowPrice': 1348.26},
 {'localDate': '20180204',
  'closePrice': 1358.08,
  'openPrice': 0,
  'highPrice': 1358.08,
  'lowPrice': 1353.35},
 {'localDate': '20180211',
  'closePrice': 1360.95,
  'openPrice': 0,
  'highPrice': 1361.07,
  'lowPrice': 1358.81},
 {'localDate': '20180218',
  'closePrice': 1361.69,
  'openPrice': 0,
  'highPrice': 1361.76,
  'lowPrice': 1361.39},
 {'localDate': '20180225',
  'closePrice': 1360.26,
  'openPrice': 0,
  'highPrice': 1361.78,
  'lowPrice': 1360.26},
 {'localDate': '20180304',
  'closePrice': 1359.13,
  'openPrice': 0,
  'highPrice': 1360.47,
  'lowPrice': 1359.13},
 {'localDate': '20180311',
  'closePrice': 1357.24,
  'openPrice': 0,
  'highPrice': 1359.18,
  'lowPrice': 1357.24},
 {'localDate': '20180318',
  'closePrice': 1353.5,
  'openPrice': 0,
  'highPrice': 1357.27,
  'lowPrice': 1353.5},
 {'localDate': '20180325',
  'closePrice': 1349.89,
  'openPrice': 0,
  'highPrice': 1353.19,
  'lowPrice': 1349.89},
 {'localDate': '20180401',
  'closePrice': 1348.5,
  'openPrice': 0,
  'highPrice': 1350.21,
  'lowPrice': 1348.5},
 {'localDate': '20180408',
  'closePrice': 1347.58,
  'openPrice': 0,
  'highPrice': 1348.69,
  'lowPrice': 1347.58},
 {'localDate': '20180415',
  'closePrice': 1346.99,
  'openPrice': 0,
  'highPrice': 1347.82,
  'lowPrice': 1346.99},
 {'localDate': '20180422',
  'closePrice': 1349.11,
  'openPrice': 0,
  'highPrice': 1349.12,
  'lowPrice': 1347.41},
 {'localDate': '20180429',
  'closePrice': 1353.33,
  'openPrice': 0,
  'highPrice': 1353.33,
  'lowPrice': 1349.54},
 {'localDate': '20180506',
  'closePrice': 1360.67,
  'openPrice': 0,
  'highPrice': 1360.67,
  'lowPrice': 1354.19},
 {'localDate': '20180513',
  'closePrice': 1372.7,
  'openPrice': 0,
  'highPrice': 1372.7,
  'lowPrice': 1361.45},
 {'localDate': '20180520',
  'closePrice': 1386.29,
  'openPrice': 0,
  'highPrice': 1386.29,
  'lowPrice': 1374.72},
 {'localDate': '20180527',
  'closePrice': 1402.69,
  'openPrice': 0,
  'highPrice': 1402.69,
  'lowPrice': 1387.02},
 {'localDate': '20180603',
  'closePrice': 1409.65,
  'openPrice': 0,
  'highPrice': 1409.65,
  'lowPrice': 1404.41},
 {'localDate': '20180610',
  'closePrice': 1410.76,
  'openPrice': 0,
  'highPrice': 1411.08,
  'lowPrice': 1410.35},
 {'localDate': '20180617',
  'closePrice': 1410.29,
  'openPrice': 0,
  'highPrice': 1411.17,
  'lowPrice': 1410.29},
 {'localDate': '20180624',
  'closePrice': 1408.97,
  'openPrice': 0,
  'highPrice': 1410.41,
  'lowPrice': 1408.97},
 {'localDate': '20180701',
  'closePrice': 1408.44,
  'openPrice': 0,
  'highPrice': 1409.22,
  'lowPrice': 1408.44},
 {'localDate': '20180708',
  'closePrice': 1409.91,
  'openPrice': 0,
  'highPrice': 1410,
  'lowPrice': 1408.72},
 {'localDate': '20180715',
  'closePrice': 1411.97,
  'openPrice': 0,
  'highPrice': 1412.03,
  'lowPrice': 1410.25},
 {'localDate': '20180722',
  'closePrice': 1412.69,
  'openPrice': 0,
  'highPrice': 1412.88,
  'lowPrice': 1412.52},
 {'localDate': '20180729',
  'closePrice': 1413.7,
  'openPrice': 0,
  'highPrice': 1413.71,
  'lowPrice': 1413.23},
 {'localDate': '20180805',
  'closePrice': 1416.37,
  'openPrice': 0,
  'highPrice': 1416.38,
  'lowPrice': 1414.24},
 {'localDate': '20180812',
  'closePrice': 1418.42,
  'openPrice': 0,
  'highPrice': 1418.42,
  'lowPrice': 1416.92},
 {'localDate': '20180819',
  'closePrice': 1419.81,
  'openPrice': 0,
  'highPrice': 1420.04,
  'lowPrice': 1419},
 {'localDate': '20180826',
  'closePrice': 1420.47,
  'openPrice': 0,
  'highPrice': 1420.57,
  'lowPrice': 1420.23},
 {'localDate': '20180902',
  'closePrice': 1422.73,
  'openPrice': 0,
  'highPrice': 1422.73,
  'lowPrice': 1420.91},
 {'localDate': '20180909',
  'closePrice': 1428.68,
  'openPrice': 0,
  'highPrice': 1428.68,
  'lowPrice': 1423.48},
 {'localDate': '20180916',
  'closePrice': 1439.13,
  'openPrice': 0,
  'highPrice': 1439.13,
  'lowPrice': 1429.71},
 {'localDate': '20180923',
  'closePrice': 1450.34,
  'openPrice': 0,
  'highPrice': 1450.34,
  'lowPrice': 1440.96},
 {'localDate': '20180930',
  'closePrice': 1456.47,
  'openPrice': 0,
  'highPrice': 1456.47,
  'lowPrice': 1450.83},
 {'localDate': '20181007',
  'closePrice': 1472.75,
  'openPrice': 0,
  'highPrice': 1472.75,
  'lowPrice': 1458.98},
 {'localDate': '20181014',
  'closePrice': 1487.61,
  'openPrice': 0,
  'highPrice': 1487.61,
  'lowPrice': 1475.13},
 {'localDate': '20181021',
  'closePrice': 1494,
  'openPrice': 0,
  'highPrice': 1494,
  'lowPrice': 1489.18},
 {'localDate': '20181028',
  'closePrice': 1494.71,
  'openPrice': 0,
  'highPrice': 1494.82,
  'lowPrice': 1494.63},
 {'localDate': '20181104',
  'closePrice': 1495.6,
  'openPrice': 0,
  'highPrice': 1495.76,
  'lowPrice': 1495.16},
 {'localDate': '20181111',
  'closePrice': 1425.16,
  'openPrice': 0,
  'highPrice': 1495.76,
  'lowPrice': 1425.16},
 {'localDate': '20181118',
  'closePrice': 1407.06,
  'openPrice': 0,
  'highPrice': 1422.44,
  'lowPrice': 1407.06},
 {'localDate': '20181125',
  'closePrice': 1390.48,
  'openPrice': 0,
  'highPrice': 1405.7,
  'lowPrice': 1390.48},
 {'localDate': '20181202',
  'closePrice': 1368.46,
  'openPrice': 0,
  'highPrice': 1389.11,
  'lowPrice': 1368.46},
 {'localDate': '20181209',
  'closePrice': 1347.13,
  'openPrice': 0,
  'highPrice': 1366.23,
  'lowPrice': 1347.13},
 {'localDate': '20181216',
  'closePrice': 1326.72,
  'openPrice': 0,
  'highPrice': 1344.98,
  'lowPrice': 1326.72},
 {'localDate': '20181223',
  'closePrice': 1301.33,
  'openPrice': 0,
  'highPrice': 1324.8,
  'lowPrice': 1301.33},
 {'localDate': '20181230',
  'closePrice': 1278.74,
  'openPrice': 0,
  'highPrice': 1297.98,
  'lowPrice': 1278.74},
 {'localDate': '20190106',
  'closePrice': 1257.43,
  'openPrice': 0,
  'highPrice': 1277.23,
  'lowPrice': 1257.43},
 {'localDate': '20190113',
  'closePrice': 1247.24,
  'openPrice': 0,
  'highPrice': 1255.3,
  'lowPrice': 1247.24},
 {'localDate': '20190120',
  'closePrice': 1243.97,
  'openPrice': 0,
  'highPrice': 1246.92,
  'lowPrice': 1243.97},
 {'localDate': '20190127',
  'closePrice': 1243.22,
  'openPrice': 0,
  'highPrice': 1244.06,
  'lowPrice': 1243.22},
 {'localDate': '20190203',
  'closePrice': 1242.9,
  'openPrice': 0,
  'highPrice': 1243.41,
  'lowPrice': 1242.9},
 {'localDate': '20190210',
  'closePrice': 1241.93,
  'openPrice': 0,
  'highPrice': 1242.77,
  'lowPrice': 1241.93},
 {'localDate': '20190217',
  'closePrice': 1241.69,
  'openPrice': 0,
  'highPrice': 1241.92,
  'lowPrice': 1241.42},
 {'localDate': '20190224',
  'closePrice': 1244.03,
  'openPrice': 0,
  'highPrice': 1244.03,
  'lowPrice': 1242.03},
 {'localDate': '20190303',
  'closePrice': 1248.9,
  'openPrice': 0,
  'highPrice': 1248.9,
  'lowPrice': 1244.77},
 {'localDate': '20190310',
  'closePrice': 1255.79,
  'openPrice': 0,
  'highPrice': 1255.79,
  'lowPrice': 1249.48},
 {'localDate': '20190317',
  'closePrice': 1270.67,
  'openPrice': 0,
  'highPrice': 1270.67,
  'lowPrice': 1257.38},
 {'localDate': '20190324',
  'closePrice': 1283.7,
  'openPrice': 0,
  'highPrice': 1283.7,
  'lowPrice': 1272.95},
 {'localDate': '20190331',
  'closePrice': 1292.39,
  'openPrice': 0,
  'highPrice': 1292.39,
  'lowPrice': 1285.44},
 {'localDate': '20190407',
  'closePrice': 1301.4,
  'openPrice': 0,
  'highPrice': 1301.4,
  'lowPrice': 1294.48},
 {'localDate': '20190414',
  'closePrice': 1312.08,
  'openPrice': 0,
  'highPrice': 1312.08,
  'lowPrice': 1302.72},
 {'localDate': '20190421',
  'closePrice': 1324.66,
  'openPrice': 0,
  'highPrice': 1324.66,
  'lowPrice': 1313.98},
 {'localDate': '20190428',
  'closePrice': 1337.81,
  'openPrice': 0,
  'highPrice': 1337.81,
  'lowPrice': 1326.54},
 {'localDate': '20190505',
  'closePrice': 1354.14,
  'openPrice': 0,
  'highPrice': 1354.14,
  'lowPrice': 1339.93},
 {'localDate': '20190512',
  'closePrice': 1390.35,
  'openPrice': 0,
  'highPrice': 1390.35,
  'lowPrice': 1355.76},
 {'localDate': '20190519',
  'closePrice': 1394.95,
  'openPrice': 0,
  'highPrice': 1394.95,
  'lowPrice': 1391.37},
 {'localDate': '20190526',
  'closePrice': 1398.08,
  'openPrice': 0,
  'highPrice': 1398.08,
  'lowPrice': 1395.46},
 {'localDate': '20190602',
  'closePrice': 1398.21,
  'openPrice': 0,
  'highPrice': 1399.11,
  'lowPrice': 1398.21},
 {'localDate': '20190609',
  'closePrice': 1392.79,
  'openPrice': 0,
  'highPrice': 1397.94,
  'lowPrice': 1392.79},
 {'localDate': '20190616',
  'closePrice': 1379.44,
  'openPrice': 0,
  'highPrice': 1391.97,
  'lowPrice': 1379.44},
 {'localDate': '20190623',
  'closePrice': 1365.85,
  'openPrice': 0,
  'highPrice': 1377.66,
  'lowPrice': 1365.85},
 {'localDate': '20190630',
  'closePrice': 1360.29,
  'openPrice': 0,
  'highPrice': 1364.73,
  'lowPrice': 1360.29},
 {'localDate': '20190707',
  'closePrice': 1354.2,
  'openPrice': 0,
  'highPrice': 1359.41,
  'lowPrice': 1354.2},
 {'localDate': '20190714',
  'closePrice': 1351.64,
  'openPrice': 0,
  'highPrice': 1353.91,
  'lowPrice': 1351.64},
 {'localDate': '20190721',
  'closePrice': 1351.17,
  'openPrice': 0,
  'highPrice': 1351.83,
  'lowPrice': 1351.17},
 {'localDate': '20190728',
  'closePrice': 1351.25,
  'openPrice': 0,
  'highPrice': 1351.35,
  'lowPrice': 1351.1},
 {'localDate': '20190804',
  'closePrice': 1352.49,
  'openPrice': 0,
  'highPrice': 1352.61,
  'lowPrice': 1351.49},
 {'localDate': '20190811',
  'closePrice': 1351.71,
  'openPrice': 0,
  'highPrice': 1352.76,
  'lowPrice': 1351.71},
 {'localDate': '20190818',
  'closePrice': 1351.12,
  'openPrice': 0,
  'highPrice': 1351.73,
  'lowPrice': 1351.12},
 {'localDate': '20190825',
  'closePrice': 1351.21,
  'openPrice': 0,
  'highPrice': 1351.31,
  'lowPrice': 1351.04},
 {'localDate': '20190901',
  'closePrice': 1363.44,
  'openPrice': 0,
  'highPrice': 1363.44,
  'lowPrice': 1351.63},
 {'localDate': '20190908',
  'closePrice': 1374.28,
  'openPrice': 0,
  'highPrice': 1374.28,
  'lowPrice': 1368.44},
 {'localDate': '20190915',
  'closePrice': 1376.05,
  'openPrice': 0,
  'highPrice': 1376.19,
  'lowPrice': 1374.61},
 {'localDate': '20190922',
  'closePrice': 1385.86,
  'openPrice': 0,
  'highPrice': 1385.86,
  'lowPrice': 1377},
 {'localDate': '20190929',
  'closePrice': 1390.98,
  'openPrice': 0,
  'highPrice': 1390.98,
  'lowPrice': 1386.98},
 {'localDate': '20191006',
  'closePrice': 1390.85,
  'openPrice': 0,
  'highPrice': 1391.75,
  'lowPrice': 1390.85},
 {'localDate': '20191013',
  'closePrice': 1388.97,
  'openPrice': 0,
  'highPrice': 1390.76,
  'lowPrice': 1388.97},
 {'localDate': '20191020',
  'closePrice': 1386.38,
  'openPrice': 0,
  'highPrice': 1388.93,
  'lowPrice': 1386.38},
 {'localDate': '20191027',
  'closePrice': 1383.9,
  'openPrice': 0,
  'highPrice': 1386.24,
  'lowPrice': 1383.9},
 {'localDate': '20191103',
  'closePrice': 1382,
  'openPrice': 0,
  'highPrice': 1383.83,
  'lowPrice': 1382},
 {'localDate': '20191110',
  'closePrice': 1380.22,
  'openPrice': 0,
  'highPrice': 1382.03,
  'lowPrice': 1380.22},
 {'localDate': '20191117',
  'closePrice': 1380,
  'openPrice': 0,
  'highPrice': 1380.39,
  'lowPrice': 1380},
 {'localDate': '20191124',
  'closePrice': 1379.75,
  'openPrice': 0,
  'highPrice': 1380.13,
  'lowPrice': 1379.68},
 {'localDate': '20191201',
  'closePrice': 1380.42,
  'openPrice': 0,
  'highPrice': 1380.42,
  'lowPrice': 1380},
 {'localDate': '20191208',
  'closePrice': 1381.76,
  'openPrice': 0,
  'highPrice': 1381.78,
  'lowPrice': 1380.65},
 {'localDate': '20191215',
  'closePrice': 1384.42,
  'openPrice': 0,
  'highPrice': 1384.42,
  'lowPrice': 1382.35},
 {'localDate': '20191222',
  'closePrice': 1387.49,
  'openPrice': 0,
  'highPrice': 1387.49,
  'lowPrice': 1385.04},
 {'localDate': '20191229',
  'closePrice': 1390.71,
  'openPrice': 0,
  'highPrice': 1390.71,
  'lowPrice': 1388.05},
 {'localDate': '20200105',
  'closePrice': 1394.03,
  'openPrice': 0,
  'highPrice': 1394.03,
  'lowPrice': 1391.19},
 {'localDate': '20200112',
  'closePrice': 1400.31,
  'openPrice': 0,
  'highPrice': 1400.31,
  'lowPrice': 1394.97},
 {'localDate': '20200119',
  'closePrice': 1400.52,
  'openPrice': 0,
  'highPrice': 1401.06,
  'lowPrice': 1400.52},
 {'localDate': '20200126',
  'closePrice': 1399.63,
  'openPrice': 0,
  'highPrice': 1400.67,
  'lowPrice': 1399.63},
 {'localDate': '20200202',
  'closePrice': 1394.1,
  'openPrice': 0,
  'highPrice': 1399.13,
  'lowPrice': 1394.1},
 {'localDate': '20200209',
  'closePrice': 1383.7,
  'openPrice': 0,
  'highPrice': 1393.18,
  'lowPrice': 1383.7},
 {'localDate': '20200216',
  'closePrice': 1366.27,
  'openPrice': 0,
  'highPrice': 1382.38,
  'lowPrice': 1366.27},
 {'localDate': '20200223',
  'closePrice': 1354.19,
  'openPrice': 0,
  'highPrice': 1364.35,
  'lowPrice': 1354.19},
 {'localDate': '20200301',
  'closePrice': 1342.68,
  'openPrice': 0,
  'highPrice': 1353.38,
  'lowPrice': 1342.68},
 {'localDate': '20200308',
  'closePrice': 1327.27,
  'openPrice': 0,
  'highPrice': 1340.72,
  'lowPrice': 1327.27},
 {'localDate': '20200315',
  'closePrice': 1295.73,
  'openPrice': 0,
  'highPrice': 1324.82,
  'lowPrice': 1295.73},
 {'localDate': '20200322',
  'closePrice': 1250.05,
  'openPrice': 0,
  'highPrice': 1291.56,
  'lowPrice': 1250.05},
 {'localDate': '20200329',
  'closePrice': 1209.9,
  'openPrice': 0,
  'highPrice': 1244.7,
  'lowPrice': 1209.9},
 {'localDate': '20200405',
  'closePrice': 1172.64,
  'openPrice': 0,
  'highPrice': 1205.16,
  'lowPrice': 1172.64},
 {'localDate': '20200412',
  'closePrice': 1145.88,
  'openPrice': 0,
  'highPrice': 1169.74,
  'lowPrice': 1145.88},
 {'localDate': '20200419',
  'closePrice': 1120.79,
  'openPrice': 0,
  'highPrice': 1143.12,
  'lowPrice': 1120.79},
 {'localDate': '20200426',
  'closePrice': 1092.87,
  'openPrice': 0,
  'highPrice': 1117.5,
  'lowPrice': 1092.87},
 {'localDate': '20200503',
  'closePrice': 1072.7,
  'openPrice': 0,
  'highPrice': 1090.08,
  'lowPrice': 1072.7},
 {'localDate': '20200510',
  'closePrice': 1062.17,
  'openPrice': 0,
  'highPrice': 1071.08,
  'lowPrice': 1062.17},
 {'localDate': '20200517',
  'closePrice': 1059.11,
  'openPrice': 0,
  'highPrice': 1061.32,
  'lowPrice': 1058.76},
 {'localDate': '20200524',
  'closePrice': 1064.53,
  'openPrice': 0,
  'highPrice': 1064.53,
  'lowPrice': 1059.45},
 {'localDate': '20200531',
  'closePrice': 1078.2,
  'openPrice': 0,
  'highPrice': 1078.2,
  'lowPrice': 1065.86},
 {'localDate': '20200607',
  'closePrice': 1101.37,
  'openPrice': 0,
  'highPrice': 1101.37,
  'lowPrice': 1081.83},
 {'localDate': '20200614',
  'closePrice': 1128.98,
  'openPrice': 0,
  'highPrice': 1128.98,
  'lowPrice': 1105.86},
 {'localDate': '20200621',
  'closePrice': 1145.49,
  'openPrice': 0,
  'highPrice': 1145.49,
  'lowPrice': 1131.65},
 {'localDate': '20200628',
  'closePrice': 1156.35,
  'openPrice': 0,
  'highPrice': 1156.35,
  'lowPrice': 1147.87},
 {'localDate': '20200705',
  'closePrice': 1161.47,
  'openPrice': 0,
  'highPrice': 1161.47,
  'lowPrice': 1157.39},
 {'localDate': '20200712',
  'closePrice': 1163.14,
  'openPrice': 0,
  'highPrice': 1163.22,
  'lowPrice': 1161.95},
 {'localDate': '20200719',
  'closePrice': 1163.62,
  'openPrice': 0,
  'highPrice': 1163.76,
  'lowPrice': 1163.32},
 {'localDate': '20200726',
  'closePrice': 1163.48,
  'openPrice': 0,
  'highPrice': 1163.67,
  'lowPrice': 1163.44},
 {'localDate': '20200802',
  'closePrice': 1163.67,
  'openPrice': 0,
  'highPrice': 1163.69,
  'lowPrice': 1163.39},
 {'localDate': '20200809',
  'closePrice': 1163.41,
  'openPrice': 0,
  'highPrice': 1163.93,
  'lowPrice': 1163.41},
 {'localDate': '20200816',
  'closePrice': 1163.68,
  'openPrice': 0,
  'highPrice': 1163.68,
  'lowPrice': 1163.42},
 {'localDate': '20200823',
  'closePrice': 1163.62,
  'openPrice': 0,
  'highPrice': 1163.81,
  'lowPrice': 1163.62},
 {'localDate': '20200830',
  'closePrice': 1163.18,
  'openPrice': 0,
  'highPrice': 1163.74,
  'lowPrice': 1163.13},
 {'localDate': '20200906',
  'closePrice': 1162.23,
  'openPrice': 0,
  'highPrice': 1163.11,
  'lowPrice': 1162.23},
 {'localDate': '20200913',
  'closePrice': 1157.92,
  'openPrice': 0,
  'highPrice': 1161.94,
  'lowPrice': 1157.92},
 {'localDate': '20200920',
  'closePrice': 1151.1,
  'openPrice': 0,
  'highPrice': 1157.38,
  'lowPrice': 1151.1},
 {'localDate': '20200927',
  'closePrice': 1145.23,
  'openPrice': 0,
  'highPrice': 1150.41,
  'lowPrice': 1145.23},
 {'localDate': '20201004',
  'closePrice': 1141.04,
  'openPrice': 0,
  'highPrice': 1144.9,
  'lowPrice': 1141.04},
 {'localDate': '20201011',
  'closePrice': 1136.39,
  'openPrice': 0,
  'highPrice': 1140.16,
  'lowPrice': 1136.39},
 {'localDate': '20201018',
  'closePrice': 1133.01,
  'openPrice': 0,
  'highPrice': 1135.99,
  'lowPrice': 1133.01},
 {'localDate': '20201025',
  'closePrice': 1129.46,
  'openPrice': 0,
  'highPrice': 1132.58,
  'lowPrice': 1129.46},
 {'localDate': '20201101',
  'closePrice': 1124.5,
  'openPrice': 0,
  'highPrice': 1129.08,
  'lowPrice': 1124.5},
 {'localDate': '20201108',
  'closePrice': 1119.02,
  'openPrice': 0,
  'highPrice': 1123.72,
  'lowPrice': 1119.02},
 {'localDate': '20201115',
  'closePrice': 1117.34,
  'openPrice': 0,
  'highPrice': 1118.72,
  'lowPrice': 1117.34},
 {'localDate': '20201122',
  'closePrice': 1117.64,
  'openPrice': 0,
  'highPrice': 1117.74,
  'lowPrice': 1116.97},
 {'localDate': '20201129',
  'closePrice': 1124.07,
  'openPrice': 0,
  'highPrice': 1124.07,
  'lowPrice': 1117.94},
 {'localDate': '20201206',
  'closePrice': 1135.32,
  'openPrice': 0,
  'highPrice': 1135.32,
  'lowPrice': 1125.19},
 {'localDate': '20201213',
  'closePrice': 1151.81,
  'openPrice': 0,
  'highPrice': 1151.81,
  'lowPrice': 1137.26},
 {'localDate': '20201220',
  'closePrice': 1180.45,
  'openPrice': 0,
  'highPrice': 1180.45,
  'lowPrice': 1154.5},
 {'localDate': '20201227',
  'closePrice': 1207.54,
  'openPrice': 0,
  'highPrice': 1207.54,
  'lowPrice': 1185.17},
 {'localDate': '20210103',
  'closePrice': 1227.34,
  'openPrice': 0,
  'highPrice': 1227.34,
  'lowPrice': 1210.65},
 {'localDate': '20210110',
  'closePrice': 1237.18,
  'openPrice': 0,
  'highPrice': 1237.18,
  'lowPrice': 1229.15},
 {'localDate': '20210117',
  'closePrice': 1245.76,
  'openPrice': 0,
  'highPrice': 1245.76,
  'lowPrice': 1238.43},
 {'localDate': '20210124',
  'closePrice': 1250.18,
  'openPrice': 0,
  'highPrice': 1250.18,
  'lowPrice': 1246.72},
 {'localDate': '20210131',
  'closePrice': 1251.74,
  'openPrice': 0,
  'highPrice': 1251.78,
  'lowPrice': 1250.68},
 {'localDate': '20210207',
  'closePrice': 1253.96,
  'openPrice': 0,
  'highPrice': 1253.96,
  'lowPrice': 1252.32},
 {'localDate': '20210214',
  'closePrice': 1259.96,
  'openPrice': 0,
  'highPrice': 1259.96,
  'lowPrice': 1254.65},
 {'localDate': '20210221',
  'closePrice': 1270.45,
  'openPrice': 0,
  'highPrice': 1270.45,
  'lowPrice': 1261.14},
 {'localDate': '20210228',
  'closePrice': 1279.82,
  'openPrice': 0,
  'highPrice': 1279.82,
  'lowPrice': 1271.84},
 {'localDate': '20210307',
  'closePrice': 1292.26,
  'openPrice': 0,
  'highPrice': 1292.26,
  'lowPrice': 1281.78},
 {'localDate': '20210314',
  'closePrice': 1311.16,
  'openPrice': 0,
  'highPrice': 1311.16,
  'lowPrice': 1295.2},
 {'localDate': '20210321',
  'closePrice': 1326.48,
  'openPrice': 0,
  'highPrice': 1326.48,
  'lowPrice': 1313.91},
 {'localDate': '20210328',
  'closePrice': 1331.44,
  'openPrice': 0,
  'highPrice': 1331.44,
  'lowPrice': 1327.92},
 {'localDate': '20210404',
  'closePrice': 1333.22,
  'openPrice': 0,
  'highPrice': 1333.28,
  'lowPrice': 1331.88},
 {'localDate': '20210411',
  'closePrice': 1333.07,
  'openPrice': 0,
  'highPrice': 1333.53,
  'lowPrice': 1333.07},

In [ ]:
OIL_LO1 = pd.DataFrame(datas)
OIL_LO1

    localDate  closePrice  openPrice  highPrice  lowPrice
0    20180114     1342.67          0    1342.67   1339.89
1    20180121     1347.27          0    1347.27   1343.60
2    20180128     1352.37          0    1352.37   1348.26
3    20180204     1358.08          0    1358.08   1353.35
4    20180211     1360.95          0    1361.07   1358.81
..        ...         ...        ...        ...       ...
257  20221218     1761.08          0    1806.16   1761.08
258  20221225     1733.57          0    1755.27   1733.57
259  20230101     1720.84          0    1730.60   1720.84
260  20230108     1702.19          0    1719.78   1702.19
261  20230112     1681.14          0    1697.66   1681.14

[262 rows x 5 columns]

In [ ]:
OIL_LO_5 = OIL_LO1.drop(['openPrice', 'closePrice'], axis = 1) # openPrice, closePrice 삭제
OIL_LO_5

    localDate  highPrice  lowPrice
0    20180114    1342.67   1339.89
1    20180121    1347.27   1343.60
2    20180128    1352.37   1348.26
3    20180204    1358.08   1353.35
4    20180211    1361.07   1358.81
..        ...        ...       ...
257  20221218    1806.16   1761.08
258  20221225    1755.27   1733.57
259  20230101    1730.60   1720.84
260  20230108    1719.78   1702.19
261  20230112    1697.66   1681.14

[262 rows x 3 columns]

In [ ]:
OIL_LO1_2019 = OIL_LO_5[:]

OIL_LO2_2019 = OIL_LO1_2019.loc[(OIL_LO1_2019['localDate'] <= "20191231") & (OIL_LO1_2019['localDate'] >= "20190101")]

OIL_LO2_2019

    localDate  highPrice  lowPrice
51   20190106    1277.23   1257.43
52   20190113    1255.30   1247.24
53   20190120    1246.92   1243.97
54   20190127    1244.06   1243.22
55   20190203    1243.41   1242.90
56   20190210    1242.77   1241.93
57   20190217    1241.92   1241.42
58   20190224    1244.03   1242.03
59   20190303    1248.90   1244.77
60   20190310    1255.79   1249.48
61   20190317    1270.67   1257.38
62   20190324    1283.70   1272.95
63   20190331    1292.39   1285.44
64   20190407    1301.40   1294.48
65   20190414    1312.08   1302.72
66   20190421    1324.66   1313.98
67   20190428    1337.81   1326.54
68   20190505    1354.14   1339.93
69   20190512    1390.35   1355.76
70   20190519    1394.95   1391.37
71   20190526    1398.08   1395.46
72   20190602    1399.11   1398.21
73   20190609    1397.94   1392.79
74   20190616    1391.97   1379.44
75   20190623    1377.66   1365.85
76   20190630    1364.73   1360.29
77   20190707    1359.41   1354.20
78   20190714    1353.91   1351.64
79   20190721    1351.83   1351.17
80   20190728    1351.35   1351.10
81   20190804    1352.61   1351.49
82   20190811    1352.76   1351.71
83   20190818    1351.73   1351.12
84   20190825    1351.31   1351.04
85   20190901    1363.44   1351.63
86   20190908    1374.28   1368.44
87   20190915    1376.19   1374.61
88   20190922    1385.86   1377.00
89   20190929    1390.98   1386.98
90   20191006    1391.75   1390.85
91   20191013    1390.76   1388.97
92   20191020    1388.93   1386.38
93   20191027    1386.24   1383.90
94   20191103    1383.83   1382.00
95   20191110    1382.03   1380.22
96   20191117    1380.39   1380.00
97   20191124    1380.13   1379.68
98   20191201    1380.42   1380.00
99   20191208    1381.78   1380.65
100  20191215    1384.42   1382.35
101  20191222    1387.49   1385.04
102  20191229    1390.71   1388.05

In [ ]:
OIL_LO2_2019['price'] = OIL_LO2_2019.mean(axis = 1)
OIL_LO2_2019

<ipython-input-42-cd97b6661e30>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  OIL_LO2_2019['price'] = OIL_LO2_2019.mean(axis = 1)
<ipython-input-42-cd97b6661e30>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_LO2_2019['price'] = OIL_LO2_2019.mean(axis = 1)

    localDate  highPrice  lowPrice     price
51   20190106    1277.23   1257.43  1267.330
52   20190113    1255.30   1247.24  1251.270
53   20190120    1246.92   1243.97  1245.445
54   20190127    1244.06   1243.22  1243.640
55   20190203    1243.41   1242.90  1243.155
56   20190210    1242.77   1241.93  1242.350
57   20190217    1241.92   1241.42  1241.670
58   20190224    1244.03   1242.03  1243.030
59   20190303    1248.90   1244.77  1246.835
60   20190310    1255.79   1249.48  1252.635
61   20190317    1270.67   1257.38  1264.025
62   20190324    1283.70   1272.95  1278.325
63   20190331    1292.39   1285.44  1288.915
64   20190407    1301.40   1294.48  1297.940
65   20190414    1312.08   1302.72  1307.400
66   20190421    1324.66   1313.98  1319.320
67   20190428    1337.81   1326.54  1332.175
68   20190505    1354.14   1339.93  1347.035
69   20190512    1390.35   1355.76  1373.055
70   20190519    1394.95   1391.37  1393.160
71   20190526    1398.08   1395.46  1396.770
72   20190602    1399.11   1398.21  1398.660
73   20190609    1397.94   1392.79  1395.365
74   20190616    1391.97   1379.44  1385.705
75   20190623    1377.66   1365.85  1371.755
76   20190630    1364.73   1360.29  1362.510
77   20190707    1359.41   1354.20  1356.805
78   20190714    1353.91   1351.64  1352.775
79   20190721    1351.83   1351.17  1351.500
80   20190728    1351.35   1351.10  1351.225
81   20190804    1352.61   1351.49  1352.050
82   20190811    1352.76   1351.71  1352.235
83   20190818    1351.73   1351.12  1351.425
84   20190825    1351.31   1351.04  1351.175
85   20190901    1363.44   1351.63  1357.535
86   20190908    1374.28   1368.44  1371.360
87   20190915    1376.19   1374.61  1375.400
88   20190922    1385.86   1377.00  1381.430
89   20190929    1390.98   1386.98  1388.980
90   20191006    1391.75   1390.85  1391.300
91   20191013    1390.76   1388.97  1389.865
92   20191020    1388.93   1386.38  1387.655
93   20191027    1386.24   1383.90  1385.070
94   20191103    1383.83   1382.00  1382.915
95   20191110    1382.03   1380.22  1381.125
96   20191117    1380.39   1380.00  1380.195
97   20191124    1380.13   1379.68  1379.905
98   20191201    1380.42   1380.00  1380.210
99   20191208    1381.78   1380.65  1381.215
100  20191215    1384.42   1382.35  1383.385
101  20191222    1387.49   1385.04  1386.265
102  20191229    1390.71   1388.05  1389.380

In [ ]:
OIL_LO2_2019['sum'] = OIL_LO2_2019['price'].sum(axis = 0)
OIL_LO2_2019

<ipython-input-43-dbdefc856409>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_LO2_2019['sum'] = OIL_LO2_2019['price'].sum(axis = 0)

    localDate  highPrice  lowPrice     price        sum
51   20190106    1277.23   1257.43  1267.330  69681.855
52   20190113    1255.30   1247.24  1251.270  69681.855
53   20190120    1246.92   1243.97  1245.445  69681.855
54   20190127    1244.06   1243.22  1243.640  69681.855
55   20190203    1243.41   1242.90  1243.155  69681.855
56   20190210    1242.77   1241.93  1242.350  69681.855
57   20190217    1241.92   1241.42  1241.670  69681.855
58   20190224    1244.03   1242.03  1243.030  69681.855
59   20190303    1248.90   1244.77  1246.835  69681.855
60   20190310    1255.79   1249.48  1252.635  69681.855
61   20190317    1270.67   1257.38  1264.025  69681.855
62   20190324    1283.70   1272.95  1278.325  69681.855
63   20190331    1292.39   1285.44  1288.915  69681.855
64   20190407    1301.40   1294.48  1297.940  69681.855
65   20190414    1312.08   1302.72  1307.400  69681.855
66   20190421    1324.66   1313.98  1319.320  69681.855
67   20190428    1337.81   1326.54  1332.175  69681.855
68   20190505    1354.14   1339.93  1347.035  69681.855
69   20190512    1390.35   1355.76  1373.055  69681.855
70   20190519    1394.95   1391.37  1393.160  69681.855
71   20190526    1398.08   1395.46  1396.770  69681.855
72   20190602    1399.11   1398.21  1398.660  69681.855
73   20190609    1397.94   1392.79  1395.365  69681.855
74   20190616    1391.97   1379.44  1385.705  69681.855
75   20190623    1377.66   1365.85  1371.755  69681.855
76   20190630    1364.73   1360.29  1362.510  69681.855
77   20190707    1359.41   1354.20  1356.805  69681.855
78   20190714    1353.91   1351.64  1352.775  69681.855
79   20190721    1351.83   1351.17  1351.500  69681.855
80   20190728    1351.35   1351.10  1351.225  69681.855
81   20190804    1352.61   1351.49  1352.050  69681.855
82   20190811    1352.76   1351.71  1352.235  69681.855
83   20190818    1351.73   1351.12  1351.425  69681.855
84   20190825    1351.31   1351.04  1351.175  69681.855
85   20190901    1363.44   1351.63  1357.535  69681.855
86   20190908    1374.28   1368.44  1371.360  69681.855
87   20190915    1376.19   1374.61  1375.400  69681.855
88   20190922    1385.86   1377.00  1381.430  69681.855
89   20190929    1390.98   1386.98  1388.980  69681.855
90   20191006    1391.75   1390.85  1391.300  69681.855
91   20191013    1390.76   1388.97  1389.865  69681.855
92   20191020    1388.93   1386.38  1387.655  69681.855
93   20191027    1386.24   1383.90  1385.070  69681.855
94   20191103    1383.83   1382.00  1382.915  69681.855
95   20191110    1382.03   1380.22  1381.125  69681.855
96   20191117    1380.39   1380.00  1380.195  69681.855
97   20191124    1380.13   1379.68  1379.905  69681.855
98   20191201    1380.42   1380.00  1380.210  69681.855
99   20191208    1381.78   1380.65  1381.215  69681.855
100  20191215    1384.42   1382.35  1383.385  69681.855
101  20191222    1387.49   1385.04  1386.265  69681.855
102  20191229    1390.71   1388.05  1389.380  69681.855

In [ ]:
OIL_LO2_2019['average'] = OIL_LO2_2019['sum'].div(52)
OIL_LO2_2019

<ipython-input-44-a256d6bc57ed>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_LO2_2019['average'] = OIL_LO2_2019['sum'].div(52)

    localDate  highPrice  lowPrice     price        sum      average
51   20190106    1277.23   1257.43  1267.330  69681.855  1340.035673
52   20190113    1255.30   1247.24  1251.270  69681.855  1340.035673
53   20190120    1246.92   1243.97  1245.445  69681.855  1340.035673
54   20190127    1244.06   1243.22  1243.640  69681.855  1340.035673
55   20190203    1243.41   1242.90  1243.155  69681.855  1340.035673
56   20190210    1242.77   1241.93  1242.350  69681.855  1340.035673
57   20190217    1241.92   1241.42  1241.670  69681.855  1340.035673
58   20190224    1244.03   1242.03  1243.030  69681.855  1340.035673
59   20190303    1248.90   1244.77  1246.835  69681.855  1340.035673
60   20190310    1255.79   1249.48  1252.635  69681.855  1340.035673
61   20190317    1270.67   1257.38  1264.025  69681.855  1340.035673
62   20190324    1283.70   1272.95  1278.325  69681.855  1340.035673
63   20190331    1292.39   1285.44  1288.915  69681.855  1340.035673
64   20190407    1301.40   1294.48  1297.940  69681.855  1340.035673
65   20190414    1312.08   1302.72  1307.400  69681.855  1340.035673
66   20190421    1324.66   1313.98  1319.320  69681.855  1340.035673
67   20190428    1337.81   1326.54  1332.175  69681.855  1340.035673
68   20190505    1354.14   1339.93  1347.035  69681.855  1340.035673
69   20190512    1390.35   1355.76  1373.055  69681.855  1340.035673
70   20190519    1394.95   1391.37  1393.160  69681.855  1340.035673
71   20190526    1398.08   1395.46  1396.770  69681.855  1340.035673
72   20190602    1399.11   1398.21  1398.660  69681.855  1340.035673
73   20190609    1397.94   1392.79  1395.365  69681.855  1340.035673
74   20190616    1391.97   1379.44  1385.705  69681.855  1340.035673
75   20190623    1377.66   1365.85  1371.755  69681.855  1340.035673
76   20190630    1364.73   1360.29  1362.510  69681.855  1340.035673
77   20190707    1359.41   1354.20  1356.805  69681.855  1340.035673
78   20190714    1353.91   1351.64  1352.775  69681.855  1340.035673
79   20190721    1351.83   1351.17  1351.500  69681.855  1340.035673
80   20190728    1351.35   1351.10  1351.225  69681.855  1340.035673
81   20190804    1352.61   1351.49  1352.050  69681.855  1340.035673
82   20190811    1352.76   1351.71  1352.235  69681.855  1340.035673
83   20190818    1351.73   1351.12  1351.425  69681.855  1340.035673
84   20190825    1351.31   1351.04  1351.175  69681.855  1340.035673
85   20190901    1363.44   1351.63  1357.535  69681.855  1340.035673
86   20190908    1374.28   1368.44  1371.360  69681.855  1340.035673
87   20190915    1376.19   1374.61  1375.400  69681.855  1340.035673
88   20190922    1385.86   1377.00  1381.430  69681.855  1340.035673
89   20190929    1390.98   1386.98  1388.980  69681.855  1340.035673
90   20191006    1391.75   1390.85  1391.300  69681.855  1340.035673
91   20191013    1390.76   1388.97  1389.865  69681.855  1340.035673
92   20191020    1388.93   1386.38  1387.655  69681.855  1340.035673
93   20191027    1386.24   1383.90  1385.070  69681.855  1340.035673
94   20191103    1383.83   1382.00  1382.915  69681.855  1340.035673
95   20191110    1382.03   1380.22  1381.125  69681.855  1340.035673
96   20191117    1380.39   1380.00  1380.195  69681.855  1340.035673
97   20191124    1380.13   1379.68  1379.905  69681.855  1340.035673
98   20191201    1380.42   1380.00  1380.210  69681.855  1340.035673
99   20191208    1381.78   1380.65  1381.215  69681.855  1340.035673
100  20191215    1384.42   1382.35  1383.385  69681.855  1340.035673
101  20191222    1387.49   1385.04  1386.265  69681.855  1340.035673
102  20191229    1390.71   1388.05  1389.380  69681.855  1340.035673

In [ ]:
OIL_LO3_2019 = OIL_LO2_2019.drop(['localDate', 'highPrice', 'lowPrice', 'price', 'sum'], axis = 1)
OIL_LO4_2019 = OIL_LO3_2019.reset_index(drop = True)

OIL_LO4_2019

        average
0   1340.035673
1   1340.035673
2   1340.035673
3   1340.035673
4   1340.035673
5   1340.035673
6   1340.035673
7   1340.035673
8   1340.035673
9   1340.035673
10  1340.035673
11  1340.035673
12  1340.035673
13  1340.035673
14  1340.035673
15  1340.035673
16  1340.035673
17  1340.035673
18  1340.035673
19  1340.035673
20  1340.035673
21  1340.035673
22  1340.035673
23  1340.035673
24  1340.035673
25  1340.035673
26  1340.035673
27  1340.035673
28  1340.035673
29  1340.035673
30  1340.035673
31  1340.035673
32  1340.035673
33  1340.035673
34  1340.035673
35  1340.035673
36  1340.035673
37  1340.035673
38  1340.035673
39  1340.035673
40  1340.035673
41  1340.035673
42  1340.035673
43  1340.035673
44  1340.035673
45  1340.035673
46  1340.035673
47  1340.035673
48  1340.035673
49  1340.035673
50  1340.035673
51  1340.035673

In [ ]:
OIL_LO_2019 = OIL_LO4_2019.iloc[0]
OIL_GSL_2019

           연도            0
average  2019  1471.735481

In [ ]:
OIL_LO1_2020 = OIL_LO_5[:]

OIL_LO2_2020 = OIL_LO1_2020.loc[(OIL_LO1_2020['localDate'] <= "20201231") & (OIL_LO1_2020['localDate'] >= "20200101")]

OIL_LO2_2020

    localDate  highPrice  lowPrice
103  20200105    1394.03   1391.19
104  20200112    1400.31   1394.97
105  20200119    1401.06   1400.52
106  20200126    1400.67   1399.63
107  20200202    1399.13   1394.10
108  20200209    1393.18   1383.70
109  20200216    1382.38   1366.27
110  20200223    1364.35   1354.19
111  20200301    1353.38   1342.68
112  20200308    1340.72   1327.27
113  20200315    1324.82   1295.73
114  20200322    1291.56   1250.05
115  20200329    1244.70   1209.90
116  20200405    1205.16   1172.64
117  20200412    1169.74   1145.88
118  20200419    1143.12   1120.79
119  20200426    1117.50   1092.87
120  20200503    1090.08   1072.70
121  20200510    1071.08   1062.17
122  20200517    1061.32   1058.76
123  20200524    1064.53   1059.45
124  20200531    1078.20   1065.86
125  20200607    1101.37   1081.83
126  20200614    1128.98   1105.86
127  20200621    1145.49   1131.65
128  20200628    1156.35   1147.87
129  20200705    1161.47   1157.39
130  20200712    1163.22   1161.95
131  20200719    1163.76   1163.32
132  20200726    1163.67   1163.44
133  20200802    1163.69   1163.39
134  20200809    1163.93   1163.41
135  20200816    1163.68   1163.42
136  20200823    1163.81   1163.62
137  20200830    1163.74   1163.13
138  20200906    1163.11   1162.23
139  20200913    1161.94   1157.92
140  20200920    1157.38   1151.10
141  20200927    1150.41   1145.23
142  20201004    1144.90   1141.04
143  20201011    1140.16   1136.39
144  20201018    1135.99   1133.01
145  20201025    1132.58   1129.46
146  20201101    1129.08   1124.50
147  20201108    1123.72   1119.02
148  20201115    1118.72   1117.34
149  20201122    1117.74   1116.97
150  20201129    1124.07   1117.94
151  20201206    1135.32   1125.19
152  20201213    1151.81   1137.26
153  20201220    1180.45   1154.50
154  20201227    1207.54   1185.17

In [ ]:
OIL_LO2_2020['price'] = OIL_LO2_2020.mean(axis = 1)
OIL_LO2_2020

<ipython-input-48-eee745243c5c>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  OIL_LO2_2020['price'] = OIL_LO2_2020.mean(axis = 1)
<ipython-input-48-eee745243c5c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_LO2_2020['price'] = OIL_LO2_2020.mean(axis = 1)

    localDate  highPrice  lowPrice     price
103  20200105    1394.03   1391.19  1392.610
104  20200112    1400.31   1394.97  1397.640
105  20200119    1401.06   1400.52  1400.790
106  20200126    1400.67   1399.63  1400.150
107  20200202    1399.13   1394.10  1396.615
108  20200209    1393.18   1383.70  1388.440
109  20200216    1382.38   1366.27  1374.325
110  20200223    1364.35   1354.19  1359.270
111  20200301    1353.38   1342.68  1348.030
112  20200308    1340.72   1327.27  1333.995
113  20200315    1324.82   1295.73  1310.275
114  20200322    1291.56   1250.05  1270.805
115  20200329    1244.70   1209.90  1227.300
116  20200405    1205.16   1172.64  1188.900
117  20200412    1169.74   1145.88  1157.810
118  20200419    1143.12   1120.79  1131.955
119  20200426    1117.50   1092.87  1105.185
120  20200503    1090.08   1072.70  1081.390
121  20200510    1071.08   1062.17  1066.625
122  20200517    1061.32   1058.76  1060.040
123  20200524    1064.53   1059.45  1061.990
124  20200531    1078.20   1065.86  1072.030
125  20200607    1101.37   1081.83  1091.600
126  20200614    1128.98   1105.86  1117.420
127  20200621    1145.49   1131.65  1138.570
128  20200628    1156.35   1147.87  1152.110
129  20200705    1161.47   1157.39  1159.430
130  20200712    1163.22   1161.95  1162.585
131  20200719    1163.76   1163.32  1163.540
132  20200726    1163.67   1163.44  1163.555
133  20200802    1163.69   1163.39  1163.540
134  20200809    1163.93   1163.41  1163.670
135  20200816    1163.68   1163.42  1163.550
136  20200823    1163.81   1163.62  1163.715
137  20200830    1163.74   1163.13  1163.435
138  20200906    1163.11   1162.23  1162.670
139  20200913    1161.94   1157.92  1159.930
140  20200920    1157.38   1151.10  1154.240
141  20200927    1150.41   1145.23  1147.820
142  20201004    1144.90   1141.04  1142.970
143  20201011    1140.16   1136.39  1138.275
144  20201018    1135.99   1133.01  1134.500
145  20201025    1132.58   1129.46  1131.020
146  20201101    1129.08   1124.50  1126.790
147  20201108    1123.72   1119.02  1121.370
148  20201115    1118.72   1117.34  1118.030
149  20201122    1117.74   1116.97  1117.355
150  20201129    1124.07   1117.94  1121.005
151  20201206    1135.32   1125.19  1130.255
152  20201213    1151.81   1137.26  1144.535
153  20201220    1180.45   1154.50  1167.475
154  20201227    1207.54   1185.17  1196.355

In [ ]:
OIL_LO2_2020['sum'] = OIL_LO2_2020['price'].sum(axis = 0)
OIL_LO2_2020

<ipython-input-49-e3a6a80287a0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_LO2_2020['sum'] = OIL_LO2_2020['price'].sum(axis = 0)

    localDate  highPrice  lowPrice     price        sum
103  20200105    1394.03   1391.19  1392.610  61907.485
104  20200112    1400.31   1394.97  1397.640  61907.485
105  20200119    1401.06   1400.52  1400.790  61907.485
106  20200126    1400.67   1399.63  1400.150  61907.485
107  20200202    1399.13   1394.10  1396.615  61907.485
108  20200209    1393.18   1383.70  1388.440  61907.485
109  20200216    1382.38   1366.27  1374.325  61907.485
110  20200223    1364.35   1354.19  1359.270  61907.485
111  20200301    1353.38   1342.68  1348.030  61907.485
112  20200308    1340.72   1327.27  1333.995  61907.485
113  20200315    1324.82   1295.73  1310.275  61907.485
114  20200322    1291.56   1250.05  1270.805  61907.485
115  20200329    1244.70   1209.90  1227.300  61907.485
116  20200405    1205.16   1172.64  1188.900  61907.485
117  20200412    1169.74   1145.88  1157.810  61907.485
118  20200419    1143.12   1120.79  1131.955  61907.485
119  20200426    1117.50   1092.87  1105.185  61907.485
120  20200503    1090.08   1072.70  1081.390  61907.485
121  20200510    1071.08   1062.17  1066.625  61907.485
122  20200517    1061.32   1058.76  1060.040  61907.485
123  20200524    1064.53   1059.45  1061.990  61907.485
124  20200531    1078.20   1065.86  1072.030  61907.485
125  20200607    1101.37   1081.83  1091.600  61907.485
126  20200614    1128.98   1105.86  1117.420  61907.485
127  20200621    1145.49   1131.65  1138.570  61907.485
128  20200628    1156.35   1147.87  1152.110  61907.485
129  20200705    1161.47   1157.39  1159.430  61907.485
130  20200712    1163.22   1161.95  1162.585  61907.485
131  20200719    1163.76   1163.32  1163.540  61907.485
132  20200726    1163.67   1163.44  1163.555  61907.485
133  20200802    1163.69   1163.39  1163.540  61907.485
134  20200809    1163.93   1163.41  1163.670  61907.485
135  20200816    1163.68   1163.42  1163.550  61907.485
136  20200823    1163.81   1163.62  1163.715  61907.485
137  20200830    1163.74   1163.13  1163.435  61907.485
138  20200906    1163.11   1162.23  1162.670  61907.485
139  20200913    1161.94   1157.92  1159.930  61907.485
140  20200920    1157.38   1151.10  1154.240  61907.485
141  20200927    1150.41   1145.23  1147.820  61907.485
142  20201004    1144.90   1141.04  1142.970  61907.485
143  20201011    1140.16   1136.39  1138.275  61907.485
144  20201018    1135.99   1133.01  1134.500  61907.485
145  20201025    1132.58   1129.46  1131.020  61907.485
146  20201101    1129.08   1124.50  1126.790  61907.485
147  20201108    1123.72   1119.02  1121.370  61907.485
148  20201115    1118.72   1117.34  1118.030  61907.485
149  20201122    1117.74   1116.97  1117.355  61907.485
150  20201129    1124.07   1117.94  1121.005  61907.485
151  20201206    1135.32   1125.19  1130.255  61907.485
152  20201213    1151.81   1137.26  1144.535  61907.485
153  20201220    1180.45   1154.50  1167.475  61907.485
154  20201227    1207.54   1185.17  1196.355  61907.485

In [ ]:
OIL_LO2_2020['average'] = OIL_LO2_2020['sum'].div(52)
OIL_LO2_2020

<ipython-input-50-232c26595aea>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_LO2_2020['average'] = OIL_LO2_2020['sum'].div(52)

    localDate  highPrice  lowPrice     price        sum      average
103  20200105    1394.03   1391.19  1392.610  61907.485  1190.528558
104  20200112    1400.31   1394.97  1397.640  61907.485  1190.528558
105  20200119    1401.06   1400.52  1400.790  61907.485  1190.528558
106  20200126    1400.67   1399.63  1400.150  61907.485  1190.528558
107  20200202    1399.13   1394.10  1396.615  61907.485  1190.528558
108  20200209    1393.18   1383.70  1388.440  61907.485  1190.528558
109  20200216    1382.38   1366.27  1374.325  61907.485  1190.528558
110  20200223    1364.35   1354.19  1359.270  61907.485  1190.528558
111  20200301    1353.38   1342.68  1348.030  61907.485  1190.528558
112  20200308    1340.72   1327.27  1333.995  61907.485  1190.528558
113  20200315    1324.82   1295.73  1310.275  61907.485  1190.528558
114  20200322    1291.56   1250.05  1270.805  61907.485  1190.528558
115  20200329    1244.70   1209.90  1227.300  61907.485  1190.528558
116  20200405    1205.16   1172.64  1188.900  61907.485  1190.528558
117  20200412    1169.74   1145.88  1157.810  61907.485  1190.528558
118  20200419    1143.12   1120.79  1131.955  61907.485  1190.528558
119  20200426    1117.50   1092.87  1105.185  61907.485  1190.528558
120  20200503    1090.08   1072.70  1081.390  61907.485  1190.528558
121  20200510    1071.08   1062.17  1066.625  61907.485  1190.528558
122  20200517    1061.32   1058.76  1060.040  61907.485  1190.528558
123  20200524    1064.53   1059.45  1061.990  61907.485  1190.528558
124  20200531    1078.20   1065.86  1072.030  61907.485  1190.528558
125  20200607    1101.37   1081.83  1091.600  61907.485  1190.528558
126  20200614    1128.98   1105.86  1117.420  61907.485  1190.528558
127  20200621    1145.49   1131.65  1138.570  61907.485  1190.528558
128  20200628    1156.35   1147.87  1152.110  61907.485  1190.528558
129  20200705    1161.47   1157.39  1159.430  61907.485  1190.528558
130  20200712    1163.22   1161.95  1162.585  61907.485  1190.528558
131  20200719    1163.76   1163.32  1163.540  61907.485  1190.528558
132  20200726    1163.67   1163.44  1163.555  61907.485  1190.528558
133  20200802    1163.69   1163.39  1163.540  61907.485  1190.528558
134  20200809    1163.93   1163.41  1163.670  61907.485  1190.528558
135  20200816    1163.68   1163.42  1163.550  61907.485  1190.528558
136  20200823    1163.81   1163.62  1163.715  61907.485  1190.528558
137  20200830    1163.74   1163.13  1163.435  61907.485  1190.528558
138  20200906    1163.11   1162.23  1162.670  61907.485  1190.528558
139  20200913    1161.94   1157.92  1159.930  61907.485  1190.528558
140  20200920    1157.38   1151.10  1154.240  61907.485  1190.528558
141  20200927    1150.41   1145.23  1147.820  61907.485  1190.528558
142  20201004    1144.90   1141.04  1142.970  61907.485  1190.528558
143  20201011    1140.16   1136.39  1138.275  61907.485  1190.528558
144  20201018    1135.99   1133.01  1134.500  61907.485  1190.528558
145  20201025    1132.58   1129.46  1131.020  61907.485  1190.528558
146  20201101    1129.08   1124.50  1126.790  61907.485  1190.528558
147  20201108    1123.72   1119.02  1121.370  61907.485  1190.528558
148  20201115    1118.72   1117.34  1118.030  61907.485  1190.528558
149  20201122    1117.74   1116.97  1117.355  61907.485  1190.528558
150  20201129    1124.07   1117.94  1121.005  61907.485  1190.528558
151  20201206    1135.32   1125.19  1130.255  61907.485  1190.528558
152  20201213    1151.81   1137.26  1144.535  61907.485  1190.528558
153  20201220    1180.45   1154.50  1167.475  61907.485  1190.528558
154  20201227    1207.54   1185.17  1196.355  61907.485  1190.528558

In [ ]:
OIL_LO3_2020 = OIL_LO2_2020.drop(['localDate', 'highPrice', 'lowPrice', 'price', 'sum'], axis = 1)
OIL_LO4_2020 = OIL_LO3_2020.reset_index(drop = True)

OIL_LO4_2020

        average
0   1190.528558
1   1190.528558
2   1190.528558
3   1190.528558
4   1190.528558
5   1190.528558
6   1190.528558
7   1190.528558
8   1190.528558
9   1190.528558
10  1190.528558
11  1190.528558
12  1190.528558
13  1190.528558
14  1190.528558
15  1190.528558
16  1190.528558
17  1190.528558
18  1190.528558
19  1190.528558
20  1190.528558
21  1190.528558
22  1190.528558
23  1190.528558
24  1190.528558
25  1190.528558
26  1190.528558
27  1190.528558
28  1190.528558
29  1190.528558
30  1190.528558
31  1190.528558
32  1190.528558
33  1190.528558
34  1190.528558
35  1190.528558
36  1190.528558
37  1190.528558
38  1190.528558
39  1190.528558
40  1190.528558
41  1190.528558
42  1190.528558
43  1190.528558
44  1190.528558
45  1190.528558
46  1190.528558
47  1190.528558
48  1190.528558
49  1190.528558
50  1190.528558
51  1190.528558

In [ ]:
OIL_LO_2020 = OIL_LO4_2020.iloc[0]
OIL_LO_2020

average    1190.528558
Name: 0, dtype: float64

In [ ]:
OIL_LO1_2021 = OIL_LO_5[:]

OIL_LO2_2021 = OIL_LO1_2021.loc[(OIL_LO1_2021['localDate'] <= "20211231") & (OIL_LO1_2021['localDate'] >= "20210101")]

OIL_LO2_2021

    localDate  highPrice  lowPrice
155  20210103    1227.34   1210.65
156  20210110    1237.18   1229.15
157  20210117    1245.76   1238.43
158  20210124    1250.18   1246.72
159  20210131    1251.78   1250.68
160  20210207    1253.96   1252.32
161  20210214    1259.96   1254.65
162  20210221    1270.45   1261.14
163  20210228    1279.82   1271.84
164  20210307    1292.26   1281.78
165  20210314    1311.16   1295.20
166  20210321    1326.48   1313.91
167  20210328    1331.44   1327.92
168  20210404    1333.28   1331.88
169  20210411    1333.53   1333.07
170  20210418    1333.19   1332.31
171  20210425    1332.44   1331.97
172  20210502    1332.16   1331.98
173  20210509    1332.98   1332.13
174  20210516    1337.88   1333.61
175  20210523    1342.66   1338.79
176  20210530    1348.30   1343.55
177  20210606    1357.86   1349.25
178  20210613    1369.34   1359.49
179  20210620    1380.93   1371.16
180  20210627    1393.60   1382.59
181  20210704    1407.43   1395.67
182  20210711    1420.88   1409.21
183  20210718    1431.48   1422.61
184  20210725    1435.64   1432.86
185  20210801    1439.18   1436.37
186  20210808    1441.99   1439.98
187  20210815    1442.25   1441.86
188  20210822    1442.01   1439.85
189  20210829    1439.70   1438.03
190  20210905    1438.21   1436.80
191  20210912    1436.93   1436.01
192  20210919    1436.70   1436.18
193  20210926    1437.88   1436.66
194  20211003    1445.07   1438.51
195  20211010    1472.26   1446.28
196  20211017    1518.34   1476.00
197  20211024    1553.43   1523.76
198  20211031    1578.30   1556.64
199  20211107    1598.83   1582.01
200  20211114    1605.64   1555.81
201  20211121    1542.15   1515.15
202  20211128    1513.22   1505.82
203  20211205    1504.95   1494.93
204  20211212    1493.43   1477.06
205  20211219    1475.23   1460.26
206  20211226    1458.47   1447.53

In [ ]:
OIL_LO2_2021['price'] = OIL_LO2_2021.mean(axis = 1)
OIL_LO2_2021

<ipython-input-54-876e36db3dd1>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  OIL_LO2_2021['price'] = OIL_LO2_2021.mean(axis = 1)
<ipython-input-54-876e36db3dd1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_LO2_2021['price'] = OIL_LO2_2021.mean(axis = 1)

    localDate  highPrice  lowPrice     price
155  20210103    1227.34   1210.65  1218.995
156  20210110    1237.18   1229.15  1233.165
157  20210117    1245.76   1238.43  1242.095
158  20210124    1250.18   1246.72  1248.450
159  20210131    1251.78   1250.68  1251.230
160  20210207    1253.96   1252.32  1253.140
161  20210214    1259.96   1254.65  1257.305
162  20210221    1270.45   1261.14  1265.795
163  20210228    1279.82   1271.84  1275.830
164  20210307    1292.26   1281.78  1287.020
165  20210314    1311.16   1295.20  1303.180
166  20210321    1326.48   1313.91  1320.195
167  20210328    1331.44   1327.92  1329.680
168  20210404    1333.28   1331.88  1332.580
169  20210411    1333.53   1333.07  1333.300
170  20210418    1333.19   1332.31  1332.750
171  20210425    1332.44   1331.97  1332.205
172  20210502    1332.16   1331.98  1332.070
173  20210509    1332.98   1332.13  1332.555
174  20210516    1337.88   1333.61  1335.745
175  20210523    1342.66   1338.79  1340.725
176  20210530    1348.30   1343.55  1345.925
177  20210606    1357.86   1349.25  1353.555
178  20210613    1369.34   1359.49  1364.415
179  20210620    1380.93   1371.16  1376.045
180  20210627    1393.60   1382.59  1388.095
181  20210704    1407.43   1395.67  1401.550
182  20210711    1420.88   1409.21  1415.045
183  20210718    1431.48   1422.61  1427.045
184  20210725    1435.64   1432.86  1434.250
185  20210801    1439.18   1436.37  1437.775
186  20210808    1441.99   1439.98  1440.985
187  20210815    1442.25   1441.86  1442.055
188  20210822    1442.01   1439.85  1440.930
189  20210829    1439.70   1438.03  1438.865
190  20210905    1438.21   1436.80  1437.505
191  20210912    1436.93   1436.01  1436.470
192  20210919    1436.70   1436.18  1436.440
193  20210926    1437.88   1436.66  1437.270
194  20211003    1445.07   1438.51  1441.790
195  20211010    1472.26   1446.28  1459.270
196  20211017    1518.34   1476.00  1497.170
197  20211024    1553.43   1523.76  1538.595
198  20211031    1578.30   1556.64  1567.470
199  20211107    1598.83   1582.01  1590.420
200  20211114    1605.64   1555.81  1580.725
201  20211121    1542.15   1515.15  1528.650
202  20211128    1513.22   1505.82  1509.520
203  20211205    1504.95   1494.93  1499.940
204  20211212    1493.43   1477.06  1485.245
205  20211219    1475.23   1460.26  1467.745
206  20211226    1458.47   1447.53  1453.000

In [ ]:
OIL_LO2_2021['sum'] = OIL_LO2_2021['price'].sum(axis = 0)
OIL_LO2_2021

<ipython-input-55-7b4db72dd32b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_LO2_2021['sum'] = OIL_LO2_2021['price'].sum(axis = 0)

    localDate  highPrice  lowPrice     price       sum
155  20210103    1227.34   1210.65  1218.995  72231.77
156  20210110    1237.18   1229.15  1233.165  72231.77
157  20210117    1245.76   1238.43  1242.095  72231.77
158  20210124    1250.18   1246.72  1248.450  72231.77
159  20210131    1251.78   1250.68  1251.230  72231.77
160  20210207    1253.96   1252.32  1253.140  72231.77
161  20210214    1259.96   1254.65  1257.305  72231.77
162  20210221    1270.45   1261.14  1265.795  72231.77
163  20210228    1279.82   1271.84  1275.830  72231.77
164  20210307    1292.26   1281.78  1287.020  72231.77
165  20210314    1311.16   1295.20  1303.180  72231.77
166  20210321    1326.48   1313.91  1320.195  72231.77
167  20210328    1331.44   1327.92  1329.680  72231.77
168  20210404    1333.28   1331.88  1332.580  72231.77
169  20210411    1333.53   1333.07  1333.300  72231.77
170  20210418    1333.19   1332.31  1332.750  72231.77
171  20210425    1332.44   1331.97  1332.205  72231.77
172  20210502    1332.16   1331.98  1332.070  72231.77
173  20210509    1332.98   1332.13  1332.555  72231.77
174  20210516    1337.88   1333.61  1335.745  72231.77
175  20210523    1342.66   1338.79  1340.725  72231.77
176  20210530    1348.30   1343.55  1345.925  72231.77
177  20210606    1357.86   1349.25  1353.555  72231.77
178  20210613    1369.34   1359.49  1364.415  72231.77
179  20210620    1380.93   1371.16  1376.045  72231.77
180  20210627    1393.60   1382.59  1388.095  72231.77
181  20210704    1407.43   1395.67  1401.550  72231.77
182  20210711    1420.88   1409.21  1415.045  72231.77
183  20210718    1431.48   1422.61  1427.045  72231.77
184  20210725    1435.64   1432.86  1434.250  72231.77
185  20210801    1439.18   1436.37  1437.775  72231.77
186  20210808    1441.99   1439.98  1440.985  72231.77
187  20210815    1442.25   1441.86  1442.055  72231.77
188  20210822    1442.01   1439.85  1440.930  72231.77
189  20210829    1439.70   1438.03  1438.865  72231.77
190  20210905    1438.21   1436.80  1437.505  72231.77
191  20210912    1436.93   1436.01  1436.470  72231.77
192  20210919    1436.70   1436.18  1436.440  72231.77
193  20210926    1437.88   1436.66  1437.270  72231.77
194  20211003    1445.07   1438.51  1441.790  72231.77
195  20211010    1472.26   1446.28  1459.270  72231.77
196  20211017    1518.34   1476.00  1497.170  72231.77
197  20211024    1553.43   1523.76  1538.595  72231.77
198  20211031    1578.30   1556.64  1567.470  72231.77
199  20211107    1598.83   1582.01  1590.420  72231.77
200  20211114    1605.64   1555.81  1580.725  72231.77
201  20211121    1542.15   1515.15  1528.650  72231.77
202  20211128    1513.22   1505.82  1509.520  72231.77
203  20211205    1504.95   1494.93  1499.940  72231.77
204  20211212    1493.43   1477.06  1485.245  72231.77
205  20211219    1475.23   1460.26  1467.745  72231.77
206  20211226    1458.47   1447.53  1453.000  72231.77

In [ ]:
OIL_LO2_2021['average'] = OIL_LO2_2021['sum'].div(52)
OIL_LO2_2021

<ipython-input-56-74fc79c0cb3d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_LO2_2021['average'] = OIL_LO2_2021['sum'].div(52)

    localDate  highPrice  lowPrice     price       sum    average
155  20210103    1227.34   1210.65  1218.995  72231.77  1389.0725
156  20210110    1237.18   1229.15  1233.165  72231.77  1389.0725
157  20210117    1245.76   1238.43  1242.095  72231.77  1389.0725
158  20210124    1250.18   1246.72  1248.450  72231.77  1389.0725
159  20210131    1251.78   1250.68  1251.230  72231.77  1389.0725
160  20210207    1253.96   1252.32  1253.140  72231.77  1389.0725
161  20210214    1259.96   1254.65  1257.305  72231.77  1389.0725
162  20210221    1270.45   1261.14  1265.795  72231.77  1389.0725
163  20210228    1279.82   1271.84  1275.830  72231.77  1389.0725
164  20210307    1292.26   1281.78  1287.020  72231.77  1389.0725
165  20210314    1311.16   1295.20  1303.180  72231.77  1389.0725
166  20210321    1326.48   1313.91  1320.195  72231.77  1389.0725
167  20210328    1331.44   1327.92  1329.680  72231.77  1389.0725
168  20210404    1333.28   1331.88  1332.580  72231.77  1389.0725
169  20210411    1333.53   1333.07  1333.300  72231.77  1389.0725
170  20210418    1333.19   1332.31  1332.750  72231.77  1389.0725
171  20210425    1332.44   1331.97  1332.205  72231.77  1389.0725
172  20210502    1332.16   1331.98  1332.070  72231.77  1389.0725
173  20210509    1332.98   1332.13  1332.555  72231.77  1389.0725
174  20210516    1337.88   1333.61  1335.745  72231.77  1389.0725
175  20210523    1342.66   1338.79  1340.725  72231.77  1389.0725
176  20210530    1348.30   1343.55  1345.925  72231.77  1389.0725
177  20210606    1357.86   1349.25  1353.555  72231.77  1389.0725
178  20210613    1369.34   1359.49  1364.415  72231.77  1389.0725
179  20210620    1380.93   1371.16  1376.045  72231.77  1389.0725
180  20210627    1393.60   1382.59  1388.095  72231.77  1389.0725
181  20210704    1407.43   1395.67  1401.550  72231.77  1389.0725
182  20210711    1420.88   1409.21  1415.045  72231.77  1389.0725
183  20210718    1431.48   1422.61  1427.045  72231.77  1389.0725
184  20210725    1435.64   1432.86  1434.250  72231.77  1389.0725
185  20210801    1439.18   1436.37  1437.775  72231.77  1389.0725
186  20210808    1441.99   1439.98  1440.985  72231.77  1389.0725
187  20210815    1442.25   1441.86  1442.055  72231.77  1389.0725
188  20210822    1442.01   1439.85  1440.930  72231.77  1389.0725
189  20210829    1439.70   1438.03  1438.865  72231.77  1389.0725
190  20210905    1438.21   1436.80  1437.505  72231.77  1389.0725
191  20210912    1436.93   1436.01  1436.470  72231.77  1389.0725
192  20210919    1436.70   1436.18  1436.440  72231.77  1389.0725
193  20210926    1437.88   1436.66  1437.270  72231.77  1389.0725
194  20211003    1445.07   1438.51  1441.790  72231.77  1389.0725
195  20211010    1472.26   1446.28  1459.270  72231.77  1389.0725
196  20211017    1518.34   1476.00  1497.170  72231.77  1389.0725
197  20211024    1553.43   1523.76  1538.595  72231.77  1389.0725
198  20211031    1578.30   1556.64  1567.470  72231.77  1389.0725
199  20211107    1598.83   1582.01  1590.420  72231.77  1389.0725
200  20211114    1605.64   1555.81  1580.725  72231.77  1389.0725
201  20211121    1542.15   1515.15  1528.650  72231.77  1389.0725
202  20211128    1513.22   1505.82  1509.520  72231.77  1389.0725
203  20211205    1504.95   1494.93  1499.940  72231.77  1389.0725
204  20211212    1493.43   1477.06  1485.245  72231.77  1389.0725
205  20211219    1475.23   1460.26  1467.745  72231.77  1389.0725
206  20211226    1458.47   1447.53  1453.000  72231.77  1389.0725

In [ ]:
OIL_LO3_2021 = OIL_LO2_2021.drop(['localDate', 'highPrice', 'lowPrice', 'price', 'sum'], axis = 1)
OIL_LO4_2021 = OIL_LO3_2021.reset_index(drop = True)

OIL_LO4_2021

      average
0   1389.0725
1   1389.0725
2   1389.0725
3   1389.0725
4   1389.0725
5   1389.0725
6   1389.0725
7   1389.0725
8   1389.0725
9   1389.0725
10  1389.0725
11  1389.0725
12  1389.0725
13  1389.0725
14  1389.0725
15  1389.0725
16  1389.0725
17  1389.0725
18  1389.0725
19  1389.0725
20  1389.0725
21  1389.0725
22  1389.0725
23  1389.0725
24  1389.0725
25  1389.0725
26  1389.0725
27  1389.0725
28  1389.0725
29  1389.0725
30  1389.0725
31  1389.0725
32  1389.0725
33  1389.0725
34  1389.0725
35  1389.0725
36  1389.0725
37  1389.0725
38  1389.0725
39  1389.0725
40  1389.0725
41  1389.0725
42  1389.0725
43  1389.0725
44  1389.0725
45  1389.0725
46  1389.0725
47  1389.0725
48  1389.0725
49  1389.0725
50  1389.0725
51  1389.0725

In [ ]:
OIL_LO_2021 = OIL_LO4_2021.iloc[0]
OIL_LO_2021

average    1389.0725
Name: 0, dtype: float64

In [ ]:
OIL_LO1_2022 = OIL_LO_5[:]

OIL_LO2_2022 = OIL_LO1_2022.loc[(OIL_LO1_2022['localDate'] <= "20221231") & (OIL_LO1_2022['localDate'] >= "20220101")]

OIL_LO2_2022

    localDate  highPrice  lowPrice
207  20220102    1446.92   1442.09
208  20220109    1441.82   1439.13
209  20220116    1445.13   1439.54
210  20220123    1464.12   1447.28
211  20220130    1483.00   1466.92
212  20220206    1501.32   1484.35
213  20220213    1531.22   1505.56
214  20220220    1557.47   1535.33
215  20220227    1582.87   1560.65
216  20220306    1646.01   1585.96
217  20220313    1872.63   1665.13
218  20220320    1917.79   1894.87
219  20220327    1919.67   1917.84
220  20220403    1920.49   1914.59
221  20220410    1913.10   1905.44
222  20220417    1904.23   1898.56
223  20220424    1902.82   1898.90
224  20220501    1920.97   1906.28
225  20220508    1924.93   1903.88
226  20220515    1966.64   1932.26
227  20220522    1995.93   1970.83
228  20220529    2006.10   1998.60
229  20220605    2021.29   2007.19
230  20220612    2068.35   2024.02
231  20220619    2116.26   2075.63
232  20220626    2149.42   2121.47
233  20220703    2167.69   2153.44
234  20220710    2152.64   2134.55
235  20220717    2130.52   2088.75
236  20220724    2080.88   2032.10
237  20220731    2023.49   1982.24
238  20220807    1975.53   1941.11
239  20220814    1934.95   1891.68
240  20220821    1886.85   1850.35
241  20220828    1845.88   1838.37
242  20220904    1850.79   1840.69
243  20220911    1855.81   1851.13
244  20220918    1860.59   1856.06
245  20220925    1858.23   1843.02
246  20221002    1840.49   1820.44
247  20221009    1820.59   1814.45
248  20221016    1834.78   1821.76
249  20221023    1852.87   1837.13
250  20221030    1867.23   1855.57
251  20221106    1880.46   1869.38
252  20221113    1889.10   1882.59
253  20221120    1889.49   1882.88
254  20221127    1881.18   1866.38
255  20221204    1863.86   1853.12
256  20221211    1850.29   1814.27
257  20221218    1806.16   1761.08
258  20221225    1755.27   1733.57

In [ ]:
OIL_LO2_2022['price'] = OIL_LO2_2022.mean(axis = 1)
OIL_LO2_2022

<ipython-input-60-ffbcfd0bf7fc>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  OIL_LO2_2022['price'] = OIL_LO2_2022.mean(axis = 1)
<ipython-input-60-ffbcfd0bf7fc>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_LO2_2022['price'] = OIL_LO2_2022.mean(axis = 1)

    localDate  highPrice  lowPrice     price
207  20220102    1446.92   1442.09  1444.505
208  20220109    1441.82   1439.13  1440.475
209  20220116    1445.13   1439.54  1442.335
210  20220123    1464.12   1447.28  1455.700
211  20220130    1483.00   1466.92  1474.960
212  20220206    1501.32   1484.35  1492.835
213  20220213    1531.22   1505.56  1518.390
214  20220220    1557.47   1535.33  1546.400
215  20220227    1582.87   1560.65  1571.760
216  20220306    1646.01   1585.96  1615.985
217  20220313    1872.63   1665.13  1768.880
218  20220320    1917.79   1894.87  1906.330
219  20220327    1919.67   1917.84  1918.755
220  20220403    1920.49   1914.59  1917.540
221  20220410    1913.10   1905.44  1909.270
222  20220417    1904.23   1898.56  1901.395
223  20220424    1902.82   1898.90  1900.860
224  20220501    1920.97   1906.28  1913.625
225  20220508    1924.93   1903.88  1914.405
226  20220515    1966.64   1932.26  1949.450
227  20220522    1995.93   1970.83  1983.380
228  20220529    2006.10   1998.60  2002.350
229  20220605    2021.29   2007.19  2014.240
230  20220612    2068.35   2024.02  2046.185
231  20220619    2116.26   2075.63  2095.945
232  20220626    2149.42   2121.47  2135.445
233  20220703    2167.69   2153.44  2160.565
234  20220710    2152.64   2134.55  2143.595
235  20220717    2130.52   2088.75  2109.635
236  20220724    2080.88   2032.10  2056.490
237  20220731    2023.49   1982.24  2002.865
238  20220807    1975.53   1941.11  1958.320
239  20220814    1934.95   1891.68  1913.315
240  20220821    1886.85   1850.35  1868.600
241  20220828    1845.88   1838.37  1842.125
242  20220904    1850.79   1840.69  1845.740
243  20220911    1855.81   1851.13  1853.470
244  20220918    1860.59   1856.06  1858.325
245  20220925    1858.23   1843.02  1850.625
246  20221002    1840.49   1820.44  1830.465
247  20221009    1820.59   1814.45  1817.520
248  20221016    1834.78   1821.76  1828.270
249  20221023    1852.87   1837.13  1845.000
250  20221030    1867.23   1855.57  1861.400
251  20221106    1880.46   1869.38  1874.920
252  20221113    1889.10   1882.59  1885.845
253  20221120    1889.49   1882.88  1886.185
254  20221127    1881.18   1866.38  1873.780
255  20221204    1863.86   1853.12  1858.490
256  20221211    1850.29   1814.27  1832.280
257  20221218    1806.16   1761.08  1783.620
258  20221225    1755.27   1733.57  1744.420

In [ ]:
OIL_LO2_2022['sum'] = OIL_LO2_2022['price'].sum(axis = 0)
OIL_LO2_2022

<ipython-input-61-cb901ecd0a45>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_LO2_2022['sum'] = OIL_LO2_2022['price'].sum(axis = 0)

    localDate  highPrice  lowPrice     price        sum
207  20220102    1446.92   1442.09  1444.505  95667.265
208  20220109    1441.82   1439.13  1440.475  95667.265
209  20220116    1445.13   1439.54  1442.335  95667.265
210  20220123    1464.12   1447.28  1455.700  95667.265
211  20220130    1483.00   1466.92  1474.960  95667.265
212  20220206    1501.32   1484.35  1492.835  95667.265
213  20220213    1531.22   1505.56  1518.390  95667.265
214  20220220    1557.47   1535.33  1546.400  95667.265
215  20220227    1582.87   1560.65  1571.760  95667.265
216  20220306    1646.01   1585.96  1615.985  95667.265
217  20220313    1872.63   1665.13  1768.880  95667.265
218  20220320    1917.79   1894.87  1906.330  95667.265
219  20220327    1919.67   1917.84  1918.755  95667.265
220  20220403    1920.49   1914.59  1917.540  95667.265
221  20220410    1913.10   1905.44  1909.270  95667.265
222  20220417    1904.23   1898.56  1901.395  95667.265
223  20220424    1902.82   1898.90  1900.860  95667.265
224  20220501    1920.97   1906.28  1913.625  95667.265
225  20220508    1924.93   1903.88  1914.405  95667.265
226  20220515    1966.64   1932.26  1949.450  95667.265
227  20220522    1995.93   1970.83  1983.380  95667.265
228  20220529    2006.10   1998.60  2002.350  95667.265
229  20220605    2021.29   2007.19  2014.240  95667.265
230  20220612    2068.35   2024.02  2046.185  95667.265
231  20220619    2116.26   2075.63  2095.945  95667.265
232  20220626    2149.42   2121.47  2135.445  95667.265
233  20220703    2167.69   2153.44  2160.565  95667.265
234  20220710    2152.64   2134.55  2143.595  95667.265
235  20220717    2130.52   2088.75  2109.635  95667.265
236  20220724    2080.88   2032.10  2056.490  95667.265
237  20220731    2023.49   1982.24  2002.865  95667.265
238  20220807    1975.53   1941.11  1958.320  95667.265
239  20220814    1934.95   1891.68  1913.315  95667.265
240  20220821    1886.85   1850.35  1868.600  95667.265
241  20220828    1845.88   1838.37  1842.125  95667.265
242  20220904    1850.79   1840.69  1845.740  95667.265
243  20220911    1855.81   1851.13  1853.470  95667.265
244  20220918    1860.59   1856.06  1858.325  95667.265
245  20220925    1858.23   1843.02  1850.625  95667.265
246  20221002    1840.49   1820.44  1830.465  95667.265
247  20221009    1820.59   1814.45  1817.520  95667.265
248  20221016    1834.78   1821.76  1828.270  95667.265
249  20221023    1852.87   1837.13  1845.000  95667.265
250  20221030    1867.23   1855.57  1861.400  95667.265
251  20221106    1880.46   1869.38  1874.920  95667.265
252  20221113    1889.10   1882.59  1885.845  95667.265
253  20221120    1889.49   1882.88  1886.185  95667.265
254  20221127    1881.18   1866.38  1873.780  95667.265
255  20221204    1863.86   1853.12  1858.490  95667.265
256  20221211    1850.29   1814.27  1832.280  95667.265
257  20221218    1806.16   1761.08  1783.620  95667.265
258  20221225    1755.27   1733.57  1744.420  95667.265

In [ ]:
OIL_LO2_2022['average'] = OIL_LO2_2022['sum'].div(52)
OIL_LO2_2022

<ipython-input-62-f2a5765c08cc>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OIL_LO2_2022['average'] = OIL_LO2_2022['sum'].div(52)

    localDate  highPrice  lowPrice     price        sum      average
207  20220102    1446.92   1442.09  1444.505  95667.265  1839.755096
208  20220109    1441.82   1439.13  1440.475  95667.265  1839.755096
209  20220116    1445.13   1439.54  1442.335  95667.265  1839.755096
210  20220123    1464.12   1447.28  1455.700  95667.265  1839.755096
211  20220130    1483.00   1466.92  1474.960  95667.265  1839.755096
212  20220206    1501.32   1484.35  1492.835  95667.265  1839.755096
213  20220213    1531.22   1505.56  1518.390  95667.265  1839.755096
214  20220220    1557.47   1535.33  1546.400  95667.265  1839.755096
215  20220227    1582.87   1560.65  1571.760  95667.265  1839.755096
216  20220306    1646.01   1585.96  1615.985  95667.265  1839.755096
217  20220313    1872.63   1665.13  1768.880  95667.265  1839.755096
218  20220320    1917.79   1894.87  1906.330  95667.265  1839.755096
219  20220327    1919.67   1917.84  1918.755  95667.265  1839.755096
220  20220403    1920.49   1914.59  1917.540  95667.265  1839.755096
221  20220410    1913.10   1905.44  1909.270  95667.265  1839.755096
222  20220417    1904.23   1898.56  1901.395  95667.265  1839.755096
223  20220424    1902.82   1898.90  1900.860  95667.265  1839.755096
224  20220501    1920.97   1906.28  1913.625  95667.265  1839.755096
225  20220508    1924.93   1903.88  1914.405  95667.265  1839.755096
226  20220515    1966.64   1932.26  1949.450  95667.265  1839.755096
227  20220522    1995.93   1970.83  1983.380  95667.265  1839.755096
228  20220529    2006.10   1998.60  2002.350  95667.265  1839.755096
229  20220605    2021.29   2007.19  2014.240  95667.265  1839.755096
230  20220612    2068.35   2024.02  2046.185  95667.265  1839.755096
231  20220619    2116.26   2075.63  2095.945  95667.265  1839.755096
232  20220626    2149.42   2121.47  2135.445  95667.265  1839.755096
233  20220703    2167.69   2153.44  2160.565  95667.265  1839.755096
234  20220710    2152.64   2134.55  2143.595  95667.265  1839.755096
235  20220717    2130.52   2088.75  2109.635  95667.265  1839.755096
236  20220724    2080.88   2032.10  2056.490  95667.265  1839.755096
237  20220731    2023.49   1982.24  2002.865  95667.265  1839.755096
238  20220807    1975.53   1941.11  1958.320  95667.265  1839.755096
239  20220814    1934.95   1891.68  1913.315  95667.265  1839.755096
240  20220821    1886.85   1850.35  1868.600  95667.265  1839.755096
241  20220828    1845.88   1838.37  1842.125  95667.265  1839.755096
242  20220904    1850.79   1840.69  1845.740  95667.265  1839.755096
243  20220911    1855.81   1851.13  1853.470  95667.265  1839.755096
244  20220918    1860.59   1856.06  1858.325  95667.265  1839.755096
245  20220925    1858.23   1843.02  1850.625  95667.265  1839.755096
246  20221002    1840.49   1820.44  1830.465  95667.265  1839.755096
247  20221009    1820.59   1814.45  1817.520  95667.265  1839.755096
248  20221016    1834.78   1821.76  1828.270  95667.265  1839.755096
249  20221023    1852.87   1837.13  1845.000  95667.265  1839.755096
250  20221030    1867.23   1855.57  1861.400  95667.265  1839.755096
251  20221106    1880.46   1869.38  1874.920  95667.265  1839.755096
252  20221113    1889.10   1882.59  1885.845  95667.265  1839.755096
253  20221120    1889.49   1882.88  1886.185  95667.265  1839.755096
254  20221127    1881.18   1866.38  1873.780  95667.265  1839.755096
255  20221204    1863.86   1853.12  1858.490  95667.265  1839.755096
256  20221211    1850.29   1814.27  1832.280  95667.265  1839.755096
257  20221218    1806.16   1761.08  1783.620  95667.265  1839.755096
258  20221225    1755.27   1733.57  1744.420  95667.265  1839.755096

In [ ]:
OIL_LO3_2022 = OIL_LO2_2022.drop(['localDate', 'highPrice', 'lowPrice', 'price', 'sum'], axis = 1)
OIL_LO4_2022 = OIL_LO3_2022.reset_index(drop = True)

OIL_LO4_2022

        average
0   1839.755096
1   1839.755096
2   1839.755096
3   1839.755096
4   1839.755096
5   1839.755096
6   1839.755096
7   1839.755096
8   1839.755096
9   1839.755096
10  1839.755096
11  1839.755096
12  1839.755096
13  1839.755096
14  1839.755096
15  1839.755096
16  1839.755096
17  1839.755096
18  1839.755096
19  1839.755096
20  1839.755096
21  1839.755096
22  1839.755096
23  1839.755096
24  1839.755096
25  1839.755096
26  1839.755096
27  1839.755096
28  1839.755096
29  1839.755096
30  1839.755096
31  1839.755096
32  1839.755096
33  1839.755096
34  1839.755096
35  1839.755096
36  1839.755096
37  1839.755096
38  1839.755096
39  1839.755096
40  1839.755096
41  1839.755096
42  1839.755096
43  1839.755096
44  1839.755096
45  1839.755096
46  1839.755096
47  1839.755096
48  1839.755096
49  1839.755096
50  1839.755096
51  1839.755096

In [ ]:
OIL_LO_2022 = OIL_LO4_2022.iloc[0]
OIL_LO_2022

average    1839.755096
Name: 0, dtype: float64

In [ ]:
OIL_LO_2019 = OIL_LO_2019.apply(lambda x: pd.Series(x))
OIL_LO_2020 = OIL_LO_2020.apply(lambda x: pd.Series(x))
OIL_LO_2021 = OIL_LO_2021.apply(lambda x: pd.Series(x))
OIL_LO_2022 = OIL_LO_2022.apply(lambda x: pd.Series(x))

In [ ]:
OIL_LO_2019.insert(0, '연도', ['2019'])
OIL_LO_2020.insert(0, '연도', ['2020'])
OIL_LO_2021.insert(0, '연도', ['2021'])
OIL_LO_2022.insert(0, '연도', ['2022'])

OIL_LO = pd.concat([OIL_LO_2019, OIL_LO_2020, OIL_LO_2021, OIL_LO_2022], axis = 0)
OIL_LO

           연도            0
average  2019  1340.035673
average  2020  1190.528558
average  2021  1389.072500
average  2022  1839.755096

In [ ]:
OIL_LO.columns = ['연도', '평균가']
OIL_LO

           연도          평균가
average  2019  1340.035673
average  2020  1190.528558
average  2021  1389.072500
average  2022  1839.755096

In [ ]:
OIL_LO.index = ['0', '1', '2', '3']
OIL_LO

     연도          평균가
0  2019  1340.035673
1  2020  1190.528558
2  2021  1389.072500
3  2022  1839.755096

In [ ]:
OIL_LO.insert(1, '종류', ['경유', '경유', '경유', '경유']) 
OIL_LO

     연도  종류          평균가
0  2019  경유  1340.035673
1  2020  경유  1190.528558
2  2021  경유  1389.072500
3  2022  경유  1839.755096

# csv 파일로 저장

In [ ]:
OIL1 = pd.concat([OIL_GSL, OIL_LO], axis = 0) # 데이터프레임 합치기
OIL1

     연도   종류          평균가
0  2019  휘발유  1471.735481
1  2020  휘발유  1382.102212
2  2021  휘발유  1588.532115
3  2022  휘발유  1814.950096
0  2019   경유  1340.035673
1  2020   경유  1190.528558
2  2021   경유  1389.072500
3  2022   경유  1839.755096

In [ ]:
OIL2 = OIL1.sort_values(by = ['연도'], ascending = True)
OIL2

     연도   종류          평균가
0  2019  휘발유  1471.735481
0  2019   경유  1340.035673
1  2020  휘발유  1382.102212
1  2020   경유  1190.528558
2  2021  휘발유  1588.532115
2  2021   경유  1389.072500
3  2022  휘발유  1814.950096
3  2022   경유  1839.755096

In [ ]:
OIL = OIL2.reset_index(drop = True) # 인덱스 재배열
OIL

     연도   종류          평균가
0  2019  휘발유  1471.735481
1  2019   경유  1340.035673
2  2020  휘발유  1382.102212
3  2020   경유  1190.528558
4  2021  휘발유  1588.532115
5  2021   경유  1389.072500
6  2022  휘발유  1814.950096
7  2022   경유  1839.755096

In [ ]:
OIL.to_csv('휘발유&경유 가격(최종수정).csv', encoding='utf-8-sig') # csv 파일로 저장